<div class="loader_backdrop" ng-if="assignmentControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer paddLft15 lineheight21"><span ng-if="!assignmentControllerScope.isUpdate">New</span><span ng-if="assignmentControllerScope.isUpdate">Update</span> Assignment</div>
                        <div class="innerdivContainer red-icon create-employee responsive_padding0 employee_placeholder">
                            <p class="reqStar text-center" ng-if="assignmentControllerScope.msg && assignmentControllerScope.msg != ''">{{assignmentControllerScope.msg}}</p>
                            <form class="form-horizontal formContainer employee_selectBox" name="assignmentControllerScope.employeeForm">
                               
                                <div class="create-employee-inner">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Employee<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top5">
                                            <select class="select1 dropdown inputClass width100 stateoptions" name="empId" ng-model="assignmentControllerScope.employee.empId" required>
                                                <option value="" ng-if="!assignmentControllerScope.employee.empId || assignmentControllerScope.employee.empId==''">Select Employee*</option>
                                                <option value="{{employees.id}}" ng-repeat="employees in assignmentControllerScope.employeeAssignmentActiveList  | orderBy:'firstName'">{{employees.firstName}} {{employees.middleName}} {{employees.lastName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                     <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31 margin_top5">Project Type<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top10">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="projectType" ng-model="assignmentControllerScope.employee.projectType" required>
                                                <option value="" ng-if="!assignmentControllerScope.employee.projectType || assignmentControllerScope.employee.projectType==''">Select Project</option>
                                                <option value="Internal" >Internal</option>
                                                <option value="External" >External</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                 <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31 margin_top5">Customers<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top10">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="customerId" ng-model="assignmentControllerScope.employee.customerId" ng-change="assignmentControllerScope.getOpportunityForProject(assignmentControllerScope.employee.customerId)" required>
                                                <option value="" ng-if="!assignmentControllerScope.employee.customerId || assignmentControllerScope.employee.customerId==''">Select Customers</option>
                                                <option value="{{leadType.id}}" ng-repeat="leadType in assignmentControllerScope.leadTypeList" ng-if="leadType.status == 'a'">{{leadType.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31 margin_top5">Opportunities<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top10">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="opportunityId" ng-model="assignmentControllerScope.employee.opportunityId" ng-change="assignmentControllerScope.getProjectName(assignmentControllerScope.employee.opportunityId)" required>
                                                <option value="" ng-if="!assignmentControllerScope.employee.opportunityId || assignmentControllerScope.employee.opportunityId==''">Select Opportunities</option>
                                                <option value="{{opportunities.id}}" ng-repeat="opportunities in assignmentControllerScope.opportunityForProjectList">{{opportunities.projectName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31 margin_top5">Project Name<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top10">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="projectId" ng-model="assignmentControllerScope.employee.projectId" required>
                                                <option value="" ng-if="!assignmentControllerScope.employee.projectId || assignmentControllerScope.employee.projectId==''">Select Project Name</option>
                                                <option value="{{project.id}}" ng-repeat="project in assignmentControllerScope.getValueForProjectList">{{project.projectName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6 margin_top5">Start Date<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top5">
                                            <input type="text" name="startDate" class="inputClass" datepicker-popup="{{format}}" ng-click="assignmentControllerScope.openStartDateCalender($event)"  ng-model="assignmentControllerScope.employee.startDate" is-open="assignmentControllerScope.startDateCalender" placeholder="Start Date" show-button-bar="false" />
                                            <!-- <p ng-if="assignmentControllerScope.employeeForm.startDate.$touched" class="reqStar">Kindly Enter Valid Date</p> -->
                                        </div>
                                        <span class="mob-pos-abs select-button calen mob-right-18">
                                            <button type="button" class="btn btn-default mrgTop14 addIcon"
                                                ng-click="assignmentControllerScope.openStartDateCalender($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="form-group row mob-pos-rel">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">End Date</label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="enddate" class="inputClass" datepicker-popup="{{format}}" ng-click="assignmentControllerScope.openEndDateCalender($event)"  ng-model="assignmentControllerScope.employee.enddate" is-open="assignmentControllerScope.endDateCalender" placeholder="End Date" show-button-bar="false" />
                                            <p ng-if="assignmentControllerScope.employeeForm.enddate.$touched" class="reqStar">Kindly Enter Valid Date</p>
                                        </div>
                                        <span class="mob-pos-abs select-button calen mob-right-18">
                                            <button type="button" class="btn btn-default mrgTop5 addIcon"
                                                ng-click="assignmentControllerScope.openEndDateCalender($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                     <div class="form-group row mob-pos-rel">
	                                    <label class="control-label col-sm-12 col-md-4  lineheight31">Project Utilization<span class="reqStar">*</span></label>
	                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top5">
	                                        <div class="customDropDown">
	                                            <select class="select1 dropdown inputClass" name="projectType" ng-model="assignmentControllerScope.employee.status" required>
	                                                <option value="" ng-if="!assignmentControllerScope.employee.status || assignmentControllerScope.employee.status == ''">Select Project Utilization</option>
	                                                <option value="Engaged" >Engaged</option>
	                                                <option value="Released" >Released</option>
	                                            </select>
	                                        </div>
	                                    </div>
	                                </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6 margin_top5">PO / WO</label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top5">
                                            <input type="text" name="ordernumber" class="inputClass" ng-pattern="" ng-model="assignmentControllerScope.employee.ordernumber" placeholder="PO / WO" />
                                            <p ng-show="assignmentControllerScope.employeeForm.ordernumber.$error.pattern && assignmentControllerScope.employeeForm.ordernumber.$touched" class="reqStar">Kindly Enter Correct Name</p>
                                        </div>
                                    </div>
                                     <!-- <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31">Amount Type<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top5">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="workLocation" ng-model="assignmentControllerScope.employee.workLocation" required>
                                                <option value="" selected>Select Amount Type</option>
                                                <option value="internal" >Internal</option>
                                                <option value="external" >External</option>
                                            </select>
                                        </div>
                                    </div>
                                </div> -->
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6 margin_top5">Amount</label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top5">
                                            <input type="text" name="amount" class="inputClass" ng-pattern="/^[a-zA-Z\ ]*$/" ng-model="assignmentControllerScope.employee.amount" placeholder="Amount" />
                                            <p ng-show="assignmentControllerScope.employeeForm.amount.$error.pattern && assignmentControllerScope.employeeForm.amount.$touched" class="reqStar">Kindly Enter Correct Name</p>
                                        </div>
                                    </div>
                                     <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31">Payment Terms</label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top5">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="paymentTerm" ng-model="assignmentControllerScope.employee.paymentTerm">
                                                <option value="" selected>Select Payment Terms</option>
                                                <option value="{{paymentTerm.id}}" ng-repeat="paymentTerm in assignmentControllerScope.paymentTermsList">{{paymentTerm.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                 <!-- <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31">Status<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top10">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="workLocation" ng-model="assignmentControllerScope.employee.workLocation" required>
                                                <option value="" selected>Select Status</option>
                                                <option value="active" >Active</option>
                                                <option value="inactive" >In-Active</option>
                                            </select>
                                        </div>
                                    </div>
                                </div> -->
                                    
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Comments</label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top5">
                                            <textarea name="comment" class="inputClass" ng-model="assignmentControllerScope.employee.comment" placeholder="Comments"></textarea>
                                        </div>
                                    </div>
                                    <div class="formfooterbtns">
                                        <button class="defaultBtn btn" type="button" ng-click="assignmentControllerScope.decline()">Decline</button>
                                        <button class="activeBtn btn" type="button" ng-click="assignmentControllerScope.addAssignment()" ng-disabled="assignmentControllerScope.employeeForm.$invalid" ng-if="!assignmentControllerScope.isUpdate">Save</button>
                                        <button class="activeBtn btn" type="button" ng-click="assignmentControllerScope.updateAssignment()" ng-disabled="assignmentControllerScope.employeeForm.$invalid" ng-if="assignmentControllerScope.isUpdate">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
           <div id="assignmentModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="configurationControllerScope.decline()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                                            <h4 class="modal-title">Assignment</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p class="margin0 text-center" ng-if="!assignmentControllerScope.isUpdate"> Assignment added successfully.</p>
                                             <p class="margin0 text-center" ng-if="assignmentControllerScope.isUpdate"> Assignment Updated successfully.</p>
                                        </div>
                                          <div class="modal-footer">
                                                    <button type="button" class="defaultBtn btn" data-dismiss="modal" ng-click="assignmentControllerScope.decline()">Decline</button>
                                                    </div>
                                    </div>
                                </div>
                            </div>