<div class="loader_backdrop" ng-if="hrRequestControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer paddLft15 lineheight21"><span ng-if="!hrRequestControllerScope.isUpdate">New</span><span ng-if="hrRequestControllerScope.isUpdate">Update</span> HR Request</div>
                        <div class="innerdivContainer red-icon create-employee responsive_padding0 employee_placeholder">
                            <p class="reqStar text-center" ng-if="hrRequestControllerScope.msg && hrRequestControllerScope.msg != ''">{{hrRequestControllerScope.msg}}</p>
                            <form class="form-horizontal formContainer employee_selectBox" name="hrRequestControllerScope.hrRequestForm">
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4 lineheight31">Request Type<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="type" ng-model="hrRequestControllerScope.hrRequest.type" required>
                                                <option value="" ng-if="!hrRequestControllerScope.hrRequest.type || hrRequestControllerScope.hrRequest.type ==''">Select Request Type</option>
                                                <option value="{{requestType.id}}" ng-repeat="requestType in hrRequestControllerScope.hrRequestTypeList | orderBy:'requestType'" ng-if="requestType.status == 'a'">{{requestType.requestType}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="create-employee-inner">                                    
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Request Details<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <textarea name="desc" class="inputClass" ng-model="hrRequestControllerScope.hrRequest.desc" placeholder="Request Details" required></textarea>
                                            <p ng-if="hrRequestControllerScope.hrRequestForm.desc.$invalid && hrRequestControllerScope.hrRequestForm.desc.$touched" class="reqStar">Kindly Enter Request Details</p>
                                        </div>
                                    </div>
                                    <div class="form-group row" ng-if="hrRequestControllerScope.isReportingMangager">
                                       <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Reporting Manager</label>
                                       <label class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 lineheight2pt6 margin_top5">
                                          <!--  {{hrRequestControllerScope.reportingList.reportToName}} <sapn ng-if="hrRequestControllerScope.reportingList.deptMngrName">, {{hrRequestControllerScope.reportingList.deptMngrName}}</sapn> -->
                                       <span ng-if="hrRequestControllerScope.reportingList.reportToName">  {{hrRequestControllerScope.reportingList.reportToName}}</span> <span ng-if="hrRequestControllerScope.reportingList.reportToName">, </span> <span>{{hrRequestControllerScope.reportingList.deptMngrName}}</span>
                                       
                                       </label>
                                   </div>
                                   
                                     <div class="form-group row margin_top5imp">
                                        <label class="control-label col-sm-12 col-md-4 lineheight2pt6"></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        
                                        <button class="activeBtn btn" type="button" ngf-select ng-model="hrRequestControllerScope.hrRequest.file" multiple>Add Files</button>
                                        
                                            <!-- <label class="btn btn-default btn-file">
                                                <input type="file" id="fileInput" name="files" ng-model="hrRequestControllerScope.hrRequest.files"><span class="padd_right5"><i class="fa fa-paperclip" aria-hidden="true"></i></span> Add Files
                                              </label> -->
                                            <ul ng-if="hrRequestControllerScope.hrRequest.file && hrRequestControllerScope.hrRequest.file.length > 0">
                                        <li ng-repeat="f in hrRequestControllerScope.hrRequest.file" style="font: smaller">{{f.name}} {{f.$errorParam}} 
                                            <span class="progress" ng-show="f.progress >= 0">
                                            <div style="width: {{f.progress}}" ng-bind="f.progress + '%'"></div>
                                            </span>
                                        </li>
                                        <li ng-repeat="f in errFiles" style="font: smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
                                    </ul>
                                        </div>
                                    </div>
                                    <div class="formfooterbtns">
                                        <button class="defaultBtn btn" type="button" ng-click="hrRequestControllerScope.decline()">Decline</button>
                                        <button class="activeBtn btn" data-toggle="modal" data-target="#hrRequestModal"
												data-backdrop="static" data-keyboard="false" type="button" ng-click="hrRequestControllerScope.createHrRequest()" ng-disabled="hrRequestControllerScope.hrRequestForm.$invalid" ng-if="!hrRequestControllerScope.isUpdate">Save</button>
                                        <button class="activeBtn btn" type="button" ng-click="hrRequestControllerScope.editHrRequest()" ng-disabled="hrRequestControllerScope.hrRequestForm.$invalid" ng-if="hrRequestControllerScope.isUpdate">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="hrRequestModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close white opacity1px" data-dismiss="modal"></button>
                    <h4 class="modal-title">HR Request</h4>
                </div>
                <div class="modal-body">
                   
                       <p class="margin0 text-center">Your HR Request is Submitted Successfully.</p>
                        <div class="modal-footer padd0">
                            <button type="button" class="defaultBtn btn" data-dismiss="modal" ng-click="hrRequestControllerScope.decline()">Ok</button>
                        </div>
                  
                </div>
            </div>
        </div>
    </div>