<div class="loader_backdrop" ng-if="timeSheetControllerScope.spinner || timeSheetControllerScope.getSpinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer paddLft15 lineheight21"><span ng-if="!timeSheetControllerScope.isUpdate">New</span><span ng-if="timeSheetControllerScope.isUpdate">Update</span> Timesheet</div>
                        <div class="innerdivContainer red-icon create-employee responsive_padding0 employee_placeholder">
                    		<p class="reqStar text-center" ng-if="timeSheetControllerScope.msg != ''">{{timeSheetControllerScope.msg}}</p>
                            <form class="form-horizontal formContainer employee_selectBox" name="timeSheetControllerScope.timeSheetForm" ng-show="!timeSheetControllerScope.isCompanyUpdate">
                                <div class="form-group row mob-pos-rel">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Date<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" 
                                            	name="weekenddate" 
                                            	class="inputClass cursor_pointer" 
                                            	datepicker-popup="{{format}}" 
                                            	ng-click="timeSheetControllerScope.openDateCalender($event)" 
                                            	ng-model="timeSheetControllerScope.timeSheet.weekenddate" 
                                            	is-open="timeSheetControllerScope.isDateCalenderOpen"
                                            	ng-change="timeSheetControllerScope.dateSelected(timeSheetControllerScope.timeSheet.weekenddate)" 
                                            	placeholder="Date" show-button-bar="false" readonly ng-disabled="timeSheetControllerScope.isUpdate"/>
                                        </div>
                                        <span class="mob-pos-abs select-button calen mob-right-18 responsive_top30">
											<button type="button" class="btn btn-default mrgTop5 addIcon"
												ng-click="timeSheetControllerScope.openDateCalender($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
                                </div>
                                <div class="margin_top20" ng-show="timeSheetControllerScope.isShowTimeSheetField || timeSheetControllerScope.isUpdate">
                                <div id="timesheetCarousel" class="carousel slide timesheet_carousel" data-ride="carousel" >
						    
						    <div class="carousel-inner">
						      <div class="item active">
						       
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd0">
                                    <div class="row dashboard_margin15 padding15">
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard_paddLeft0 medium_paddLeft15 lead_responsivePadd" >
                                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="dashbordMenusChildDiv">
                                    <div class="row BORDBOTTOM dashboardHeader">
                                        <div class="col-lg-8 col-xs-8">
                        <span class="lineheight21">{{timeSheetControllerScope.timeSheetList1[0].date}}</span>
                        </div>
                        <div class="col-lg-4 col-xs-4 padd0 text-right">
                        	<div class="dropdown header_dropdown" ng-show="timeSheetControllerScope.timeSheetList1[0].dataInsert" >
                        		<span class="dropdown-toggle cursor_pointer" id="menu1" ng-disabled="timeSheetControllerScope.timeSheetList[0].status =='s' ? true : false">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		 <li role="presentation" data-keyboard="false" ng-click="timeSheetControllerScope.openPopup(timeSheetControllerScope.timeSheetList1[0].date)">
												<a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                                    </div>
                                    <div class="dashboardData timesheet_height230">
                                         <div class="">
                                            <ul class="padd0 left_text">
                                               <li class="row timesheet_padd15" 
                                               			ng-repeat="timesheet in timeSheetControllerScope.timeSheetList"
                                               			ng-click="timeSheetControllerScope.gotoEditSingleTimesheet(timesheet)"
                                               			ng-disabled="timeSheetControllerScope.timeSheetList[0].status =='s' ? true : false">
                                                	<span class="col-xs-5 padd0 wordBreak_all capitalizeText"  ng-if="timesheet.date == timeSheetControllerScope.timeSheetList1[0].date">{{timesheet.typeName}}: </span>
                                                	<span class="col-xs-5 padd0 wordBreak_all capitalizeText"  ng-if="timesheet.date == timeSheetControllerScope.timeSheetList1[0].date">{{timesheet.hours}} </span>
                                               	</li>
                                             </ul>
                                           </div>
                                        <div>
                                        	<button data-keyboard="false" type="button" 
                                        		class="timesheet_btn" ng-disabled="timeSheetControllerScope.timeSheetList1[0].isDisabled || timeSheetControllerScope.timeSheetList[1].status =='s' ? true : false"" 
                                        		ng-click="timeSheetControllerScope.openPopup(timeSheetControllerScope.timeSheetList1[0].date)" ng-show="!timeSheetControllerScope.timeSheetList1[0].dataInsert">
                                        			<img src="images/i_add_active.png" class="" />
                                        	</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard_paddLeft0 medium_paddLeft15">
                                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="dashbordMenusChildDiv">
                                    <div class="row BORDBOTTOM dashboardHeader">
                                        <div class="col-lg-8 col-xs-8">
                        <span class="lineheight21">{{timeSheetControllerScope.timeSheetList1[1].date}}</span>
                        </div>
                        <div class="col-lg-4 col-xs-4 padd0 text-right">
                        	<div class="dropdown header_dropdown"  ng-show="timeSheetControllerScope.timeSheetList1[1].dataInsert">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1" ng-disabled="timeSheetControllerScope.timeSheetList[1].status =='s' ? true : false">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		 <li role="presentation"  data-keyboard="false" ng-click="timeSheetControllerScope.openPopup(timeSheetControllerScope.timeSheetList1[1].date)"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                                    </div>
                                    <div class="dashboardData timesheet_height230">
                                        <div class="">
                                            <ul class="padd0 left_text">
                                               <li class="row timesheet_padd15" 
                                               		ng-repeat="timesheet in timeSheetControllerScope.timeSheetList" 
                                               		ng-if="timesheet.date == timeSheetControllerScope.timeSheetList1[1].date"
                                               		ng-click="timeSheetControllerScope.gotoEditSingleTimesheet(timesheet)"
                                               		ng-disabled="timeSheetControllerScope.timeSheetList[1].status =='s' ? true : false">
                                                	<span class="col-xs-5 padd0 wordBreak_all capitalizeText">{{timesheet.typeName}}: </span>
                                                	<span class="col-xs-5 padd0 wordBreak_all capitalizeText">{{timesheet.hours}} </span>
                                               	</li>
                                             </ul>
                                           </div>
                                        <div>
                                        	<button  data-keyboard="false" 
                                        		type="button" class="timesheet_btn" 
                                        		ng-disabled="timeSheetControllerScope.timeSheetList1[1].isDisabled || timeSheetControllerScope.timeSheetList[1].status =='s' ? true : false" 
                                        		ng-click="timeSheetControllerScope.openPopup(timeSheetControllerScope.timeSheetList1[1].date)"  ng-show="!timeSheetControllerScope.timeSheetList1[1].dataInsert">
                                        			<img src="images/i_add_active.png" class="" />
                                      		</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard_paddLeft0 medium_paddLeft15">
                                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="dashbordMenusChildDiv">
                                    <div class="row BORDBOTTOM dashboardHeader">
                                        <div class="col-lg-8 col-xs-8">
                        <span class="lineheight21">{{timeSheetControllerScope.timeSheetList1[2].date}}</span>
                        </div>
                        <div class="col-lg-4 col-xs-4 padd0 text-right">
                        	<div class="dropdown header_dropdown"  ng-show="timeSheetControllerScope.timeSheetList1[2].dataInsert">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1" ng-disabled="timeSheetControllerScope.timeSheetList[2].status =='s' ? true : false">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		 <li role="presentation" data-keyboard="false" ng-click="timeSheetControllerScope.openPopup(timeSheetControllerScope.timeSheetList1[2].date)"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                                    </div>
                                    <div class="dashboardData timesheet_height230">
                                        <div class="">
                                            <ul class="padd0 left_text">
                                               <li class="row timesheet_padd15" 
                                               		ng-repeat="timesheet in timeSheetControllerScope.timeSheetList" 
                                               		ng-if="timesheet.date == timeSheetControllerScope.timeSheetList1[2].date" 
                                               		ng-click="timeSheetControllerScope.gotoEditSingleTimesheet(timesheet)"
                                               		ng-disabled="timeSheetControllerScope.timeSheetList[2].status =='s' ? true : false">
                                                	<span class="col-xs-5 padd0 wordBreak_all capitalizeText">{{timesheet.typeName}}: </span>
                                                	<span class="col-xs-5 padd0 wordBreak_all capitalizeText">{{timesheet.hours}} </span>
                                               	</li>
                                             </ul>
                                           </div>
                                        <div>
                                        	<button  data-keyboard="false" type="button" class="timesheet_btn" 
                                        			ng-disabled="timeSheetControllerScope.timeSheetList1[2].isDisabled || timeSheetControllerScope.timeSheetList[2].status =='s' ? true : false" 
                                        			ng-click="timeSheetControllerScope.openPopup(timeSheetControllerScope.timeSheetList1[2].date)"  ng-show="!timeSheetControllerScope.timeSheetList1[2].dataInsert">
                                        				<img src="images/i_add_active.png" class="" />
                                        	</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padd0">
                                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="dashbordMenusChildDiv">
                                    <div class="row BORDBOTTOM dashboardHeader">
                                        <div class="col-lg-8 col-xs-8">
                        <span class="lineheight21">{{timeSheetControllerScope.timeSheetList1[3].date}}</span>
                        </div>
                        <div class="col-lg-4 col-xs-4 padd0 text-right">
                        	<div class="dropdown header_dropdown"  ng-show="timeSheetControllerScope.timeSheetList1[3].dataInsert">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1" ng-disabled="timeSheetControllerScope.timeSheetList[3].status =='s' ? true : false">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		 <li role="presentation" data-keyboard="false" ng-click="timeSheetControllerScope.openPopup(timeSheetControllerScope.timeSheetList1[3].date)"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                                    </div>
                                    <div class="dashboardData timesheet_height230">
                                        <div class="">
                                            <ul class="padd0 left_text">
                                               <li class="row timesheet_padd15" 
                                               		ng-repeat="timesheet in timeSheetControllerScope.timeSheetList" 
                                               		ng-if="timesheet.date == timeSheetControllerScope.timeSheetList1[3].date"
                                               		ng-click="timeSheetControllerScope.gotoEditSingleTimesheet(timesheet)"
                                               		ng-disabled="timeSheetControllerScope.timeSheetList[3].status =='s' ? true : false">
                                                	<span class="col-xs-5 padd0 wordBreak_all capitalizeText">{{timesheet.typeName}}: </span>
                                                	<span class="col-xs-5 padd0 wordBreak_all capitalizeText">{{timesheet.hours}} </span>
                                               	</li>
                                             </ul>
                                           </div>
                                        <div>
                                        	<button  data-keyboard="false" type="button" class="timesheet_btn" 
                                        			ng-disabled="timeSheetControllerScope.timeSheetList1[3].isDisabled || timeSheetControllerScope.timeSheetList[3].status =='s' ? true : false" 
                                        			ng-click="timeSheetControllerScope.openPopup(timeSheetControllerScope.timeSheetList1[3].date)"  ng-show="!timeSheetControllerScope.timeSheetList1[3].dataInsert">
                                        				<img src="images/i_add_active.png" class="" />
                                        	</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        </div>
                                    </div>
                                </div>
						      </div>
						
						      <div class="item">
						       
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd0">
                                    <div class="row dashboard_margin15 padding15">
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard_paddLeft0 medium_paddLeft15 lead_responsivePadd">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="dashbordMenusChildDiv">
                                    <div class="row BORDBOTTOM dashboardHeader">
                                        <div class="col-lg-8 col-xs-8">
                        <span class="lineheight21">{{timeSheetControllerScope.timeSheetList1[4].date}}</span>
                        </div>
                        <div class="col-lg-4 col-xs-4 padd0 text-right">
                        	<div class="dropdown header_dropdown"  ng-show="timeSheetControllerScope.timeSheetList1[4].dataInsert">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1" ng-disabled="timeSheetControllerScope.timeSheetList[4].status =='s' ? true : false">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		 <li role="presentation" data-keyboard="false" ng-click="timeSheetControllerScope.openPopup(timeSheetControllerScope.timeSheetList1[4].date)"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                                    </div>
                                    <div class="dashboardData timesheet_height230">
                                        <div class="">
                                            <ul class="padd0 left_text">
                                               <li class="row timesheet_padd15" 
                                               		ng-repeat="timesheet in timeSheetControllerScope.timeSheetList" 
                                               		ng-if="timesheet.date == timeSheetControllerScope.timeSheetList1[4].date"
                                               		ng-click="timeSheetControllerScope.gotoEditSingleTimesheet(timesheet)"
                                               		ng-disabled="timeSheetControllerScope.timeSheetList[4].status =='s' ? true : false">
                                                	<span class="col-xs-5 padd0 wordBreak_all capitalizeText">{{timesheet.typeName}}: </span>
                                                	<span class="col-xs-5 padd0 wordBreak_all capitalizeText">{{timesheet.hours}} </span>
                                               	</li>
                                             </ul>
                                           </div>
                                        <div>
                                        	<button  data-keyboard="false" type="button" class="timesheet_btn" 
                                        			ng-disabled="timeSheetControllerScope.timeSheetList1[4].isDisabled || timeSheetControllerScope.timeSheetList[4].status =='s' ? true : false" 
                                        			ng-click="timeSheetControllerScope.openPopup(timeSheetControllerScope.timeSheetList1[4].date)"  ng-show="!timeSheetControllerScope.timeSheetList1[4].dataInsert">
                                        				<img src="images/i_add_active.png" class="" />
                                        	</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard_paddLeft0 medium_paddLeft15">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="dashbordMenusChildDiv">
                                    <div class="row BORDBOTTOM dashboardHeader">
                                        <div class="col-lg-8 col-xs-8">
                        <span class="lineheight21">{{timeSheetControllerScope.timeSheetList1[5].date}}</span>
                        </div>
                        <div class="col-lg-4 col-xs-4 padd0 text-right">
                        	<div class="dropdown header_dropdown"  ng-show="timeSheetControllerScope.timeSheetList1[5].dataInsert">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1" ng-disabled="timeSheetControllerScope.timeSheetList[5].status =='s' ? true : false">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		 <li role="presentation" data-keyboard="false" ng-click="timeSheetControllerScope.openPopup(timeSheetControllerScope.timeSheetList1[5].date)"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                                    </div>
                                    <div class="dashboardData timesheet_height230">
                                        <div class="">
                                            <ul class="padd0 left_text">
                                               <li class="row timesheet_padd15" 
                                               		ng-repeat="timesheet in timeSheetControllerScope.timeSheetList" 
                                               		ng-if="timesheet.date == timeSheetControllerScope.timeSheetList1[5].date"
                                               		ng-click="timeSheetControllerScope.gotoEditSingleTimesheet(timesheet)"
                                               		ng-disabled="timeSheetControllerScope.timeSheetList[5].status =='s' ? true : false">
                                                	<span class="col-xs-5 padd0 wordBreak_all capitalizeText">{{timesheet.typeName}}: </span>
                                                	<span class="col-xs-5 padd0 wordBreak_all capitalizeText">{{timesheet.hours}} </span>
                                               	</li>
                                             </ul>
                                           </div>
                                        <div>
                                        	<button  data-keyboard="false" type="button" class="timesheet_btn" 
                                        			ng-disabled="timeSheetControllerScope.timeSheetList1[5].isDisabled || timeSheetControllerScope.timeSheetList[5].status =='s' ? true : false" 
                                        			ng-click="timeSheetControllerScope.openPopup(timeSheetControllerScope.timeSheetList1[5].date)"  ng-show="!timeSheetControllerScope.timeSheetList1[5].dataInsert">
                                        				<img src="images/i_add_active.png" class="" />
                                        	</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        </div>
                                        <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 dashboard_paddLeft0 medium_paddLeft15">
                                           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="dashbordMenusChildDiv">
                                    <div class="row BORDBOTTOM dashboardHeader">
                                        <div class="col-lg-6 col-xs-6">
                        <span class="lineheight21">HR Policies</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		 <li role="presentation" data-toggle="modal" data-target="#timesheet_modal"
												data-backdrop="static" data-keyboard="false"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                                    </div>
                                    <div class="dashboardData dashboard_sectionHeight220">
                                        <div class="">
                                            <ul class="padd0 left_text">
                                               <li class="row timesheet_padd15">
                                                <span class="col-xs-5 padd0 wordBreak_all capitalizeText">timesheet: </span><span class="col-xs-5 padd0 wordBreak_all capitalizeText">60 </span></li>
                                                </ul>
                                           </div>
                                        <div>
                                        	<button data-toggle="modal" data-target="#timesheet_modal"
												data-backdrop="static" data-keyboard="false" type="button" class="timesheet_btn"><img src="images/i_add_active.png" class="" /></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        </div> -->
                                       
                                    </div>
                                </div>
						      </div>
						    </div>
						    <a class="dashboard_iconLeft left carousel-control" href="#timesheetCarousel" data-slide="prev">
						      <span class="glyphicon glyphicon-chevron-left"></span>
						      <span class="sr-only">Previous</span>
						    </a>
						    <a class="dashboard_iconRight right carousel-control" href="#timesheetCarousel" data-slide="next">
						      <span class="glyphicon glyphicon-chevron-right"></span>
						      <span class="sr-only">Next</span>
						    </a>
						</div>
						</div>
                               	<!--  <div class="table_data margin_top15 responsive_paddLR15" ng-show="timeSheetControllerScope.isShowTimeSheetField || timeSheetControllerScope.isUpdate">
                               		
                               		<table wt-responsive-table class="custom-responsive-table timesheet_table">
									    <thead>
									      <tr>
									      	<th class="">Date</th>
									       	<th>Timesheet Type</th>
									       	<th>Hours</th>
									        <th>Description</th>
									      </tr>
									    </thead>
									    <tbody>
									    
									      <tr ng-repeat="timeSheet in timeSheetControllerScope.timeSheetList">
									      	<td class="timesheet_font">{{timeSheet.date}}</td>
									      	<td class="timesheet_font">
                                               <select 
                                               		class="select1 dropdown timesheet_responsiveSelect inputClass col-lg-12 col-md-12 col-sm-12 col-xs-12" 
                                               		ng-model="timeSheet.type"
									        		ng-disabled="timeSheet.isDisabled" 
									        		ng-options="timeSheetType.id as timeSheetType.name for timeSheetType in timeSheetControllerScope.timeSheetTypeList">
                                                   	<option value="" selected="selected" ng-if="!timeSheet.name || timeSheet.name == ''">Select Timesheet Type</option>
                                               </select>
									      	</td>
									        <td class="timesheet_font">
									        	<input type="number" 
									        		class="inputClass responsive_margin0" 
									        		ng-model="timeSheet.hours"
									        		ng-disabled="timeSheet.isDisabled" 
									        		placeholder="Hours" required/>
									        </td>
									        <td class="timesheet_font">
									        	<input 
									        		type="text" 
									        		class="inputClass responsive_margin0" 
									        		ng-model="timeSheet.description"
									        		ng-disabled="timeSheet.isDisabled" 
									        		placeholder="Description" required/>
									        </td>
									      </tr>
									    </tbody>
									  </table>
	                                <div class="formfooterbtns" ng-if="timeSheetControllerScope.timeSheetList.length > 0">
	                                    <button class="defaultBtn btn" type="button" ng-click="timeSheetControllerScope.decline()">Decline</button>
	                                    <button 
	                                    	class="defaultBtn btn" 
	                                    	type="button" 
	                                    	ng-disabled="timeSheetControllerScope.timeSheetList[0].status =='s' ? true : false" 
	                                    	ng-click="timeSheetControllerScope.createTimeSheet()"
	                                    	ng-if="!timeSheetControllerScope.isUpdate">Save As Draft</button>
	                                   
	                                    <button 
	                                    	class="defaultBtn btn" 
	                                    	type="button" 
	                                    	ng-disabled="timeSheetControllerScope.timeSheetList[0].status =='s' ? true : false" 
	                                    	ng-click="timeSheetControllerScope.editTimeSheet('d')"
	                                    	ng-if="timeSheetControllerScope.isUpdate">Update</button>
	                                    <button 
	                                    	class="activeBtn btn" 
	                                    	type="button" 
	                                    	data-toggle="modal" data-target="#timesheetModal"
												data-backdrop="static" data-keyboard="false"
	                                    	ng-disabled="timeSheetControllerScope.timeSheetList[0].status =='s' ? true : false" 
	                                    	ng-click="timeSheetControllerScope.editTimeSheet('s')"
	                                    	ng-disabled="!timeSheetControllerScope.isSubmitAvailable">Submit</button>
                                	</div>
                            	</div> -->
                            	 <div class="formfooterbtns" ng-if="timeSheetControllerScope.timeSheetList.length > 0">
	                                    <button class="defaultBtn btn" type="button" ng-click="timeSheetControllerScope.decline()">Decline</button>
	                                    <button 
	                                    	class="defaultBtn btn" 
	                                    	type="button" 
	                                    	ng-disabled="timeSheetControllerScope.timeSheetList[0].status =='s' ? true : false" 
	                                    	ng-click="timeSheetControllerScope.createTimeSheet()"
	                                    	ng-if="!timeSheetControllerScope.isUpdate">Save As Draft</button>
	                                   
	                                    <button 
	                                    	class="defaultBtn btn" 
	                                    	type="button" 
	                                    	ng-disabled="timeSheetControllerScope.timeSheetList[0].status =='s' ? true : false" 
	                                    	ng-click="timeSheetControllerScope.editTimeSheet('d')"
	                                    	ng-if="timeSheetControllerScope.isUpdate">Update</button>
	                                    <button 
	                                    	class="activeBtn btn" 
	                                    	type="button" 
	                                    	data-toggle="modal" data-target="#timesheetModal"
												data-backdrop="static" data-keyboard="false"
	                                    	ng-disabled="timeSheetControllerScope.timeSheetList[0].status =='s' ? true : false" 
	                                    	ng-click="timeSheetControllerScope.editTimeSheet('s')"
	                                    	ng-disabled="!timeSheetControllerScope.isSubmitAvailable">Submit</button>
                                	</div>
                        	</form>
                        	<form name="timeSheetControllerScope.companyTimesheetForm" ng-show="timeSheetControllerScope.isCompanyUpdate">
                        	
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4 lineheight31">Status<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="status" ng-model="timeSheetControllerScope.timeSheet.status" required>
                                                <option value="a">Approve</option>
                                                <option value="d" selected="selected" disabled>Draft</option>
                                                <option value="o">Re-Open</option>
                                                <option value="r">Reject</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Comment<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <textarea name="comment" class="inputClass" ng-model="timeSheetControllerScope.timeSheet.comment" placeholder="Comment" required></textarea>
                                        <p ng-if="timeSheetControllerScope.companyTimesheetForm.comment.$invalid && timeSheetControllerScope.companyTimesheetForm.comment.$touched">Kindly Enter Valid Comment</p>
                                    </div>
                                </div>
                                <div class="formfooterbtns timesheet_table">
	                                    <button class="defaultBtn btn" type="button" ng-click="timeSheetControllerScope.decline()">Decline</button>
	                                    <button 
	                                    	class="activeBtn btn" 
	                                    	type="button" 
	                                    	ng-click="timeSheetControllerScope.editTimeSheet(timeSheetControllerScope.timeSheet.status)" 
	                                    	ng-disabled="timeSheetControllerScope.companyTimesheetForm.$invalid">Update</button>
                                	</div>
                        	</form>
                        	<div class="clearfix"></div>
                    	</div>
                	</div>
            	</div>
        	<div id="timesheetModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close white opacity1px" data-dismiss="modal"></button>
                    <h4 class="modal-title">Timesheet</h4>
                </div>
                <div class="modal-body">
                   
                       <p class="margin0 text-center">Your Timesheet is Submitted Successfully.</p>
                        <div class="modal-footer padd0">
                            <button type="button" class="defaultBtn btn" data-dismiss="modal" ng-click="timeSheetControllerScope.decline()">Ok</button>
                        </div>
                  
                </div>
            </div>
        </div>
    </div>
    <div id="timesheet_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="timeSheetControllerScope.declineTimesheetForm()"></button>
                    <h4 class="modal-title">Timesheet</h4>
                </div>
                <div class="modal-body">
                   		<div class="lead_dropdown">
                     <select class="select1 dropdown timesheet_responsiveSelect inputClass width100" 
                      			ng-model="timeSheetControllerScope.timeSheet.type" required>
                                      	<option value="" selected="selected" ng-if="!timeSheetControllerScope.timeSheet.type || timeSheetControllerScope.timeSheet.type == ''">Select Project</option>
                                      	<option value="{{project.projectId}}" ng-repeat="project in timeSheetControllerScope.employeeAssignmentList">{{project.projectName}}</option>
                                  </select>
				  	</div><!-- ng-options="timeSheetType.id as timeSheetType.name for timeSheetType in timeSheetControllerScope.timeSheetTypeList" -->
				    	<input type="number" 
				    		class="inputClass responsive_margin0 width100 margin_top10" 
				    		ng-model="timeSheetControllerScope.timeSheet.hours"
				    		placeholder="Hours" required/>
				   
				    	<input 
				    		type="text" 
				    		class="inputClass responsive_margin0 width100" 
				    		ng-model="timeSheetControllerScope.timeSheet.description"
				    		placeholder="Description" required/>
                        <div class="modal-footer padd0 margin_top10">
                        
                            <button type="button" class="defaultBtn btn" data-dismiss="modal" >Decline</button>
                            <button 
                              	class="activeBtn btn" 
                              	type="button" ng-click="timeSheetControllerScope.addTimeSheet()" data-dismiss='modal' ng-show='!timeSheetControllerScope.isUpdateBtn'>Save</button>
                            <button 
                              	class="activeBtn btn" 
                              	type="button" ng-click="timeSheetControllerScope.updateTimeSheet()" data-dismiss='modal' ng-show='timeSheetControllerScope.isUpdateBtn'>Update</button>
                        </div>
                  
                </div>
            </div>
        </div>
    </div>
    <script>
	    $('#timesheetCarousel').carousel({
	    	interval: false
	    	});
    </script>
                            