<div class="loader_backdrop" ng-if="changePasswordControllerScope.spinner">
	<div class="loader loader_position"></div>
</div>

<div class="login_contentPage">
<div class="row">
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
        <div class="border_right1px">
        <img src="images/login_icon.png" alt="SphereSuite" class="img-responsive">
        </div>
    </div>
    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
        <div class="login_conentSection">
            <img src="images/login_logo.png" alt="logo" class="img-responsive">
           <h3 class="margin_bottom5"><span ng-if="changePasswordControllerScope.isTypeIsNew">Set Password</span></h3>
           <h3 class="margin_bottom5"><span ng-if="!changePasswordControllerScope.isTypeIsNew">Reset Password</h3>
             <span ng-if="changePasswordControllerScope.confirmpassword != changePasswordControllerScope.urlParams.newpassword && changePasswordControllerScope.resetForm.confirmpassword.$touched" class="reqStar">{{changePasswordControllerScope.confirmpassword}} - {{changePasswordControllerScope.urlParams.newpassword}}Password Does Not Match</span>
                	<p ng-if="changePasswordControllerScope.successMsg && changePasswordControllerScope.successMsg !=''" class="reqStar successText margin_bottom20">{{changePasswordControllerScope.successMsg}}</p>
             <form name="changePasswordControllerScope.resetForm" ng-if="!changePasswordControllerScope.successMsg">
              <div class="form-group" ng-if="changePasswordControllerScope.showTempPassField">
                            	<div class="input-group col-xs-12 margin_bottom20 dsply_webkitFlex">
	                                <div id="email_icon border" class="f-icon col-xs-1 padd0 iconBorder">
	                                    <i class="fa fa-unlock-alt login_padd13 font_size14" aria-hidden="true"></i>
	                                </div>
                                    <input id="temp" name="temppassword" type="text" class="col-lg-11 iconized" placeholder="temporary Password" ng-model="changePasswordControllerScope.urlParams.temppassword" required>
                                </div>
                            </div>
            <div class="margin_TB20">
            	<div class="animateGroup"> 
            	<input id="password" 
                                    	name="password" 
                                    	type="password" 
                                    	class="loginInput login_inputSection"
                                    	ng-model="changePasswordControllerScope.urlParams.newpassword"
                            			ng-keypress="changePasswordControllerScope.keyPress($event.keyCode)" 
                                    	required>
                    <div class="animatelabel">New Password</div>
                    <div class="lineeff"></div>
                 </div>
            	<div class="animateGroup margin_top15"> 
            	<input id="confirmpassword" 
                                    	name="confirmpassword" 
                                    	type="password" 
                                    	class="loginInput login_inputSection"
                                    	ng-model="changePasswordControllerScope.confirmpassword" 
                            			ng-keypress="changePasswordControllerScope.keyPress($event.keyCode)" 
                                    	required>
                    <div class="animatelabel">Confirm Password</div>
                    <div class="lineeff"></div>
                 </div>
            </div>
           
            <div class="clear_both">
            	<button type="button" class="activeBtn login_btnPosition font_weight600" ng-diasbled="changePasswordControllerScope.resetForm.$invalid || changePasswordControllerScope.urlParams.newpassword != confirmpassword" ng-click="changePasswordControllerScope.resetPassword()">Submit</button>
            </div>
             </form>
             <div class="clear_both">
             <button type="button" class="activeBtn login_btnPosition font_weight600 margin_bottom20" ng-click="changePasswordControllerScope.goTologin()"  ng-if="changePasswordControllerScope.successMsg && changePasswordControllerScope.successMsg !=''">Login</button>
             </div>
            <!--  <p class="login-botttom-txt brandColor margin_top10">By signing in, you agree to our <a class="reset_textColor">Terms</a> and <a class="reset_textColor">Privacy Policy</a></p> -->
        </div>
    </div>
</div>
</div>
<!-- <div class="login-header">
    <img title="" alt="" src="images/logo.png">
</div>
<div class="login-body">
    <div class="display_table">
        <div class="display_tableCell">
            <div id="login-form-wrapper" class="row login-block loginbox">
                <h3 class="login-title brandColor"><span ng-if="!changePasswordControllerScope.isTypeIsNew">RE</span>SET PASSWORD</h3>
                <div id="login-form-content" class="col-xs-12 col-md-12 login-col login_min_height">
                	<span ng-if="changePasswordControllerScope.confirmpassword != changePasswordControllerScope.urlParams.newpassword && changePasswordControllerScope.resetForm.confirmpassword.$touched" class="reqStar">{{changePasswordControllerScope.confirmpassword}} - {{changePasswordControllerScope.urlParams.newpassword}}Password Does Not Match</span>
                	<p ng-if="changePasswordControllerScope.successMsg && changePasswordControllerScope.successMsg !=''" class="reqStar successText margin_bottom20">{{changePasswordControllerScope.successMsg}}</p>
                    
                    <form name="changePasswordControllerScope.resetForm" ng-if="!changePasswordControllerScope.successMsg">
                        <fieldset>
                            <div class="form-group" ng-if="changePasswordControllerScope.showTempPassField">
                            	<div class="input-group col-xs-12 margin_bottom20 dsply_webkitFlex">
	                                <div id="email_icon border" class="f-icon col-xs-1 padd0 iconBorder">
	                                    <i class="fa fa-unlock-alt login_padd13 font_size14" aria-hidden="true"></i>
	                                </div>
                                    <input id="temp" name="temppassword" type="text" class="col-lg-11 iconized" placeholder="temporary Password" ng-model="changePasswordControllerScope.urlParams.temppassword" required>
                                </div>
                            </div>
                            <div class="">
                            	<div class="input-group col-xs-12 margin_bottom20 dsply_webkitFlex">
	                                <div id="email_icon border" class="f-icon col-xs-1 padd0 iconBorder height44">
	                                    <i class="fa fa-unlock-alt login_padd13 font_size14" aria-hidden="true"></i>
	                                </div>
                                    <input id="password" 
                                    	name="password" 
                                    	type="password" 
                                    	class="iconized border_none col-xs-11 height44" 
                                    	placeholder="New Password" 
                                    	ng-model="changePasswordControllerScope.urlParams.newpassword"
                            			ng-keypress="changePasswordControllerScope.keyPress($event.keyCode)" 
                                    	required>
                                </div>
                            </div>
                            <div class="">
                            	<div class="input-group col-xs-12 margin_bottom20 dsply_webkitFlex">
	                                <div id="email_icon border" class="f-icon col-xs-1 padd0 iconBorder height44">
	                                    <i class="fa fa-unlock-alt login_padd13 font_size14" aria-hidden="true"></i>
	                                </div>
                                    <input id="confirmpassword" 
                                    	name="confirmpassword" 
                                    	type="password" 
                                    	class="iconized border_none col-xs-11 height44" 
                                    	placeholder="Confirm Password" 
                                    	ng-model="changePasswordControllerScope.confirmpassword" 
                            			ng-keypress="changePasswordControllerScope.keyPress($event.keyCode)" 
                                    	required>
                                </div>
                            </div>
                            <div class="form-group clearfix margin_bottom20">
                                <button type="button" class="btn login_btn btn-social col-xs-12 sign-padding" ng-diasbled="changePasswordControllerScope.resetForm.$invalid || changePasswordControllerScope.urlParams.newpassword != confirmpassword" ng-click="changePasswordControllerScope.resetPassword()">SUBMIT</button>
                            </div>
                        </fieldset>
                    </form>
                    <button type="button" class="btn login_btn btn-social col-xs-12 sign-padding margin_bottom20" ng-click="changePasswordControllerScope.goTologin()"  ng-if="changePasswordControllerScope.successMsg && changePasswordControllerScope.successMsg !=''">LOGIN</button>
                </div>
                <div class="col-xs-12">
                    <div id="footerText" class="text-center brandColor">
                        <div class="row-fluid brandColor">
                            © 2017 SPHERESUITE
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->