<div class="loader_backdrop" ng-if="employeeControllerScope.spinner">
	<div class="loader loader_position"></div>
</div>

<div class="rightContainer">
	<div class="pageTitleParent">
		<div class="pageTitletextContainer paddLft15">
		<span class="cursor_pointer back_iconPosition" ng-if="employeeControllerScope.showBack" ng-click="employeeControllerScope.goBackToPyroll()">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span>
		<span class="">Employee Attendance</span></div>
		<div class="attendance_padd25 red-icon create-employee employee_placeholder">
			
			<form class="form-horizontal formContainer employee_selectBox" name="employeeControllerScope.employeeForm">
			
                     <div class="row">
                     <div class="col-lg-2 col-xs-12 col-sm-3 col-md-2 padd0">
                     	<div class="attendance_sheet green_checkbox">
                           <input type="checkbox" class="parentCheckBox" checked>
                           <label class="cursor_default font_weight600">Present*</label>
                        </div>
                        <div class="attendance_sheet red_checkbox">
                           <input type="checkbox" class="parentCheckBox" checked>
                           <label class="cursor_default font_weight600">Absent*</label>
                        </div>
                        <div class="attendance_sheet orange_checkbox">
                           <input type="checkbox" class="parentCheckBox" checked>
                           <label class="cursor_default font_weight600">Half-a-Day Present*</label>
                        </div>
                     </div>
                     <div class="col-lg-10 col-xs-12 col-sm-9 col-md-10 padd0">
				<div class="form-group row mob-pos-rel">
					<label class="control-label col-sm-4 col-xs-12 col-md-4  lineheight2pt6">Select Month<span class="reqStar">*</span></label>
					<div class="col-sm-7 col-xs-12 col-md-7 pad-right-0 mob-pad-right-15"  >
						<div moment-picker="employeeControllerScope.runPayroll.payPeriod" change="employeeControllerScope.showDays()" data-max-date="employeeControllerScope.minDate" format="MMM YYYY" >
							<input name="payPeriod" ng-model="employeeControllerScope.employee.attendance" keyboard="true" class="cursor_pointer font_narmal inputClass selectWidth"
							 placeholder="Pay Period" set-on-select="true" required readonly>
							<span class="mob-pos-abs calen mob-right-18 right180">
								<button type="button" class="btn btn-default mrgTop5 addIcon">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
					</div>
					</div>
					</div>
					
                    
				
				
				</div>



				<div class="table_data">

				
					
					<table wt-responsive-table class="custom-responsive-table" ng-show="employeeControllerScope.selectShowDays">
						<thead>
							<tr>
								<th>01</th>
								<th>01</th>
								<th>01</th>
								<th>01</th>
								<th>01</th>
								<th>01</th>
								<th>01</th>
								<th>01</th>
								<th>01</th>
								
								
							</tr>
							
						</thead>
						<tbody>

							<tr class="backGreyColor attandence_table">
								<td class="cursor_pointer text-center" >
									<span class="attendance_sheet green_checkbox">
			                           <input type="checkbox" class="parentCheckBox" checked>
			                           <label class="cursor_default font_weight600"></label>
			                        </span>
			                        <span class="attendance_sheet orange_checkbox">
			                           <input type="checkbox" class="parentCheckBox" checked>
			                           <label class="cursor_default font_weight600"></label>
			                        </span>
			                        <span class="attendance_sheet red_checkbox">
			                           <input type="checkbox" class="parentCheckBox" checked>
			                           <label class="cursor_default font_weight600"></label>
			                        </span>
								</td>
								<td class="cursor_pointer text-center" >
									<span class="attendance_sheet orange_checkbox">
			                           <input type="checkbox" class="parentCheckBox" checked>
			                           <label class="cursor_default font_weight600"></label>
			                        </span>
								</td>
								<td class="cursor_pointer text-center" >
									<span class="attendance_sheet green_checkbox">
			                           <input type="checkbox" class="parentCheckBox" checked>
			                           <label class="cursor_default font_weight600"></label>
			                        </span>
								</td>
								<td class="cursor_pointer text-center" >
									<span class="attendance_sheet orange_checkbox">
			                           <input type="checkbox" class="parentCheckBox" checked>
			                           <label class="cursor_default font_weight600"></label>
			                        </span>
								</td>
								<td class="cursor_pointer text-center" >
									<span class="attendance_sheet green_checkbox">
			                           <input type="checkbox" class="parentCheckBox" checked>
			                           <label class="cursor_default font_weight600"></label>
			                        </span>
								</td>
								<td class="cursor_pointer text-center" >
									<span class="attendance_sheet orange_checkbox">
			                           <input type="checkbox" class="parentCheckBox" checked>
			                           <label class="cursor_default font_weight600"></label>
			                        </span>
								</td>
								<td class="cursor_pointer text-center" >
									<span class="attendance_sheet green_checkbox">
			                           <input type="checkbox" class="parentCheckBox" checked>
			                           <label class="cursor_default font_weight600"></label>
			                        </span>
								</td>
								<td class="cursor_pointer text-center" >
									<span class="attendance_sheet red_checkbox">
			                           <input type="checkbox" class="parentCheckBox" checked>
			                           <label class="cursor_default font_weight600"></label>
			                        </span>
								</td>
								<td class="cursor_pointer text-center" >
									<span class="attendance_sheet green_checkbox">
			                           <input type="checkbox" class="parentCheckBox" checked>
			                           <label class="cursor_default font_weight600"></label>
			                        </span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="table_btn" ng-show="employeeControllerScope.isRunPayroll">
					<button ng-click="employeeControllerScope.showPrevNav()" ng-if="employeeControllerScope.isDataAvailable && employeeControllerScope.payrollList.length > 0"
					 ng-disabled="employeeControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':employeeControllerScope.buttonBeginFrom == 0}"
					 class="">Prev</button>

					<span ng-repeat="i in employeeControllerScope.payrollList | limitTo : employeeControllerScope.buttonLimitToShow : employeeControllerScope.buttonBeginFrom">
						<button ng-class="{ 'active' : i.isActiveClass }" ng-if="employeeControllerScope.buttonBeginFrom + $index < employeeControllerScope.payrollList.length / employeeControllerScope.buttonLimitToShow"
						 ng-click="employeeControllerScope.gotoPage($index * employeeControllerScope.buttonLimitToShow + employeeControllerScope.buttonBeginFrom * employeeControllerScope.buttonLimitToShow, employeeControllerScope.buttonBeginFrom + $index)">
							{{employeeControllerScope.buttonBeginFrom + $index + 1}}
						</button>
					</span>
					<button ng-click="employeeControllerScope.showNextNav()" ng-if="employeeControllerScope.isDataAvailable && employeeControllerScope.payrollList.length > 0"
					 ng-disabled="employeeControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':employeeControllerScope.isNextDisabled}">Next</button>
					 <span 
			             	ng-if="employeeControllerScope.isDataAvailable && employeeControllerScope.payrollList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < employeeControllerScope.payrollList.length">{{limitToShow}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < employeeControllerScope.payrollList.length)">{{employeeControllerScope.payrollList.length}}</span> of {{employeeControllerScope.payrollList.length}}</span>
					 
				</div>
				<div class="form-group row mob-pos-rel text-right margin_top10" ng-if="employeeControllerScope.isRunPayroll && (employeeControllerScope.runPayrollList |
									                                 filter: { 
									                                 	empId : employeeControllerScope.search.empId, 
									                                 	name : employeeControllerScope.search.name,
									                                 	deductionMonth : employeeControllerScope.search.deductionMonth, 
									                                 	netMonth : employeeControllerScope.search.netMonth, 
									                                    status : employeeControllerScope.search.status, 
									                                 	earningMonth : employeeControllerScope.search.earningMonth, basicGrossPay : employeeControllerScope.search.basicGrossPay
									                                 }).length>0">
					
					<button class="defaultBtn btn" type="button" ng-click="employeeControllerScope.goBackToPyroll()">Decline</button>
					<button class="activeBtn btn" type="button" ng-click="employeeControllerScope.processPayroll()">Proceed</button>
				</div>
			</form>
			
			</div>
	
	</div>
</div>