 <div class="loader_backdrop" ng-show="employeeControllerScope.spinner">
    <div class="loader loader_position"></div>
</div> 

                <div class="rightContainer">
                    <div class="pageTitleParent">
                     <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Employees OnBoarding</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		  <li role="presentation" data-toggle="modal" data-target="#employeeOnboard"  data-backdrop="static" data-keyboard="false">
                                    <a href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Invite Employee</span></a>
                                </li>
                                 
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row margin_minus10">
                                <div class="input_section">                                   
                                    
			                        <div ng-if="!employeeControllerScope.employeeonboardList.length > 0">
			                            <p class="text-center grey_text margin0">Employee Onboard List Not Available</p>
			                        </div>
                                    <div class=" table_data" ng-if="employeeControllerScope.employeeonboardList.length > 0">
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="employeeControllerScope.deleteEmployee()"></i>
									            	</th> --> 
									                <th>Employee Name</th>
									                <th>Email</th>
									                <th>Contact</th> 
									                <th>Date Of Birth</th>
									                 <th>Gender</th>
									                <th>Status</th>
									                <th>Action</th>
									            </tr>
									        </thead>
									        <tbody >
									        	
									            <tr class="backGreyColor" ng-repeat = "employeeonboard in employeeControllerScope.employeeonboardList">
									               <!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->    
									                <td class="font_weightNormal">{{employeeonboard .firstName}} {{employeeonboard.middleName}} {{employeeonboard.lastName}}</td>
									                 <td class="">{{employeeonboard.personalEmail}}</td>
									                <td class="text-center">{{employeeonboard.personalContact}}</td>
									                <td class="text-center">{{employeeonboard.dateOfBirth | date:'MMM dd,yyyy'}}</td>
									                <td><span ng-if="employeeonboard.gender == 'f'">Female</span><span ng-if="employeeonboard.gender == 'M'">Male</span></td>
									                <td class="text-center"> 
									                	<span ng-if="employeeonboard.status =='a'" class="label_success">Active</span>
                                                        <span ng-if="employeeonboard.status =='p'" class="label_danger">Pending</span>
                                                        <span ng-if="employeeonboard.status =='r'" class="label_danger">Rejected</span>
                                                     </td>
                                                     <td class="text-center">
									                	<span class="display_inlineFlex" >
									                	<button type="button" class="activeBtn btn margin_right1" data-toggle="modal" data-target="#employeeOnboardAccept" ng-click="employeeControllerScope.acceptPopup(employeeonboard)" ng-disabled="employeeonboard.status =='r'"  data-backdrop="static" data-keyboard="false"> Accept</button>
									                	<button type="button" class="defaultBtn btn" ng-click="employeeControllerScope.rejectPopup(employeeonboard)" ng-disabled="employeeonboard.status=='r'">Reject</button></span>
							                		</td>
									            </tr>
									        </tbody>
										</table>
		                        </div>
		                        <!-- <div class="table_btn" ng-if="employeeControllerScope.employeeonboardList.length > 0">
		                        <button ng-click="employeeControllerScope.showPrevNav()" 
		                        	ng-if="employeeControllerScope.isDataAvailable && employeeControllerScope.employeeonboardList.length > 0" 
		                        	ng-disabled="employeeControllerScope.buttonBeginFrom == 0"
		                        	ng-class="{'cursor_notAllowed':employeeControllerScope.buttonBeginFrom == 0}" class="">Prev</button>
		                        	
		                        <span ng-repeat="i in employeeControllerScope.employeeonboardList | limitTo : employeeControllerScope.buttonLimitToShow : employeeControllerScope.buttonBeginFrom">
		                        	 
		                        	<button ng-class="{ 'active' : i.isActiveClass }" 
		                        		ng-if="employeeControllerScope.buttonBeginFrom + $index < employeeControllerScope.employeeonboardList.length / employeeControllerScope.buttonLimitToShow" 
		                        		ng-click="employeeControllerScope.gotoPage('emp',$index * employeeControllerScope.buttonLimitToShow + employeeControllerScope.buttonBeginFrom * employeeControllerScope.buttonLimitToShow, employeeControllerScope.buttonBeginFrom + $index)">
		                        		{{employeeControllerScope.buttonBeginFrom + $index + 1}}
		                        	</button>
		                        </span>
		                        <button ng-click="employeeControllerScope.showNextNav('emp')" 
		                        	ng-if="employeeControllerScope.isDataAvailable && employeeControllerScope.employeeonboardList.length > 0" 
		                        	ng-disabled="employeeControllerScope.isNextDisabled"
		                        	ng-class="{'cursor_notAllowed':employeeControllerScope.isNextDisabled}">Next</button>
		                        	<span 
			             	ng-if="employeeControllerScope.isDataAvailable && employeeControllerScope.employeeonboardList.length > 0" >{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < employeeControllerScope.employeeonboardList.length">{{limitToShow}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < employeeControllerScope.employeeonboardList.length)">{{employeeControllerScope.employeeonboardList.length}}</span> of {{employeeControllerScope.employeeonboardList.length}}</span>
		                        	</div> -->
		                        </div>
                                    
                                </div>
                            </div>
                        </div>
                        </div>
                        <div id="employeeOnboard" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="employeeControllerScope.decline()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                                            <h4 class="modal-title">Employee OnBoarding Request</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form name="employeeControllerScope.empOnboardForm" class="onboard_select">
                                                <div class="modal-body">
                                                    <input type="text" name="name" class="inputClass width100" placeholder="Name&#42;" ng-pattern="/^[a-zA-Z\ ]*$/" ng-model="employeeControllerScope.empOnboard.name" required/>
                                                    <p ng-show="employeeControllerScope.empOnboardForm.name.$error.pattern || employeeControllerScope.empOnboardForm.name.$invalid && employeeControllerScope.empOnboardForm.name.$touched" class="reqStar">Kindly Enter Name</p>
                                                    <input type="text" name="personalContact" class="inputClass width100" placeholder="Mobile&#42;" ng-pattern="/^[0-9]*$/" ng-model="employeeControllerScope.empOnboard.personalContact" required/>
                                                    <p ng-show="employeeControllerScope.empOnboardForm.personalContact.$error.pattern || employeeControllerScope.empOnboardForm.personalContact.$invalid && employeeControllerScope.empOnboardForm.personalContact.$touched" class="reqStar">Enter Your Mobile</p>
                                                    <input type="text" name="personalEmail" class="inputClass width100" placeholder="Email&#42;" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' ng-model="employeeControllerScope.empOnboard.personalEmail" required/>
                                                    <p ng-show="employeeControllerScope.empOnboardForm.personalEmail.$error.pattern || employeeControllerScope.empOnboardForm.personalEmail.$invalid && employeeControllerScope.empOnboardForm.personalEmail.$touched" class="reqStar">Kindly Enter Email</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="defaultBtn btn" data-dismiss="modal" ng-click="employeeControllerScope.declineOnboard()">Decline</button>
                                                    <button type="button" data-toggle="modal"  data-backdrop="static" data-keyboard="false" class="activeBtn btn" ng-click="employeeControllerScope.sendOnboardRequest()">Send Invite</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="employeeOnboardAccept" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="employeeControllerScope.decline()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                                            <h4 class="modal-title">Employee OnBoarding Accept</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal formContainer employee_selectBox onboard_select" name="employeeControllerScope.employeeForm">
                                <div class="form-group row mob-pos-rel">
                                    
                                    <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass width100" name="workLocation" ng-model="employeeControllerScope.employee.workLocation" required>
                                                <option value="" ng-if="!employeeControllerScope.employee.workLocation || employeeControllerScope.employee.workLocation == ''">Select Work Location*</option>
                                                <option value="{{workLocation.id}}" ng-repeat="workLocation in employeeControllerScope.worklocationList | orderBy:'city'" ng-if="workLocation.status == 'a'">{{workLocation.city}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="create-employee-inner">
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15 margin_top5">
                                            <input type="text" name="empId" class="inputClass width100" ng-pattern="/^[0-9]*$/" ng-model="employeeControllerScope.employee.empId" placeholder="Employee Id*" required/>
                                       <p ng-show="(employeeControllerScope.employeeForm.empId.$error.pattern || employeeControllerScope.employeeForm.empId.$invalid) && employeeControllerScope.employeeForm.empId.$touched" class="reqStar">Kindly Enter Employee Id</p>
                                       
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="firstName" class="inputClass width100" ng-pattern="/^[a-zA-Z\ ]*$/" ng-model="employeeControllerScope.employee.firstName" placeholder="First Name*" required />
                                            <p ng-show="employeeControllerScope.employeeForm.firstName.$error.pattern && employeeControllerScope.employeeForm.firstName.$invalid && employeeControllerScope.employeeForm.firstName.$touched" class="reqStar">Kindly Enter Correct Name</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="middleName" class="inputClass width100" ng-pattern="/^[a-zA-Z\ ]*$/" ng-model="employeeControllerScope.employee.middleName" placeholder="Middle Name" />
                                            <p ng-show="employeeControllerScope.employeeForm.middleName.$error.pattern && employeeControllerScope.employeeForm.middleName.$invalid && employeeControllerScope.employeeForm.middleName.$touched" class="reqStar">Kindly Enter Correct Name</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="lastName" class="inputClass width100" ng-pattern="/^[a-zA-Z\ ]*$/" ng-model="employeeControllerScope.employee.lastName" placeholder="Last Name*" required />
                                            <p ng-show="employeeControllerScope.employeeForm.lastName.$error.pattern && employeeControllerScope.employeeForm.lastName.$invalid && employeeControllerScope.employeeForm.lastName.$touched" class="reqStar">Kindly Enter Correct Name</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                       
                                        <div class="col-sm-12 col-md-12 padd0 switch-field onboard_gender pad-right-0 emp_margin5">
                                            <input type="radio" id="switch_left" name="gender" value="M" ng-model="employeeControllerScope.employee.gender" required/>
                                            <label for="switch_left" class="linheight2pt7">Male</label>
                                            <input type="radio" id="switch_right" name="gender" value="F" ng-model="employeeControllerScope.employee.gender" required/>
                                            <label for="switch_right" class="linheight2pt7">Female</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="personalContact" class="inputClass width100" ng-model="employeeControllerScope.employee.personalContact" placeholder="Mobile*" ng-pattern="/^[0-9]*$/" />
                                            <p ng-show="employeeControllerScope.employeeForm.personalContact.$error.pattern && employeeControllerScope.employeeForm.personalContact.$touched" class="reqStar">Enter Correct Number</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="primaryContact" class="inputClass width100" ng-model="employeeControllerScope.employee.primaryContact" placeholder="Emergency Contact " ng-pattern="/^[0-9]*$/" />
                                            <p ng-show="employeeControllerScope.employeeForm.primaryContact.$error.pattern && employeeControllerScope.employeeForm.primaryContact.$touched" class="reqStar">Enter Correct Number</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="companyEmail" class="inputClass width100" ng-model="employeeControllerScope.employee.companyEmail" placeholder="Company Email*" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required/>
                                            <p ng-if="employeeControllerScope.employeeForm.companyEmail.$error.pattern && employeeControllerScope.employeeForm.companyEmail.$invalid && employeeControllerScope.employeeForm.companyEmail.$touched" class="reqStar">Kindly Enter Valid Email</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="personalEmail" class="inputClass width100" ng-model="employeeControllerScope.employee.personalEmail" placeholder="Personal Email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' />
                                            <p ng-if="employeeControllerScope.employeeForm.personalEmail.$error.pattern && employeeControllerScope.employeeForm.personalEmail.$invalid && employeeControllerScope.employeeForm.personalEmail.$touched" class="reqStar">Kindly Enter Valid Email</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="aadhar" class="inputClass width100" ng-pattern="/^[0-9]{12,12}$/" ng-model="employeeControllerScope.employee.aadhar" placeholder="Aadhar Id" />
                                            <p ng-show="employeeControllerScope.employeeForm.aadhar.$error.pattern && employeeControllerScope.employeeForm.aadhar.$touched" class="reqStar">Enter Correct Adhar Number. Ex XXXXXXXXXXXX</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="panno" class="inputClass width100" ng-pattern="/^[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}$/" ng-model="employeeControllerScope.employee.panno" placeholder="PAN Number" />
                                            <p ng-if="employeeControllerScope.employeeForm.panno.$error.pattern && employeeControllerScope.employeeForm.panno.$invalid && employeeControllerScope.employeeForm.panno.$touched" class="reqStar">Kindly Enter Valid PAN No (AAAAA9999A)</p>
                                        </div>
                                    </div>
                                    <div class="form-group row mob-pos-rel position_relative">
                                       
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="dateOfBirth" class="inputClass width100" datepicker-popup="{{format}}" ng-click="employeeControllerScope.opendateOfBirthCalender($event)" ng-model="employeeControllerScope.employee.dateOfBirth" is-open="employeeControllerScope.dateOfBirthCalender" placeholder="Date Of Birth" show-button-bar="false" />
                                            <p ng-if="employeeControllerScope.employeeForm.dateOfBirth.$invalid && employeeControllerScope.employeeForm.dateOfBirth.$touched" class="reqStar">Kindly Enter Valid Date</p>
                                        </div>
                                        <span class="mob-pos-abs select-button calen right0 red-icon mob-right-18">
                                            <button type="button" class="btn btn-default mrgTop5 addIcon"
                                                ng-click="employeeControllerScope.opendateOfBirthCalender($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="form-group row mob-pos-rel">
                                       
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15 emp_margin5">
                                            <div class="customDropDown">
                                                <select class="select1 dropdown inputClass width100" name="empType" ng-model="employeeControllerScope.employee.empType">
                                                    <option value="" ng-if="!employeeControllerScope.employee.empType || employeeControllerScope.employee.empType == ''">Select Employee Type</option>
                                                    <option value="{{employee.id}}" ng-repeat="employee in employeeControllerScope.EmployeeTypeList  | orderBy:'name'">{{employee.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mob-pos-rel">
                                        
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15 emp_margin5">
                                            <div class="customDropDown">
                                                <select class="select1 dropdown inputClass width100" name="reportTo" ng-model="employeeControllerScope.employee.reportTo">
                                                    <option value="" ng-if="!employeeControllerScope.employee.reportTo || employeeControllerScope.employee.reportTo == ''">Select Report Manager</option>
                                                    <option value="{{employees.id}}" ng-repeat="employees in employeeControllerScope.employeeList  | orderBy:'firstName'">{{employees.firstName}} {{employees.middleName}} {{employees.lastName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mob-pos-rel">
                                        
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15 emp_margin5">
                                            <div class="customDropDown">
                                                <select class="select1 dropdown inputClass width100" name="dept" ng-model="employeeControllerScope.employee.dept" required>
                                                    <option value="" ng-if="!employeeControllerScope.employee.dept || employeeControllerScope.employee.dept == ''">Select Department*</option>
                                                    <option value="{{department.id}}" ng-repeat="department in employeeControllerScope.DepartmentList  | orderBy:'name'">{{department.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="title" class="inputClass width100" ng-model="employeeControllerScope.employee.title" placeholder="Employee Title At Organization" />
                                        </div>
                                    </div>
                                    <div class="form-group row mob-pos-rel position_relative">
                                        
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15 addEmployee_calenderPosition">
                                            <input type="text" name="startDate" class="inputClass width100" datepicker-popup="{{format}}" ng-click="employeeControllerScope.openstartCalender($event)" name="startDate" ng-model="employeeControllerScope.employee.startDate" is-open="employeeControllerScope.startCalender" placeholder="Start Date" show-button-bar="false" />
                                            <p ng-if="employeeControllerScope.employeeForm.startDate.$invalid && employeeControllerScope.employeeForm.startDate.$touched" class="reqStar">Kindly Enter Valid Date</p>
                                        </div>
                                        <span class="mob-pos-abs select-button calen red-icon right0 mob-right-18">
                                            <button type="button" class="btn btn-default mrgTop5 addIcon"
                                                ng-click="employeeControllerScope.openstartCalender($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="form-group row">
                                       
                                        <div class="col-sm-12 col-md-12 padd0 pad-right-0 mob-pad-right-15">
                                            <textarea name="jobDesc" class="inputClass width100" ng-model="employeeControllerScope.employee.jobDesc" placeholder="Job Description"></textarea>
                                        </div>
                                    </div>
                                    <div class="formfooterbtns">
                                        <button class="defaultBtn btn" type="button" ng-click="employeeControllerScope.decline()">Decline</button>
                                        <button class="activeBtn btn" type="button" ng-click="employeeControllerScope.addEmployeeonBoard()" ng-disabled="employeeControllerScope.employeeForm.$invalid" data-dismiss="modal">Save</button>
                                    </div>
                                </div>
                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="employeeOnboardReject" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="employeeControllerScope.onboardRejectDecline()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                                            <h4 class="modal-title">Employee OnBoarding Reject</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form name="employeeControllerScope.employeeonboardRejectForm">
                                                <div class="modal-body">
                                                   <textarea name="reason" class="inputClass width100" ng-model="employeeControllerScope.employeeonboardReject.reason" placeholder="Reason"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="activeBtn btn" data-dismiss="modal" ng-click="employeeControllerScope.updateRejectOnboard()">Update</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="employeeOnboardSuccess" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="employeeControllerScope.onboardRejectDecline()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                                            <h4 class="modal-title">Employee OnBoarding Success</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form name="employeeControllerScope.employeeonboardRejectForm">
                                                <div class="modal-body">
                                                <p class="text-center margin0">Successfully sent.</p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>