
                <div class="rightContainer">
                    <div class="pageTitleParent">
                     <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Employee Bonus</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" data-toggle="modal" data-target="#employeeBonus"><a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click = "payrollControllerScope.gotoAddEmployeeBonusDetails()" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                      <!--   <div class="row pageTitletextContainer">
							<span class="col-lg-6 col-md-6 col-sm-6 col-xs-7 padd0">
                        		<div class="line_height30">Proposals List</div>
                        	</span>
							<span class="col-lg-6 col-md-6 col-sm-6 col-xs-5 padd0 text-right">
                                            <button class="glyphicon glyphicon-export action_btn" ng-click="proposalControllerScope.exportData()"></button>
                                            <button class="activeBtn btn margin_left0 margin_right0" ng-click="proposalControllerScope.openImportPage()">Import</button>
                                        </span>
						</div> -->
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row margin_minus10">
                                <div class="input_section">
                                   
                                    <div class="width100 mobile_viewShow">
                                        <input type="text" ng-model="proposalControllerScope.searchName" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div>
                                    <div class="loader_backdrop" ng-show="proposalControllerScope.spinner || proposalControllerScope.viewProposalspinner">
                                        <div class="loader loader_position"></div>
                                    </div>
                                    <div ng-if="!payrollControllerScope.getEmployeeBonusTypeList.length > 0">
			                            <p class="text-center grey_text margin0 padd_top15">Bonus Details Not Available</p>
			                        </div>
			                        
			                        <div class="table_data" ng-if="payrollControllerScope.getEmployeeBonusTypeList.length > 0">
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="proposalControllerScope.deleteProposal()"></i>
									            	</th> -->
									            	<th>Employee Id</th>
									                <th>Employee Name</th>
									                <th>Bonus Amount</th>
									                <th>Bonus Month</th>
									                <th>Paid On</th>
									                <th>Comments</th>
                                                    <th>Status</th>
									                <th>Action</th>
									               
									            </tr>
									            <!-- <tr>
									            	
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="proposalControllerScope.search.name" ng-keyup="proposalControllerScope.searchMe()" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="proposalControllerScope.search.currencyTypeName" ng-keyup="proposalControllerScope.searchMe()" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="proposalControllerScope.search.PaymentTermName" ng-keyup="proposalControllerScope.searchMe()" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="proposalControllerScope.search.quantity" ng-keyup="proposalControllerScope.searchMe()" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="proposalControllerScope.search.quantity" ng-keyup="proposalControllerScope.searchMe()" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="proposalControllerScope.search.quantity" ng-keyup="proposalControllerScope.searchMe()" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="proposalControllerScope.search.quantity" ng-keyup="proposalControllerScope.searchMe()" /></th>
                                                    <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="proposalControllerScope.search.quantity" ng-keyup="proposalControllerScope.searchMe()" /></th>
									               
									            </tr> -->
									        </thead>
									        <tbody >
									        	
									            <tr class="backGreyColor" ng-repeat = "empBonus in payrollControllerScope.getEmployeeBonusTypeList |  limitTo : limitToShow : beginFrom" ng-if="payrollControllerScope.getEmployeeBonusTypeList.length > 0">
									                <!-- <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="proposal.isSelect"/><label></label></span>
									                </td>  -->             
									                <td>{{empBonus.empId}}</td>
									                <td>{{empBonus.empName}}</td>
									                <td class="text-right">{{empBonus.amount}}</td>
									                <td class="text-center">{{empBonus.bonusMonth}}</td> 
									                <td class="text-center">{{empBonus.paidOn}}</td>
                                                    <td class="text-left">{{empBonus.comment}}</td>
									                <td class="text-center">
                                                        <span ng-if="empBonus.status =='a'" class="label_success">Active</span>
                                                        <span ng-if="empBonus.status =='i'" class="label_danger">In-Active</span>                           
                                                    </td>
									                <td class="text-center">
									                	<span class="display_inlineFlex"><button type="button" class="activeBtn btn margin_right1" ng-click="payrollControllerScope.gotoEditEmpBonus(empBonus)"  ng-disabled="empBonus.status == 'i'">Update</button>
									                	<button type="button" class="defaultBtn btn" ng-click = "payrollControllerScope.cancelEmployeeBonusDetails(empBonus)"  ng-disabled="empBonus.status == 'i'">Cancel</button></span>
									                	</td>
									            </tr>
									        </tbody>
										</table>
						            	<p ng-if="!payrollControllerScope.getEmployeeBonusTypeList.length > 0" class="text-center grey_text margin0">Bonus Details Not Available</p>
		                        </div>
		                        <div class="table_btn" ng-if="payrollControllerScope.getEmployeeBonusTypeList.length > 0">
		                        <!-- <spheresuitenavigation list-item="proposalControllerScope.proposalList" restrict-to="{{limitToShow}}"></spheresuitenavigation> -->
		                        <button ng-click="payrollControllerScope.showPrevNav()" 
		                        	ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.getEmployeeBonusTypeList.length > 0" 
		                        	ng-disabled="payrollControllerScope.buttonBeginFrom == 0"
		                        	ng-class="{'cursor_notAllowed':payrollControllerScope.buttonBeginFrom == 0}" class="">Prev</button>
		                        	
		                        <span ng-repeat="i in payrollControllerScope.getEmployeeBonusTypeList | limitTo : payrollControllerScope.buttonLimitToShow : payrollControllerScope.buttonBeginFrom">
		                        	 
		                        	<button ng-class="{ 'active' : i.isActiveClass }" 
		                        		ng-if="payrollControllerScope.buttonBeginFrom + $index < payrollControllerScope.getEmployeeBonusTypeList.length / payrollControllerScope.buttonLimitToShow" 
		                        		ng-click="payrollControllerScope.gotoPage($index * payrollControllerScope.buttonLimitToShow + payrollControllerScope.buttonBeginFrom * payrollControllerScope.buttonLimitToShow, payrollControllerScope.buttonBeginFrom + $index)">
		                        		{{payrollControllerScope.buttonBeginFrom + $index + 1}}
		                        	</button>
		                        </span>
		                        <button ng-click="payrollControllerScope.showNextNav()" 
		                        	ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.getEmployeeBonusTypeList.length > 0" 
		                        	ng-disabled="payrollControllerScope.isNextDisabled"
		                        	ng-class="{'cursor_notAllowed':payrollControllerScope.isNextDisabled}">Next</button>
		                        	 <span 
			             	ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.getEmployeeBonusTypeList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < payrollControllerScope.getEmployeeBonusTypeList.length">{{limitToShow}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < payrollControllerScope.getEmployeeBonusTypeList.length)">{{payrollControllerScope.getEmployeeBonusTypeList.length}}</span> of {{payrollControllerScope.getEmployeeBonusTypeList.length}}</span>
		                        	</div>
                                </div>
                                
                            </div>
                        </div>
                       <div id="employeeBonus" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="payrollControllerScope.declineDeduction()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                <h4 class="modal-title">Employee Bonus</h4>
            </div>
            <form name="payrollControllerScope.deductionForm">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="customDropDown user_select100 margin_top5">
                            <select required class="select1 dropdown inputClass width100" name="empId" ng-model="payrollControllerScope.addEmpBonus.empId"> 
                                <option value="">Select Employee*</option>
                                <option value="{{emp.id}}" ng-repeat="emp in payrollControllerScope.activeUserList | orderBy:'name'">{{emp.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
                                <div moment-picker="payrollControllerScope.addEmpBonus.bonusMonth"
                                    format="MMM YYYY" start-view="day"
                                    class=" margin_leftMinus9 ">
                                     <input name="startDate"
                                        ng-model="payrollControllerScope.addEmpBonus.bonusMonth"
                                        autoclose="true" keyboard="true" set-on-select="true"
                                        class="inputClass cursor_pointer width100 shadow"
                                        placeholder="Bonus Month*" required>
                                        <i
                                        class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
                                        aria-hidden="true"></i>
                                </div>
                            </div> 
                    <input type="text" name="name" class="inputClass width100" ng-model="payrollControllerScope.addEmpBonus.amount" placeholder="Bonus Amount*" required />
                    <p class="reqStar" ng-if="payrollControllerScope.deductionForm.name.$invalid && payrollControllerScope.deductionForm.name.$touched">Kindly Enter Valid Bonus Amount</p>
                    
                 	<textarea name="notes" class="inputClass width100" ng-model="payrollControllerScope.addEmpBonus.comment" placeholder="Comments"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="defaultBtn" data-dismiss="modal" ng-click="payrollControllerScope.declineEmpBonusDetails()">Decline</button>
                    <button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.addEmpBonusDetails()"
                    	ng-disabled="payrollControllerScope.deductionForm.$invalid" ng-show= "payrollControllerScope.saveShow "
                    	>Save</button>
                    	<button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.updateEmpBonusDetails()"
                    	ng-disabled="payrollControllerScope.deductionForm.$invalid" ng-show = "payrollControllerScope.saveUpdate"
                    	>Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
                       <!--  <div id="list-wrapper">
                            <div infinite-scroll="proposalControllerScope.addMoreItems()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1" ng-repeat="proposal in logEventFilter = (proposalControllerScope.proposalList | orderBy : '-id' |  
                                 filter : proposalControllerScope.searchName | filter: { projectType : proposalControllerScope.propsalType} |  
                                limitTo : proposalControllerScope.limitToShow)" on-finish-render>
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-1 padd0 responsive_textCenter  responsive_textCenter responsivemargin_top10">
                                                <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true"></i>
                                            </div>
                                            <div class="responsive_textCenter">
                                                <span ng-click="proposalControllerScope.viewProposal(proposal.id)" class="anchor_text break-word capitalizeText">{{proposal.name}}</span>
                                                <span class="pipe_text" ng-if="proposal.projectName!=''">|</span>
                                                <span class="span_text cursor_default break-word capitalizeText">{{proposal.projectName}}</span>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0"> 
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Rate</label> <span class="font_weight600 col-xs-6  wordBreak_all">{{proposal.currencyTypeName}} {{proposal.rate}}</span>
                                                            </li>
                                                               <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0">Payment Terms</label> <span class="font_weight600 col-xs-6  wordBreak_all">{{proposal.PaymentTermName}}</span>
                                                            </li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0"> 
                                                              <li class="row">
                                                                <label class="col-xs-6 padd0">Quantity</label> <span class="font_weight600 col-xs-6  wordBreak_all capitalizeText">{{proposal.quantity}}</span>
                                                            </li>
                                                           
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div> -->
                    </div>
                </div>
                 