<div class="loader_backdrop" ng-show="payrollControllerScope.spinner || payrollControllerScope.getSpinner || payrollControllerScope.getActiveUserSpinner">
    <div class="loader loader_position"></div>
</div>
<div class="rightContainer">
    <div class="pageTitleParent">
    <div class="pageTitletextContainer paddLft15">
		<!-- <span class="cursor_pointer back_iconPosition" ng-if="payrollControllerScope.showEmpCompBack" ng-click="payrollControllerScope.goBackToEmpComp()">Employee Compensation  Compensation Settings
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span> -->
		<span class="lineheight21">Compensation Details</span></div>
        
        <div class="innerdivContainer emp_comp">
        <ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="javascript:void(0)" data-target="#EmployeeCompensation">Employee Compensation</a></li>
		    <li><a data-toggle="tab" href="javascript:void(0)" data-target="#CompensationSettings">Compensation Settings</a></li>
		  </ul>
		   <div class="tab-content">
    			<div id="CompensationSettings" class="tab-pane fade">
        <div class="red-icon create-employee">
		    
		    <form class="form-horizontal formContainer lead_selectBox" name="payrollControllerScope.employeeCompensationForm">
		    	
		    	<div class="form-group row mob-pos-rel">
	                <label class="control-label col-sm-12 col-md-4  lineheight31">Employee<span class="reqStar">*</span></label>
	                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
	                    <div class="customDropDown">
	                     <select class="select1 dropdown inputClass" name="empId" ng-model="payrollControllerScope.allowance.empId" ng-change="payrollControllerScope.getEmpId(payrollControllerScope.allowance.empId)" required>
	                      <option value="" ng-if="!payrollControllerScope.allowance.empId || payrollControllerScope.allowance.empId == ''">Select Employee </option>
	                      <option value="{{emp.id}}" ng-repeat="emp in payrollControllerScope.activeUserList | orderBy:'name'">{{emp.name}}</option>
	                      </select> 
	                    </div>
	                </div>
	            </div> 
	            
		         <p ng-if = "payrollControllerScope.leadListByEmp.length  == 0" class="text-center grey_text padding15 padding_top0">{{payrollControllerScope.ctcMsg}}</p> 
		         <div class="row padd0 margin_top15" ng-if = "payrollControllerScope.leadListByEmp.length  !== 0" ng-show="payrollControllerScope.earning">
		         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd0">
		         	<div class="form-group row mob-pos-rel" ng-show = "payrollControllerScope.leadListByEmp.length  !== 0" >
                         <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Breakups Effective From<span class="reqStar">*</span></label>
                         <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                             <input type="text" name="effectiveFrom" class="inputClass cursor_pointer width100" datepicker-popup="{{format}}" ng-click="payrollControllerScope.openEffectiveFromCalender($event)" ng-model="payrollControllerScope.leadListByEmp.effectiveFrom" is-open="payrollControllerScope.isEffectiveFrom" placeholder="Effective From" show-button-bar="false" required ng-if="!payrollControllerScope.earningshow"/>
                             <label class="inputClass no_border font_weight600" ng-if="payrollControllerScope.earningshow">{{payrollControllerScope.leadListByEmp.effectiveFrom}} </label>
                         </div>
                         <span class="mob-pos-abs select-button calen right57 mob-right-18" ng-if="!payrollControllerScope.earningshow">
							<button type="button" class="btn btn-default mrgTop5 addIcon"
								ng-click="payrollControllerScope.openEffectiveFromCalender($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
                     </div>
                     <div class="form-group row mob-pos-rel" ng-show = "payrollControllerScope.leadListByEmp.length  !== 0">
                         <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Breakups Effective To</label>
                         <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                             <input type="text" name="effectiveTo" class="inputClass cursor_pointer width100" datepicker-popup="{{format}}" ng-click="payrollControllerScope.openEffectiveToCalender($event)" ng-model="payrollControllerScope.leadListByEmp.effectiveTo" is-open="payrollControllerScope.isEffectiveTo" placeholder="Effective To" show-button-bar="false" ng-if="!payrollControllerScope.earningshow"/>
                             <label class="inputClass no_border font_weight600" ng-if="payrollControllerScope.earningshow">{{payrollControllerScope.leadListByEmp.effectiveTo}} </label>
                         </div>
                         
                         <span class="mob-pos-abs select-button calen right57 mob-right-18"  ng-if="!payrollControllerScope.earningshow">
							<button type="button" class="btn btn-default mrgTop5 addIcon"
								ng-click="payrollControllerScope.openEffectiveToCalender($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
                     </div>
		         </div>
		         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd0">
				     <div class="form-group row ">
		                 <label class="control-label col-sm-12 col-md-4  lineheight2pt6">CTC</label>
		                 <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
		                 	<label class="inputClass no_border font_weight600">{{payrollControllerScope.leadListByEmp.empctc | number:2}}</label>
		                     <!-- <input type="text" name="empId" class="inputClass no_border" ng-model="payrollControllerScope.leadListByEmp.empctc" placeholder="CTC" /> -->
		                 </div>
		             </div>
				     <div class="form-group row">
		                 <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Date</label>
		                 <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
		                     <!-- <input type="text" name="empId" class="inputClass no_border" ng-model="payrollControllerScope.leadListByEmp.startDate" placeholder="From" /> -->
		                     <span class="inputClass no_border font_weight600">{{payrollControllerScope.leadListByEmp.startDate}}</span> - 
		                     <label class="inputClass no_border font_weight600">{{payrollControllerScope.leadListByEmp.enddate!=""?payrollControllerScope.leadListByEmp.enddate:"Till"}}</label>
		                    <!--  <input type="text" name="empId" class="inputClass no_border" ng-model="payrollControllerScope.leadListByEmp.enddate" placeholder="To" /> -->
		                 </div>
		             </div>
				     <!-- <div class="form-group row">
		                 <label class="control-label col-sm-12 col-md-4  lineheight2pt6">To</label>
		                 <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
		                     <input type="text" name="empId" class="inputClass no_border" ng-model="payrollControllerScope.leadListByEmp.enddate" placeholder="To" />
		                 </div>
		             </div> -->
		             </div>
                     
             	</div>
		    </form>
		    <div ng-if="payrollController.compensationMsg != ''">
		         <p class="text-center grey_text margin0 padding_top0">{{payrollControllerScope.compensationMsg}}</p>
		    </div>
		    <!-- Section earning -->
		    <div class="row">
		    <div class="col-lg-6 col-xs-12 padd_left0">
		    <div class=" table_data border_table1px margin_top10" ng-if = "payrollControllerScope.leadListByEmp.length  !== 0" ng-show="payrollControllerScope.earning">
		     <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span>Earnings</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right comp_dropdown" role="menu" aria-labelledby="menu1">
								      <li role="presentation" ng-click="payrollControllerScope.addNewEarningsField()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
		    		<!-- <button type="button" class="activeBtn btn add_new margin_top" ng-click="payrollControllerScope.addNewEarningsField()">Add New +</button> -->
			                        	<table wt-responsive-table class="custom-responsive-table-employee margin0">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="payrollControllerScope.deleteEmployee()"></i>
									            	</th> -->
									                <th class="text-center">Earning Type</th>
									               <th class="text-center">Monthly</th>
									                <th class="text-center">YTD</th>
									                
									            </tr>
									            
									        </thead>
									        <tbody >
									        	
									            <tr class="backGreyColor no_borderTable" ng-repeat="earning in payrollControllerScope.employeeCompensationEarningList">
									               <!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->             
									                
									                <td>
									                	<div class="col-sm-12 col-md-12 pad-right-0 mob-pad-right-15 margin_top5">
				                                        	<div class="customDropDown">
				                                          		<select class="select1 dropdown inputClass width100" name="allowanceId" ng-model="earning.allowanceId" ng-change="payrollControllerScope.getAllowanceByIdCompSettings(earning,payrollControllerScope.leadListByEmp.empctc)" required>
											                      	<option value="" ng-if="!earning.transferFrom || earning.transferFrom == ''">Select Earning Type</option>
											                      	<option value="{{allowance.id}}" ng-repeat="allowance in payrollControllerScope.allowanceList | orderBy:'name'">{{allowance.settingName}}</option>
											                     </select>  
						                                    </div>
				                                    	</div>
				                                    </td>
									                 <td class="text-right">{{ earning.monthly | number:2}}</td>
									                <td class="text-right">{{ earning.ytd | number:2}}</td> 
									            </tr>
									        </tbody>
										</table>
									    <p class="reqStar text-center" ng-if="payrollControllerScope.hasAllowanceSelectedAlreadyMsg != ''">{{payrollControllerScope.hasAllowanceSelectedAlreadyMsg}}</p>
						            	<table wt-responsive-table class="custom-responsive-table-employee margin0">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="payrollControllerScope.deleteEmployee()"></i>
									            	</th> -->
									               
									                
									            </tr>
									            
									        </thead>
									        <tbody>
									        	<tr class="no_borderTable">
									        		<td class="text-right responsive_width550">Total ( A )</td>
									        		<td class="responsive_width255 text-right font_weight600">{{payrollControllerScope.earningMonth | number:2}}</td>
									        		<td class="text-right font_weight600">{{payrollControllerScope.earningYear | number:2}}</td>
									        	</tr>
									        </tbody>
										</table>
		                        </div>
		                        
		                         <div class="table_data margin_top15 border_table1px" ng-show="payrollControllerScope.earning">
		    
						            	<table wt-responsive-table class="custom-responsive-table-employee back_grey margin0">
									        <thead>
									            <!-- <<tr>
									            	<th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="payrollControllerScope.deleteEmployee()"></i>
									            	</th>
									               
									                
									            </tr>  -->
									            
									        </thead>
									        <tbody>
									        	<tr >
									        		<td class="text-right responsive_width550 border_leftNone">Net Pay ( A - (B+C) )</td>
									        		<td class="responsive_width255 text-right font_weight600">{{payrollControllerScope.earningMonth - (payrollControllerScope.deductionMonth + payrollControllerScope.taxMonth)  | number:2 }}</td>
									        		<td class="text-right border_rightNone font_weight600">{{payrollControllerScope.earningYear - ( payrollControllerScope.deductionYear + payrollControllerScope.taxYear) | number:2 }}</td>
									        	</tr>
									        </tbody>
										</table>
		                        </div> 
		                        </div>
		                        <div class="col-lg-6 col-xs-12 padd_right0 res_paddleft0">
		        <div class=" table_data border_table1px margin_top10" ng-if ="payrollControllerScope.leadListByEmp.length  !== 0 " ng-show="payrollControllerScope.earning">
		         <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span>Deductions</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right comp_dropdown" role="menu" aria-labelledby="menu1">
								      <li role="presentation" ng-click="payrollControllerScope.addNewDeductionField()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
			                        	<table wt-responsive-table class="custom-responsive-table-employee margin0">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="payrollControllerScope.deleteEmployee()"></i>
									            	</th> -->
									                <th class="text-center">Deduction Type</th>
									                 <th class="text-center">Monthly</th>
									                <th class="text-center">YTD</th> 
									                
									            </tr>
									            
									        </thead>
									        <tbody >
									        	
									            <tr class="backGreyColor no_borderTable" ng-repeat="deduction in payrollControllerScope.employeeCompensationDeductionList">
									               <!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->             
									                
									                <td><div class="col-sm-12 col-md-12 pad-right-0 mob-pad-right-15 margin_top5">
				                                        <div class="customDropDown">
												             <select class="select1 dropdown inputClass width100" name="deductionId" ng-model="deduction.deductionId " ng-change="payrollControllerScope.getDeductionByIdCompSettings(deduction,payrollControllerScope.leadListByEmp.empctc)">
									                      		<option value="" ng-if="!deduction.deductionId || deduction.deductionId == ''">Select Deduction  Type</option>
									                      		<option value="{{deduction.id}}" ng-repeat="deduction in payrollControllerScope.deductionList | orderBy:'name'">{{deduction.settingName}}</option>
									                      </select>  
				                                        </div>
				                                    </div></td>
									                <td class="text-right">{{ deduction.monthly | number:2 }}</td>
									                <td class="text-right">{{ deduction.ytd | number:2 }}</td>
									            </tr>
									        </tbody>
										</table>
										
										<p class="reqStar text-center" ng-if="payrollControllerScope.hasDeductionSelectedAlreadyMsg != ''">{{payrollControllerScope.hasDeductionSelectedAlreadyMsg}}</p>
						            	
						            	<table wt-responsive-table class="custom-responsive-table-employee margin0">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="payrollControllerScope.deleteEmployee()"></i>
									            	</th> -->
									               
									                
									            </tr>
									            
									        </thead>
									        <tbody>
									        	<tr class="no_borderTable">
									        		<td class="text-right responsive_width550">Total ( B )</td>
									        		<td class="responsive_width255 text-right font_weight600">{{payrollControllerScope.deductionMonth | number:2}}</td>
									        		<td class="text-right font_weight600">{{payrollControllerScope.deductionYear | number:2}}</td>
									        	</tr>
									        </tbody> 
										</table>
		                        </div> 
		                         <div class=" table_data border_table1px margin_top15" ng-if ="payrollControllerScope.leadListByEmp.length  !== 0 " ng-show="payrollControllerScope.earning">
		         <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span>Tax</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right comp_dropdown" role="menu" aria-labelledby="menu1">
								      <li role="presentation" ng-click="payrollControllerScope.addNewTaxField()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
			                        	<table wt-responsive-table class="custom-responsive-table-employee margin0">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="payrollControllerScope.deleteEmployee()"></i>
									            	</th> -->
									                <th class="text-center">Tax Type</th>
									                 <th class="text-center">Monthly</th>
									                <th class="text-center">YTD</th> 
									                
									            </tr>
									            
									        </thead>
									        <tbody >
									            <tr class="backGreyColor no_borderTable" ng-repeat="tax in payrollControllerScope.employeeCompensationTaxList">
									               <!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->             
									                
									                <td><div class="col-sm-12 col-md-12 pad-right-0 mob-pad-right-15 margin_top5">
				                                        <div class="customDropDown">
												             <select class="select1 dropdown inputClass width100" name="taxId" ng-model="tax.taxId " ng-change="payrollControllerScope.getTaxByIdCompSettings(tax,payrollControllerScope.leadListByEmp.empctc)">
									                      		<option value="" ng-if="!tax.taxId || tax.taxId == ''">Select Tax  Type</option>
									                      		<option value="{{tax.id}}" ng-repeat="tax in payrollControllerScope.taxList | orderBy:'name'">{{tax.settingName}}</option>
									                      </select>  
				                                        </div>
				                                    </div></td>
									                <td class="text-right">{{ tax.monthly | number:2 }}</td>
									                <td class="text-right">{{ tax.ytd | number:2 }}</td> 
									            </tr>
									        </tbody>
										</table>
										<p class="reqStar text-center" ng-if="payrollControllerScope.hasTaxSelectedAlreadyMsg != ''">{{payrollControllerScope.hasTaxSelectedAlreadyMsg}}</p>
						            	
						            	 <table wt-responsive-table class="custom-responsive-table-employee margin0">
									        <thead>
									            <!-- <tr>
									            	<th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="payrollControllerScope.deleteEmployee()"></i>
									            	</th> 
									               
									                
									            </tr> -->
									            
									        </thead>
									        <tbody>
									        	<tr class="no_borderTable">
									        		<td class="text-right responsive_width550">Total ( C )</td>
									        		<td class="responsive_width255 text-right font_weight600">{{payrollControllerScope.taxMonth | number:2}}</td>
									        		<td class="text-right font_weight600">{{payrollControllerScope.taxYear | number:2}}</td>
									        	</tr>
									        </tbody>
										</table> 
		                        </div> 
		                         <!-- <div class="table_data margin0" ng-show="payrollControllerScope.earning">
		    
						            	<table wt-responsive-table class="custom-responsive-table-employee back_grey margin0">
									        <thead>
									             <tr>
									            	<th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="payrollControllerScope.deleteEmployee()"></i>
									            	</th>
									               
									                
									            </tr> 
									            
									        </thead>
									        <tbody>
									        	<tr >
									        		<td class="text-right responsive_width550">Net Pay ( A - B )</td>
									        		<td class="responsive_width255 text-right">{{payrollControllerScope.earningMonth - payrollControllerScope.deductionMonth | number:2 }}</td>
									        		<td class="text-right">{{payrollControllerScope.earningYear - payrollControllerScope.deductionYear | number:2 }}</td>
									        	</tr>
									        </tbody>
										</table>
		                        </div> -->
		                        
		                        
                                    <div class="text-right margin_top"  ng-show="payrollControllerScope.earning">
                                        <button class="activeBtn btn" type="button" data-toggle="modal" data-target="#updateCompensation" ng-disabled="payrollControllerScope.employeeCompensationForm.$invalid || payrollControllerScope.earningYear != payrollControllerScope.leadListByEmp.empctc" ng-if="payrollControllerScope.earningshow">Add</button>
                                        <button class="activeBtn btn" type="button" ng-click="payrollControllerScope.updateEmployeeCompensation()" ng-disabled="payrollControllerScope.employeeCompensationForm.$invalid || payrollControllerScope.earningYear != payrollControllerScope.leadListByEmp.empctc" ng-if="!payrollControllerScope.earningshow">Save</button>
                                    </div>
                                    </div>
                                    </div>
		</div>
		</div>
		<div id="EmployeeCompensation" class="tab-pane fade in active">
		<div class="red-icon create-employee responsive_padding0 employee_placeholder">
			<div ng-if="payrollControllerScope.showEmpCompValue">
			                            <p class="text-center grey_text margin0">Employee Compensation Details Not Available</p>
			                        </div> 
			
			<form class="form-horizontal formContainer employee_selectBox" name="payrollControllerScope.employeeForm">
			<!-- <div class="form-group row mob-pos-rel" ng-show="!payrollControllerScope.isRunPayroll">
						<label class="control-label col-sm-12 col-md-4  lineheight2pt6">Payroll Type<span class="reqStar">*</span></label>
						 <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                            <div class="customDropDown">
	                          <select class="select1 dropdown inputClass stateoptions" name="payrollType" ng-model="payrollControllerScope.runPayroll.payrollType" required>
	                              <option value="" ng-if="!payrollControllerScope.runPayroll.payrollType || payrollControllerScope.runPayroll.payrollType == ''">Select Payroll Type</option>
	                              <option value="Monthly" >Monthly</option>
	                              <option value="Settlement" >Settlement</option>
	                          </select>
                      		</div>
                         </div>
                     </div> -->
                    

				<div class="table_data" >
					
					<table wt-responsive-table class="custom-responsive-table" >
						<thead>
							<tr>
								<th>Employee Id</th>
								<th>Employee Name</th>
								<th>Gross</th>
								<th>Earnings</th>
								<th>Deduction</th>
								<th>Tax</th>
								<th>Net</th>
								<!-- <th>Action</th> -->
							</tr>
							<!-- <tr>
								<th>
									<input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.empId"
									 ng-keyup="payrollControllerScope.searchMe('emp')" />
								</th>
								<th>
									<input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.name" ng-keyup="payrollControllerScope.searchMe('emp')"
									/>
								</th>
								<th>
									<input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.basicGrossPay"
									 ng-keyup="payrollControllerScope.searchMe('emp')" />
								</th>
								<th>
									<input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.earningMonth"
									 ng-keyup="payrollControllerScope.searchMe('emp')" />
								</th>
								<th>
									<input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.deductionMonth"
									 ng-keyup="payrollControllerScope.searchMe('emp')" />
								</th>
								<th>
									<input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.netMonth"
									 ng-keyup="payrollControllerScope.searchMe('emp')" />
								</th>
								<th>
									<input type="search" placeholder="Search Here" hidden class="inputClass width90" ng-model="payrollControllerScope.search.netMonth"
									 ng-keyup="payrollControllerScope.searchMe('emp')" />
								</th>
							</tr> -->
						</thead>
						<tbody>

							<tr ng-repeat="employee in payrollControllerScope.employeeListlogEventFilter = (payrollControllerScope.empCompensationShowDataList | orderBy : '-id' |
									                                 filter: { 
									                                 	empId : payrollControllerScope.search.empId, 
									                                 	name : payrollControllerScope.search.name,
									                                 	deductionMonth : payrollControllerScope.search.deductionMonth, 
									                                 	netMonth : payrollControllerScope.search.netMonth, 
									                                    status : payrollControllerScope.search.status, 
									                                 	earningMonth : payrollControllerScope.search.earningMonth,                          basicGrossPay : payrollControllerScope.search.basicGrossPay
									                                 }|  
									                                limitTo : limitToShow : beginFrom) track by $index" class="backGreyColor">
								<!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->
								<td ng-click="payrollControllerScope.getEmpCompensation(employee.id)" class="cursor_pointer">{{employee.empId}}</td>
								<td>{{employee.name}}</td>
								<td class="text-right">{{employee.basicGrossPay | number:0}}.00</td>
								<td class="text-right">{{employee.earningMonth | number:0}}.00</td>
								<td class="text-right">{{employee.deductionMonth | number:0}}.00</td>
								<td class="text-right">{{employee.taxMonth | number:0}}.00</td>
								<td class="text-right">{{employee.netMonth | number:0}}.00</td>
								<!-- <td>
									<span ng-if="employee.status =='a'" class="activeBtn btn" ng-click="payrollControllerScope.editInCompensation(employee.empId)">Edit</span>
									<span ng-if="employee.status =='i'" class="label_danger">In-Active</span>
								</td> -->
							</tr>
						</tbody>
					</table>
					<p ng-if="(payrollControllerScope.empCompensationShowDataList |
									                                 filter: { 
									                                 	empId : payrollControllerScope.search.empId, 
									                                 	name : payrollControllerScope.search.name,
									                                 	deductionMonth : payrollControllerScope.search.deductionMonth, 
									                                 	netMonth : payrollControllerScope.search.netMonth, 
									                                    status : payrollControllerScope.search.status, 
									                                 	earningMonth : payrollControllerScope.search.earningMonth,                          basicGrossPay : payrollControllerScope.search.basicGrossPay
									                                 }).length == 0" class="text-center grey_text margin0">Payroll Details Not Available</p>
				</div>

								<div class="table_btn" ng-if="payrollControllerScope.showEmpCompTable && !payrollControllerScope.showEmpCompValue">
                                    <button ng-click="payrollControllerScope.showPrevNav()" ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.empCompensationShowDataList.length > 0"
                                     ng-disabled="payrollControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':payrollControllerScope.buttonBeginFrom == 0}"
                                     class="">Prev</button>

                                    <span ng-repeat="i in payrollControllerScope.empCompensationShowDataList | limitTo : payrollControllerScope.buttonLimitToShow : payrollControllerScope.buttonBeginFrom">
                                        <button ng-class="{ 'active' : i.isActiveClass }" ng-if="payrollControllerScope.buttonBeginFrom + $index < payrollControllerScope.empCompensationShowDataList.length / payrollControllerScope.buttonLimitToShow"
                                         ng-click="payrollControllerScope.gotoPage($index * payrollControllerScope.buttonLimitToShow + payrollControllerScope.buttonBeginFrom * payrollControllerScope.buttonLimitToShow, payrollControllerScope.buttonBeginFrom + $index)">
                                            {{payrollControllerScope.buttonBeginFrom + $index + 1}}
                                        </button>
                                    </span>
                                    <button ng-click="payrollControllerScope.showNextNav()" ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.empCompensationShowDataList.length > 0"
                                     ng-disabled="payrollControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':payrollControllerScope.isNextDisabled}">Next</button>
                                     <span 
			             	ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.empCompensationShowDataList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < payrollControllerScope.empCompensationShowDataList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < payrollControllerScope.empCompensationShowDataList.length)">{{payrollControllerScope.empCompensationShowDataList.length}}</span> of {{payrollControllerScope.empCompensationShowDataList.length}}</span>
                                </div>
				<!-- <div class="form-group row mob-pos-rel text-right margin_top10" ng-if="payrollControllerScope.isRunPayroll && (payrollControllerScope.runPayrollList |
									                                 filter: { 
									                                 	empId : payrollControllerScope.search.empId, 
									                                 	name : payrollControllerScope.search.name,
									                                 	deductionMonth : payrollControllerScope.search.deductionMonth, 
									                                 	netMonth : payrollControllerScope.search.netMonth, 
									                                    status : payrollControllerScope.search.status, 
									                                 	earningMonth : payrollControllerScope.search.earningMonth, basicGrossPay : payrollControllerScope.search.basicGrossPay
									                                 }).length>0">
					
					<button class="defaultBtn btn" type="button">Decline</button>
					<button class="activeBtn btn" type="button" ng-click="payrollControllerScope.processPayroll()">Proceed</button>
				</div> -->
			</form>
			
			<div id="empCompData" class="modal fade emp_compen" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close white opacity1px" data-dismiss="modal"><i class="fa fa-times close_button" aria-hidden="true"></i></button>
                <h4 class="modal-title">Employee Compensation</h4>
            </div>
            <div class="modal-body">
			
			<div class="red-icon create-employee responsive_padding0 employee_placeholder back_white" >
				<!-- <div class="row">
					<span class="cursor_pointer back_iconPosition"  ng-click="payrollControllerScope.gotoRunPayroll(payrollControllerScope.runPayroll.payrollBatchId)">
                        	<i class="fa fa-angle-left" aria-hidden="true"></i>
                        	<i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span>
				</div> -->
				<div class="row padd0">
					<div class="col-lg-6 col-xs-12 padd_left0" >
						<div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Earnings / Allowances</span>
                                        </div>
                                            <div class="col-lg-12 padd0" >
                                                <div class="row">
                                                    <div class="" ng-if="payrollControllerScope.employeeCompensationEarningList[0].earningName!=null">
                                                        <ul class="padd0 left_text">
                                                        <li class="row" ng-if="employeeControllerScope.employee.workLocationCity !== ''">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Year To Date</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="earnings in payrollControllerScope.employeeCompensationEarningList">
                                                            <label class="col-xs-6 padd0">{{earnings.earningName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{earnings.monthly | number :2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{earnings.ytd | number :2}}</span>
                                                            </li>
                                                            <li class="row" ng-if="payrollControllerScope.bonusMonth">
                                                            <label class="col-xs-6 padd0">Bonus</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.bonusMonth | number :2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.bonusYear | number :2}}</span>
                                                            </li>
                                                         <li class="row" ng-if="employeeControllerScope.employee.workLocationCity !== ''">
                                                            <span class="col-xs-6 padd0 font_weight600">Total(A)</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.earningMonth | number :2}}</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.earningYear | number :2}}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p ng-if="payrollControllerScope.employeeCompensationEarningList[0].earningName==null" class="text-center grey_text margin0 padding_TB10">
                                                    	Earnings not available
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="table_data margin_top15">
		    
						            	<table wt-responsive-table class="custom-responsive-table-employee back_grey margin0 border_table1px">
									        <thead>
									            <!-- <tr>
									            	<th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="payrollControllerScope.deleteEmployee()"></i>
									            	</th>
									               
									                
									            </tr> -->
									            
									        </thead>
									        <tbody>
									        	<tr >
									        		<td class="text-right responsive_width550 border_leftNone">Net Pay ( A - (B+C) )</td>
									        		<td class="responsive_width255 text-right font_weight600">{{ payrollControllerScope.leadListByEmp.netMonth | number:2 }}</td>
									        		<td class="text-right border_rightNone font_weight600">{{ payrollControllerScope.leadListByEmp.netYear | number:2 }}</td>
									        	</tr>
									        </tbody>
										</table>
		                        </div>
					</div>
					<div class="col-lg-6 col-xs-12 padd_right0">
						<div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Deductions</span>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="" ng-if="payrollControllerScope.employeeCompensationDeductionList[0].deductionName!=null">
                                                        <ul class="padd0 left_text">
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Year To Date</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="deductions in payrollControllerScope.employeeCompensationDeductionList">
                                                            <label class="col-xs-6 padd0">{{deductions.deductionName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{deductions.monthly | number:2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{deductions.ytd | number:2}}</span>
                                                            </li>

                                                            <li class="row" ng-if="payrollControllerScope.leadListByEmp.lossOfPayMonth > 0">
                                                            <label class="col-xs-6 padd0">Loss Of Pay</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.leadListByEmp.lossOfPayMonth | number:2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.leadListByEmp.lossOfPayYear | number:2}}</span>
                                                            </li>
                                                         
                                                       		 <li class="row" ng-if="employeeControllerScope.employee.workLocationCity !== ''">
                                                            <span class="col-xs-6 padd0 font_weight600">Total(B)</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.deductionMonth | number:2}}</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.deductionYear | number:2}}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p ng-if="payrollControllerScope.employeeCompensationDeductionList[0].deductionName==null" class="text-center grey_text margin0 padding_top10">
                                                    	Deductions not available
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Taxes</span>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="" ng-if="payrollControllerScope.employeeCompensationTaxList[0].taxName!=null">
                                                        <ul class="padd0 left_text">
                                                        <li class="row" >
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Year To Date</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="tax in payrollControllerScope.employeeCompensationTaxList">
                                                            <label class="col-xs-6 padd0">{{tax.taxName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{tax.monthly | number:2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{tax.ytd | number:2}}</span>
                                                            </li>
                                                         
                                                       		 <li class="row" ng-if="employeeControllerScope.employee.workLocationCity !== ''">
                                                            <span class="col-xs-6 padd0 font_weight600">Total(C)</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.taxMonth | number:2}}</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.taxYear | number:2 }}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p ng-if="payrollControllerScope.employeeCompensationTaxList[0].taxName==null" class="text-center grey_text margin0 padding_top10">
                                                    	Taxes not available
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <!-- <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="">
                                                    	 <ul class="padd0 left_text">
                                                    	 	<li class="row" ng-if="employeeControllerScope.employee.workLocationCity !== ''">
                                                            <span class="col-xs-6 padd0 font_weight600">Net Amount</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>20,0000</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>20,0000</p></span>
                                                            </li>
                                                    	 </ul>
                                                    </div>
                                                    </div>
                                                    </div> -->
					</div>
			
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>
			</div>
			</div>
	</div>
</div>
</div>
<div id="confirmation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close white opacity1px" data-dismiss="modal"><i class="fa fa-times close_button" aria-hidden="true"></i></button>
                <h4 class="modal-title">Employee Compensation</h4>
            </div>
            <div class="modal-body">
                <form name="payrollControllerScope.gstTaxForm">
                    <div class="modal-body">
                    	<p class="text-center">{{payrollControllerScope.modalMsg}}</p>
                      </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="activeBtn btn" data-dismiss="modal">Decline</button> 
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>
<div id="updateCompensation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close white opacity1px" data-dismiss="modal"><i class="fa fa-times close_button" aria-hidden="true"></i></button>
                <h4 class="modal-title">Compensation Settings</h4>
            </div>
            <div class="modal-body red-icon">
                <form name="payrollControllerScope.gstTaxForm">
                    <div class="modal-body">
                    	<div class="form-group row mob-pos-rel position_relative" >
                         <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Breakups Effective From<span class="reqStar">*</span></label>
                         <div class="col-sm-12 col-md-8 padd0 pad-right-0 mob-pad-right-15">
                             <input type="text" name="effectiveFrom" class="inputClass cursor_pointer width100" datepicker-popup="{{format}}" ng-click="payrollControllerScope.openEffectiveFromCalender($event)" ng-model="payrollControllerScope.leadListByEmp.effectiveFrom" is-open="payrollControllerScope.isEffectiveFrom" placeholder="Effective From" show-button-bar="false" required/>
                         </div>
                         <span class="mob-pos-abs select-button calen right0 mob-right-18">
							<button type="button" class="btn btn-default mrgTop5 addIcon"
								ng-click="payrollControllerScope.openEffectiveFromCalender($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
                     </div>
                     <div class="form-group row mob-pos-rel position_relative" >
                         <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Breakups Effective To</label>
                         <div class="col-sm-12 col-md-8 padd0 pad-right-0 mob-pad-right-15">
                             <input type="text" name="effectiveTo" class="inputClass cursor_pointer width100" datepicker-popup="{{format}}" ng-click="payrollControllerScope.openEffectiveToCalender($event)" ng-model="payrollControllerScope.leadListByEmp.effectiveTo" is-open="payrollControllerScope.isEffectiveTo" placeholder="Effective To" show-button-bar="false" />
                         </div>
                         <span class="mob-pos-abs select-button calen right0 mob-right-18">
							<button type="button" class="btn btn-default mrgTop5 addIcon"
								ng-click="payrollControllerScope.openEffectiveToCalender($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
                     </div>
                     <div class="text-right margin_top15">
                     	 <button class="defaultBtn btn" type="button" ng-click="payrollControllerScope.updateEmployeeCompensation()" >Decline</button>
                   <button class="activeBtn btn" type="button" ng-click="payrollControllerScope.updateEmployeeCompensation()" >Update</button>
                     </div>

                      </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="activeBtn btn" data-dismiss="modal">Decline</button> 
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>