<div class="loader_backdrop" ng-if="employeeControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>
                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <!-- <div class="pageTitletextContainer paddLft15"><span ng-if="!employeeControllerScope.isUpdate">New</span><span ng-if="employeeControllerScope.isUpdate">Update</span> Employee</div> -->
                        <div class="innerdivContainer red-icon create-employee responsive_padding0 employee_placeholder">
                    		<p class="text-center" ng-if="employeeControllerScope.employeeOnboard.status !== 'p'">No Data Available</p>
                            <form class="form-horizontal formContainer employee_selectBox" name="employeeControllerScope.employeeonboardForm">
                               
                                <div class="create-employee-inner" ng-if="employeeControllerScope.employeeOnboard.status == 'p'">
                                    
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">First Name<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="firstName" class="inputClass" ng-pattern="/^[a-zA-Z\ ]*$/" ng-model="employeeControllerScope.employeeonboard.firstName" placeholder="First Name" required />
                                            <p ng-show="employeeControllerScope.employeeonboardForm.firstName.$error.pattern && employeeControllerScope.employeeonboardForm.firstName.$invalid && employeeControllerScope.employeeonboardForm.firstName.$touched" class="reqStar">Kindly Enter Correct Name</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Middle Name</label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="middleName" class="inputClass" ng-pattern="/^[a-zA-Z\ ]*$/" ng-model="employeeControllerScope.employeeonboard.middleName" placeholder="Middle Name" />
                                            <p ng-show="employeeControllerScope.employeeonboardForm.middleName.$error.pattern && employeeControllerScope.employeeonboardForm.middleName.$invalid && employeeControllerScope.employeeonboardForm.middleName.$touched" class="reqStar">Kindly Enter Correct Name</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Last Name<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="lastName" class="inputClass" ng-pattern="/^[a-zA-Z\ ]*$/" ng-model="employeeControllerScope.employeeonboard.lastName" placeholder="Last Name" required />
                                            <p ng-show="employeeControllerScope.employeeonboardForm.lastName.$error.pattern && employeeControllerScope.employeeonboardForm.lastName.$invalid && employeeControllerScope.employeeonboardForm.lastName.$touched" class="reqStar">Kindly Enter Correct Name</p>
                                        </div>
                                    </div>
                                    <!--  <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Gender<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-6 pad-right-0 emp_margin5">
                                            <input type="radio" id="onbaordMale" name="gender" value="M" ng-model="employeeControllerScope.employeeonboard.gender" required/>
                                            <label for="onbaordMale" class="onboard_lable">Male</label>
                                            <input type="radio" id="onbaordFeMale" name="gender" value="F" ng-model="employeeControllerScope.employeeonboard.gender" required/>
                                            <label for="onbaordFeMale" class="onboard_lable">Female</label>
                                        </div> --> -->
					 				<div class="form-group">
					                      <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Gender<span class="reqStar">*</span></label>
					                      <div class="col-sm-12 col-md-7 pad-right-0 emp_margin5 mob-pad-right-15">
					                         <div class="input-group margin_left5 width100">
					                            <div class="btn-group radio-group">
					                               <label class="btn btn-primary not-active onboard_genderBtn">Male <input type="radio" name="gender" value="M" ng-model="employeeControllerScope.employeeonboard.gender"></label>
					                               <label class="btn btn-primary not-active onboard_genderBtn">Female <input type="radio" name="gender" value="F" ng-model="employeeControllerScope.employeeonboard.gender"></label>
					                            </div>
					                         </div>
					                    </div>
					                </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Mobile<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="personalContact" class="inputClass" ng-model="employeeControllerScope.employeeonboard.personalContact" placeholder="Mobile" ng-pattern="/^[0-9]*$/"/>
                                            <p ng-show="employeeControllerScope.employeeonboardForm.personalContact.$error.pattern && employeeControllerScope.employeeonboardForm.personalContact.$touched" class="reqStar">Enter Correct Number</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Emergency Contact<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="primaryContact" class="inputClass" ng-model="employeeControllerScope.employeeonboard.primaryContact" placeholder="Emergency Contact " ng-pattern="/^[0-9]*$/" />
                                            <p ng-show="employeeControllerScope.employeeonboardForm.primaryContact.$error.pattern && employeeControllerScope.employeeonboardForm.primaryContact.$touched" class="reqStar">Enter Correct Number</p>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Personal Email<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="personalEmail" class="inputClass" ng-model="employeeControllerScope.employeeonboard.personalEmail" placeholder="Personal Email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'/>
                                            <p ng-if="employeeControllerScope.employeeonboardForm.personalEmail.$error.pattern && employeeControllerScope.employeeonboardForm.personalEmail.$invalid && employeeControllerScope.employeeonboardForm.personalEmail.$touched" class="reqStar">Kindly Enter Valid Email</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Aadhar Id </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="aadhar" class="inputClass" ng-pattern="/^[0-9]{12,12}$/" ng-model="employeeControllerScope.employeeonboard.aadhar" placeholder="Aadhar Id" />
                                            <p ng-show="employeeControllerScope.employeeonboardForm.aadhar.$error.pattern && employeeControllerScope.employeeonboardForm.aadhar.$touched" class="reqStar">Enter Correct Adhar Number. Ex XXXXXXXXXXXX</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">PAN No</label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="panno" class="inputClass" ng-pattern="/^[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}$/" ng-model="employeeControllerScope.employeeonboard.panno" placeholder="PAN Number" />
                                            <p ng-if="employeeControllerScope.employeeonboardForm.panno.$error.pattern && employeeControllerScope.employeeonboardForm.panno.$invalid && employeeControllerScope.employeeonboardForm.panno.$touched" class="reqStar">Kindly Enter Valid PAN No (AAAAA9999A)</p>
                                        </div>
                                    </div>
                                    <div class="form-group row mob-pos-rel">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Date Of Birth</label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="dateOfBirth" class="inputClass" datepicker-popup="{{format}}" ng-click="employeeControllerScope.opendateOfBirthCalender($event)" ng-model="employeeControllerScope.employeeonboard.dateOfBirth" is-open="employeeControllerScope.dateOfBirthCalender" placeholder="Date Of Birth" show-button-bar="false" />
                                            <p ng-if="employeeControllerScope.employeeonboardForm.dateOfBirth.$invalid && employeeControllerScope.employeeonboardForm.dateOfBirth.$touched" class="reqStar">Kindly Enter Valid Date</p>
                                        </div>
                                        <span class="mob-pos-abs select-button calen right370 mob-right-18">
											<button type="button" class="btn btn-default mrgTop5 addIcon"
												ng-click="employeeControllerScope.opendateOfBirthCalender($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
                                    </div>
                                   
                                    
                                    
                                    
                                   
                                    
                                    <div class="formfooterbtns position_relative right370">
                                        <button class="defaultBtn btn" type="button" ng-click="employeeControllerScope.decline()">Decline</button>
                                        <button class="activeBtn btn" type="button" ng-click="employeeControllerScope.updateEmployeeOnboard()" ng-disabled="employeeControllerScope.employeeonboardForm.$invalid" ng-if="!employeeControllerScope.isUpdate">Save</button>
                                        <button class="activeBtn btn" type="button" ng-click="employeeControllerScope.editEmployee()" ng-disabled="employeeControllerScope.employeeonboardForm.$invalid" ng-if="employeeControllerScope.isUpdate">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
           