<div class="loader_backdrop" ng-show="employeeControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer lineheight21">Search For Employees</div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <div class="width100 ">
                                        <input type="text" ng-model="employeeControllerScope.searchName" ng-change="employeeControllerScope.searchByName(employeeControllerScope.searchName)" placeholder="Search Here" class="width100 resp_fontSize">
                                        <ul class="search-emp height50p" ng-if="employeeControllerScope.employeeSearchList.length > 0 && employeeControllerScope.isSearchResultFound">
                                            <li ng-repeat="employee in employeeControllerScope.employeeSearchList" ng-click="employeeControllerScope.showSelectedEmployee(employee)">{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="list-wrapper" ng-if="employeeControllerScope.employeeSelected && employeeControllerScope.employeeSelected != ''">
                            <div>
                                <div class="innerdivContainer red-icon create-employee border_bottom1">
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-1 padd0 responsive_textCenter  responsive_textCenter responsivemargin_top10">
                                             <img alt="Profile Picture" class="myinfo-profile-pic fa fa-building-o img-60x60 img-views myinfo-profile-pic" ng-src="{{employeeControllerScope.employeeSelected.photo}}" ng-if="employeeControllerScope.employeeSelected.photo" />
                                                 <i class="fa fa-user-circle-o img-60x60 img-views myinfo-profile-pic " aria-hidden="true"  ></i><!-- ng-if="employeeControllerScope.employeeSelected.photo == ''" -->
                                             
                                            </div>
                                            <div class="responsive_textCenter">
                                                <span ng-click="employeeControllerScope.viewEmployee(employee.id)" class="anchor_text cursor_default">{{employeeControllerScope.employeeSelected.firstName}} {{employeeControllerScope.employeeSelected.middleName}} {{employeeControllerScope.employeeSelected.lastName}}</span>
                                                <span class="pipe_text" ng-if="employeeControllerScope.employeeSelected.title!=''">|</span><span class="span_text">{{employeeControllerScope.employeeSelected.title}}</span>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Employee Id</label> <span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{employeeControllerScope.employeeSelected.empId}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Work Location</label> <span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{employeeControllerScope.employeeSelected.workLocationCity}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Email</label> <span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{employeeControllerScope.employeeSelected.companyEmail}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Mobile</label> <span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{employeeControllerScope.employeeSelected.personalContact}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Department</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{employeeControllerScope.employeeSelected.deptName}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>