<div class="loader_backdrop" ng-show="payrollControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                     <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Employees IT Savings</span>
                        </div>
                        
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row margin_minus10">
                                <div class="input_section">
                                    <div class="width100 mobile_viewShow">
                                        <div class="customDropDown col-lg-6 col-md-6 col-sm-6 col-xs-12 padd0 responsive_select margin_top5">
                                            <select name="employee" class="dropdown select1 selectClass col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left" ng-model="payrollControllerScope.empType">
                                                <option value="" selected="selected">Select Employee Type</option>
                                                <option value="" >All</option>
                                                <option value="{{employee.id}}" ng-repeat="employee in payrollControllerScope.EmployeeTypeList | orderBy : 'name' ">{{employee.name}}</option>
                                            </select>
                                        </div>
                                       
                                    </div>
                                    <div class="width100 mobile_viewShow">
                                        <input type="text" ng-model="payrollControllerScope.searchName" ng-keyup="payrollControllerScope.searchMe('emp',true)" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div> 
                                    
			                        <div ng-if="!payrollControllerScope.getEmployeeItSavingsList.length > 0">
			                            <p class="text-center grey_text margin0">Employee IT Savings Not Available</p>
			                        </div>
                                    <div class=" table_data" ng-if="payrollControllerScope.getEmployeeItSavingsList.length > 0">
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="payrollControllerScope.deleteEmployee()"></i>
									            	</th> --> 
									                <th>Financial Year</th>
                                                    <th>Employee Id</th>
									                <th>Employee Name</th>                                               
									                <th>Saving Name</th>
									                 <th>Section</th> 
									                <th>Max Limit</th> 
									                <th>Amount</th>
									                <th>Status</th>
									            </tr>
									            
									        </thead>
									        <tbody >
									        	
									            <tr  ng-repeat="empItSaving in payrollControllerScope.employeeListlogEventFilter = (payrollControllerScope.getEmployeeItSavingsList | orderBy : '-id' |
                                                                     filter: { 
                                                                        empId : payrollControllerScope.search.empId, 
                                                                        name : payrollControllerScope.search.name,
                                                                        deductionMonth : payrollControllerScope.search.deductionMonth, 
                                                                        netMonth : payrollControllerScope.search.netMonth, 
                                                                        status : payrollControllerScope.search.status, 
                                                                        earningMonth : payrollControllerScope.search.earningMonth,                          basicGrossPay : payrollControllerScope.search.basicGrossPay
                                                                     }|  
                                                                    limitTo : limitToShow : beginFrom) track by $index" class="backGreyColor" >
									               <!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->    
									                 <td class="cursor_pointer text-center" ng-click="payrollControllerScope.gotoEmployeeItSavings(empItSaving)">{{empItSaving.fromDate}} - {{empItSaving.toDate}}</td>         
									                <td>{{empItSaving.empId}}</td>
									                 <td>{{empItSaving.empName}}</td>
									                <td>{{empItSaving.itSavingSettingName}}</td>
									                 <td>{{empItSaving.section}}</td>
									                <td class="text-right">{{empItSaving.maxLimit | number:2}}</td>
                                                    <td class="text-right">{{empItSaving.amount | number:2}}</td>
									                <td class="text-center"> 
                                                        <span ng-if="empItSaving.status =='s'" class="label_gray">Submitted</span>
                                                            <span ng-if="empItSaving.status =='a'" class="label_success">Accepted</span>
                                                            <span ng-if="empItSaving.status =='v'" class="label_success">Verified</span>
                                                            <span ng-if="empItSaving.status =='r'" class="label_danger">Rejected</span></td>
									            </tr>
									        </tbody>
										</table>
						            	<!-- <p ng-if="(payrollControllerScope.employeeList |  
                                                                     filter : payrollControllerScope.searchName | 
                                                                     filter: { emptypeName : payrollControllerScope.search.emptypeName, status : payrollControllerScope.search.status, personalContact : payrollControllerScope.search.personalContact, companyEmail : payrollControllerScope.search.compEmail, empId : payrollControllerScope.search.empId, name : payrollControllerScope.search.name, title : payrollControllerScope.search.title }).length == 0" class="text-center grey_text margin0">Employee Details Not Available</p> -->
		                        </div>
		                        <div class="table_btn" ng-if="payrollControllerScope.getEmployeeItSavingsList.length > 0">
                                    <button ng-click="payrollControllerScope.showPrevNav()" ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.getEmployeeItSavingsList.length > 0"
                                     ng-disabled="payrollControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':payrollControllerScope.buttonBeginFrom == 0}"
                                     class="">Prev</button>

                                    <span ng-repeat="i in payrollControllerScope.getEmployeeItSavingsList | limitTo : payrollControllerScope.buttonLimitToShow : payrollControllerScope.buttonBeginFrom">
                                        <button ng-class="{ 'active' : i.isActiveClass }" ng-if="payrollControllerScope.buttonBeginFrom + $index < payrollControllerScope.getEmployeeItSavingsList.length / payrollControllerScope.buttonLimitToShow"
                                         ng-click="payrollControllerScope.gotoPage($index * payrollControllerScope.buttonLimitToShow + payrollControllerScope.buttonBeginFrom * payrollControllerScope.buttonLimitToShow, payrollControllerScope.buttonBeginFrom + $index)">
                                            {{payrollControllerScope.buttonBeginFrom + $index + 1}}
                                        </button>
                                    </span>
                                    <button ng-click="payrollControllerScope.showNextNav()" ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.getEmployeeItSavingsList.length > 0"
                                     ng-disabled="payrollControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':payrollControllerScope.isNextDisabled}">Next</button>
                                     <span 
			             	ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.getEmployeeItSavingsList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < payrollControllerScope.getEmployeeItSavingsList.length">{{limitToShow}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < payrollControllerScope.getEmployeeItSavingsList.length)">{{payrollControllerScope.getEmployeeItSavingsList.length}}</span> of {{payrollControllerScope.getEmployeeItSavingsList.length}}</span>
                                </div>
		                        </div>
                                    
                                </div>
                            </div>
                        </div>
                       
                    </div>
<div id="itsavings" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="payrollControllerScope.declineAllowance()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                <h4 class="modal-title">Employee IT Savings</h4>
            </div>
            <form name="payrollControllerScope.allowanceForm">
                <div class="modal-body">
                 <div class="col-lg-12 col-xs-12 padd0">
                                        
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                           <li class="row">
                                                            <label class="col-xs-6 padd0">Financial Year</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.empItSaving.fromDate}} - {{payrollControllerScope.empItSaving.toDate}}</span></li>
                                                        <li class="row" >
                                                            <label class="col-xs-6 padd0">Employee Name</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.empItSaving.empName}}</span></li>
                                                        <li class="row" >
                                                            <label class="col-xs-6 padd0">Saving Name</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.empItSaving.itSavingSettingName}}</span></li>
                                                       <li class="row">
                                                            <label class="col-xs-6 padd0">Status</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText"></span>
                                                            <span ng-if="payrollControllerScope.empItSaving.status =='s'" class="label_gray">Submitted</span>
                                                            <span ng-if="payrollControllerScope.empItSaving.status =='a'" class="label_success">Accepted</span>
                                                            <span ng-if="payrollControllerScope.empItSaving.status =='v'" class="label_success">Verified</span>
                                                            <span ng-if="payrollControllerScope.empItSaving.status =='r'" class="label_danger">Rejected</span>
                                                        </li>
                                                       
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                         <li class="row">
                                                            <label class="col-xs-6 padd0">Section</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.empItSaving.section}}</span></li>
                                                            <li class="row" >
                                                                <label class="col-xs-6 padd0 ">Max Limit</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all ">{{payrollControllerScope.empItSaving.maxLimit | number:2}}</span></li>
                                                            <li class="row" >
                                                                <label class="col-xs-6 padd0 ">Amount</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all ">{{payrollControllerScope.empItSaving.amount | number:2}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                         <button class="defaultBtn" data-dismiss="modal" ng-click="payrollControllerScope.updateEmployeeItSavingsReject(payrollControllerScope.empItSaving)" data-toggle="modal" data-target="#rejectitsavings">Reject</button>
                    <button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.updateEmployeeItSavingsVerified(payrollControllerScope.empItSaving)"  ng-if="payrollControllerScope.empItSaving.status =='s' || payrollControllerScope.empItSaving.status =='a'">Documents Verified</button>
                    <button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.updateEmployeeItSavingsApproved(payrollControllerScope.empItSaving)" ng-if="payrollControllerScope.empItSaving.status =='s'"
                    	>Accepted</button>
                    	</div>
                </div>
                
            </form>
        </div>
    </div>
</div>  

<div id="rejectitsavings" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="payrollControllerScope.declineAllowance()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                <h4 class="modal-title">Reject IT Savings</h4>
            </div>
            <form name="payrollControllerScope.allowanceForm">
                <div class="modal-body">
                 <textarea name="comment" class="inputClass width100" ng-model="payrollControllerScope.myItSavings.comment" placeholder="Comments"></textarea>
                   <div class="text-right">
                          <button class="defaultBtn" data-dismiss="modal" ng-click="payrollControllerScope.updateEmployeeItSavingsReject(payrollControllerScope.empItSaving)" data-toggle="modal" data-target="#rejectitsavings">Reject</button>
                  	</div>                      
                </div>
                
            </form>
        </div>
    </div>
</div>         