<div class="loader_backdrop" ng-show="payslipControllerScope.spinner || payslipControllerScope.viewempspinner">
    <div class="loader loader_position"></div>
</div>

<div class="rightContainer">
	<div class="pageTitleParent">
		<div class="row pageTitletextContainer">
			<span class="col-lg-6 col-md-6 col-sm-6 col-xs-7 padd0">
		   		<div class=""> <span class="cursor_pointer back_iconPosition" ng-if="!payslipControllerScope.searchSection" ng-click="payslipControllerScope.goBackToSearchSection()">
		       	<i class="fa fa-angle-left" aria-hidden="true"></i>
		       	<i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span> <span class="lineheight21">Employee Payslip</span></div>
		   	</span>
	    </div>
                        
		<div class="innerdivContainer red-icon create-employee employee_placeholder">
            <div class="row">
            <div class="input_section">
            						 <div ng-if="!payslipControllerScope.isDataAvailable">
			                            <p class="text-center grey_text margin0">{{payslipControllerScope.dataMsg}}</p>
			                        </div>    
			                        
			 <div class="form-group row mob-pos-rel" ng-show="payslipControllerScope.searchSection">{{payslipControllerScope.employee.id}}
	                <label class="control-label col-sm-12 col-md-4  lineheight31 text-right responsive_textLeft">Employee<span class="reqStar">*</span></label>
	                <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 responsive_payslip100">
	                    <div class="customDropDown">
	                     <select class="select1 dropdown inputClass" name="empId" ng-model="payslipControllerScope.employee.ID" ng-change="payslipControllerScope.getEmpPayslip()" required>
	                      <option value="" ng-if="!payslipControllerScope.employee.ID || payslipControllerScope.employee.ID == ''">Select Employee </option>
	                      <option value="{{emp.id}}" ng-repeat="emp in payslipControllerScope.empList | orderBy:'name'">{{emp.name}}</option>
	                      </select> 
	                    </div>
	                </div>
	            </div>                    
			                        
			                        
				<div class="table_data" ng-if="!payslipControllerScope.searchSection">
	                <table wt-responsive-table class="custom-responsive-table padding_table10">
	                    <thead>
	                        <tr>
	                            <th>Pay Period</th>
	                            <th>Gross</th>
	                            <th>Earnings</th>
	                            <th>Deduction</th>
	                            <th>Tax</th>
	                            <th>Net</th>
	                            <th>Status</th>
	                            <th>Action</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="employee in payslipControllerScope.payrollDetailList track by $index" class="backGreyColor">
	                            <td class="text-center">{{employee.payPeriodFrom | date}}  - {{employee.payPeriodTo | date}} </td>
	                            <td class="text-right">{{employee.basicGrossPay | number:2}}</td>
	                            <td class="text-right">{{employee.earningMonth | number:2}}</t d>
	                            <td class="text-right">{{employee.deductionMonth | number:2}}</td>
	                            <td class="text-right">{{employee.taxMonth | number:2}}</td>
	                            <td class="text-right">{{employee.netMonth | number:2}}</td>
	                            <td class="text-center">
	                                <span ng-if="employee.status =='d'" class="label_gray">Draft</span>
	                                <span ng-if="employee.status =='p'" class="label_success">Processed</span>
	                                <span ng-if="employee.status =='v'" class="label_danger">Void</span>
	                            </td>
	                            <td class="text-center cursor_pointer" ng-click="payslipControllerScope.downloadPDF(employee)"><i class="fa fa-download padd_LR10" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Download" ></i></td>
	                        </tr>
	                    </tbody>
	                </table>
	                <div class="table_btn" ng-if="payslipControllerScope.payrollDetailList.length > 0">
                                    <button ng-click="payslipControllerScope.showPrevNav()" ng-if="payslipControllerScope.isDataAvailable && payslipControllerScope.payrollDetailList.length > 0"
                                     ng-disabled="payslipControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':payslipControllerScope.buttonBeginFrom == 0}"
                                     class="">Prev</button>

                                    <span ng-repeat="i in payslipControllerScope.payrollDetailList | limitTo : payslipControllerScope.buttonLimitToShow : payslipControllerScope.buttonBeginFrom">
                                        <button ng-class="{ 'active' : i.isActiveClass }" ng-if="payslipControllerScope.buttonBeginFrom + $index < payslipControllerScope.payrollDetailList.length / payslipControllerScope.buttonLimitToShow"
                                         ng-click="payslipControllerScope.gotoPage($index * payslipControllerScope.buttonLimitToShow + payslipControllerScope.buttonBeginFrom * payslipControllerScope.buttonLimitToShow, payslipControllerScope.buttonBeginFrom + $index)">
                                            {{payslipControllerScope.buttonBeginFrom + $index + 1}}
                                        </button>
                                    </span>
                                    <button ng-click="payslipControllerScope.showNextNav()" ng-if="payslipControllerScope.isDataAvailable && payslipControllerScope.payrollDetailList.length > 0"
                                     ng-disabled="payslipControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':payslipControllerScope.isNextDisabled}">Next</button>
                                     <span 
			             				ng-if="payslipControllerScope.isDataAvailable && payslipControllerScope.payrollDetailList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < payslipControllerScope.payrollDetailList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < payslipControllerScope.payrollDetailList.length)">{{payslipControllerScope.payrollDetailList.length}}</span> of {{payslipControllerScope.payrollDetailList.length}}</span>
                                </div>
				</div>
			</div>
		</div>
		</div>
		
	</div>
                     
                  
                         
</div>
          