
<div class="rightContainer">
	<div class="pageTitleParent">
		<div class="pageTitletextContainer row">
			<div class="col-lg-6 col-xs-6 padd0">
				<span class="lineheight21">Employee LOP</span>
			</div>
			<div class="col-lg-6 col-xs-6 padd0 text-right">
				<div class="dropdown header_dropdown">
					<span class="dropdown-toggle cursor_pointer" id="menu1"> <i
						class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
					<ul class="dropdown-menu dropdown-menu-right" role="menu"
						aria-labelledby="menu1">
						<li role="presentation" data-toggle="modal"
							data-target="#employeeLOP"><a role="menuitem" tabindex="-1"
							href="javascript:void(0)"
							ng-click="payrollControllerScope.gotoAddEmployeeLopDetails()" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add
								New</span></a></li>
					</ul>

				</div>
			</div>
		</div>
		<!--   <div class="row pageTitletextContainer">
							<span class="col-lg-6 col-md-6 col-sm-6 col-xs-7 padd0">
                        		<div class="line_height30">Proposals List</div>
                        	</span>
							<span class="col-lg-6 col-md-6 col-sm-6 col-xs-5 padd0 text-right">
                                            <button class="glyphicon glyphicon-export action_btn" ng-click="proposalControllerScope.exportData()"></button>
                                            <button class="activeBtn btn margin_left0 margin_right0" ng-click="proposalControllerScope.openImportPage()">Import</button>
                                        </span>
						</div> -->
		<div class="innerdivContainer red-icon create-employee">
			<div class="row margin_minus10">
				<div class="input_section">
					<div ng-if="!payrollControllerScope.isDataAvailable">
						<p class="text-center grey_text margin0">LOP Details Not
							Available</p>
					</div>
					<div class="table_data">
						<table wt-responsive-table class="custom-responsive-table"
							ng-if="payrollControllerScope.getEmployeeLopTypeList.length > 0">
							<thead>
								<tr>
									<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="proposalControllerScope.deleteProposal()"></i>
									            	</th> -->
									<th>Employee Id</th>
									<th>Employee Name</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Status</th>
									<th>Action</th>

								</tr>
								<!-- <tr>
									<th class="width5Percent"><span class="table_mobile table_borderNone">
									            		<input type="checkbox" ng-model="proposalControllerScope.isSelect" ng-change="proposalControllerScope.toggleSelect(proposalControllerScope.isSelect)"/><label></label>
									            	</span></th>
									<th><input type="search" placeholder="Search Here"
										class="inputClass width90"
										ng-model="payrollControllerScope.search.empId"
										ng-keyup="payrollControllerScope.searchMe()" /></th>
									<th><input type="search" placeholder="Search Here"
										class="inputClass width90"
										ng-model="payrollControllerScope.search.empName"
										ng-keyup="payrollControllerScope.searchMe()" /></th>
									<th><input type="search" placeholder="Search Here"
										class="inputClass width90"
										ng-model="payrollControllerScope.search.startDate"
										ng-keyup="payrollControllerScope.searchMe()" /></th>
									<th><input type="search" placeholder="Search Here"
										class="inputClass width90"
										ng-model="payrollControllerScope.search.enddate"
										ng-keyup="payrollControllerScope.searchMe()" /></th>
									<th><input type="search" placeholder="Search Here"
										class="inputClass width90"
										ng-model="payrollControllerScope.search.status"
										ng-keyup="payrollControllerScope.searchMe()" /></th>
									<th><input type="search" placeholder="Search Here"
										class="inputClass width90"
										ng-model="payrollControllerScope.search.quantity"
										ng-keyup="payrollControllerScope.searchMe()" /></th>

								</tr> -->
							</thead>
							<tbody>

								<tr class="backGreyColor"
									ng-repeat="empLopDetail in payrollControllerScope.employeeLopTypeListlogEventFilter = (payrollControllerScope.getEmployeeLopTypeList | 
									                                 filter: { empId : payrollControllerScope.search.empId, empName : payrollControllerScope.search.empName, startDate : payrollControllerScope.search.startDate,
									                                  enddate : payrollControllerScope.search.enddate, status : payrollControllerScope.search.status, quantity : payrollControllerScope.search.quantity }|  
									                                limitTo : limitToShow : beginFrom) track by $index" 
									                                  
									ng-if="payrollControllerScope.getEmployeeLopTypeList.length > 0">
									<!-- <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="proposal.isSelect"/><label></label></span>
									                </td>  -->
									<td class="fontWeight_normal">{{empLopDetail.empId}}</td>
									<td>{{empLopDetail.empName}}</td>
									<td class="text-center">{{empLopDetail.startDate}}</td>
									<td class="text-center">{{empLopDetail.enddate}}</td>
									<td class="text-center"><span
										ng-if="empLopDetail.status =='a'" class="label_success">Active</span>
										<span ng-if="empLopDetail.status =='i'" class="label_danger">In-Active</span>
									</td>
									<td class="text-center"><span class="display_inlineTable"><button
												type="button" class="activeBtn btn margin_right1"
												ng-click="payrollControllerScope.gotoUpdateEmployeeLopDetails(empLopDetail)"
												ng-disabled="empLopDetail.status == 'i'">Update</button>
											<button type="button" class="defaultBtn btn"
												ng-click="payrollControllerScope.cancelEmployeeLopDetails(empLopDetail)"
												ng-disabled="empLopDetail.status == 'i'">Cancel</button></span></td>
								</tr>
							</tbody>
						</table>
						<p class="text-center grey_text margin0" ng-if="(payrollControllerScope.getEmployeeLopTypeList | 
									                                 filter: { empId : payrollControllerScope.search.empId, empName : payrollControllerScope.search.empName, startDate : payrollControllerScope.search.startDate,
									                                  enddate : payrollControllerScope.search.enddate, status : payrollControllerScope.search.status, quantity : payrollControllerScope.search.quantity }).length == 0">
									LOP Details Not Available</p>
					</div>
					<div class="table_btn" ng-if="payrollControllerScope.getEmployeeLopTypeList.length > 0">
						<button ng-click="payrollControllerScope.showPrevNav()"
							ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.getEmployeeLopTypeList.length > 0"
							ng-disabled="payrollControllerScope.buttonBeginFrom == 0"
							ng-class="{'cursor_notAllowed':payrollControllerScope.buttonBeginFrom == 0}"
							class="">Prev</button>

						<span
							ng-repeat="i in payrollControllerScope.getEmployeeLopTypeList | limitTo : payrollControllerScope.buttonLimitToShow : payrollControllerScope.buttonBeginFrom">

							<button ng-class="{ 'active' : i.isActiveClass }"
								ng-if="payrollControllerScope.buttonBeginFrom + $index < payrollControllerScope.getEmployeeLopTypeList.length / payrollControllerScope.buttonLimitToShow"
								ng-click="payrollControllerScope.gotoPage($index * payrollControllerScope.buttonLimitToShow + payrollControllerScope.buttonBeginFrom * payrollControllerScope.buttonLimitToShow, payrollControllerScope.buttonBeginFrom + $index)">
								{{payrollControllerScope.buttonBeginFrom + $index + 1}}</button>
						</span>
						<button ng-click="payrollControllerScope.showNextNav()"
							ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.getEmployeeLopTypeList.length > 0"
							ng-disabled="payrollControllerScope.isNextDisabled"
							ng-class="{'cursor_notAllowed':payrollControllerScope.isNextDisabled}">Next</button>
							<span 
			             	ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.getEmployeeLopTypeList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < payrollControllerScope.getEmployeeLopTypeList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < payrollControllerScope.getEmployeeLopTypeList.length)">{{payrollControllerScope.getEmployeeLopTypeList.length}}</span> of {{payrollControllerScope.getEmployeeLopTypeList.length}}</span>
					</div>
				</div>

			</div>
		</div>
		<div id="employeeLOP" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close white opacity1px"
							data-dismiss="modal"
							ng-click="payrollControllerScope.declineDeduction()">
							<i class="fa fa-times close_button" aria-hidden="true"></i>
						</button>
						<h4 class="modal-title">Employee LOP</h4>
					</div>
					<form name="payrollControllerScope.deductionForm">
						<div class="modal-body">
							<div class="form-group">
								<div class="customDropDown user_select100 margin_top5">
									<select class="select1 dropdown inputClass width100"
										name="empId" ng-model="payrollControllerScope.addLop.empId">
										<option value="">Select Employee</option>
										<option value="{{emp.id}}"
											ng-repeat="emp in payrollControllerScope.activeUserList | orderBy:'name'">{{emp.name}}</option>
									</select>
								</div>
							</div>
							<div
								class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
								<div moment-picker="payrollControllerScope.addLop.startDate"
									format="MMM DD YYYY" start-view="day"
									class=" margin_leftMinus9 ">
									<input name="startDate"
										ng-model="payrollControllerScope.addLop.startDate"
										autoclose="true" keyboard="true" set-on-select="true"
										class="inputClass cursor_pointer width100 shadow"
										placeholder="Start Date*" required> <i
										class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
										aria-hidden="true"></i>
								</div>
							</div>
							<div
								class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
								<div moment-picker="payrollControllerScope.addLop.enddate"
									format="MMM DD YYYY" start-view="day"
									class=" margin_leftMinus9" data-min-date="payrollControllerScope.addLop.startDate">
									<input name="enddate"
										ng-model="payrollControllerScope.addLop.enddate"
										autoclose="true" keyboard="true" set-on-select="true"
										class="inputClass cursor_pointer width100 shadow"
										placeholder="End Date*"  required> <i
										class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
										aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="defaultBtn" data-dismiss="modal"
								ng-click="payrollControllerScope.declineEmpLop()">Decline</button>
							<button type="button" class="activeBtn btn"
								ng-click="payrollControllerScope.addEmployeeLop()"
								ng-disabled="payrollControllerScope.deductionForm.$invalid"
								ng-show="payrollControllerScope.saveShow">Save</button>
							<button type="button" class="activeBtn btn"
								ng-show="payrollControllerScope.saveUpdate"
								ng-disabled="payrollControllerScope.deductionForm.$invalid"
								ng-click="payrollControllerScope.updateEmployeeLopDetails()">Update</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--  <div id="list-wrapper">
                            <div infinite-scroll="proposalControllerScope.addMoreItems()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1" ng-repeat="proposal in logEventFilter = (proposalControllerScope.proposalList | orderBy : '-id' |  
                                 filter : proposalControllerScope.searchName | filter: { projectType : proposalControllerScope.propsalType} |  
                                limitTo : proposalControllerScope.limitToShow)" on-finish-render>
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-1 padd0 responsive_textCenter  responsive_textCenter responsivemargin_top10">
                                                <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true"></i>
                                            </div>
                                            <div class="responsive_textCenter">
                                                <span ng-click="proposalControllerScope.viewProposal(proposal.id)" class="anchor_text break-word capitalizeText">{{proposal.name}}</span>
                                                <span class="pipe_text" ng-if="proposal.projectName!=''">|</span>
                                                <span class="span_text cursor_default break-word capitalizeText">{{proposal.projectName}}</span>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0"> 
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Rate</label> <span class="font_weight600 col-xs-6  wordBreak_all">{{proposal.currencyTypeName}} {{proposal.rate}}</span>
                                                            </li>
                                                               <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0">Payment Terms</label> <span class="font_weight600 col-xs-6  wordBreak_all">{{proposal.PaymentTermName}}</span>
                                                            </li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0"> 
                                                              <li class="row">
                                                                <label class="col-xs-6 padd0">Quantity</label> <span class="font_weight600 col-xs-6  wordBreak_all capitalizeText">{{proposal.quantity}}</span>
                                                            </li>
                                                           
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div> -->
	</div>
</div>
