<div class="row footer_position">
	<div class="footer_color text-center col-lg-12 col-xs-12">
		 <p class="footerCopy">Copyright&nbsp; &#169 &nbsp;SphereSuite&nbsp;<span id="printed-year"></span>&nbsp;|&nbsp;All Rights Reserved</p>
	</div>
</div>
<script>
var currentYear = new Date().getFullYear();
document.getElementById("printed-year").innerHTML = currentYear;
</script>