<div class="row headerheight" ng-controller="headerController as headerControllerScope">
    <div class="headerContainer row">
        <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-2 padd0 responsive_width60">
        	<div class="responsive_imgHide"><img src="images/i_logo.png" class="logo_responsive"/></div>
            <!-- <div class="header_iconBorder display_inlineFlex"><img ng-src="{{companyIcon !='' ? companyIcon : 'images/logo_icon.png'}}" class="medium_width100 width100 logo_icon"> </div>
            <div class="display_inlineFlex"><img ng-src="{{companyLogo !='' ? companyLogo : 'images/logo.png'}}" class="medium_width100 logo_class"> </div> -->
            <!-- <div class="header_iconBorder display_inlineFlex"><img ng-src="{{companyIcon !='' ? companyIcon : 'images/i_logo.png'}}" class="medium_width100 width100 logo_icon"> </div>
            <div class="display_inlineFlex logo_dimensions"><img ng-src="{{companyLogo !='' ? companyLogo : 'images/logo.png'}}" class="medium_width100 logo_class"> </div> -->
        </div>
        <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-12">
            <div class="toggleMenuContainer" ng-click="headerControllerScope.closeMenu()">
                <span><i class="fa fa-bars menuIcons" aria-hidden="true"></i></span>
            </div>
            <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                <span class="headerHeading capitalizeText">{{headerControllerScope.headerMenu}}</span>
            </div>
            <div class="width100 col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0 header_open">
                <ul class="config_fld deskTopView header_rightMargin25 position_fixed">
                    <li class="login_textColor">{{headerControllerScope.userName}}</li>
                    <li class="padd0">
                        <img ng-src="{{headerControllerScope.photo}}" class="imgspc profile-pic-header" ng-if="headerControllerScope.photo">
                        <img src="images/i_header.png" class="profile-pic-header img-40x40" ng-if="headerControllerScope.isPhotoAvailable"/>
                    </li>
                    <li class="pad0 header_dropdown">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="menu1">
                                <span class="glyphicon glyphicon-th"></span>
                            </button>
                            <ul class="dropdown-menu  menu_list marginTop21px">
                                <li>
                                    <a href="#!/myinfo" class="menus_inline"><img src="images/i_menu_myinfo.png" class="padding_right15 hover_imageHide" /><img src="images/i_menu_myinfo_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24"> User Profile</span></a>
                                </li>
                                <li>
                                    <a href="#" class="menus_inline"><img src="images/i_menu_administration.png" class="padding_right15 hover_imageHide" /><img src="images/i_menu_administration_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24"> Settings</span></a>
                                </li>
                                <li ng-click="headerControllerScope.logout()">
                                    <a class="menus_inline"><img src="images/i_logout.png" class="padding_right15 hover_imageHide" /><img src="images/i_logout_active.png" class="padding_right15 hover_imageShow display_none" /><span class="line_height24"> Logout</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="config_fld resp_menus">
                    <li>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button">
                                <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                            <ul class="dropdown-menu dropdown-user  menu_list">
                                <li>
                                    <a href="#!/myinfo">User Profile</a>
                                </li>
                                <li>
                                    <a href="#">Settings</a>
                                </li>
                                <li ng-click="headerControllerScope.logout(user)">
                                    <a>Logout</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>