<div class="loader_backdrop" ng-if="hrPolicyControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">HR Policies</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		 <li role="presentation" data-toggle="modal" data-target="#hrPolicy"
												data-backdrop="static" data-keyboard="false"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New Policy</span></a></li>
								      <li role="presentation" ng-click="hrPolicyControllerScope.exportData()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_export.png" class="padding_right15 hover_imageHide" /><img src="images/i_export_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Export Policies</span></a></li>
								      <li role="presentation" ng-click="hrPolicyControllerScope.openImportPage()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_import.png" class="padding_right15 hover_imageHide" /><img src="images/i_import_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Import Policies</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <!-- <div class="width100">
                                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
											<span  class="outline0"
												data-toggle="modal" data-target="#hrPolicy"
												data-backdrop="static" data-keyboard="false">
												<button type="button" class="add_btn"
													ng-click="hrPolicyControllerScope.openAddHrPolicy()">
													<i class="fa fa-plus" aria-hidden="true"></i> 
													<span class="paddLeft5">Add New</span>
                                        		</button>
                                        	</span>
                                        </span>
                                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0 text-right">
                                        <button class="glyphicon glyphicon-export action_btn" ng-click="hrPolicyControllerScope.exportData()"></button>
                                        <button class="glyphicon glyphicon-import action_btn margin_left0 margin_right0" ng-click="hrPolicyControllerScope.openImportPage()"></button></span>
                                    </div> -->
                                    <!-- <div class="width100 ">
                                        <input type="text" ng-model="hrPolicyControllerScope.searchName" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div> -->
                                </div>
                            </div>
                             <div ng-if="hrPolicyControllerScope.dataMsg != ''">
                               <p class="text-center grey_text margin0 padding_top0">{{hrPolicyControllerScope.dataMsg}}</p>
                            </div>
                        
                       
                        <div id="list-wrapper" ng-if="hrPolicyControllerScope.hrPolicyList.length > 0">
                            <div class="red-icon create-employee">
                                <div class="row backGreyColor" ng-repeat="hrPolicy in hrPolicyControllerScope.hrPolicyList | filter : { name: hrPolicyControllerScope.searchName } | orderBy : '-id'  ">
                                    <div class="input_section padd0">
                                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 lineHeight25 padd0">
                                            <span class="outline0 font_weight600" data-toggle="modal" data-target="#hrPolicy" data-backdrop="static" data-keyboard="false">
													<span ng-click="hrPolicyControllerScope.gotoEditHrPolicy(hrPolicy)" class="policy_text cursor_pointer break-word">{{hrPolicy.name}}</span>
                                            </span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padd0 text-center">
                                            <ul class="padd0 margin0">
                                                <li class="line_height24 padd0">
                                                    <span ng-if="hrPolicy.status=='a'" class="label_success">Active</span>
                                                    <span ng-if="hrPolicy.status=='i'" class="label_danger">In-Active</span>
                                                    <span class="pipe_text15">|</span>
                                                    <span class="cursorPointer" ng-click="hrPolicyControllerScope.changeStatus(hrPolicy)">Make
																<span ng-if="hrPolicy.status=='i'">Active</span>
                                                    <span ng-if="hrPolicy.status=='a'">In-Active</span>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
           
    <div id="hrPolicy" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="hrPolicyControllerScope.decline()"></button>
                    <h4 class="modal-title">HR Policy Details</h4>
                </div>
                <div class="modal-body">
                    <form name="hrPolicyControllerScope.hrPolicyForm">
                        <div class="">
                            <textarea type="text" name="value" class="inputClass width100" placeholder="Policy&#42;" ng-model="hrPolicyControllerScope.hrPolicy.value" required></textarea>
                            <p ng-show="hrPolicyControllerScope.hrPolicyForm.value.$invalid && hrPolicyControllerScope.hrPolicyForm.value.$touched" class="reqStar">Kindly Enter Policy</p>
                        </div>
                         <div class="form-group row mob-pos-rel lead_dropdown">
                           <div class="col-sm-12 col-md-12 col-lg-12 pad-right-0 mob-pad-right-15 padd0">
                               <div class="customDropDown">
                              <select class="select1 dropdown inputClass width100 stateoptions shadow" ng-model="hrPolicyControllerScope.hrPolicy.roleId">
                                  <option   value="" selected="selected" >Select Role</option>
                                   <option class="font_weight600" value="{{role.id}}" ng-repeat="role in hrPolicyControllerScope.roleList">{{role.name}}</option>
  							</select>
                          </div>
                          </div>
                          </div>
                          
                         <div class="form-group row margin_top10" ng-if="hrPolicyControllerScope.isReportingMangager">
                                       <label class="control-label col-sm-6 col-md-6 text-right">Reporting Manager<span class="padd_left8">:</span></label>
                                       <label class="col-sm-6 col-md-6 padd0 mob-pad-right-15">
                                         <span ng-if="hrPolicyControllerScope.reportingList.reportToName">  {{hrPolicyControllerScope.reportingList.reportToName}}</span> <span ng-if="hrPolicyControllerScope.reportingList.reportToName">, </span> <span>{{hrPolicyControllerScope.reportingList.deptMngrName}}</span>
                                       </label>
                           </div>
                        
                        <div class="col-sm-12 col-md-12 pad-right-0 mob-pad-right-15 padd0 margin_top5">
                                        <button class="activeBtn btn" type="button" ngf-select ng-model="hrPolicyControllerScope.hrPolicy.file" multiple>Add Files</button>
                                            
                                            <!-- <ul ng-if="hrPolicyControllerScope.hrPolicy.file && hrPolicyControllerScope.hrPolicy.file.length > 0">
                                        <li ng-repeat="f in hrPolicyControllerScope.hrPolicy.file" style="font: smaller">{{f.name}} 
                                            <span class="progress" ng-show="f.progress >= 0">
                                            <div style="width: {{f.progress}}" ng-bind="f.progress + '%'"></div>
                                            </span>
                                        </li>
                                        
                                    </ul> -->
                                    <ul ng-if="hrPolicyControllerScope.hrPolicy.file && hrPolicyControllerScope.hrPolicy.file.length > 0">
                                            <li ng-repeat="f in hrPolicyControllerScope.hrPolicy.file" style="font: smaller">{{f.name}} {{f.$errorParam}} 
                                                <span class="progress" ng-show="f.progress >= 0">
                                                    <div style="width: {{f.progress}}" ng-bind="f.progress + '%'"></div>
                                                </span>
                                            </li>
                                            <li ng-repeat="f in errFiles" style="font: smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
                                        </ul>
                                        <ul ng-if="hrPolicyControllerScope.hrPolicy.fromEditFile && hrPolicyControllerScope.hrPolicy.fromEditFile.length > 0">
                                            <li ng-repeat="f in hrPolicyControllerScope.hrPolicy.fromEditFile" style="font: smaller">
                                                {{f.name}}
                                            </li>
                                        </ul>
                                        </div>
                        <div class="modal-footer padd0 clear_both">
                            <button type="button" class="defaultBtn btn" data-dismiss="modal" ng-click="hrPolicyControllerScope.decline()">Decline</button>
                            <button type="button" ng-show="!hrPolicyControllerScope.isUpdate" ng-disabled="hrPolicyControllerScope.hrPolicyForm.$invalid" class="activeBtn btn" ng-click="hrPolicyControllerScope.addHrPolicy()">Save</button>
                            <button type="button" ng-disabled="hrPolicyControllerScope.hrPolicyForm.$invalid" class="activeBtn btn" ng-show="hrPolicyControllerScope.isUpdate" ng-click="hrPolicyControllerScope.editHrPolicy()">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>