<div class="loader_backdrop" ng-show="leaveManagementControllerScope.spinner || leaveManagementControllerScope.getSpinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer lineheight21">Leave Status</div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <!-- <div class="input_section"> 
                                    <div class="width100 mobile_viewShow">
                                        <input type="text" ng-model="leaveManagementControllerScope.search" ng-keyup="leaveManagementControllerScope.checkEmptyListLeaveStatus()" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div>
                                </div> -->
                                 <div class=" table_data" ng-if="leaveManagementControllerScope.leaveStatusList.length > 0">
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="employeeControllerScope.deleteEmployee()"></i>
									            	</th> --> 
									                <th>Employee Id</th>
									                <th>Employee Name</th>
									                <!-- <th>Sick Leaves</th> -->
									                <th>Availed Leaves</th>
									                <th>Available Leaves</th>
									                <!-- <th>Status</th> -->
									            </tr>
									            <!-- <tr class="table_search">
									            	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.empId" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                  <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.name" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.title" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									               <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.compEmail" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.personalContact" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.emptypeName" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									            </tr> -->
									        </thead>
									        <tbody >
									        	
									            <tr ng-repeat="leave in leaveManagementControllerScope.leaveStatusList | orderBy:'-id' | filter :  leaveManagementControllerScope.search | filter: {status : leaveManagementControllerScope.status}| limitTo : limitToShow : beginFrom track by $index" class="backGreyColor">
									               <!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->    
									                 <td ng-click="leaveManagementControllerScope.goToLeaveStatus(leave.types)" class="cursor_pointer" data-toggle="modal" data-target="#leaveStatus"
												data-backdrop="static" data-keyboard="false">{{leave.empId}}</td>         
									                <td class="">{{leave.name}}</td>
									                <!--  <td class="text-center">{{leave.types[1].days}}</td> -->
									                 <td class="text-center">{{leave.availedLeaves}}</td>
									                <td class="text-center">{{leave.totalDays-leave.availedLeaves}}</td>
									               
									                <!-- <td class="text-center"> <span class="label_warning">Pending</span>
                                                	<span ng-if="leave.status == 'a'" class="label_success">Approved</span>
                                                	<span ng-if="leave.status == 'o'" class="label_blue">Re-Open</span>
                                                	<span ng-if="leave.status == 'r'" class="label_danger">Rejected</span></td> -->
									            </tr>
									        </tbody>
										</table>
						            	<p ng-if="(employeeControllerScope.employeeList |  
                                                                     filter : employeeControllerScope.searchName | 
                                                                     filter: { emptypeName : employeeControllerScope.search.emptypeName, status : employeeControllerScope.search.status, personalContact : employeeControllerScope.search.personalContact, companyEmail : employeeControllerScope.search.compEmail, empId : employeeControllerScope.search.empId, name : employeeControllerScope.search.name, title : employeeControllerScope.search.title }).length == 0" class="text-center grey_text margin0">Employee Details Not Available</p>
		                        </div>
		                        <div class="table_btn" ng-if="leaveManagementControllerScope.leaveStatusList.length > 0">
                                    <button ng-click="leaveManagementControllerScope.showPrevNav()" ng-if="leaveManagementControllerScope.isDataAvailable && leaveManagementControllerScope.leaveStatusList.length > 0"
                                     ng-disabled="leaveManagementControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':leaveManagementControllerScope.buttonBeginFrom == 0}"
                                     class="">Prev</button>

                                    <span ng-repeat="i in leaveManagementControllerScope.leaveStatusList | limitTo : leaveManagementControllerScope.buttonLimitToShow : leaveManagementControllerScope.buttonBeginFrom">
                                        <button ng-class="{ 'active' : i.isActiveClass }" ng-if="leaveManagementControllerScope.buttonBeginFrom + $index < leaveManagementControllerScope.leaveStatusList.length / leaveManagementControllerScope.buttonLimitToShow"
                                         ng-click="leaveManagementControllerScope.gotoPage($index * leaveManagementControllerScope.buttonLimitToShow + leaveManagementControllerScope.buttonBeginFrom * leaveManagementControllerScope.buttonLimitToShow, leaveManagementControllerScope.buttonBeginFrom + $index)">
                                            {{leaveManagementControllerScope.buttonBeginFrom + $index + 1}}
                                        </button>
                                    </span>
                                    <button ng-click="leaveManagementControllerScope.showNextNav()" ng-if="leaveManagementControllerScope.isDataAvailable && leaveManagementControllerScope.leaveStatusList.length > 0"
                                     ng-disabled="leaveManagementControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':leaveManagementControllerScope.isNextDisabled}">Next</button>
                                     <span 
			             				ng-if="leaveManagementControllerScope.isDataAvailable && leaveManagementControllerScope.leaveStatusList.length > 0" class="pull-right line_height34" >{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < leaveManagementControllerScope.leaveStatusList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < leaveManagementControllerScope.leaveStatusList.length)">{{leaveManagementControllerScope.leaveStatusList.length}}</span> of {{leaveManagementControllerScope.leaveStatusList.length}}</span>
                                </div>
                            </div>
                            <div ng-if="leaveManagementControllerScope.msg != ''">
                            <p class="text-center grey_text margin0 padding_top0">{{leaveManagementControllerScope.msg}}</p>
                        </div>
                        </div>
                        
                      <!--  <div id="list-wrapper">
                            <div infinite-scroll="hrRequestControllerScope.addMoreItems()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1" ng-repeat="leave in leaveManagementControllerScope.leaveStatusList | orderBy:'-id' | filter :  leaveManagementControllerScope.search | filter: {status : leaveManagementControllerScope.status}">
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-1 padd0 responsive_textCenter responsive_textCenter responsivemargin_top10 margin_bottom15">
                                                <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true"></i>
                                            </div>
                                            <div class="responsive_textCenter display_webkit">
                                                <span class="anchor_text break-word capitalizeText cursor_default">{{leave.name}}</span>
                                                <span class="pipe_text" ng-if="leave.designation != ''">|</span>
                                                <span class="span_text capitalizeText">{{leave.designation}}</span>
                                            </div>
                                            <div class="col-lg-10 padd0">
	                                            <div class="row" ng-repeat="type in leave.types">
		                                            <div class="col-lg-6 padd0">
		                                                    <div class="">
		                                                        <ul class="padd0 left_text margin-bottom0">
		                                                            <li class="row">
		                                                                <label class="col-xs-6 padd0">{{type.typeName}} ( Total )</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{type.days}}</span></li>
		                                                        </ul>
		                                                    </div>
		                                            </div>
		                                            <div class="col-lg-6 padd0">
		                                                    <div class="">
		                                                        <ul class="padd0 left_text margin-bottom0">
		                                                            <li class="row">
		                                                                <label class="col-xs-6 padd0">{{type.typeName}} ( Used )</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{type.usedLeaves}}</span></li>
		                                                        </ul>
		                                                    </div>
		                                            </div>
		                                 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    <div id="leaveStatus" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close white opacity1px" data-dismiss="modal"></button>
                    <h4 class="modal-title">Leave Status Details</h4>
                </div>
                <div class="modal-body">
                   
                        <div class=" table_data" ng-if="leaveManagementControllerScope.leaveTypeList.length > 0">
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									                <th>Leave Type</th>
									                <th>Total Days</th>
									                <th>Availed Leaves</th>
									                <th>Available Leaves</th>
									            </tr>
									        </thead>
									        <tbody >
									        	
									            <tr ng-repeat="leave in leaveManagementControllerScope.leaveTypeList | orderBy:'-id' " class="backGreyColor">
									                <td class="fontWeight_normal">{{leave.typeName}}</td>
									                <td class="text-center">{{leave.days}}</td>
									                 <td class="text-center">{{leave.usedLeaves}}</td>
									                <td class="text-center">{{leave.days-leave.availedLeaves}}</td>
									               
									                <!-- <td class="text-center"> <span class="label_warning">Pending</span>
                                                	<span ng-if="leave.status == 'a'" class="label_success">Approved</span>
                                                	<span ng-if="leave.status == 'o'" class="label_blue">Re-Open</span>
                                                	<span ng-if="leave.status == 'r'" class="label_danger">Rejected</span></td> -->
									            </tr>
									        </tbody>
										</table>
						            	<p ng-if="(employeeControllerScope.employeeList |  
                                                                     filter : employeeControllerScope.searchName | 
                                                                     filter: { emptypeName : employeeControllerScope.search.emptypeName, status : employeeControllerScope.search.status, personalContact : employeeControllerScope.search.personalContact, companyEmail : employeeControllerScope.search.compEmail, empId : employeeControllerScope.search.empId, name : employeeControllerScope.search.name, title : employeeControllerScope.search.title }).length == 0" class="text-center grey_text margin0">Employee Details Not Available</p>
		                        </div>
                  
                </div>
            </div>
        </div>
    </div>