<div class="loader_backdrop" ng-if="loginControllerScope.spinner">
     <div class="loader loader_position"></div>
      </div>
<div id="wrapper" class="login_page_section">
	<!-- <nav class="navbar navbar-default navbar-fixed-top  background_white menu_bottom">
                <div class="menu_width padd0">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="http://spheresuite.com" class="icon_img"><img src="images/logo_icon.png" class="logo_img2"></a>
                        <a href="http://spheresuite.com" class="navbar-brand"><img src="images/logo.png" class="logo_img1"></a>
                    </div>
                    <div class="collapse navbar-collapse padd_TB10" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="padd_15 navhead-mob">Phone : +91-89717 40001</li>
                            <li class="padd_15 navhead-mob">Email : sales@spheresuite.com</li>

                            <li class="padd_10"><a href="#" class="padd0"><button type="button" class="signup_btn">SIGNUP</button></a></li>
                        </ul>
                        <div class="navbar-head main_menu">
                            <ul class="nav navbar-nav navbar-right" id="navhead">
                                <li class=""><a href="http://spheresuite.com" class="menu_padd">Home</a></li>
                                <li><a href="#" class="menu_padd dropdown">Features</a>
                                   
                                </li>
                                <li><a href="industries" class="menu_padd dropdown">Industries</a>
                                </li>
                                <li><a href="contact" class="menu_padd padd_right0">Reach Us</a></li>
                                <a href="#demo" class="responsive_btnPadd">
                                    <button type="button" class="menu_demo_btn">Get ERP FREE</button>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav> -->

<div class="login_contentPage" ng-show="loginControllerScope.loginDiv">
<div class="row">
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 padd_RL30 border_right1px">
        <div class="">
        <img src="images/login_icon.png" alt="SphereSuite" class="img-responsive responsive_logoSize">
        </div>
    </div>
    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 padd_RL30">
        <div class="login_conentSection">
            <img src="images/login_logo.png" alt="logo" class="img-responsive">
           
            <h3 class="margin_bottom5">Sign In</h3>
             <p ng-if="loginControllerScope.isWrongCredential" class="reqStar" ng-class="loginControllerScope.isPasswordSent?'successText':''">{{loginControllerScope.msg}}</p>
             <form name="loginControllerScope.loginForm">
            <div class="margin_TB20">
            	<div class="animateGroup"> 
            	<input name="email" type="email" ng-model="loginControllerScope.user.email" ng-keydown="loginControllerScope.clearErrorMsg()" ng-keypress="loginControllerScope.keyPress($event.keyCode,'login')" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' class="loginInput login_inputSection" required/>
                    <div class="animatelabel">Email Id</div>
                    <div class="lineeff"></div>
                 </div>
                 <p ng-if="loginControllerScope.loginForm.email.$error.pattern && loginControllerScope.loginForm.email.$invalid && loginControllerScope.loginForm.email.$touched" class="reqStar margin_top10">Kindly Enter Valid Email</p>
            	<div class="animateGroup margin_top15"> 
            	<input name="password" type="password" ng-model="loginControllerScope.user.password" ng-keyup="loginControllerScope.clearErrorMsg()" ng-keypress="loginControllerScope.keyPress($event.keyCode,'login')" class="loginInput login_inputSection" required/>
                    <div class="animatelabel">Password</div>
                    <div class="lineeff"></div>
                 </div>
                 <p ng-if="loginControllerScope.loginForm.password.$invalid && loginControllerScope.loginForm.password.$touched" class="reqStar margin_top10">Kindly Enter Password</p>
            </div>
            </form>
            <p class="login-botttom-txt brandColor">Forgot Password, <span class="resetPswBtn reset_textColor" ng-click="loginControllerScope.showForgotPassword()">Click Here!</span></p>
            <div class="clear_both">
            	<button type="button" class="activeBtn login_btnPosition font_weight600" ng-click="loginControllerScope.login()">Login</button>
            </div>
             <!-- <p class="login-botttom-txt brandColor margin_top10">By signing in, you agree to our <a class="reset_textColor">Terms</a> and <a class="reset_textColor">Privacy Policy</a></p> -->
        </div>
    </div>
</div>
</div>
<div class="login_contentPage" ng-show="loginControllerScope.resetPasswordDiv">
	<div class="row">
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 border_right1px padd_RL30">
        <div class="">
        <img src="images/login_icon.png" alt="SphereSuite" class="img-responsive responsive_logoSize">
        </div>
    </div>
    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 padd_RL30">
        <div class="login_conentSection">
            <img src="images/login_logo.png" alt="logo" class="img-responsive">
           
            <h3 class="margin_bottom5">Reset Password</h3>
            <p>Reset Password
				Enter the email address you used to sign up for SPHERESUITE and we'll send you an email with a link to reset password.</p>
             <p ng-if="loginControllerScope.isWrongCredential" class="reqStar" ng-class="loginControllerScope.isPasswordSent?'successText':''">{{loginControllerScope.msg}}</p>
             <form name="loginControllerScope.loginForm">
            <div class="margin_TB20">
            	<div class="animateGroup"> 
            	<input id="user_email" type="text" class="loginInput login_inputSection" ng-model="loginControllerScope.email" ng-keypress="loginControllerScope.keyPress($event.keyCode,'reset')" name="sendEmail" required>
                    <div class="animatelabel">Email Id</div>
                    <div class="lineeff"></div>
                 </div>
                 <p ng-if="loginControllerScope.sendPasswordForm.sendEmail.$touched && loginControllerScope.sendPasswordForm.sendEmail.$invalid" class="reqStar margin_topMinus10">Kindly Enter Valid Email</p>
            </div>
            </form>
            <p class="login-botttom-txt brandColor">Go Back To, <a href="#!login.html"><span class="resetPswBtn reset_textColor">Login</span></a></p>
            <div class="clear_both">
            	<button type="button" class="activeBtn login_btnPosition font_weight600" ng-click="loginControllerScope.sendPassword()">Reset</button>
            </div>
             <!-- <p class="login-botttom-txt brandColor margin_top10">By signing in, you agree to our <a class="reset_textColor">Terms</a> and <a class="reset_textColor">Privacy Policy</a></p> -->
        </div>
    </div>
</div>
</div>
<!-- <footer>
            <div class="row footer_position">
                <div class="footer_color text-center col-lg-12 col-xs-12">
                    <p class="footerCopy">Copyright&nbsp;@&nbsp;SphereSuite&nbsp;2017&nbsp;|&nbsp;All Rights Reserved</p>
                </div>
            </div>
        </footer> -->
</div>
                <!-- <div class="col-xs-12 login-col login_min_height marginTB15">
                    <form role="form" name="loginControllerScope.sendPasswordForm">
                        <div class="row">
                            <div class="form-group clearfix margin_bottom20">
                                <h3 class="login-title brandColor">Reset Password</h3>
                                <p class="login-botttom-txt brandColor">Enter the email address you used to sign up for SPHERESUITE and we'll send you an email with a link to reset password.</p>
                                <p ng-if="loginControllerScope.isWrongCredential" class="reqStar" ng-class="loginControllerScope.isPasswordSent?'successText':''">{{loginControllerScope.msg}}</p>
                            </div>
                            <div class="">
                                <div class="input-group col-xs-12 margin_bottom20 dsply_webkitFlex">
                                    <div id="email_icon" class="f-icon col-xs-1 padd0 iconBorder height44">
                                        <i class="fa fa-envelope login_padd13 font_size14" aria-hidden="true"></i>
                                    </div>
                                    <input id="user_email" placeholder="Email Id" type="text" class="iconized border_none col-xs-11 height44" ng-model="loginControllerScope.email" ng-keypress="loginControllerScope.keyPress($event.keyCode,'reset')" name="sendEmail" required>
                                </div>
                                <span class="text-danger hidden">Please enter email</span>
                            </div>
                            <p ng-if="loginControllerScope.sendPasswordForm.sendEmail.$touched && loginControllerScope.sendPasswordForm.sendEmail.$invalid" class="reqStar margin_topMinus10">Kindly Enter Valid Email</p>
                            <p class="login-botttom-txt brandColor">Go Back To <span class="gotoReset resetPswBtn"><a href="#!login.html" class="gotoReset resetPswBtn text-left">Login</a></span></p>
                            <div class="form-group clearfix">
                                <button type="button" class="btn login_btn btn-social col-xs-12 sign-padding" ng-click="loginControllerScope.sendPassword()">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
                 <div class="col-xs-12">
                    <div id="footerText" class="text-center">
                        <div class="row-fluid brandColor">
                            <p class="cursor_defaualt">&#169 2017 SphereSuite</p>
                        </div>
                    </div>
                </div> -->
<!-- <div class="login-header">
    <img title="" alt="" src="images/logo.png">
</div>
   <div class="loader_backdrop" ng-if="loginControllerScope.spinner">
     <div class="loader loader_position"></div>
      </div>
<div class="login-body">
    <div class="display_table">
        <div class="display_tableCell">
            <div id="login-form-wrapper" class="row login-block loginbox" ng-show="loginControllerScope.loginDiv">
                <h3 class="login-title brandColor">Login To SphereSuite</h3>
                <div id="login-form-content" class="col-xs-12 col-md-12 login-col login_min_height">
                    <p ng-if="loginControllerScope.isWrongCredential" class="reqStar" ng-class="loginControllerScope.isPasswordSent?'successText':''">{{loginControllerScope.msg}}</p>
                    <form name="loginControllerScope.loginForm">
                        <div class="">
                            <div class="input-group col-xs-12 margin_bottom20 dsply_webkitFlex">
                                <div id="email_icon border" class="f-icon col-xs-1 padd0 iconBorder height44">
                                  
                                    <img src="images/mail-icon.png" class="login_padd3"/>
                                </div>
                                <input name="email" type="email" ng-model="loginControllerScope.user.email" ng-keydown="loginControllerScope.clearErrorMsg()" ng-keypress="loginControllerScope.keyPress($event.keyCode,'login')" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' placeholder="Email Id" class="iconized border_none col-xs-11 height44" required>
                            </div>
                            <p ng-if="loginControllerScope.loginForm.email.$error.pattern && loginControllerScope.loginForm.email.$invalid && loginControllerScope.loginForm.email.$touched" class="reqStar margin_topMinus10">Kindly Enter Valid Email</p>
                        </div>
                        <div class="">
                            <div class="input-group col-xs-12 margin_bottom20 dsply_webkitFlex">
                                <div id="password_icon" class="f-icon col-xs-1 padd0 iconBorder height44">
                                   
                                    <img src="images/password.png" class="login_padd3"/>
                                </div>
                                <input name="password" type="password" ng-model="loginControllerScope.user.password" ng-keyup="loginControllerScope.clearErrorMsg()" ng-keypress="loginControllerScope.keyPress($event.keyCode,'login')" placeholder="Password" class="iconized border_none col-xs-11 height44" required>
                            </div>
                        </div>
                        <p ng-if="loginControllerScope.loginForm.password.$invalid && loginControllerScope.loginForm.password.$touched" class="reqStar margin_topMinus10">Kindly Enter Password</p>
                        <div class="form-group clearfix margin_bottom20">
                            <p class="login-botttom-txt brandColor">Forgot Password, <span class="gotoReset resetPswBtn" ng-click="loginControllerScope.showForgotPassword()">Click Here!</span></p>
                            <button type="button" class="btn login_btn btn-social login_width100 sign-padding" ng-click="loginControllerScope.login()">Login</button>
                            <p class="login-botttom-txt brandColor">By signing in, you agree to our <a class="gotoReset">Terms</a> and <a class="gotoReset">Privacy Policy</a></p>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12">
                    <div id="footerText" class="text-center brandColor">
                        <div class="row-fluid brandColor">
                            <p class="cursor_defaualt grey_text">&#169 2017 SphereSuite</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="password-remind-wrapper" class="row login-block" ng-show="loginControllerScope.resetPasswordDiv">
                <div class="col-xs-12 login-col login_min_height marginTB15">
                    <form role="form" name="loginControllerScope.sendPasswordForm">
                        <div class="row">
                            <div class="form-group clearfix margin_bottom20">
                                <h3 class="login-title brandColor">Reset Password</h3>
                                <p class="login-botttom-txt brandColor">Enter the email address you used to sign up for SPHERESUITE and we'll send you an email with a link to reset password.</p>
                                <p ng-if="loginControllerScope.isWrongCredential" class="reqStar" ng-class="loginControllerScope.isPasswordSent?'successText':''">{{loginControllerScope.msg}}</p>
                            </div>
                            <div class="">
                                <div class="input-group col-xs-12 margin_bottom20 dsply_webkitFlex">
                                    <div id="email_icon" class="f-icon col-xs-1 padd0 iconBorder height44">
                                        <i class="fa fa-envelope login_padd13 font_size14" aria-hidden="true"></i>
                                    </div>
                                    <input id="user_email" placeholder="Email Id" type="text" class="iconized border_none col-xs-11 height44" ng-model="loginControllerScope.email" ng-keypress="loginControllerScope.keyPress($event.keyCode,'reset')" name="sendEmail" required>
                                </div>
                                <span class="text-danger hidden">Please enter email</span>
                            </div>
                            <p ng-if="loginControllerScope.sendPasswordForm.sendEmail.$touched && loginControllerScope.sendPasswordForm.sendEmail.$invalid" class="reqStar margin_topMinus10">Kindly Enter Valid Email</p>
                            <p class="login-botttom-txt brandColor">Go Back To <span class="gotoReset resetPswBtn"><a href="#!login.html" class="gotoReset resetPswBtn text-left">Login</a></span></p>
                            <div class="form-group clearfix">
                                <button type="button" class="btn login_btn btn-social col-xs-12 sign-padding" ng-click="loginControllerScope.sendPassword()">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12">
                    <div id="footerText" class="text-center">
                        <div class="row-fluid brandColor">
                            <p class="cursor_defaualt">&#169 2017 SphereSuite</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->