<div class="loader_backdrop" ng-if="mailBoxControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="background_white" ng-if="configuremail">
                   <!--  <div class="card-heading">
                        <div class="row">
                            <div class="text-muted col-xs-6">{{mailBoxControllerScope.divValue}}</div>
                            <span class="text-right col-xs-6"><span data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="fa fa-sign-out signOut_icon cursor_pointer" aria-hidden="true" ng-click="mailBoxControllerScope.logout()"></i></span></span>
                        </div>
                    </div> -->
                    <div class="row configmenurow card">
                        <!-- <div class="col-sm-1 col-xs-4 configmenu1 border_right">
                            <li ng-class="{'active':mailBoxControllerScope.divValue === 'Inbox'}" ng-click="mailBoxControllerScope.changeDiv('Inbox')">Inbox</li>
                            <li ng-class="{'active':mailBoxControllerScope.divValue === 'Sent Mail'}" ng-click="mailBoxControllerScope.changeDiv('Sent Mail')">Sent Mail</li>
                            <li ng-click="mailBoxControllerScope.logout()">Log Out</li>
                        </div> -->
                        <div class="col-sm-12 col-xs-12 padd0 height100">
                            <div class="" ng-if="!mailBoxControllerScope.isShowMail">
                                <div class="">
                                    <div class="create-employee">
                                        <div class="row">
                                            <div class="text-center">
                                                <div class="inbox_background">
                                                    <div class="row height53 inbox_padd5 padding_top14 background_white inbox_border1">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-left display_inlineFlex">
                                                            <div class="inbox_check cursor_pointer"  ng-if="!mailBoxControllerScope.msg || mailBoxControllerScope.msg ==''">
                                                                <input type="checkbox" class="parentCheckBox" ng-model="mailBoxControllerScope.checkbox" ng-click="mailBoxControllerScope.toggleCheck()">
                                                                <label class="cursor_defaualt">All</label>
                                                            </div>
                                                            <span ng-click="mailBoxControllerScope.getMails()" data-toggle="tooltip" data-placement="bottom" title="Refresh {{mailBoxControllerScope.divValue}}"><i class="fa fa-repeat inbox_refreshIcon cursor_pointer" aria-hidden="true"></i></span>
                                                            
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-8 padd_right0">
                                                        <span><input type="text" placeholder="search" class="width100 padding_4px"/></span>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-right">
                                                            <div>
                                                                <span class="line_height24 count_position">
                                                    			<span ng-if="mailBoxControllerScope.mailList.length > 0">{{mailBoxControllerScope.currentMailIndex + 1}}</span>
                                                                <span ng-if="mailBoxControllerScope.mailList.length == 0" class="font_weight600 brand_color">0</span> - <span class="font_weight600 brand_color">{{mailBoxControllerScope.mailOfCount}}</span> of <span class="font_weight600 brand_color">{{mailBoxControllerScope.mailList.length}}</span>
                                                                </span>
                                                                <span ng-click="mailBoxControllerScope.getPrevMailSet()" data-toggle="tooltip" data-placement="bottom" title="Previous {{mailBoxControllerScope.mailToShowCount}} Mails"><i class="fa fa-angle-left inbox_pageIcon border_right1 cursor_pointer" aria-hidden="true"></i></span>
                                                                <span ng-click="mailBoxControllerScope.getNextMailSet()" data-toggle="tooltip" data-placement="bottom" title="Next {{mailBoxControllerScope.mailToShowCount}} Mails"><i class="fa fa-angle-right inbox_pageIcon margin_leftminus3 cursor_pointer" aria-hidden="true"></i></span>
                                                                <span class="dropdown mailbox_dropdown padd0 header_dropdown">
									                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
									                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
									                        		 <ul class="dropdown-menu dropdown-menu-right padd0 top32" role="menu" aria-labelledby="menu1">
									                        		 <li role="presentation" class="mail_img">
									                        		 	<a href="javascript:void(0);">
										                        		 	<span class="right_menus line_height24">
											                        		 	<span class="display_inlineFlex">
											                        		 	 	<img ng-src="{{mailBoxControllerScope.photo}}" class="imgspc profile-pic-header" ng-if="mailBoxControllerScope.photo">
		                        													<img src="images/i_header.png" class="profile-pic-header"/>
		                        													<span class="mail_namePosition">
		                        														<p class="margin0 line_height18">{{mailBoxControllerScope.userEmployeeList.firstName}} {{mailBoxControllerScope.userEmployeeList.middleName}} {{mailBoxControllerScope.userEmployeeList.lastName}}</p>
		                        														<p class="margin0 line_height18">{{mailBoxControllerScope.userEmployeeList.email}}</p>
		                       														</span>
		                    													</span>
	                    													</span>
                    													</a>
                   													</li><!-- 									                        		 
									                        		 <li role="presentation">
									                        		 	<a href="javascript:void(0);">
									                        		 		<span class="right_menus line_height24">{{mailBoxControllerScope.userEmployeeList.firstName}} {{mailBoxControllerScope.userEmployeeList.middleName}} {{mailBoxControllerScope.userEmployeeList.lastName}}</span><br/>
									                        		 		<span class="right_menus line_height24">{{mailBoxControllerScope.userEmployeeList.email}}</span>
									                        		 	</a>
								                        		 	 </li> -->
									                        		 <li role="presentation" data-toggle="modal" data-target="#compose" data-backdrop="static" data-keyboard="false" ng-click="mailBoxControllerScope.composeDiv()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_compose.png" class="padding_right15 hover_imageHide" /><img src="images/i_compose_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Compose</span></a></li>
																	      <li role="presentation" ng-click="mailBoxControllerScope.changeDiv('Inbox')"><a role="menuitem" tabindex="-1" href="javascript:void(0)"><img src="images/i_inbox.png" class="padding_right15 hover_imageHide" /><img src="images/i_inbox_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Inbox</span></a></li>
																			<li role="presentation"  ng-click="mailBoxControllerScope.changeDiv('Sent Mail')"><a role="menuitem" tabindex="-1" href="javascript:void(0)"><img src="images/i_sentmail.png" class="padding_right15 hover_imageHide" /><img src="images/i_sentmail_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Sent Mail</span></a></li>
																			<li role="presentation" ng-click="mailBoxControllerScope.logout()"><a role="menuitem" tabindex="-1" href="javascript:void(0)"><img src="images/i_logout.png" class="padding_right15 hover_imageHide" /><img src="images/i_logout_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Logout</span></a></li>
																      </ul>
									                        		
									                        	</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row text-left inbox_padd5 inbox_border1 cursor_pointer" ng-repeat="mail in mailBoxControllerScope.mailList | limitTo : mailBoxControllerScope.mailToShowCount : mailBoxControllerScope.currentMailIndex" ng-class="{{mail.emailseen}} == false ? 'mail_falseBackground' : ''">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                                            <div class="inbox_check inbox_wordWrap">
                                                                <input type="checkbox" class="parentCheckBox" ng-model="mail.isChecked">
                                                                <label class="cursor_defaualt" ng-click="mailBoxControllerScope.showMail(mail.uId, $index + 1, mailBoxControllerScope.divValue)" ng-class="{{mail.emailseen}} == false ? 'mail_falseBackground' : ''">
                                                                	<span data-toggle="tooltip" data-placement="bottom" title="{{mail.address}}" ng-if="mailBoxControllerScope.divValue=='Inbox'">
                                                               			<span ng-if="mail.name && mail.name !=''">{{mail.name}} </span>
                                                               			<span ng-if="!mail.name ||  mail.name ==''">{{mail.address}}</span>
                                                               		</span>
                                                               		<span data-toggle="tooltip" data-placement="bottom" title="{{mail.to}}" ng-if="mailBoxControllerScope.divValue=='Sent Mail'">
                                                               			<span ng-if="mail.name && mail.name !=''">{{mail.name}}</span>
                                                               			<span ng-if="!mail.name ||  mail.name ==''">{{mail.address}}</span>
                                                               		</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" ng-click="mailBoxControllerScope.showMail(mail.uId, $index + 1, mailBoxControllerScope.divValue)">
                                                            <p class="line_height24 inbox_wordWrap margin0">{{mail.subject}}</p>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 inbox_paddLeft0 text-right" ng-click="mailBoxControllerScope.showMail(mail.uId, $index + 1, mailBoxControllerScope.divValue)">
                                                            <span class="inbox_padd15" ng-if="mail.attachedFile && mail.attachedFile != ''"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                                                            <span class="line_height24 text-right">{{mail.date | date :'MMM DD'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="" ng-if="mailBoxControllerScope.isShowMail">
                                <div class="">
                                    <div class="create-employee">
                                        <div class="row">
                                            <div class="input_section text-center">
                                                <div class="inbox_background">
                                                    <div class="row height53 padding12 inbox_padd5 inbox_border1 background_white">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left display_inlineFlex">
                                                            <div class="">
                                                                <span ng-click="mailBoxControllerScope.showMailList()" ><i class="fa fa-angle-double-left inbox_refreshIcon cursor_pointer" aria-hidden="true"></i></span>
                                                                <span><i class="fa fa-trash inbox_refreshIcon cursor_pointer" aria-hidden="true"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                                                            <div><span class="top_minus3 position_relative"><span class=font_weight600 >{{mailBoxControllerScope.mailIndex + 1}}</span> of <span class=font_weight600 >{{mailBoxControllerScope.mailList.length}}</span></span>
                                                                <span ng-click="mailBoxControllerScope.getPrevMail()"><i class="fa fa-angle-left inbox_pageIcon border_right1 cursor_pointer" aria-hidden="true"></i></span>
                                                                <span ng-click="mailBoxControllerScope.getNextMail()"><i class="fa fa-angle-right inbox_pageIcon margin_leftminus3 cursor_pointer" aria-hidden="true"></i></span>
                                                                 <span class="dropdown mailbox_dropdown top_minus3 header_dropdown">
									                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
									                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
									                        		 <ul class="dropdown-menu dropdown-menu-right padd0 top32" role="menu" aria-labelledby="menu1">
																			<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_reply.png" class="padding_right15 hover_imageHide" /><img src="images/i_reply_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Reply</span></a></li>
																			<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_replyall.png" class="padding_right15 hover_imageHide" /><img src="images/i_replyall_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Reply All</span></a></li>
																      </ul>
									                        		
									                        	</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row text-left">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <p class="line_height24 font_weight600 margin0 inbox_padd10">{{mailBoxControllerScope.mail.subject}}</p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 inbox_mailPadd10">
                                                                <span><i class="fa fa-user-circle inbox_userIcon" aria-hidden="true"></i></span>
                                                                <span class="font_weight600 mail_padd break-word">{{mailBoxControllerScope.mail.address}}</span>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right inbox_mailPadd10">
                                                                <span class="line_height24">{{mailBoxControllerScope.mail.time}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="inbox_textBack">
                                                        <p ng-bind-html="mailBoxControllerScope.mail.content | trustAsHtml" class="emailTemplate break-word"></p>
                                                    </div>
                                                    <div>
                                                        <div class="text-center">
                                                            <a download="{{mailBoxControllerScope.mail.attachFile}}" ng-href="{{mailBoxControllerScope.mail.attachedFile}}"><img ng-src="{{mailBoxControllerScope.mail.attachedFile}}" ng-if="mailBoxControllerScope.mail.ext == 'IMAGE' && mailBoxControllerScope.mail.attachFile !=''" style="display:block;border:1px solid #000;width:100px;height:100px;margin: auto;" ng-click="mailBoxControllerScope.downloadImage(mailBoxControllerScope.mail.attachedFile)"></a>
                                                            <a ng-href="{{mailBoxControllerScope.mail.attachedFile}}" class="cursor_pointer" ng-if="mailBoxControllerScope.mail.ext != 'IMAGE' && mailBoxControllerScope.mail.attachFile !=''" style="display:block;border:1px solid #000;width:100px;height:100px;;margin: auto;" target="_blank">{{mailBoxControllerScope.mail.attachFile}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
	                        <div ng-if="mailBoxControllerScope.msg && mailBoxControllerScope.msg !=''">
	                            <p class="text-center grey_text innerdivContainer">{{mailBoxControllerScope.msg}}</p>
	                        </div>
                        </div>
                    </div>
                </div>
           <div id="compose" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="mailBoxControllerScope.declineEmail()"><i class="fa fa-times close_button" aria-hidden="true"></i></button>
                <h4 class="modal-title">Compose Mail</h4>
            </div>
            <div class="modal-body red-icon">
                    <div class="">
                    	
                     <div class="width100 ">
                       <div class="">
                           <form name="mailBoxControllerScope.emailForm">
                               <div class="form-group row">
                                   <label class="control-label col-sm-12 col-md-2 lineHeight28 margin0 respadd0">From</label>
                                   <div class="col-sm-12 col-md-10 pad-right-0 mob-pad-right-15 padd0">
                                       <input type="text" name="from" class="col-md-9 width100 lead_borderBottom1 read_only" ng-model="mailBoxControllerScope.email.from" placeholder="From*" readonly required>
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-12 col-md-2 lineHeight28 margin0 respadd0">To</label>
                                   <div class="col-sm-12 col-md-10 pad-right-0 mob-pad-right-15 padd0">
                                       <input type="text" name="to" class="width100 lead_borderBottom1" email-validator ng-model="mailBoxControllerScope.email.to" placeholder="To*">
                                       <p ng-if="mailBoxControllerScope.emailForm.to.$invalid && mailBoxControllerScope.emailForm.to.$touched" class="reqStar">Kindly Enter Valid Email</p>
                                       <span class="cc_text cursor_pointer" ng-if="!mailBoxControllerScope.isCc" ng-click="mailBoxControllerScope.toggleCc()">Cc</span> <span class="bcc_text cursor_pointer" ng-if="!mailBoxControllerScope.isBcc" ng-click="mailBoxControllerScope.toggleBcc()">Bcc</span>
                                   </div>
                               </div>
                               <div class="form-group row" ng-if="mailBoxControllerScope.isCc">
                                   <label class="control-label col-sm-12 col-md-2 lineHeight28 margin0">Cc</label>
                                   <div class="col-sm-12 col-md-10 pad-right-0 mob-pad-right-15 padd0">
                                       <input type="text" name="cc" class="col-md-9 width100 lead_borderBottom1" multipleEmail ng-model="mailBoxControllerScope.email.cc" placeholder="Cc">
                                       <p ng-if="mailBoxControllerScope.emailForm.cc.$invalid && mailBoxControllerScope.emailForm.cc.$touched" class="reqStar">Kindly Enter Valid Email</p>
                                   </div>
                               </div>
                               <div class="form-group row" ng-if="mailBoxControllerScope.isBcc">
                                   <label class="control-label col-sm-12 col-md-2 lineHeight28 margin0">Bcc</label>
                                   <div class="col-sm-12 col-md-10 pad-right-0 mob-pad-right-15 padd0">
                                       <input type="text" name="bcc" class="col-md-9 width100 lead_borderBottom1" multipleEmail ng-model="mailBoxControllerScope.email.bcc" placeholder="Bcc">
                                       <p ng-if="mailBoxControllerScope.emailForm.bcc.$invalid && mailBoxControllerScope.emailForm.bcc.$touched" class="reqStar">Kindly Enter Valid Email</p>
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <label class="control-label col-sm-12 col-md-2  lineHeight28 margin0 respadd0">Subject</label>
                                   <div class="col-sm-12 col-md-10 pad-right-0 mob-pad-right-15 padd0">
                                       <input type="text" name="subject" class="width100 lead_borderBottom1" ng-model="mailBoxControllerScope.email.subject" placeholder="Subject">
                                   </div>
                               </div>
                               <textarea class="width100 border_none heigth150 padding_left15" ng-model="mailBoxControllerScope.email.body" placeholder="Content Goes Here....."></textarea>
                                              <div class="attachment_icons">
                                                  <button class="attachment_btn" ngf-select ng-model="mailBoxControllerScope.email.file" multiple>
                                                   	 <i class="fa fa-paperclip cursor_pointer" aria-hidden="true" ></i>
                                                  </button>
												<!-- <p ng-repeat="f in mailBoxControllerScope.email.file | orderBy:'name'" style="font: smaller">{{f.name}}</p> -->
												<ul ng-if="mailBoxControllerScope.email.file && mailBoxControllerScope.email.file.length > 0">
		                                            <li ng-repeat="f in mailBoxControllerScope.email.file" style="font: smaller">{{f.name}} {{f.$errorParam}} <span class="reqStar cursor_pointer" ng-click="opportunityControllerScope.removeItem(opportunityControllerScope.opportunity.file, $index)">X</span>
		                                            	<span class="progress" ng-show="f.progress >= 0">
															<div style="width: {{f.progress}}" ng-bind="f.progress + '%'"></div>
														</span>
		                                            </li>
		                                            <li ng-repeat="f in errFiles" style="font: smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
		                                        </ul>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                                   <div class="text-right margin_top15">
                     	 <button class="defaultBtn btn" type="button" ng-click="mailBoxControllerScope.declineEmail()" data-dismiss="modal">Decline</button>
                                      <button class="activeBtn btn" type="button" ng-click="mailBoxControllerScope.sendEmail()" data-dismiss="modal" ng-disabled="!mailBoxControllerScope.isEmail">Send</button>
                     </div>
                                 
                    

                      </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="activeBtn btn" data-dismiss="modal">Decline</button> 
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>