<div class="loader_backdrop" ng-if="mailBoxControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="">
                        <div class="mail_section">
                            <div class="row">
                                <div class="mail_input">
                                    <h3 class="margin_bottom5">Sign In</h3>
             <form name="mailBoxControllerScope.loginForm" >
            <div class="margin_TB20">
            	<div class="animateGroup"> 
            	<input type="text" name="email" class="loginInput login_inputSection" ng-model="mailBoxControllerScope.loginData.email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' ng-keypress="mailBoxControllerScope.isEnterKeyPressed($event.keyCode)" required/>
                    <div class="animatelabel">Email Id</div>
                    <div class="lineeff"></div>
                 </div>
                 <p ng-if="mailBoxControllerScope.loginForm.email.$error.pattern && mailBoxControllerScope.loginForm.email.$invalid && mailBoxControllerScope.loginForm.email.$touched" class="reqStar padding_top10">Kindly Enter Valid Email</p>
            	<div class="animateGroup margin_top15"> 
            	<input type="password" name="password" class="loginInput login_inputSection"  ng-model="mailBoxControllerScope.loginData.password"  ng-keypress="mailBoxControllerScope.isEnterKeyPressed($event.keyCode)" required />
                    <div class="animatelabel">Password</div>
                    <div class="lineeff"></div>
                 </div>
                 <p ng-if="mailBoxControllerScope.loginForm.password.$invalid && mailBoxControllerScope.loginForm.password.$touched" class="reqStar padding_top10">Kindly Enter Valid Password</p>
            </div>
           
            <div class="clear_both">
            	<button class="defaultBtn btn" type="button" ng-click="mailBoxControllerScope.decline()">Decline</button>
            	<button class="activeBtn btn" type="button" ng-click="mailBoxControllerScope.emailLogin()">Sign In</button>
            </div> </form>
                                    <!-- <div class="col-lg-6 col-md-6 col-xs-6 col-xs-6 text-center" ng-if="mailBoxControllerScope.isSelectProvider">
                                    	<span><img src="images/i_gmail.png" class="img-responsive margin_auto mailBox_icon" /></span>
                                    	<button type="button" class="mail_btn" ng-click="mailBoxControllerScope.selectProvider('gmail')">Login With Gmail</button>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-6 col-xs-6 text-center" ng-if="mailBoxControllerScope.isSelectProvider">
                                    	<span><img src="images/i_yahoo.png" class="img-responsive margin_auto mailBox_icon" /></span>
                                    	<button type="button" class="mail_btn" ng-click="mailBoxControllerScope.selectProvider('yahoo')">Login With Yahoo</button>
                                    </div>
                                    <form name="mailBoxControllerScope.loginForm" class="form-horizontal formContainer" ng-if="!mailBoxControllerScope.isSelectProvider">
                                    	 <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Email Id</label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="email" class="inputClass"  placeholder="Email Id" ng-model="mailBoxControllerScope.loginData.email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' ng-keypress="mailBoxControllerScope.isEnterKeyPressed($event.keyCode)" required/>
                                            <p ng-if="mailBoxControllerScope.loginForm.email.$error.pattern && mailBoxControllerScope.loginForm.email.$invalid && mailBoxControllerScope.loginForm.email.$touched" class="reqStar">Kindly Enter Valid Email</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Password</label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="password" name="password" class="inputClass" placeholder="Password"  ng-model="mailBoxControllerScope.loginData.password"  ng-keypress="mailBoxControllerScope.isEnterKeyPressed($event.keyCode)" required />
                                            <p ng-if="mailBoxControllerScope.loginForm.password.$invalid && mailBoxControllerScope.loginForm.password.$touched" class="reqStar">Kindly Enter Valid Password</p>
                                        </div>
                                    </div>
                                     <div class="text-center" style="margin-top:20px;">
                                        <button class="defaultBtn btn" type="button" ng-click="mailBoxControllerScope.decline()">Decline</button>
                                        <button class="activeBtn btn" type="button" ng-click="mailBoxControllerScope.emailLogin()">Sign In</button>
                                    </div>
                                    </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            