<div class="loader_backdrop" ng-if="myCompensationControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>
<div class="rightContainer">
	<div class="pageTitleParent">
		 <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">My Compensation</span>
                        </div>
                       <!--  <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);">Export</a></li>
								      <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);">Import</a></li>
							      </ul>
                        		
                        	</div>
                        </div> -->
                        </div>
   		<div class="innerdivContainer red-icon create-employee">
       		<div class="row margin_minus10">
           		<div class="input_section">
           		<div class="text-center" ng-if="!myCompensationControllerScope.CtcShow">
           		          <p class="margin0">{{ myCompensationControllerScope.ctcMsg}}</p>
           		</div>
           		 <div class="col-lg-12 col-xs-12 padd0" ng-if="myCompensationControllerScope.CtcShow">
           		 <div class="col-lg-4 col-xs-12 padd_left0 margin_right85">
           		 	 <div class="responsive_textCenter compensation_text">
                                            <span class="span_text capitalizeText">Employee</span>
                                        </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <p class="compensation_name">{{myCompensationControllerScope.userEmployeeList.firstName}} {{myCompensationControllerScope.userEmployeeList.middleName}} {{myCompensationControllerScope.userEmployeeList.lastName}}</p>
                                                        <p class="comp_address">{{myCompensationControllerScope.employeeAddressList.addressTypeName}}, {{myCompensationControllerScope.employeeAddressList.address1}} {{myCompensationControllerScope.employeeAddressList.address2}}, 
                                                        {{myCompensationControllerScope.employeeAddressList.city}} - {{myCompensationControllerScope.employeeAddressList.zip}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        <div class="responsive_textCenter clear_both compensation_text padding_top20">
                                            <span class="span_text capitalizeText">Basic Information</span>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                           <li class="row">
                                                            <label class="col-xs-6 padd0">Employee Id</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText text-right">{{myCompensationControllerScope.userEmployeeList.id}}</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Joining Date</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all text-right">{{myCompensationControllerScope.userEmployeeList.startDate | date:"MMM d, y"}}</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Designation</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText text-right">{{myCompensationControllerScope.userEmployeeList.title}}</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Payment Type</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText text-right">Bank</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Bank Name</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText text-right">{{myCompensationControllerScope.employeeBankDetailsList.bankName}}</span></li>
                                                        <li class="row" >
                                                            <label class="col-xs-6 padd0">Bank IFSC</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText text-right">{{myCompensationControllerScope.employeeBankDetailsList.ifscCode}}</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Bank A/C</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText text-right">{{myCompensationControllerScope.employeeBankDetailsList.accountNumber}}</span></li>
                                                        <li class="row" >
                                                            <label class="col-xs-6 padd0">Adhaar No</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText text-right">{{myCompensationControllerScope.userEmployeeList.aadhar}}</span></li>
                                                        <li class="row" >
                                                            <label class="col-xs-6 padd0">Pan No</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText text-right">{{myCompensationControllerScope.userEmployeeList.panno}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                          <div class="col-lg-7 col-xs-12 padd_right0" ng-show="myCompensationControllerScope.CtcShow">
           		 	
                                            
                                        <div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Earnings / Allowances</span>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="" ng-if="myCompensationControllerScope.leadListByEmp.employeeCompensationEarningList.length > 0">
                                                        <ul class="padd0 left_text">
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Year To Date</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="earnings in myCompensationControllerScope.leadListByEmp.employeeCompensationEarningList">
                                                            <label class="col-xs-6 padd0">{{earnings.earningName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{earnings.monthly | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{earnings.ytd | number : 2}}</span>
                                                            </li>
                                                            <li class="row">
                                                            <span class="col-xs-6 padd0 font_weight600">Total ( A )</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{myCompensationControllerScope.leadListByEmp.earningMonth | number : 2}}</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{myCompensationControllerScope.leadListByEmp.earningYear | number : 2}}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p ng-if="!myCompensationControllerScope.leadListByEmp.employeeCompensationEarningList.length > 0" class="text-center grey_text margin10">
                                                    	Earnings not available
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Deductions</span>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="" ng-if="myCompensationControllerScope.leadListByEmp.employeeCompensationDeductionList.length > 0">
                                                        <ul class="padd0 left_text">
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Year To Date</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="deduction in myCompensationControllerScope.leadListByEmp.employeeCompensationDeductionList">
                                                            <label class="col-xs-6 padd0">{{deduction.deductionName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{deduction.monthly | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{deduction.ytd | number : 2}}</span>
                                                            </li>
                                                       		 <li class="row" >
                                                            <span class="col-xs-6 padd0 font_weight600">Total ( B )</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{myCompensationControllerScope.leadListByEmp.deductionMonth | number : 2}}</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{myCompensationControllerScope.leadListByEmp.deductionYear | number : 2}}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p ng-if="!myCompensationControllerScope.leadListByEmp.employeeCompensationDeductionList.length > 0" class="text-center grey_text margin10">
                                                    	Deduction not available
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Taxes</span>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row" >
                                                    <div class="" ng-if="myCompensationControllerScope.leadListByEmp.employeeCompensationTaxList.length > 0">
                                                        <ul class="padd0 left_text">
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Year To Date</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="tax in myCompensationControllerScope.leadListByEmp.employeeCompensationTaxList">
                                                            <label class="col-xs-6 padd0">{{tax.taxName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{tax.monthly | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{tax.ytd | number : 2}}</span>
                                                            </li>
                                                       
                                                       		 <li class="row">
                                                            <span class="col-xs-6 padd0 font_weight600">Total ( C )</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{myCompensationControllerScope.leadListByEmp.taxMonth | number : 2}}</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{myCompensationControllerScope.leadListByEmp.taxYear | number : 2}}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p ng-if="!myCompensationControllerScope.leadListByEmp.employeeCompensationTaxList.length > 0" class="text-center grey_text margin10">
                                                    	Taxes not available
                                                    </p>
                                                </div>
                                                
                                            </div>
                                            
                                            <div class="col-lg-12 padd10">
                                                <div class="row">
                                                    <div class="">
                                                    	 <ul class="padd0 left_text">
                                                    	 	<li class="row">
                                                            <span class="col-xs-6 padd0 font_weight600">Net Amount (A - ( B+C ))</span>
                                                            
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{myCompensationControllerScope.netTotalMonth | number :2}}</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{myCompensationControllerScope.netTotalYear | number :2}}</span>
                                                            </li>
                                                    	 </ul>
                                                    </div>
                                                    </div>
                                                    </div>
                                        </div>
                                        <p class="text-center" ng-show="!myCompensationControllerScope.CtcShow">Compensation Details not Available</p>
                                        </div>
               		<!-- <div class="col-lg-12 col-xs-12 padd0"  ng-show="myCompensationControllerScope.CtcShow">
                                         <div class=" table_data">
			                        	<table wt-responsive-table class="compensation_table">
									        <thead>
									            <tr>
									            	<th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="myCompensationControllerScope.deleteEmployee()"></i>
									            	</th>
									                <th>Employee Name</th>
									                <th>CTC</th>
									                <th>Start Date</th>
									                <th>End Date</th>
									                <th>Status</th>
									            </tr>
									           
									        </thead>
									        <tbody >
									        	
									            <tr class="backGreyColor">
									                <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>              
									                <td ng-click="myCompensationControllerScope.viewEmployee(employee.id)" class="cursor_pointer">{{myCompensationControllerScope.userEmployeeList.firstName}} {{myCompensationControllerScope.userEmployeeList.middleName}} {{myCompensationControllerScope.userEmployeeList.lastName}}</td>
									                <td>{{ myCompensationControllerScope.leadListByEmp.empctc }}</td>
									                <td class="text-center">{{ myCompensationControllerScope.leadListByEmp.startDate }}</td>
									                <td>{{ myCompensationControllerScope.leadListByEmp.endDate }}</td>
									                <td> <span  class="label_success">Active</span>
                                                            <span class="label_danger">In-Active</span></td>
									            </tr>
									        </tbody>
										</table>
						            	
		                        </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                           <li class="row">
                                                            <label class="col-xs-6 padd0">Code</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{myCompensationControllerScope.userEmployeeList.empId}}</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Name</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{myCompensationControllerScope.userEmployeeList.firstName}} {{myCompensationControllerScope.userEmployeeList.middleName}} {{myCompensationControllerScope.userEmployeeList.lastName}}</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Father Name</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">sapta</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Department</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{myCompensationControllerScope.userEmployeeList.deptName}}</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Designation</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{myCompensationControllerScope.userEmployeeList.title}}</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Bank Name</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText"> </span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Account No</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText"> </span></li>
                                                       
                                                       
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                            <li class="row">
                                                            	<label class="col-xs-6 padd0">Birth Date</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{myCompensationControllerScope.userEmployeeList.dateOfBirth | date:"MMM d, y"}}</span></li>
	                                                        <li class="row">
	                                                            <label class="col-xs-6 padd0">Joining Date</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{myCompensationControllerScope.userEmployeeList.startDate | date:"MMM d, y"}}</span></li>
	                                                        <li class="row">
	                                                            <label class="col-xs-6 padd0">Pan No</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{myCompensationControllerScope.userEmployeeList.panno}}</span></li>
	                                                        <li class="row">
	                                                            <label class="col-xs-6 padd0">Adhar Card No</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{myCompensationControllerScope.userEmployeeList.aadhar}}</span></li>
	                                                        <li class="row">
	                                                            <label class="col-xs-6 padd0">Pf No</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all"> </span></li>
	                                                        <li class="row">
	                                                            <label class="col-xs-6 padd0">Joining Location</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{myCompensationControllerScope.userEmployeeList.workLocationCity }}</span></li>
	                                                        <li class="row">
	                                                            <label class="col-xs-6 padd0">Days Payable</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">30</span></li> 
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row padd0">
                                            <div class="col-lg-6 col-xs-12 padd0">
                                            <table class="table table-bordered">
                                            <caption class="text-center"><span class=" text-center font_weight600">EARNINGS(Rs.)</span></caption>
											    <thead>
											      <tr>
											        <th>Description</th>
											        <th>Monthly</th>
											        <th>YTD</th>
											      </tr>
											    </thead>
											    <tbody>
											      <tr  ng-repeat="earning in myCompensationControllerScope.leadListByEmp.employeeCompensationEarningList">
											        <td>{{earning.earningName}}</td>
											        <td class="text-right">{{earning.monthly | number:0}}.00</td>
											        <td class="text-right">{{earning.ytd | number:0}}.00</td>
											      </tr> 
											      <tr>
											      	<td class="font_weight600">Total Earnings</td>
											      	<td class="font_weight600 text-right">{{myCompensationControllerScope.leadListByEmp.earningMonth | number:0}}.00</td>
											      	<td class="font_weight600 text-right">{{myCompensationControllerScope.leadListByEmp.earningYear | number:0}}.00</td>
											      </tr>
											       <tr>
											      	<td class="font_weight600 tableborder_none">Net Payable Amount</td>
											      	<td class="font_weight600 text-right tableborder_none">{{myCompensationControllerScope.leadListByEmp.earningMonth | number:0}}.00</td>
											      	<td class="font_weight600 text-right tableborder_none">{{myCompensationControllerScope.leadListByEmp.earningYear -  myCompensationControllerScope.leadListByEmp.deductionYear| number:0}}.00</td>
											      </tr>
											    </tbody>
											  </table>
											  </div>
											  <div class="col-lg-6 col-xs-12 padd0">
                                            <table class="table table-bordered">
                                            <caption class="text-center"><span class="text-center font_weight600">DEDUCTION(Rs.)</span></caption>
											    <thead>
											      <tr>
											        <th>Description</th>
											        <th>Monthly</th>
											        <th>YTD</th>
											      </tr>
											    </thead>
											    <tbody>
											      <tr ng-repeat="deduction in myCompensationControllerScope.leadListByEmp.employeeCompensationDeductionList">
											         <td>{{deduction.deductionName}}</td>
											          <td class="text-right">{{deduction.monthly| number:0}}.00</td>
											           <td class="text-right">{{deduction.ytd| number:0}}.00</td>
											      </tr> 
											      <tr> 
											      	<td class="font_weight600">Total Deduction</td>
											      	<td class="font_weight600 text-right">{{myCompensationControllerScope.leadListByEmp.deductionMonth| number:0}}.00</td>
											      	<td class="font_weight600 text-right">{{myCompensationControllerScope.leadListByEmp.deductionYear| number:0}}.00</td>
											      </tr>
											    </tbody>
											  </table>
											  </div>
											  </div>
                                        </div> -->
             	</div>
			</div>
		</div>
	</div>
</div>


