<div class="loader_backdrop" ng-show="payrollControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                     <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">My IT Savings</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		  <li role="presentation" data-toggle="modal" data-target="#itsavings" data-backdrop="static" data-keyboard="false">
                                    <a href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a>
                                </li>
                                
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row margin_minus10">
                                <div class="input_section">
                                    <div class="width100 mobile_viewShow">
                                        <div class="customDropDown col-lg-6 col-md-6 col-sm-6 col-xs-12 padd0 responsive_select margin_top5">
                                            <select id="select4" name="employee" class="dropdown selectClass col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left" ng-model="payrollControllerScope.empType">
                                                <option value="" selected="selected">Select Employee Type</option>
                                                <option value="" >All</option>
                                                <option value="{{employee.id}}" ng-repeat="employee in payrollControllerScope.EmployeeTypeList | orderBy : 'name' ">{{employee.name}}</option>
                                            </select>
                                        </div>
                                       
                                    </div>
                                    <div class="width100 mobile_viewShow">
                                        <input type="text" ng-model="payrollControllerScope.searchName" ng-keyup="payrollControllerScope.searchMe('emp',true)" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div> 
                                    
			                        <div ng-if="!payrollControllerScope.empItSavingsList.length > 0">
			                            <p class="text-center grey_text margin0 responsive_margin10">IT Saving Details Not Available</p>
			                        </div>
                                    <div class=" table_data" ng-if="payrollControllerScope.empItSavingsList.length > 0">
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="payrollControllerScope.deleteEmployee()"></i>
									            	</th> --> 
									                <th>Financial Year</th>
									                <th>Employee Id</th>
									                <th>Employee Name</th>
									                <th>Saving Name</th>
									                 <th>Section</th> 
									                <th>Max Limit</th> 
									                <th>Amount</th>
									                <th>Status</th>
									            </tr>
									            
									        </thead>
									        <tbody >
									        	
									            <tr  class="backGreyColor" ng-repeat="empItSavings in payrollControllerScope.empItSavingsList | limitTo :  limitToShow : beginFrom">
									               <!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->    
									                 <td class="cursor_pointer text-center" ng-click="payrollControllerScope.gotoEditSavings(empItSavings)">{{empItSavings.fromDate}} - {{empItSavings.toDate}}</td> 
									                 <td>{{empItSavings.empId}}</td>
                                                     <td>{{empItSavings.empName}}</td>
									                <td>{{empItSavings.itSavingSettingName}}</td>
									                 <td>{{empItSavings.section}}</td>
									                <td class="text-right">{{empItSavings.maxLimit | number:2}}</td>
									                <td class="text-right">{{empItSavings.amount | number:2}}</td>
									                <td class="text-center"> 
										                <span ng-if="empItSavings.status =='s'" class="label_gray">Submitted</span>
										                <span ng-if="empItSavings.status =='a'" class="label_success">Accepted</span>
										                <span ng-if="empItSavings.status =='v'" class="label_success">Verified</span>
										                <span ng-if="empItSavings.status =='r'" class="label_danger">Rejected</span>
									                </td>
									            </tr>
									        </tbody>
										</table>
						            	<!-- <p ng-if="payrollControllerScope.empItSavingsList.length > 0" class="text-center grey_text margin0">IT Savings Details Not Available</p> -->
		                        </div>
		                        <div class="table_btn" ng-if="payrollControllerScope.empItSavingsList.length > 0">
		                        <button ng-click="payrollControllerScope.showPrevNav()" 
		                        	ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.empItSavingsList.length > 0" 
		                        	ng-disabled="payrollControllerScope.buttonBeginFrom == 0"
		                        	ng-class="{'cursor_notAllowed':payrollControllerScope.buttonBeginFrom == 0}" class="">Prev</button>
		                        	
		                        <span ng-repeat="i in payrollControllerScope.empItSavingsList | limitTo : payrollControllerScope.buttonLimitToShow : payrollControllerScope.buttonBeginFrom">
		                        	 
		                        	<button ng-class="{ 'active' : i.isActiveClass }" 
		                        		ng-if="payrollControllerScope.buttonBeginFrom + $index < payrollControllerScope.empItSavingsList.length / payrollControllerScope.buttonLimitToShow" 
		                        		ng-click="payrollControllerScope.gotoPage('emp',$index * payrollControllerScope.buttonLimitToShow + payrollControllerScope.buttonBeginFrom * payrollControllerScope.buttonLimitToShow, payrollControllerScope.buttonBeginFrom + $index)">
		                        		{{payrollControllerScope.buttonBeginFrom + $index + 1}}
		                        	</button>
		                        </span>
		                        <button ng-click="payrollControllerScope.showNextNav('emp')" 
		                        	ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.empItSavingsList.length > 0" 
		                        	ng-disabled="payrollControllerScope.isNextDisabled"
		                        	ng-class="{'cursor_notAllowed':payrollControllerScope.isNextDisabled}">Next</button>
		                        	<span 
			             	ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.empItSavingsList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < payrollControllerScope.empItSavingsList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < payrollControllerScope.empItSavingsList.length)">{{payrollControllerScope.empItSavingsList.length}}</span> of {{payrollControllerScope.empItSavingsList.length}}</span>
		                        	</div>
		                        </div>
                                    
                                </div>
                            </div>
                        </div>
                       
                    </div>
<div id="itsavings" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="payrollControllerScope.declineMyItSavings()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                <h4 class="modal-title">My IT Savings</h4>
            </div>
            <form name="payrollControllerScope.myItSavingsForm">
                <div class="modal-body">
                	<label class="font_weight600">Financial Year : {{payrollControllerScope.fromDate}} - {{payrollControllerScope.toDate}}</label>
                    <div class="form-group">
                        <div class="user_select100">
                            <select class="select1 dropdown inputClass width100" name="itSavingSettingId" ng-model="payrollControllerScope.myItSavings.itSavingSettingId" ng-change="payrollControllerScope.getSavingsData(payrollControllerScope.myItSavings.itSavingSettingId)"> 
                                <option value="" ng-if="!payrollControllerScope.myItSavings.itSavingSettingId || payrollControllerScope.myItSavings.itSavingSettingId == ''">Select Saving type*</option>
                        		<option value="{{myItSaving}}" ng-repeat="myItSaving in payrollControllerScope.itSavingsList" >{{myItSaving.name}}</option>
                            </select>
                        </div>
                    </div>
                    <input type="text" name="section" class="inputClass width100 margin_top5" ng-model="payrollControllerScope.myItSavings.section"  ng-disabled="payrollControllerScope.myItSavings.section || payrollControllerScope.myItSavings.section!=''" placeholder="Section"/>
                    <!-- <p class="reqStar" ng-if="payrollControllerScope.myItSavingsForm.section.$invalid && payrollControllerScope.myItSavingsForm.section.$touched">Kindly Enter Valid Name</p> -->
                    <input type="text" name="maxLimit" class="inputClass width100" ng-model="payrollControllerScope.myItSavings.maxLimit" placeholder="Max Limit" ng-disabled="payrollControllerScope.myItSavings.maxLimit || payrollControllerScope.myItSavings.maxLimit!=''"/>
                    <!-- <p class="reqStar" ng-if="payrollControllerScope.myItSavingsForm.maxLimit.$invalid && payrollControllerScope.myItSavingsForm.maxLimit.$touched">Kindly Enter Valid Display Name</p> -->

                    <input type="text" name="section" class="inputClass width100" ng-model="payrollControllerScope.myItSavings.amount" placeholder="Amount*" />
                   
               
                    
                    <textarea name="comment" class="inputClass width100" ng-model="payrollControllerScope.myItSavings.comment" placeholder="Comments"></textarea>
                   <div class="form-group row mob-pos-rel">
	                            <div class="col-sm-12 col-md-7 padd0  inputClass borderNone">
	                                <button class="activeBtn btn" type="button" ngf-select ng-model="payrollControllerScope.myItSavings.file" multiple>Add Files</button>
	                                <ul ng-if="payrollControllerScope.myItSavings.file && payrollControllerScope.myItSavings.file.length > 0">
	                                    <li ng-repeat="f in payrollControllerScope.myItSavings.file" style="font: smaller">{{f.name}} {{f.$errorParam}} 
	                                    	<span class="progress" ng-show="f.progress >= 0">
											<div style="width: {{f.progress}}" ng-bind="f.progress + '%'"></div>
											</span>
	                                    </li>
	                                    <li ng-repeat="f in errFiles" style="font: smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
	                                </ul>
	                                <!-- <ul ng-if="payrollControllerScope.myItSavings.fromEditFile && payrollControllerScope.myItSavings.fromEditFile.length > 0">
	                                    <li ng-repeat="f in payrollControllerScope.myItSavings.fromEditFile" style="font: smaller">
	                                    	{{f.name}}
	                                    	<span class="reqStar cursor_pointer" ng-click="opportunityControllerScope.removeItem(payrollControllerScope.myItSavings.fromEditFile, $index)">X</span>
	                                    </li>
	                                </ul> -->
	                            </div>
	                        </div>
                </div>
                <div class="modal-footer">
                    <button class="defaultBtn" data-dismiss="modal" ng-click="payrollControllerScope.declineMyItSavings()">Decline</button>
                    <button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.addmyItSavings()"
                    	ng-disabled="payrollControllerScope.myItSavingsForm.$invalid"
                    	ng-if="!payrollControllerScope.isEdit">Save</button>
                    <!-- <button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.editAllowance()"
                    	ng-disabled="payrollControllerScope.myItSavingsForm.$invalid"
                    	ng-if="payrollControllerScope.isEdit">Update</button> -->
                </div>
            </form>
        </div>
    </div>
</div>         
<div id="viewitsavings" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="payrollControllerScope.declineMyItSavings()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                <h4 class="modal-title">Employee IT Savings</h4>
            </div>
            <form name="payrollControllerScope.allowanceForm">
                <div class="modal-body row">
                 <div class="col-lg-12 col-xs-12 padd0">
                                        
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                           <li class="row">
                                                            <label class="col-xs-6 padd0">Financial Year</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.empItSavings.fromDate}} - {{payrollControllerScope.empItSavings.toDate}}</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Employee Id</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.empItSavings.empId}}</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Employee Name</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.empItSavings.empName}}</span></li>
                                                       <li class="row">
                                                            <label class="col-xs-6 padd0">Saving Name</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.empItSavings.itSavingSettingName}}</span></li>
                                                   	</ul>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                             <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                       <li class="row">
                                                            <label class="col-xs-6 padd0">Section</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.empItSavings.section}}</span></li>     
                                                       <li class="row">
                                                            <label class="col-xs-6 padd0">Max Limit</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.empItSavings.maxLimit}}</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Amount</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.empItSavings.amount}}</span></li>
                                                        <li class="row" ng-if="payrollControllerScope.fromEditFile.length > 0">
                                                        <label class="col-xs-6 padd0">Documents</label>
                                                       	<span class="font_weight600 col-xs-6 padd0 wordBreak_all cursor_default">
                                                       		<p ng-repeat="file in payrollControllerScope.fromEditFile">
                                                       			<a download="{{file.name}}" ng-href="{{file.file}}" target="_blank">
                                                       				<i class="fa fa-paperclip font_weight600"
																		aria-hidden="true"></i> {{file.name}}<br></a>
                                                       		</p>
                                                       	</span>
                                                       	<li class="row">
                                                       	<label class="col-xs-6 padd0">Status</label>
                                                       		<span ng-if="payrollControllerScope.empItSavings.status =='s'" class="label_gray">Submitted</span>
											                <span ng-if="payrollControllerScope.empItSavings.status =='a'" class="label_success">Accepted</span>
											                <span ng-if="payrollControllerScope.empItSavings.status =='v'" class="label_success">Verified</span>
											                <span ng-if="payrollControllerScope.empItSavings.status =='r'" class="label_danger">Rejected</span>
                                                       	</li>
                                                   	</li>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                </div>
                
            </form>
        </div>
    </div>
</div>           