<div class="loader_backdrop" ng-show="payslipControllerScope.spinner || payslipControllerScope.viewempspinner">
    <div class="loader loader_position"></div>
</div>

<div class="rightContainer">
	<div class="pageTitleParent">
		<div class="row pageTitletextContainer">
			<span class="col-lg-6 col-md-6 col-sm-6 col-xs-7 padd0">
		   		<div class=""><!-- <span class="cursor_pointer back_iconPosition" ng-if="payrollControllerScope.clickToShow" ng-click="payrollControllerScope.goBackToPayrollSummary()">
		       <i class="fa fa-angle-left" aria-hidden="true"></i>
		       <i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span> --><span class="">My Payslip</span></div>
		   	</span>
	    </div>
                        
		<div class="innerdivContainer red-icon create-employee responsive_padding0 employee_placeholder">
            <div class="row">
            <div class="input_section">
            						 <div ng-if="!payslipControllerScope.isDataAvailable">
			                            <p class="text-center grey_text margin0">{{payslipControllerScope.dataMsg}}</p>
			                        </div>                      
			                        
				<div class="table_data" ng-if="payslipControllerScope.isDataAvailable">
	                <table wt-responsive-table class="custom-responsive-table padding_table10">
	                    <thead>
	                        <tr>
	                            <th>Pay Period</th>
	                            <th>Gross</th>
	                            <th>Earnings</th>
	                            <th>Deduction</th>
	                            <th>Tax</th>
	                            <th>Net</th>
	                            <th>Status</th>
	                            <th>Action</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="employee in payslipControllerScope.payrollDetailList track by $index" class="backGreyColor">
	                            <td class="text-center">{{employee.payPeriodFrom | date}}  - {{employee.payPeriodTo | date}} </td>
	                            <td class="text-right">{{employee.basicGrossPay | number:2}}</td>
	                            <td class="text-right">{{employee.earningMonth | number:2}}</t d>
	                            <td class="text-right">{{employee.deductionMonth | number:2}}</td>
	                            <td class="text-right">{{employee.taxMonth | number:2}}</td>
	                            <td class="text-right">{{employee.netMonth | number:2}}</td>
	                            <td class="text-center">
	                                <span ng-if="employee.status =='d'" class="label_gray">Draft</span>
	                                <span ng-if="employee.status =='p'" class="label_success">Processed</span>
	                                <span ng-if="employee.status =='v'" class="label_danger">Void</span>
	                            </td>
	                            <td class="text-center cursor_pointer" ng-click="payslipControllerScope.downloadPDF(employee)"><i class="fa fa-download padd_LR10" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Download" ></i></td>
	                        </tr>
	                    </tbody>
	                </table>
	                
	                 <div class="table_btn" ng-if="payslipControllerScope.payrollDetailList.length > 0">
                                    <button ng-click="payslipControllerScope.showPrevNav()" ng-if="payslipControllerScope.isDataAvailable && payslipControllerScope.payrollDetailList.length > 0"
                                     ng-disabled="payslipControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':payslipControllerScope.buttonBeginFrom == 0}"
                                     class="">Prev</button>

                                    <span ng-repeat="i in payslipControllerScope.payrollDetailList | limitTo : payslipControllerScope.buttonLimitToShow : payslipControllerScope.buttonBeginFrom">
                                        <button ng-class="{ 'active' : i.isActiveClass }" ng-if="payslipControllerScope.buttonBeginFrom + $index < payslipControllerScope.payrollDetailList.length / payslipControllerScope.buttonLimitToShow"
                                         ng-click="payslipControllerScope.gotoPage($index * payslipControllerScope.buttonLimitToShow + payslipControllerScope.buttonBeginFrom * payslipControllerScope.buttonLimitToShow, payslipControllerScope.buttonBeginFrom + $index)">
                                            {{payslipControllerScope.buttonBeginFrom + $index + 1}}
                                        </button>
                                    </span>
                                    <button ng-click="payslipControllerScope.showNextNav()" ng-if="payslipControllerScope.isDataAvailable && payslipControllerScope.payrollDetailList.length > 0"
                                     ng-disabled="payslipControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':payslipControllerScope.isNextDisabled}">Next</button>
                                     <span 
			             				ng-if="payslipControllerScope.isDataAvailable && payslipControllerScope.payrollDetailList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < payslipControllerScope.payrollDetailList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < payslipControllerScope.payrollDetailList.length)">{{payslipControllerScope.payrollDetailList.length}}</span> of {{payslipControllerScope.payrollDetailList.length}}</span>
                                </div>
                                
				</div>
			</div>
		</div>
		</div>
		
	</div>
                     
                    <!--  <div id="viewPayslipModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close white opacity1px" data-dismiss="modal"  ng-click="employeeControllerScope.decline()"><i class="fa fa-times close_button" aria-hidden="true"></i></button>
                                            <h4 class="modal-title">Payroll</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row padd0">
                        
                                        <div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Earnings / Allowances</span>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Ytd</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="earnings in payrollControllerScope.payrollDetails.employeeCompensationEarningList">
                                                            <label class="col-xs-6 padd0">{{earnings.earningName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{earnings.monthly | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{earnings.ytd | number : 2}}</span>
                                                            </li>
                                                            <li class="row" ng-if = "payrollControllerScope.empBonusShow">
                                                            <label class="col-xs-6 padd0">Bonus</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.empBonusShow | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.bonusYear | number : 2}}</span>
                                                            </li>
                                                            <li class="row">
                                                            <span class="col-xs-6 padd0 font_weight600">Total (A)</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.earningMonth | number : 2}}</p></span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.earningYear | number : 2}}</p></span>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Deductions</span>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row" ng-if="payrollControllerScope.payrollDetails.employeeCompensationDeductionList.length > 0">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">YTD</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="deduction in payrollControllerScope.payrollDetails.employeeCompensationDeductionList">
                                                            <label class="col-xs-6 padd0">{{deduction.deductionName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{deduction.monthly | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{deduction.ytd | number : 2}}</span>
                                                            </li>

                                                             <li class="row" ng-if="payrollControllerScope.payrollDetails.lossOfPayMonth > 0">
                                                            <label class="col-xs-6 padd0">Loss Of Pay</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.lossOfPayMonth | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{{payrollControllerScope.payrollDetails.lossOfPayYear | number : 2}}</span>
                                                            </li>
                                                       		 <li class="row" >
                                                            <span class="col-xs-6 padd0 font_weight600">Total (B)</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.deductionMonth | number : 2}}</p></span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.deductionYear | number : 2}}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div ng-if="!payrollControllerScope.payrollDetails.employeeCompensationDeductionList.length  > 0">
						                            <p class="text-center grey_text padding15 padding_top10">Deductions Not Available</p>
						                        </div>
                                            </div>
                                            <div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Taxes</span>
                                        </div>
                                            <div class="col-lg-12 padd0"  >
                                                <div class="row" ng-if="payrollControllerScope.payrollDetails.employeeCompensationTaxList.length  > 0">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="tax in payrollControllerScope.payrollDetails.employeeCompensationTaxList">
                                                            <label class="col-xs-6 padd0">{{tax.taxName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{tax.monthly | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{tax.ytd | number : 2}}</span>
                                                            </li>
                                                       
                                                       		 <li class="row">
                                                            <span class="col-xs-6 padd0 font_weight600">Total (C)</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.taxMonth | number : 2}}</p></span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.taxYear | number : 2}}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                 <div ng-if="!payrollControllerScope.payrollDetails.employeeCompensationTaxList.length  > 0">
						                            <p class="text-center grey_text padding15 padding_top10">Taxes Not Available</p>
						                        </div>
                                            </div>
                                            
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="">
                                                    	 <ul class="padd0 left_text">
                                                    	 	<li class="row">
                                                            <span class="col-xs-6 padd0 font_weight600">Net Amount (A -(B+C))</span>
                                                            
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.netTotalMonth | number :2}}</p></span>
                                                            </li>
                                                    	 </ul>
                                                    </div>
                                                    </div>
                                                    </div>
            
                </div>
                                    </div>  </div>
                                </div>
                            </div> -->   
                         
</div>
          