<div class="loader_backdrop" ng-show="employeeControllerScope.spinner || employeeControllerScope.viewempspinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                     <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Tickets List</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		  <li role="presentation">
                                    <a href="#!/openticket" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Open Ticket</span></a>
                                </li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row margin_minus10">
                                <div class="input_section">
                                   
                                    <div class="width100 mobile_viewShow">
                                        <input type="text" ng-model="employeeControllerScope.searchName" ng-keyup="employeeControllerScope.searchMe('emp',true)" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div> 
                                    
			                        <div ng-if="!employeeControllerScope.isDataAvailable">
			                            <p class="text-center grey_text margin0">{{employeeControllerScope.dataMsg}}</p>
			                        </div>
                                    <div class=" table_data" >
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									                <th>Ticket No</th>
									                <th>Department</th>
									                <th>Subject</th>
									                <th>Status</th>
									                <th>Last Update</th>
									            </tr>
									        </thead>
									        <tbody >
									        	
									            <tr class="backGreyColor" ng-repeat="ticketdata in ticketControllerScope.viewTicketList">
									                 <td class="cursor_pointer"><a href="#!/viewTicket">{{ticketdata.TicketNo}}</a></td>         
									                <td>{{ticketdata.Department}}</td>
									                <td>{{ticketdata.Subject}}</td>
									                <td class="text-center">
										                <span  ng-if="ticketdata.Status =='a'" class="label_success">Active</span>
	                                                    <span ng-if="ticketdata.Status =='i'" class="label_danger">In-Active</span>
                                                    </td>
                                                    <td>{{ticketdata.LastUpdate}}</td>
									            </tr>
									             <!-- <tr class="backGreyColor">
									                 <td class="cursor_pointer"><a href="#!/viewTicket">112</a></td>         
									                <td>Software</td>
									                <td>sapta</td>
									                <td class="text-center"> <span ng-if="employee.status =='i'" class="label_success">Active</span>
                                                            <span class="label_danger">In-Active</span></td>
                                                            <td>sapta</td>
									            </tr> -->
									             <!-- <tr class="backGreyColor">
									                 <td class="cursor_pointer"><a href="#!/viewTicket">113</a></td>         
									                <td>Software</td>
									                <td>sapta</td>
									                <td class="text-center"> <span class="label_success">Active</span>
                                                            <span ng-if="employee.status =='i'" class="label_danger">In-Active</span></td>
                                                            <td>sapta</td>
									            </tr> -->
									        </tbody>
										</table>
						            	<p ng-if="(employeeControllerScope.employeeList |  
                                                                     filter : employeeControllerScope.searchName | 
                                                                     filter: { emptypeName : employeeControllerScope.search.emptypeName, status : employeeControllerScope.search.status, personalContact : employeeControllerScope.search.personalContact, companyEmail : employeeControllerScope.search.compEmail, empId : employeeControllerScope.search.empId, name : employeeControllerScope.search.name, title : employeeControllerScope.search.title }).length == 0" class="text-center grey_text margin0">Employee Details Not Available</p>
		                        </div>
		                        <div class="table_btn" ng-if="(employeeControllerScope.employeeList |  
                                                                     filter : employeeControllerScope.searchName | 
                                                                     filter: { emptypeName : employeeControllerScope.search.emptypeName, status : employeeControllerScope.search.status, personalContact : employeeControllerScope.search.personalContact, companyEmail : employeeControllerScope.search.compEmail, empId : employeeControllerScope.search.empId, name : employeeControllerScope.search.name, title : employeeControllerScope.search.title }).length > 0">
		                        <!-- <spheresuitenavigation list-item="employeeControllerScope.employeeList" restrict-to="{{limitToShow}}"></spheresuitenavigation> -->
		                        <button ng-click="employeeControllerScope.showPrevNav()" 
		                        	ng-if="employeeControllerScope.isDataAvailable && employeeControllerScope.employeeList.length > 0" 
		                        	ng-disabled="employeeControllerScope.buttonBeginFrom == 0"
		                        	ng-class="{'cursor_notAllowed':employeeControllerScope.buttonBeginFrom == 0}" class="">Prev</button>
		                        	
		                        <span ng-repeat="i in employeeControllerScope.employeeList | limitTo : employeeControllerScope.buttonLimitToShow : employeeControllerScope.buttonBeginFrom">
		                        	 
		                        	<button ng-class="{ 'active' : i.isActiveClass }" 
		                        		ng-if="employeeControllerScope.buttonBeginFrom + $index < employeeControllerScope.employeeList.length / employeeControllerScope.buttonLimitToShow" 
		                        		ng-click="employeeControllerScope.gotoPage('emp',$index * employeeControllerScope.buttonLimitToShow + employeeControllerScope.buttonBeginFrom * employeeControllerScope.buttonLimitToShow, employeeControllerScope.buttonBeginFrom + $index)">
		                        		{{employeeControllerScope.buttonBeginFrom + $index + 1}}
		                        	</button>
		                        </span>
		                        <button ng-click="employeeControllerScope.showNextNav('emp')" 
		                        	ng-if="employeeControllerScope.isDataAvailable && employeeControllerScope.employeeList.length > 0" 
		                        	ng-disabled="employeeControllerScope.isNextDisabled"
		                        	ng-class="{'cursor_notAllowed':employeeControllerScope.isNextDisabled}">Next</button>
		                        	<span 
			             	ng-if="employeeControllerScope.isDataAvailable && employeeControllerScope.employeeList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < employeeControllerScope.employeeList.length">{{limitToShow}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < employeeControllerScope.employeeList.length)">{{employeeControllerScope.employeeList.length}}</span> of {{employeeControllerScope.employeeList.length}}</span>
		                        	</div>
		                        </div>
                                    
                                </div>
                            </div>
                        </div>
                       
                    </div>
          