<!-- <div class="loader_backdrop" ng-if="ticketControllerScope.spinner">
    <div class="loader loader_position"></div>
</div> -->
                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer paddLft15 lineheight21">New Ticket</div>
                        <div class="innerdivContainer red-icon create-employee responsive_padding0 employee_placeholder">
                    		<p class="reqStar text-center" ng-if="ticketControllerScope.msg && ticketControllerScope.msg != ''">{{ticketControllerScope.msg}}</p>
                            <form class="form-horizontal formContainer employee_selectBox" name="ticketControllerScope.ticketForm">
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31">Department<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="workLocation" ng-model="ticketControllerScope.newTicket.department" required>
                                                <option value="" >Select Department</option>
                                                <option value="d1" >Department1</option>
                                                <option value="d2" >Department2</option>
                                                <option value="d3" >Department3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel ">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31">Priority<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top5">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="workLocation" ng-model="ticketControllerScope.newTicket.priority" required>
                                                <option value="" >Select Priority</option>
                                                <option value="high" >High</option>
                                                <option value="medium" >Medium</option>
                                                <option value="normal" >Normal</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="create-employee-inner">
                                    <div class="form-group row margin_top5">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Subject<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="firstName" class="inputClass" ng-pattern="/^[a-zA-Z\ ]*$/" ng-model="ticketControllerScope.newTicket.subject" placeholder="Subject" required />
                                            <p ng-show="ticketControllerScope.ticketForm.firstName.$error.pattern && ticketControllerScope.ticketForm.firstName.$invalid && ticketControllerScope.ticketForm.firstName.$touched" class="reqStar">Kindly Enter Subject</p>
                                        </div>
                                    </div>
                                     <div class="form-group row mob-pos-rel margin_top5">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31">Related Service<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="workLocation" ng-model="ticketControllerScope.newTicket.service" required>
                                                <option value="" >Select Related Service</option>
                                                <option value="service1" >Service1</option>
                                                <option value="service2" >Service2</option>
                                                <option value="service3" >Service3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                  
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Message<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <textarea name="message" class="inputClass" ng-model="ticketControllerScope.newTicket.message" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                  
                                            <div class="modal fade" id="modal" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="ticketControllerScope.clearimage()">
                                                                <i class="fa fa-times close_button" aria-hidden="true"></i>
                                                            </button>
                                                            <h5 class="modal-title text-left">Add</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="text-left">Select file:
                                                            	<label class="btn btn-default btn-file">
                                                                	<input type="file" id="fileInput" /> Add File
                                                                </label>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="activeBtn btn margin_top5" ng-click="ticketControllerScope.clearimage()">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                     <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Additional Comments</label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <textarea name="additionalComments" class="inputClass margin0" ng-model="ticketControllerScope.newTicket.additionalComments" placeholder="Additional Comments"></textarea>
                                        </div>
                                    </div>
                                      <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">
                                    	Attachment<span class="reqStar">*</span>
                                        </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <button data-backdrop="static" data-keyboard="false" type="button" class="activeBtn btn margin_top5 " data-target="#modal" data-toggle="modal">
                                                Add Files </button> 
                                                </div></div>
                                    <div class="formfooterbtns">
                                        <button class="defaultBtn btn" type="button" ng-click="ticketControllerScope.decline()">Decline</button>
                                        <button class="activeBtn btn" type="button" data-backdrop="static" data-keyboard="false" data-target="#submitModal" data-toggle="modal" ng-click="ticketControllerScope.addNewTicket()">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                 <div class="modal fade" id="submitModal" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="ticketControllerScope.clearimage()">
                                                                <i class="fa fa-times close_button" aria-hidden="true"></i>
                                                            </button>
                                                            <h5 class="modal-title text-left">Submit</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="margin0 text-center">Submitted Successfully.</p>
                                                            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="activeBtn btn" data-dismiss="modal">Decline</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
           