<div class="loader_backdrop" ng-show="payrollControllerScope.spinner || payrollControllerScope.viewempspinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                    	<div class="row pageTitletextContainer">
                    		<span class="col-lg-6 col-md-6 col-sm-6 col-xs-7 padd0">
                        		<div class=""><span class="cursor_pointer back_iconPosition" ng-if="payrollControllerScope.clickToShow" ng-click="payrollControllerScope.goBackToPayrollSummary()">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span><span class="lineheight21">Payroll Summary</span></div>
                        	</span>
                        </div>
                        <div class="innerdivContainer red-icon create-employee" ng-if="payrollControllerScope.showActualData">
                            <div class="row margin_minus10">
                                <div class="input_section">
            						 <div ng-if="!payrollControllerScope.isDataAvailable">
			                            <p class="text-center grey_text margin0">{{payrollControllerScope.dataMsg}}</p>
			                        </div>                      
			                        <div ng-if="!payrollControllerScope.isDataAvailable">
			                            <p class="text-center grey_text margin0"></p>
			                        </div>
                                    <div class=" table_data"  ng-if="payrollControllerScope.payrollsummary.length > 0">
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="employeeControllerScope.deleteEmployee()"></i>
									            	</th> --> 
									                <th>Payroll</th>
									                <th>Pay Period</th>
									                <th>Run Date</th>
                                                    <th>Run By</th>
									                 <th>Batch Name</th> 
									                <th>#EMP</th> 
									                <th>Gross</th>
									                <th>Earnings</th>
									                <th>Deductions</th>
                                                    <th>Tax</th>
									                <th>Net Payment</th>
									                <th>Status</th>
									            </tr>
									           <!-- <tr>
									            	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.payrollMonth" /></th>
									                  <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.updatedon" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.payrollMonth" /></th>
									               <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.payrollBatchName"  /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.count"  /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.netYear" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.earningYear" /></th>
									                 <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.deductionYear"  /></th>
									                  <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.basicGrossPay" /></th>
									                   <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.status" /></th>
									            </tr> -->
									        </thead>
									        <tbody >
									        	
									            <tr ng-repeat="payrollsummary in payrollControllerScope.payrollsummaryListlogEventFilter = (payrollControllerScope.payrollsummary | 
									                                 filter: { payrollMonth : payrollControllerScope.search.payrollMonth, updatedon : payrollControllerScope.search.updatedon, payrollBatchName : payrollControllerScope.search.payrollBatchName,
									                                  count : payrollControllerScope.search.count, netYear : payrollControllerScope.search.netYear, earningYear : payrollControllerScope.search.earningYear,
									                                   deductionyear : payrollControllerScope.search.deductionYear, basicGrossPay : payrollControllerScope.search.basicGrossPay, status : payrollControllerScope.search.status }|  
									                                limitTo : limitToShow : beginFrom) track by $index"  class="backGreyColor">
									               <!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->   
									                <td ng-click="payrollControllerScope.viewAllEmployee(payrollsummary)" class="cursor_pointer text-center white_space">{{payrollsummary.payrollMonth}}</td>         
									                 <td class="text-center">{{payrollsummary.payrollMonth}}</td>
									                 <td class="text-center">{{payrollsummary.updatedon}}</td>
                                                     <td class="text-center">{{payrollsummary.updatedBy}}</td>
									                 <td>{{payrollsummary.payrollBatchName}}</td>
									                 <td class="">{{payrollsummary.count}}</td> 
									                 <td class="text-right">{{payrollsummary.basicGrossPay  | number:2}}</td>
									                 <td class="text-right">{{payrollsummary.earningYear | number:2}}</td>
									                 <td class="text-right">{{payrollsummary.deductionYear | number:2}}</td>
                                                     <td class="text-right">{{payrollsummary.taxYear | number:2}}</td>
									                 <td class="text-right">{{payrollsummary.netYear | number:2}}</td>
									                 <td class="text-center">
															<span ng-if="payrollsummary.status =='d'" class="label_gray">Draft</span>
															<span ng-if="payrollsummary.status =='p'" class="label_success">Processed</span>
                                                            <span ng-if="payrollsummary.status =='v'" class="label_danger">Void</span>
														</td>
									            </tr>
									        </tbody>
										</table>
										
										<p ng-if="(payrollControllerScope.payrollsummary | 
									                                 filter: { payrollMonth : payrollControllerScope.search.payrollMonth, updatedon : payrollControllerScope.search.updatedon, payrollBatchName : payrollControllerScope.search.payrollBatchName,
									                                  count : payrollControllerScope.search.count, netYear : payrollControllerScope.search.netYear, earningYear : payrollControllerScope.search.earningYear,
									                                   deductionyear : payrollControllerScope.search.deductionYear, basicGrossPay : payrollControllerScope.search.basicGrossPay, status : payrollControllerScope.search.status }).length == 0" class="text-center grey_text margin0">Payroll Summary Not Available</p>
		                        </div>
                                <div class="table_btn">
                                    <button ng-click="payrollControllerScope.showPrevNav()" ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.payrollsummary.length > 0"
                                     ng-disabled="payrollControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':payrollControllerScope.buttonBeginFrom == 0}"
                                     class="">Prev</button>

                                    <span ng-repeat="i in payrollControllerScope.payrollsummary | limitTo : payrollControllerScope.buttonLimitToShow : payrollControllerScope.buttonBeginFrom">
                                        <button ng-class="{ 'active' : i.isActiveClass }" ng-if="payrollControllerScope.buttonBeginFrom + $index < payrollControllerScope.payrollsummary.length / payrollControllerScope.buttonLimitToShow"
                                         ng-click="payrollControllerScope.gotoPage($index * payrollControllerScope.buttonLimitToShow + payrollControllerScope.buttonBeginFrom * payrollControllerScope.buttonLimitToShow, payrollControllerScope.buttonBeginFrom + $index)">
                                            {{payrollControllerScope.buttonBeginFrom + $index + 1}}
                                        </button>
                                    </span>
                                    <button ng-click="payrollControllerScope.showNextNav()" ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.payrollsummary.length > 0"
                                     ng-disabled="payrollControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':payrollControllerScope.isNextDisabled}">Next</button>
                                      <span 
			             	ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.payrollsummary.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < payrollControllerScope.payrollsummary.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < payrollControllerScope.payrollsummary.length)">{{payrollControllerScope.payrollsummary.length}}</span> of {{payrollControllerScope.payrollsummary.length}}</span>
                                </div>
		                        </div>
                                    
                                </div>
                            </div>

                            <div class="innerdivContainer red-icon create-employee responsive_padding0 employee_placeholder" ng-if="payrollControllerScope.showSummary">
                            
                    <div class="row">
                   
                        <div class="table_data">
                            <table wt-responsive-table class="custom-responsive-table padding_table10">
                                <thead>
                                    <tr>
                                        <th>Employee Id</th>
                                        <th>Employee Name</th>
                                        <th>Month</th>
                                        <th>Gross</th>
                                        <th>Earnings</th>
                                        <th>Deduction</th>
                                        <th>Tax</th>
                                        <th>Net</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="employee in payrollControllerScope.empPayrollDetailList track by $index" class="backGreyColor">
                                        <td class="font_weightNormal">{{employee.empId}}</td>
                                        <td class="">{{employee.name}}</td>
                                        <td class="text-center">{{employee.payrollMonth}}</td>
                                        <td class="text-right">{{employee.basicGrossPay | number:2}}</td>
                                        <td class="text-right">{{employee.earningMonth | number:2}}</td>
                                        <td class="text-right">{{employee.deductionMonth | number:2}}</td>
                                        <td class="text-right">{{employee.taxMonth | number:2}}</td>
                                        <td class="text-right">{{employee.netMonth | number:2}}</td>
                                        <td class="text-center">
                                            <span ng-if="employee.status =='d'" class="label_gray">Draft</span>
                                            <span ng-if="employee.status =='p'" class="label_success">Processed</span>
                                            <span ng-if="employee.status =='v'" class="label_danger">Void</span>
                                        </td>
                                        <td class="text-center cursor_pointer"><i class="fa fa-envelope" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Send Mail"></i><i class="fa fa-download padd_LR10" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Download"></i><i class="fa fa-eye" aria-hidden="true" data-toggle="modal" data-target="#viewPayslipModal" ng-click = "payrollControllerScope.viewPayrollDetail(employee.id)"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="form-group row mob-pos-rel text-center margin_top10" ng-if="payrollControllerScope.showSummary">
                        <button class="defaultBtn btn" type="button" ng-click="payrollControllerScope.declineForSummary()" ng-if="payrollControllerScope.empPayrollDetailList[0].status == 'd'">Void</button>
                            <button class="activeBtn btn" type="button" ng-click="payrollControllerScope.submitForSummary()" ng-if="payrollControllerScope.empPayrollDetailList[0].status == 'd'">Submit For Process</button>
                            <button class="activeBtn btn" type="button" ng-click="payrollControllerScope.gotoRunPayroll('r')" ng-if="payrollControllerScope.empPayrollDetailList[0].status == 'p'">Release Payslips</button>
                        </div>
                    </div>
                    </div>
                             
                        </div>


                        <!-- <div id="list-wrapper">
                            <div infinite-scroll="employeeControllerScope.addMoreItems()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1" ng-repeat="employee in logEventFilter = (employeeControllerScope.employeeList | orderBy : '-id' |  
                                 filter : employeeControllerScope.searchName | filter: { empType : employeeControllerScope.empType} |  
                                limitTo : employeeControllerScope.limitToShow)" on-finish-render>
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-1 padd0 responsive_textCenter  responsive_textCenter responsivemargin_top10">
                                                <img ng-src="{{employee.photo}}" class="img-60x60" ng-if="employee.photo">
                                                <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true" ng-if="!employee.photo"></i>
                                            </div>
                                            <div class="responsive_textCenter display_webkit">
                                                <span ng-click="employeeControllerScope.viewEmployee(employee.id)" class="anchor_text break-word capitalizeText">{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</span>
                                                <span class="pipe_text" ng-if="employee.title!=''">|</span><span class="span_text capitalizeText">{{employee.title}}</span>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Employee Id</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{employee.empId}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Company Email</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{employee.companyEmail}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Personal Contact</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{employee.personalEmail }}</span></li>
                                                           <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Employee Type</label> <span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{employee.emptypeName}}</span></li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Department</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{employee.deptName}}</span></li>
                                                        	<li class="row">
                                                                <label class="col-xs-6 padd0">Start Date</label><span class="font_weight600 col-xs-6 wordBreak_all">{{employee.startDate  | date:"MMM d, y"}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Reporting To</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{employee.reportToName}}</span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Work Location</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{employee.workLocationCity}}</span></li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                     

                     <div id="viewPayslipModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close white opacity1px" data-dismiss="modal"  ng-click="employeeControllerScope.decline()"><i class="fa fa-times close_button" aria-hidden="true"></i></button>
                                            <h4 class="modal-title">Payroll</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row padd0">
                        
                                        <div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Earnings / Allowances</span>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Ytd</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="earnings in payrollControllerScope.payrollDetails.employeeCompensationEarningList">
                                                            <label class="col-xs-6 padd0">{{earnings.earningName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{earnings.monthly | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{earnings.ytd | number : 2}}</span>
                                                            </li>
                                                            <li class="row" ng-if = "payrollControllerScope.empBonusShow">
                                                            <label class="col-xs-6 padd0">Bonus</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.empBonusShow | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.bonusYear | number : 2}}</span>
                                                            </li>
                                                            <li class="row">
                                                            <span class="col-xs-6 padd0 font_weight600">Total (A)</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.earningMonth | number : 2}}</p></span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.earningYear | number : 2}}</p></span>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Deductions</span>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row" ng-if="payrollControllerScope.payrollDetails.employeeCompensationDeductionList.length > 0">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">YTD</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="deduction in payrollControllerScope.payrollDetails.employeeCompensationDeductionList">
                                                            <label class="col-xs-6 padd0">{{deduction.deductionName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{deduction.monthly | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{deduction.ytd | number : 2}}</span>
                                                            </li>

                                                             <li class="row" ng-if="payrollControllerScope.payrollDetails.lossOfPayMonth > 0">
                                                            <label class="col-xs-6 padd0">Loss Of Pay</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.lossOfPayMonth | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{{payrollControllerScope.payrollDetails.lossOfPayYear | number : 2}}</span>
                                                            </li>
                                                       		 <li class="row" >
                                                            <span class="col-xs-6 padd0 font_weight600">Total (B)</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.deductionMonth | number : 2}}</p></span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.deductionYear | number : 2}}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div ng-if="!payrollControllerScope.payrollDetails.employeeCompensationDeductionList.length  > 0">
						                            <p class="text-center grey_text padding15 padding_top10">Deductions Not Available</p>
						                        </div>
                                            </div>
                                            <div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Taxes</span>
                                        </div>
                                            <div class="col-lg-12 padd0"  >
                                                <div class="row" ng-if="payrollControllerScope.payrollDetails.employeeCompensationTaxList.length  > 0">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="tax in payrollControllerScope.payrollDetails.employeeCompensationTaxList">
                                                            <label class="col-xs-6 padd0">{{tax.taxName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{tax.monthly | number : 2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{tax.ytd | number : 2}}</span>
                                                            </li>
                                                       
                                                       		 <li class="row">
                                                            <span class="col-xs-6 padd0 font_weight600">Total (C)</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.taxMonth | number : 2}}</p></span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.payrollDetails.taxYear | number : 2}}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                 <div ng-if="!payrollControllerScope.payrollDetails.employeeCompensationTaxList.length  > 0">
						                            <p class="text-center grey_text padding15 padding_top10">Taxes Not Available</p>
						                        </div>
                                            </div>
                                            
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="">
                                                    	 <ul class="padd0 left_text">
                                                    	 	<li class="row">
                                                            <span class="col-xs-6 padd0 font_weight600">Net Amount (A -(B+C))</span>
                                                            
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.netTotalMonth | number :2}}</p></span>
                                                            </li>
                                                    	 </ul>
                                                    </div>
                                                    </div>
                                                    </div>
            
                </div>
                                    </div>  </div>
                                </div>
                            </div>   
                         
                    </div>
                </div>
          