<div class="loader_backdrop" ng-show="payrollControllerScope.spinner || payrollControllerScope.getSpinner">
    <div class="loader loader_position"></div>
</div>

			<div class="row">
			<div class="rightContainer margin_bottom0">
                    <div class="pageTitleParent">
			 <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Payroll Details</span>
                        </div>
                   </div>
                        <div class="innerdivContainer payrollSetting_tabs">
        <ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="javascript:void(0)" data-target="#pyrollSettings">Payroll Settings</a></li>
		    <li><a data-toggle="tab" href="javascript:void(0)" data-target="#payrollSlabs">Payroll Slabs</a></li>
		  </ul>
		   <div class="tab-content background_gray">
    			<div id="pyrollSettings" class="tab-pane fade in active">
			<div class="col-lg-6 col-xs-12 padd0">
                <div class="rightContainer border">
                    <div class="pageTitleParent">
                         <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span>Earning Types</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" data-toggle="modal"
											data-target="#allowance" data-backdrop="static"
											data-keyboard="false"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add Earning</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <!-- <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <div class="width100">
                                        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">                                        	                                        
											<span class="outline0" data-toggle="modal"
											data-target="#allowance" data-backdrop="static"
											data-keyboard="false">
	                                        	<button class="activeBtn btn">Add Earning</button>
	                                        </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div ng-if="payrollControllerScope.allowanceMsg &&  payrollControllerScope.allowanceMsg != ''">
                            <p class="text-center grey_text padding15 padding_top10 margin0">{{payrollControllerScope.allowanceMsg}}</p>
                        </div>
                        <div id="list-wrapper">
                            <div infinite-scroll="payrollControllerScope.addMoreAllowance()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee" ng-repeat="allowance in logEventFilter = (payrollControllerScope.allowanceList | orderBy : '-id' | 
                                limitTo : payrollControllerScope.limitToShowAllowance)">
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="responsive_textCenter display_webkit">
												<span class="outline0" data-toggle="modal"
													data-target="#allowance" data-backdrop="static"
													data-keyboard="false">
													<span ng-click="payrollControllerScope.openAllowanceModal(allowance)" class="anchor_text break-word capitalizeText">{{allowance.displayName}}</span>
												</span>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                        <li class="row">
                                                                <label class="col-xs-6 padd0">Type</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{allowance.allowanceTypeName}}</span></li>
                                                           
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Taxable</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{allowance.taxable=='Y'?'Yes':'No'}}</span></li>
                                                            <li class="row" ng-if="allowance.type == 'F'">
                                                                <label class="col-xs-6 padd0">Fixed Cost</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{allowance.fixedAmount | number: 2 }}</span></li>
                                                            <li class="row" ng-if="allowance.type == 'P'">
                                                                <label class="col-xs-6 padd0">Percentage</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{allowance.percentageAmount}} % (<span ng-if="allowance.basicGrossPay == 'G'">Gross</span><span ng-if="allowance.basicGrossPay == 'B'">Basic</span>)</span></li>
                                                           	<li class="row">
                                                                <label class="col-xs-6 padd0">Notes</label><span class="font_weight600 col-xs-6 wordBreak_all">{{allowance.notes}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Start Date</label><span class="font_weight600 col-xs-6 wordBreak_all">{{allowance.startDate}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Section</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{allowance.section}}</span></li>
                                                           <li class="row">
                                                                <label class="col-xs-6 padd0">Name</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{allowance.name}}</span></li>
                                                           <li class="row">
                                                                <label class="col-xs-6 padd0">Updated By</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{allowance.updatedBy}}</span></li>
                                                        	<li class="row">
                                                                <label class="col-xs-6 padd0">Updated On</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{allowance.updatedon}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">End Date</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{allowance.enddate}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                
                <div class="col-lg-6 col-xs-12 padd0">
                <div class="rightContainer">
                    <div class="pageTitleParent border">
                         <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span>Deduction Types</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" data-toggle="modal"
											data-target="#deduction" data-backdrop="static"
											data-keyboard="false" ng-click="payrollControllerScope.addDeduction()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add Deduction</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                       <!--  <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <div class="width100">
                                        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">	                                        
											<span class="outline0" data-toggle="modal"
											data-target="#deduction" data-backdrop="static"
											data-keyboard="false">
												<button class="activeBtn btn" ng-click="payrollControllerScope.addDeduction()">Add Deduction</button>
											</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div ng-if="payrollControllerScope.deductionMsg && payrollControllerScope.deductionMsg != ''">
                            <p class="text-center grey_text padding15 padding_top10 margin0">{{payrollControllerScope.deductionMsg}}</p>
                        </div>
                        <div id="list-wrapper">
                            <div infinite-scroll="payrollControllerScope.addMoreDeduction()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee" ng-repeat="deduction in logEventFilter = (payrollControllerScope.deductionList | orderBy : '-id' |
                                limitTo : payrollControllerScope.limitToShowDeduction)">
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="responsive_textCenter display_webkit">
												<span class="outline0" data-toggle="modal"
													data-target="#deduction" data-backdrop="static"
													data-keyboard="false">
													<span ng-click="payrollControllerScope.openDeductionModal(deduction)" class="anchor_text break-word capitalizeText">{{deduction.name}}</span>
												</span>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Type</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{deduction.deductionTypeName}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Deduction Code</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{deduction.section}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Deduct</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{deduction.prepostTax}}</span></li>
                                                           <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Deduction Type</label> 
                                                                	<span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">
                                                                		<span ng-if="deduction.type == 'F'">Fixed Cost</span>
                                                                		<span ng-if="deduction.type == 'P'">Percentage</span>
                                                                	</span>
                                                            	</li>
                                                           <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Notes</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{deduction.notes}}</span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Start Date</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{deduction.startDate}}</span></li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                           <li class="row">
                                                                <label class="col-xs-6 padd0">Display Name</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{deduction.displayName}}</span></li>
                                                            <li class="row" ng-if="deduction.type == 'F'">
                                                                <label class="col-xs-6 padd0">Fixed Cost</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{deduction.fixedAmount | number:2}}</span></li>
                                                        	<li class="row" ng-if="deduction.type == 'P'">
                                                                <label class="col-xs-6 padd0">Percentage</label><span class="font_weight600 col-xs-6 wordBreak_all">{{deduction.percentageAmount}} %</span></li>
                                                            <li class="row" ng-if="deduction.type == 'P'">
                                                                <label class="col-xs-6 padd0">Pay Type</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">
                                                                	<span ng-if="deduction.basicGrossPay == 'G'">Gross Pay</span>
                                                                	<span ng-if="deduction.basicGrossPay == 'B'">Basic Pay</span>
                                                                </span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Updated By</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{deduction.updatedBy}}</span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Updated On</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{deduction.updatedon}}</span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">End Date</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{deduction.enddate}}</span></li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="pageTitleParent margin_top30 border">
                         <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span>Taxes</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" data-toggle="modal"
											data-target="#taxModal" data-backdrop="static"
											data-keyboard="false" ng-click="payrollControllerScope.addDeduction()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add Tax</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                       <!--  <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <div class="width100">
                                        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">	                                        
											<span class="outline0" data-toggle="modal"
											data-target="#deduction" data-backdrop="static"
											data-keyboard="false">
												<button class="activeBtn btn" ng-click="payrollControllerScope.addDeduction()">Add Deduction</button>
											</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div ng-if="payrollControllerScope.taxMsg && payrollControllerScope.taxMsg != ''">
                            <p class="text-center grey_text padding15 padding_top10 margin0">{{payrollControllerScope.taxMsg}}</p>
                        </div>
                        <div id="list-wrapper">
                            <div infinite-scroll="payrollControllerScope.addMoreDeduction()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee" ng-repeat="taxValue in logEventFilter = (payrollControllerScope.taxList | orderBy : '-id' |
                                limitTo : payrollControllerScope.limitToShowDeduction)">
                                    <div class="row">
                                        <div class="input_section">
                                        <div class="responsive_textCenter display_webkit">
                                                <span class="outline0" data-toggle="modal"
                                                    data-target="#taxModal" data-backdrop="static"
                                                    data-keyboard="false">
                                                    <span ng-click="payrollControllerScope.openTaxModal(taxValue)" class="anchor_text break-word capitalizeText">{{taxValue.name}}</span>
                                                </span>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Deduction Code</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{taxValue.section}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Deduct</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{taxValue.prepostTax}}</span></li>
                                                           <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Deduction Type</label> 
                                                                	<span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">
                                                                		<span ng-if="taxValue.type == 'F'">Fixed Cost</span>
                                                                		<span ng-if="taxValue.type == 'P'">Percentage</span>
                                                                	</span>
                                                            	</li>
                                                           <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Notes</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{taxValue.notes}}</span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Start Date</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{taxValue.startDate}}</span></li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                           <li class="row">
                                                                <label class="col-xs-6 padd0">Display Name</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{taxValue.displayName}}</span></li>
                                                            <li class="row" ng-if="taxValue.type == 'F'">
                                                                <label class="col-xs-6 padd0">Fixed Cost</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{taxValue.fixedAmount | number:2}}</span></li>
                                                        	<li class="row" ng-if="taxValue.type == 'P'">
                                                                <label class="col-xs-6 padd0">Percentage</label><span class="font_weight600 col-xs-6 wordBreak_all">{{taxValue.percentageAmount}} %</span></li>
                                                            <li class="row" ng-if="taxValue.type == 'P'">
                                                                <label class="col-xs-6 padd0">Pay Type</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">
                                                                	<span ng-if="taxValue.basicGrossPay == 'G'">Gross Pay</span>
                                                                	<span ng-if="taxValue.basicGrossPay == 'B'">Basic Pay</span>
                                                                </span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Updated By</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{taxValue.updatedBy}}</span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Updated On</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{taxValue.updatedon}}</span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">End Date</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{taxValue.enddate}}</span></li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="pageTitleParent margin_top30 border">
                         <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span>Tax Slabs</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" data-toggle="modal"
											data-target="#taxSlabs" data-backdrop="static"
											data-keyboard="false"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add Tax</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                       <!--  <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <div class="width100">
                                        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">	                                        
											<span class="outline0" data-toggle="modal"
											data-target="#deduction" data-backdrop="static"
											data-keyboard="false">
												<button class="activeBtn btn" ng-click="payrollControllerScope.addDeduction()">Add Deduction</button>
											</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div ng-if="payrollControllerScope.taxSlabsMsg && payrollControllerScope.taxSlabsMsg != ''">
                            <p class="text-center grey_text padding15 padding_top10 margin0">{{payrollControllerScope.taxSlabsMsg}}</p>
                        </div>
                        <div id="list-wrapper">
                            <div infinite-scroll="payrollControllerScope.addMoreTaxSlabs()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee" ng-repeat="taxSlabs in logEventFilter = (payrollControllerScope.taxSlabsList | orderBy : '-id' |
                                limitTo : payrollControllerScope.limitToShowTaxSlabs)" ng-if="taxSlabs.status=='a'">
                                    <div class="row">
                                        <div class="input_section">
                                        <div class="responsive_textCenter display_webkit">
                                                <span class="outline0" data-toggle="modal"
                                                    data-target="#taxSlabs" data-backdrop="static"
                                                    data-keyboard="false">
                                                    <span ng-click="payrollControllerScope.openTaxSlabs(taxSlabs)" class="anchor_text break-word capitalizeText">{{taxSlabs.settingName}}</span>
                                                </span>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Amount</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{taxSlabs.fromAmount}} - {{taxSlabs.toAmount}}</span></li>
                                                            <!-- <li class="row">
                                                                <label class="col-xs-6 padd0">Amount To</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{taxSlabs.toAmount}}</span></li> -->
                                                            <!-- <li class="row">
                                                                <label class="col-xs-6 padd0">Percentage</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{taxSlabs.percentageAmount}}</span></li> -->
                                                            <!-- <li class="row">
                                                                <label class="col-xs-6 padd0">Fixed Cost</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{taxSlabs.fixedAmount | number:2}}</span></li> -->
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Percentage</label><span class="font_weight600 col-xs-6 wordBreak_all">{{taxSlabs.percentageAmount}} %</span></li>
                                                            <!-- <li class="row" ng-if="taxSlabs.type == 'P'">
                                                                <label class="col-xs-6 padd0">Pay Type</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">
                                                                    <span ng-if="taxSlabs.basicGrossPay == 'G'">Gross Pay</span>
                                                                    <span ng-if="taxSlabs.basicGrossPay == 'B'">Basic Pay</span>
                                                                </span></li> -->
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                           <li class="row">
                                                                <label class="col-xs-6 padd0">FY</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{taxSlabs.startDate}} - {{taxSlabs.enddate!=''?taxSlabs.enddate:'Till'}}</span></li>
                                                            <!-- <li class="row">
                                                                <label class="col-xs-6 padd0">End Date</label><span class="font_weight600 col-xs-6 wordBreak_all capitalizeText">{{taxSlabs.enddate}}</span></li> -->
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                </div>
          		</div>
				<div class="clearfix"></div>
				<div id="payrollSlabs" class="tab-pane fade">
					<div class="innerdivContainer red-icon create-employee back_white">
       		<div class="row margin_minus10">
           		<div class="input_section">
           		<!-- <div class="text-center" ng-if="payrollControllerScope.FYData">
           		          <p class="margin0">Income Tax Slab Not Available</p>
           		</div> -->
           		<div class="row display_inlineFlex" ng-if="payrollControllerScope.financialYearActiveList.length>0">
           			<h5 class="span_text capitalizeText padd_right15 margin0 linheight42">Income Tax Slab Rates for</h5>
					<span>
						<div class="customDropDown lead_dropdown">
                            <select name="fySelect" class="select1 dropdown inputClass width100" ng-model="payrollControllerScope.fy.payee" ng-change="payrollControllerScope.getFYActiveDetails(payrollControllerScope.fy.payee)">
                                 <option value="" ng-if="!payrollControllerScope.fy.payee || payrollControllerScope.fy.payee || payrollControllerScope.fy.payee == ''">Select Financial Year&#42;</option>
                                 <option value="{{fy}}" ng-repeat="fy in payrollControllerScope.financialYearActiveList">{{fy.displayName}}</option>
                             </select>
                        </div>
                     </span>
                 </div>
                 <div class="text-center" ng-if="payrollControllerScope.FYData">
    		          	<p class="margin0">Income Tax Slab Not Available</p>
          		 </div>
           		 <div class="col-lg-12 col-xs-12 padd0" >
	           		 <div class="col-lg-6 col-xs-12 padd_left0"  ng-repeat="taxpayee in payrollControllerScope.fyList">
	           		 <div ng-if="payrollControllerScope.fyList.length>0"> 
		                 <div class="responsive_textCenter clear_both compensation_text padding_top20" >
		                     <span class="span_text capitalizeText">{{taxpayee.name}}</span>
		                 </div>
		                     <div class="" >
		                         <div class="row">
		                             <div class="">
		                                 <ul class="padd0 left_text">
		                                    <li class="row padd_top14" ng-if="taxpayee.value.length>0">
		                                     <label class="col-xs-6 padd0 font_weight600">Income Tax Slab Rates(Rs.)</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText">Tax(In%)</span></li>
		                                 <li class="row" ng-repeat="taxValue in taxpayee.value" >
		                                     <label class="col-xs-6 padd0"><i class="fa fa-inr" aria-hidden="true"></i>{{taxValue.fromAmount}} - <i class="fa fa-inr" aria-hidden="true"></i>{{taxValue.toAmount}}</label><span class="col-xs-6 padd0 wordBreak_all">{{taxValue.percentageAmount!=0?taxValue.percentageAmount:'No tax rates applicable'}}</span></li>
		                                 <li class="row" ng-if="!taxpayee.value.length>0">
		                                     <label class="col-xs-6 padd0 text-center">Income Tax Slab Not Available</li>
		                                <!--  <li class="row">
		                                     <label class="col-xs-6 padd0"><i class="fa fa-inr" aria-hidden="true"></i>5,00,001 - <i class="fa fa-inr" aria-hidden="true"></i>10,00,000</label><span class=" col-xs-6 padd0 wordBreak_all capitalizeText">20%</span></li>
		                                 <li class="row">
		                                     <label class="col-xs-6 padd0">Above <i class="fa fa-inr" aria-hidden="true"></i>10,00,000</label><span class=" col-xs-6 padd0 wordBreak_all capitalizeText">30%</span></li> -->
		                                 </ul>
		                             </div>
		                         </div>
		                     </div>
		                 </div>
		                 </div>
		                  <div class="col-lg-6 col-xs-12 padd0" >
                                           <div class="responsive_textCenter row clear_both compensation_text padding_top20">
                                           <div class="">
                                           <div class="col-lg-6 col-xs-12 padd0">
                                            	<h5 class="span_text capitalizeText padd_right15 linheight2pt7 margin0">Professional Tax Slab for Rate</h5>
                                            </div>
                                            <div class="col-lg-6 col-xs-12 padd_right0">
	                                            <div class="customDropDown lead_dropdown">
	                                            <select name="ptState" class="select1 dropdown inputClass width100" ng-model="payrollControllerScope.professionalTax.id" ng-change="payrollControllerScope.getPTDetails(payrollControllerScope.professionalTax.id)">
                                                     <option value="" ng-if="!payrollControllerScope.professionalTax.id || payrollControllerScope.professionalTax.id == ''">Select State&#42;</option>
                                                     <option value="{{state.id}}" ng-repeat="state in payrollControllerScope.stateList" ng-if="state.status == 'a'">{{state.name}}</option>
                                                 </select>
	                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row" ng-if="payrollControllerScope.ptList.length>0">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                           <li class="row padd_top14">
                                                            <label class="col-xs-6 padd0 font_weight600">Income Tax Slab Rates(Rs.)</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText ">Tax(In%)</span></li>
                                                        <li class="row" ng-repeat="pt in  payrollControllerScope.ptList">
                                                            <label class="col-xs-6 padd0"><i class="fa fa-inr" aria-hidden="true"></i>{{pt.fromAmount}} - <i class="fa fa-inr" aria-hidden="true"></i>{{pt.toAmount}}</label><span class=" col-xs-6 padd0 wordBreak_all "><i class="fa fa-inr" aria-hidden="true"></i>{{pt.ptAmount}}</span></li>
                                                        <!-- <li class="row">
                                                            <label class="col-xs-6 padd0"><i class="fa fa-inr" aria-hidden="true"></i>15,001 to Maximum</label><span class=" col-xs-6 padd0 wordBreak_all capitalizeText "><i class="fa fa-inr" aria-hidden="true"></i>200.00</span></li> -->
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div ng-if="payrollControllerScope.PTData">
						                            <p class="text-center grey_text padding15 padding_top10 margin0">Professional Tax Not Available</p>
						                        </div>
                                            </div>
                                            </div>
                        </div>
                                         <div class="col-lg-12 col-xs-12 padd0">
							           		 <div class="col-lg-6 col-xs-12 padd_left0">
							           		  <div class="responsive_textCenter clear_both compensation_text padding_top20">
                                            <span class="span_text capitalizeText">Basic Information</span>
                                        </div>
							           		 	<p class="padd_top14">The Calculation of HRA for tax benefit is considered from one of the following three listed provisions:</p>
							           		 	<ul class="list_disc">
							           		 		<li>
							           		 		The actual amount alloted by the employer as the HRA.
							           		 		</li>
							           		 		<li>Actual rent paid less 10% of the basic salary.</li>
							           		 		<li>50% of the basic salary,if the employee is staying in a metro city (40% for a non-metro city).</li>
							           		 	</ul>
							           		 	<p>The least of the above mentioned amount will be considered for tax deduction from HRA.</p>
							           		 </div>
						             	</div>
									</div>
								</div>
										</div>
										</div>

<div id="allowance" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="payrollControllerScope.declineAllowance()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                <h4 class="modal-title">Earning</h4>
            </div>
            <form name="payrollControllerScope.allowanceForm">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="customDropDown user_select100 margin_top5">
                            <select class="select1 dropdown inputClass width100" name="allowanceTypeId" ng-model="payrollControllerScope.allowance.allowanceTypeId"> 
                                <option value="" ng-if="!payrollControllerScope.allowance.allowanceTypeId || payrollControllerScope.allowance.allowanceTypeId == ''">Select Earning type</option>
                        		<option value="{{allowance.id}}" ng-repeat="allowance in payrollControllerScope.allowanceTypeList" ng-if="allowance.status == 'a'">{{allowance.name}}</option>
                            </select>
                        </div>
                    </div>
                    <input type="text" name="name" class="inputClass width100" ng-model="payrollControllerScope.allowance.name" placeholder="Earning Name*" required/>
                    <p class="reqStar" ng-if="payrollControllerScope.allowanceForm.name.$invalid && payrollControllerScope.allowanceForm.name.$touched">Kindly Enter Valid Name</p>
                    <input type="text" name="displayName" class="inputClass width100" ng-model="payrollControllerScope.allowance.displayName" placeholder="Display Name*" required/>
                    <p class="reqStar" ng-if="payrollControllerScope.allowanceForm.displayName.$invalid && payrollControllerScope.allowanceForm.displayName.$touched">Kindly Enter Valid Display Name</p>

                    <div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
                        <div moment-picker="payrollControllerScope.allowance.startDate"
                            format="MMM DD YYYY" start-view="day"
                            class=" margin_leftMinus9 ">
                            <input name="startDate"
                                ng-model="payrollControllerScope.allowance.startDate"
                                autoclose="true" keyboard="true" set-on-select="true"
                                class="inputClass cursor_pointer width100 shadow"
                                placeholder="Start Date*" required> <i
                                class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
                        <div moment-picker="payrollControllerScope.allowance.enddate"
                            format="MMM DD YYYY" start-view="day"
                            class=" margin_leftMinus9" data-min-date="payrollControllerScope.allowance.startDate">
                            <input name="enddate"
                                ng-model="payrollControllerScope.allowance.enddate"
                                autoclose="true" keyboard="true" set-on-select="true"
                                class="inputClass cursor_pointer width100 shadow"
                                placeholder="End Date"> <i
                                class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="text" name="section" class="inputClass width100" ng-model="payrollControllerScope.allowance.section" placeholder="Sections Codes Ex: Section 16 (ii), etc" />
                    <div class="switch-field pad-right-0 emp_margin5">
                        <input type="radio" id="switch_left" name="taxable" value="Y" class="margin0 width50p" ng-model="payrollControllerScope.allowance.taxable"/>
                        <label for="switch_left" class="linheight2pt7 margin0 width50p">Taxable</label>
                        <input type="radio" id="switch_right" name="taxable" value="N" class="margin0 width50p" ng-model="payrollControllerScope.allowance.taxable"/>
                        <label for="switch_right" class="linheight2pt7 margin0 width50p">Non Taxable</label>
                    </div>
                 <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="customDropDown user_select100 margin_top5">
                            <select class="select1 dropdown inputClass width100" name="type" ng-model="payrollControllerScope.allowance.type" ng-change="payrollControllerScope.resetAllowanceAmount()" required> 
                                <option value="" ng-if="!payrollControllerScope.allowance.type || payrollControllerScope.allowance.type == ''">Select Cost Type*</option>
                                <option value="F">Fixed Cost</option>
                                <option value="P">Percentage</option>
                                <option value="A">Adjust Cost</option>
                            </select>
                        </div>
                    </div>
                    
                    <input type="text" name="fixedAmount" class="inputClass width100" ng-model="payrollControllerScope.allowance.fixedAmount" ng-show="payrollControllerScope.allowance.type == 'F'" ng-pattern="/^[0-9]*$/" placeholder="Amount / Year*"/>
                    <p class="reqStar" ng-if="(payrollControllerScope.allowanceForm.fixedAmount.$error.pattern || payrollControllerScope.allowanceForm.fixedAmount.$invalid) && payrollControllerScope.allowanceForm.fixedAmount.$touched">Kindly Enter Valid Amount</p>
                    <div class="form-group col-md-6 padd0 margin_top5" ng-show="payrollControllerScope.allowance.type == 'P'">
                    	<input type="text" name="percentageAmount" class="col-md-6 inputClass width100" ng-model="payrollControllerScope.allowance.percentageAmount" ng-show="payrollControllerScope.allowance.type == 'P'" ng-pattern="/^[0-9]*$/" placeholder="Percentage*"/>
                    	<p class="reqStar" ng-if="(payrollControllerScope.allowanceForm.percentageAmount.$error.pattern || payrollControllerScope.allowanceForm.percentageAmount.$invalid) && payrollControllerScope.allowanceForm.percentageAmount.$touched">Kindly Enter Valid Percentage</p>
                    </div>
                    <div class="form-group col-md-6 padd0 margin_top5" ng-show="payrollControllerScope.allowance.type == 'P'">
                        <div class="customDropDown user_select100 margin_top5">
                            <select class="select1 dropdown inputClass width100" name="basicGrossPay" ng-model="payrollControllerScope.allowance.basicGrossPay"> 
                                <option value="" ng-if="!payrollControllerScope.allowance.basicGrossPay || payrollControllerScope.allowance.basicGrossPay == ''">Select Pay*</option>
                                <option value="G">Gross Pay</option>
                                <option value="B">Basic Pay</option>
                            </select>
                        </div>
                    </div><textarea name="notes" class="inputClass width100" ng-model="payrollControllerScope.allowance.notes" placeholder="Comments"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="defaultBtn" data-dismiss="modal" ng-click="payrollControllerScope.declineAllowance()">Decline</button>
                    <button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.addAllowance()"
                    	ng-disabled="payrollControllerScope.allowanceForm.$invalid"
                    	ng-if="!payrollControllerScope.isEdit">Save</button>
                    <button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.editAllowance()"
                    	ng-disabled="payrollControllerScope.allowanceForm.$invalid"
                    	ng-if="payrollControllerScope.isEdit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="deduction" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="payrollControllerScope.declineDeduction()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                <h4 class="modal-title">Deduction</h4>
            </div>
            <form name="payrollControllerScope.deductionForm">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="customDropDown user_select100 margin_top5">
                            <select class="select1 dropdown inputClass width100" name="deductionTypeId" ng-model="payrollControllerScope.deduction.deductionTypeId"> 
                                <option value="" ng-if="!payrollControllerScope.deduction.deductionTypeId || payrollControllerScope.deduction.deductionTypeId == ''">Select Deduction Type</option>
                        		<option value="{{deduction.id}}" ng-repeat="deduction in payrollControllerScope.deductionTypeList" ng-if="deduction.status == 'a'">{{deduction.name}}</option>
                            </select>
                        </div>
                    </div>
                    <input type="text" name="name" class="inputClass width100" ng-model="payrollControllerScope.deduction.name" placeholder="Deduction Name*" required />
                    <p class="reqStar" ng-if="payrollControllerScope.deductionForm.name.$invalid && payrollControllerScope.deductionForm.name.$touched">Kindly Enter Valid Deduction Name</p>
                    <input type="text" name="displayName" class="inputClass width100" ng-model="payrollControllerScope.deduction.displayName" placeholder="Display Name*" required/>
                    <p class="reqStar" ng-if="payrollControllerScope.deductionForm.displayName.$invalid && payrollControllerScope.deductionForm.displayName.$touched">Kindly Enter Valid Display Name</p>
                    <div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
                        <div moment-picker="payrollControllerScope.deduction.startDate"
                            format="MMM DD YYYY" start-view="day"
                            class=" margin_leftMinus9 ">
                            <input name="startDate"
                                ng-model="payrollControllerScope.deduction.startDate"
                                autoclose="true" keyboard="true" set-on-select="true"
                                class="inputClass cursor_pointer width100 shadow"
                                placeholder="Start Date*" required> <i
                                class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
                        <div moment-picker="payrollControllerScope.deduction.enddate"
                            format="MMM DD YYYY" start-view="day"
                            class=" margin_leftMinus9" data-min-date="payrollControllerScope.deduction.startDate">
                            <input name="enddate"
                                ng-model="payrollControllerScope.deduction.enddate"
                                autoclose="true" keyboard="true" set-on-select="true"
                                class="inputClass cursor_pointer width100 shadow"
                                placeholder="End Date"> <i
                                class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="text" name="section" class="inputClass width100" ng-model="payrollControllerScope.deduction.section" placeholder="Deduction Code Ex: Section 125, etc"/>
                    <div class="switch-field pad-right-0 emp_margin5">
                        <input type="radio" id="switch_left1" name="prepostTax" value="Pre Tax Deduction" class="margin0 width50p" ng-model="payrollControllerScope.deduction.prepostTax" />
                        <label for="switch_left1" class="linheight2pt7 margin0 width50p">Pre Tax Deduction</label>
                        <input type="radio" id="switch_right2" name="prepostTax" value="Post Tax Deduction" class="margin0 width50p" ng-model="payrollControllerScope.deduction.prepostTax" />
                        <label for="switch_right2" class="linheight2pt7 margin0 width50p">Post Tax Deduction</label>
                    </div>
                 <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="customDropDown user_select100 margin_top5">
                            <select class="select1 dropdown inputClass width100" name="type" ng-model="payrollControllerScope.deduction.type" ng-change="payrollControllerScope.resetDeductionAmount()" required> 
                                <option value="" ng-if="!payrollControllerScope.deduction.type || payrollControllerScope.deduction.type == ''">Select Type*</option>
                                <option value="F">Fixed Cost</option>
                                <option value="P">Percentage</option>
                            </select>
                        </div>
                    </div>
                    <input type="text" name="fixedAmount" class="inputClass width100" ng-model="payrollControllerScope.deduction.fixedAmount" ng-show="payrollControllerScope.deduction.type == 'F'" ng-pattern="/^[0-9]*$/" placeholder="Amount / Year*" required/>
                    <p class="reqStar" ng-if="(payrollControllerScope.deductionForm.fixedAmount.$error.pattern || payrollControllerScope.deductionForm.fixedAmount.$invalid) && payrollControllerScope.deductionForm.fixedAmount.$touched">Kindly Enter Valid Amount</p>
                    <div class="form-group col-md-6 padd0 margin_top5" ng-show="payrollControllerScope.deduction.type == 'P'">
                    	<input type="text" name="percentageAmount" class="col-md-6 inputClass width100" ng-model="payrollControllerScope.deduction.percentageAmount" ng-show="payrollControllerScope.deduction.type == 'P'" ng-pattern="/^[0-9]*$/" placeholder="Percentage*" required/>
                    	<p class="reqStar" ng-if="(payrollControllerScope.deductionForm.percentageAmount.$error.pattern || payrollControllerScope.deductionForm.percentageAmount.$invalid) && payrollControllerScope.deductionForm.percentageAmount.$touched">Kindly Enter Valid Percentage</p>
                    </div>
                    <div class="form-group col-md-6 padd0 margin_top5" ng-show="payrollControllerScope.deduction.type == 'P'">
                        <div class="customDropDown user_select100 margin_top5">
                            <select class="select1 dropdown inputClass width100" name="basicGrossPay" ng-model="payrollControllerScope.deduction.basicGrossPay" required> 
                                <option value="" ng-if="!payrollControllerScope.deduction.basicGrossPay || payrollControllerScope.deduction.basicGrossPay == ''">Select Pay*</option>
                                <option value="G">Gross Pay</option>
                                <option value="B">Basic Pay</option>
                            </select>
                        </div>
                    </div>
                 	<textarea name="notes" class="inputClass width100" ng-model="payrollControllerScope.deduction.notes" placeholder="Comments"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="defaultBtn" data-dismiss="modal" ng-click="payrollControllerScope.declineDeduction()">Decline</button>
                    <button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.addDeduction()"
                    	ng-disabled="payrollControllerScope.deductionForm.$invalid"
                    	ng-if="!payrollControllerScope.isEdit">Save</button>
                    	<button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.editDeduction()"
                    	ng-disabled="payrollControllerScope.deductionForm.$invalid"
                    	ng-if="payrollControllerScope.isEdit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="taxModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="payrollControllerScope.declineTax()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                <h4 class="modal-title">Tax</h4>
            </div>
            <form name="payrollControllerScope.taxForm">
                <div class="modal-body">
                    <input type="text" name="name" class="inputClass width100" ng-model="payrollControllerScope.tax.name" placeholder="Deduction Name*" required />
                            <p class="reqStar" ng-if="payrollControllerScope.taxForm.name.$invalid && payrollControllerScope.taxForm.name.$touched">Kindly Enter Valid Deduction Name</p>
                    <input type="text" name="displayName" class="inputClass width100" ng-model="payrollControllerScope.tax.displayName" placeholder="Display Name*" required/>
                            <p class="reqStar" ng-if="payrollControllerScope.taxForm.displayName.$invalid && payrollControllerScope.taxForm.displayName.$touched">Kindly Enter Valid Display Name</p>

                    <div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
                        <div moment-picker="payrollControllerScope.tax.startDate"
                            format="MMM DD YYYY" start-view="day"
                            class=" margin_leftMinus9 ">
                            <input name="startDate"
                                ng-model="payrollControllerScope.tax.startDate"
                                autoclose="true" keyboard="true" set-on-select="true"
                                class="inputClass cursor_pointer width100 shadow"
                                placeholder="Start Date*" required> <i
                                class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
                        <div moment-picker="payrollControllerScope.tax.enddate"
                            format="MMM DD YYYY" start-view="day"
                            class=" margin_leftMinus9" data-min-date="payrollControllerScope.tax.startDate">
                            <input name="enddate"
                                ng-model="payrollControllerScope.tax.enddate"
                                autoclose="true" keyboard="true" set-on-select="true"
                                class="inputClass cursor_pointer width100 shadow"
                                placeholder="End Date"> <i
                                class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="text" name="section" class="inputClass width100" ng-model="payrollControllerScope.tax.section" placeholder="Deduction Code Ex: Section 125, etc"/>
                   

                    <div class="switch-field pad-right-0 emp_margin5">
                        <input type="radio" id="switch_left2" name="tax" value="Y" class="margin0 width50p" ng-model="payrollControllerScope.tax.prepostTax"/>
                        <label for="switch_left2" class="linheight2pt7 margin0 width50p">Taxable</label>
                        <input type="radio" id="switch_right3" name="tax" value="N" class="margin0 width50p" ng-model="payrollControllerScope.tax.prepostTax"/>
                        <label for="switch_right3" class="linheight2pt7 margin0 width50p">Non Taxable</label>
                    </div>


                 <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="customDropDown user_select100 margin_top5">
                            <select class="select1 dropdown inputClass width100" name="type" ng-model="payrollControllerScope.tax.type" ng-change="payrollControllerScope.resetTaxAmount()" required> 
                                <option value="" ng-if="!payrollControllerScope.tax.type || payrollControllerScope.tax.type == ''">Select Type*</option>
                                <option value="F">Fixed Cost</option>
                                <option value="P">Percentage</option>
                            </select>
                        </div>
                    </div>
                    <input type="text" name="fixedAmount" class="inputClass width100" ng-model="payrollControllerScope.tax.fixedAmount" ng-show="payrollControllerScope.tax.type == 'F'" ng-pattern="/^[0-9]*$/" placeholder="Amount / Year*" required/>
                    <p class="reqStar" ng-if="(payrollControllerScope.taxForm.fixedAmount.$error.pattern || payrollControllerScope.taxForm.fixedAmount.$invalid) && payrollControllerScope.taxForm.fixedAmount.$touched">Kindly Enter Valid Amount</p>
                    <div class="form-group col-md-6 padd0 margin_top5" ng-show="payrollControllerScope.tax.type == 'P'">
                        <input type="text" name="percentageAmount" class="col-md-6 inputClass width100" ng-model="payrollControllerScope.tax.percentageAmount" ng-show="payrollControllerScope.tax.type == 'P'" ng-pattern="/^[0-9]*$/" placeholder="Percentage*" required/>
                        <p class="reqStar" ng-if="(payrollControllerScope.taxForm.percentageAmount.$error.pattern || payrollControllerScope.taxForm.percentageAmount.$invalid) && payrollControllerScope.taxForm.percentageAmount.$touched">Kindly Enter Valid Percentage</p>
                    </div>
                    <div class="form-group col-md-6 padd0 margin_top5" ng-show="payrollControllerScope.tax.type == 'P'">
                        <div class="customDropDown user_select100 margin_top5">
                            <select class="select1 dropdown inputClass width100" name="basicGrossPay" ng-model="payrollControllerScope.tax.basicGrossPay" required> 
                                <option value="" ng-if="!payrollControllerScope.tax.basicGrossPay || payrollControllerScope.tax.basicGrossPay == ''">Select Pay*</option>
                                <option value="G">Gross Pay</option>
                                <option value="B">Basic Pay</option>
                            </select>
                        </div>
                    </div>
                    <textarea name="notes" class="inputClass width100" ng-model="payrollControllerScope.tax.notes" placeholder="Comments"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="defaultBtn" data-dismiss="modal" ng-click="payrollControllerScope.declineTax()">Decline</button>
                    <button type="button" 
                        class="activeBtn btn" 
                        ng-click="payrollControllerScope.addEmployeeTax()"
                        ng-disabled="payrollControllerScope.taxForm.$invalid"
                        ng-if="!payrollControllerScope.isEdit">Save</button>
                        <button type="button" 
                        class="activeBtn btn" 
                        ng-click="payrollControllerScope.editTax()"
                        ng-disabled="payrollControllerScope.taxForm.$invalid"
                        ng-if="payrollControllerScope.isEdit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="taxSlabs" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="payrollControllerScope.declineTaxSlabs()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                <h4 class="modal-title">Tax Slabs</h4>
            </div>
            <form name="payrollControllerScope.taxSlabsForm">
                <div class="modal-body">
                	<div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5 margin_top5">
                        <div moment-picker="payrollControllerScope.taxSlabs.startDate"
                            format="YYYY" 
                            class=" margin_leftMinus9 ">
                            <input name="startDate"
                                ng-model="payrollControllerScope.taxSlabs.startDate"
                                autoclose="true" keyboard="true" set-on-select="true"
                                class="inputClass cursor_pointer width100 shadow"
                                placeholder="From*" required> <i
                                class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
                        <div moment-picker="payrollControllerScope.taxSlabs.enddate"
                            format="YYYY" 
                            class=" margin_leftMinus9" data-min-date="payrollControllerScope.taxSlabs.startDate">
                            <input name="enddate"
                                ng-model="payrollControllerScope.taxSlabs.enddate"
                                autoclose="true" keyboard="true" set-on-select="true"
                                class="inputClass cursor_pointer width100 shadow"
                                placeholder="To"> <i
                                class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
                                aria-hidden="true"></i>
                        </div>
                    </div> 
                    <div class="form-group col-xs-12 col-sm-12 padd0">
                        <div class="customDropDown user_select100 margin_top5">
                            <select class="select1 dropdown inputClass width100" name="taxpayeeType" ng-model="payrollControllerScope.taxSlabs.taxpayeeId" required> 
                               <option value="" ng-if="!payrollControllerScope.taxSlabs.taxpayeeId || payrollControllerScope.taxSlabs.taxpayeeId == ''">Select State&#42;</option>
                               <option value="{{taxPayee.id}}" ng-repeat="taxPayee in payrollControllerScope.taxPayeeTypeList" ng-if="taxPayee.status == 'a'">{{taxPayee.taxpayeeType}}</option>
                            </select>
                        </div>
                    </div> 
                    <input type="text" name="name" class="inputClass width100" ng-model="payrollControllerScope.taxSlabs.fromAmount" placeholder="Amount From*" required />
                    <p class="reqStar" ng-if="payrollControllerScope.taxSlabsForm.name.$invalid && payrollControllerScope.taxSlabsForm.name.$touched">Kindly Enter Valid Amount</p>
                    <input type="text" name="displayName" class="inputClass width100" ng-model="payrollControllerScope.taxSlabs.toAmount" placeholder="Amonut To*" required/>
                    <p class="reqStar" ng-if="payrollControllerScope.taxSlabsForm.displayName.$invalid && payrollControllerScope.taxSlabsForm.displayName.$touched">Kindly Enter Valid Amount</p>
                    <div class="form-group col-md-6 padd0 margin_top5">
                    	<input type="text" name="percentageAmount" class="col-md-6 inputClass width100" ng-model="payrollControllerScope.taxSlabs.percentageAmount" ng-pattern="/^[0-9]*$/" placeholder="Percentage*" required/>
                    	<p class="reqStar" ng-if="(payrollControllerScope.taxSlabsForm.percentageAmount.$error.pattern || payrollControllerScope.taxSlabsForm.percentageAmount.$invalid) && payrollControllerScope.taxSlabsForm.percentageAmount.$touched">Kindly Enter Valid Percentage</p>
                    </div>
                    <div class="form-group col-md-6 padd0 margin_top5">
                        <div class="customDropDown user_select100 margin_top5">
                            <label class="line_height34 padding_left15">% of Taxable Amount</label>
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="text-right margin_top10">
                    	<button class="defaultBtn" data-dismiss="modal" ng-click="payrollControllerScope.declineDeduction()">Decline</button>
                    <button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.addTaxSlabs()"
                    	ng-disabled="payrollControllerScope.taxSlabsForm.$invalid"
                    	ng-if="!payrollControllerScope.isEdit">Save</button>
                    	<button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.editTaxSlabs()"
                    	ng-disabled="payrollControllerScope.taxSlabsForm.$invalid"
                    	ng-if="payrollControllerScope.isEdit">Update</button>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    
                </div>
            </form>
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>