<div class="loader_backdrop" ng-if="dashboardControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>
  <div class="rightContainer dashboard_selectBox">
       <div class="row mob-dashboard">
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padd0">
                        <div class="row">
       		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 dashboard_responsivePadd">
                                <div class="dashbordMenusChildDiv">
                                    <div class="row BORDBOTTOM dashboardHeader">
                                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12">
                                            <span class="emp_text font_weight600">Payroll</span>
                                        </div>
                                       
                                    </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12 col-xs-12 padd0">
                                                    <ul class="list_typeNone reports_list">
                                                    	<li><a href="#!/deductionReport"><i class="fa fa-external-link"></i>Deduction Report</a></li>
                                                    	<li><a href="#!/taxReport"><i class="fa fa-external-link"></i>Tax Report</a></li>
                                                    	<li><a href="#!/payrollYTDReport"><i class="fa fa-external-link"></i>YTD Report</a></li>
                                                    	<li><a href="#!/bonusReport"><i class="fa fa-external-link"></i>Bonus Report</a></li>
                                                    	<li><a href="#!/LOPReport"><i class="fa fa-external-link"></i>LOP Report</a></li>
                                                    </ul>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
       </div>
       </div>
       </div>
  </div>
           