<div class="loader_backdrop" ng-if="payrollControllerScope.spinner">
	<div class="loader loader_position"></div>
</div>

<div class="rightContainer">
	<div class="pageTitleParent">
		<div class="pageTitletextContainer paddLft15">
		<span class="cursor_pointer back_iconPosition" ng-if="payrollControllerScope.showBack" ng-click="payrollControllerScope.goBackToPyroll()">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span>
		<span class="lineheight21">Run Payroll</span></div>
		<div class="innerdivContainer red-icon create-employee responsive_padding0 employee_placeholder" ng-if="!payrollControllerScope.isPayrollDetail">
			<p class="reqStar text-center" ng-if="payrollControllerScope.msg && payrollControllerScope.msg != ''">{{payrollControllerScope.msg}}</p>
			
			<form class="form-horizontal formContainer employee_selectBox" name="payrollControllerScope.employeeForm">
			<!-- <div class="form-group row mob-pos-rel" ng-show="!payrollControllerScope.isRunPayroll">
						<label class="control-label col-sm-12 col-md-4  lineheight2pt6">Payroll Type<span class="reqStar">*</span></label>
						 <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                            <div class="customDropDown">
	                          <select class="select1 dropdown inputClass stateoptions" name="payrollType" ng-model="payrollControllerScope.runPayroll.payrollType" required>
	                              <option value="" ng-if="!payrollControllerScope.runPayroll.payrollType || payrollControllerScope.runPayroll.payrollType == ''">Select Payroll Type</option>
	                              <option value="Monthly" >Monthly</option>
	                              <option value="Settlement" >Settlement</option>
	                          </select>
                      		</div>
                         </div>
                     </div> -->
                     <div ng-show="!payrollControllerScope.isRunPayroll">
				<div class="form-group row mob-pos-rel">
					<label class="control-label col-sm-12 col-md-4  lineheight2pt6">Pay Period<span class="reqStar">*</span></label>
					<div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15"  >
						<div moment-picker="payrollControllerScope.runPayroll.payPeriod" change="payrollControllerScope.hidePayroll()" data-max-date="payrollControllerScope.minDate" format="MMM YYYY" >
							<input name="payPeriod" ng-model="payrollControllerScope.runPayroll.payPeriod" keyboard="true" class="cursor_pointer font_narmal inputClass selectWidth"
							 placeholder="Pay Period" set-on-select="true" required readonly>
							<span class="mob-pos-abs calen mob-right-18 right215">
								<button type="button" class="btn btn-default mrgTop5 addIcon">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
					</div>
					</div>
					<div class="form-group row mob-pos-rel">
						<label class="control-label col-sm-12 col-md-4  lineheight2pt6">Payroll Batch<span class="reqStar">*</span></label>
						 <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                            <div class="customDropDown">
	                          <select class="select1 dropdown inputClass stateoptions" name="payrollBatchId" ng-model="payrollControllerScope.runPayroll.payrollBatchId" required>
	                              <option value="" ng-if="!payrollControllerScope.runPayroll.payrollBatchId || payrollControllerScope.runPayroll.payrollBatchId == ''">Select Payroll Batch</option>
	                              <option value="{{batch.id}}" ng-repeat="batch in payrollControllerScope.batchActiveList  | orderBy:'name'">{{batch.name}}</option>
	                          </select>
                      		</div>
                         </div>
                     </div>
                     
                     
				
				<div class="form-group row mob-pos-rel text-center margin_top10 margin_bottom10 responsive_marginTB20">
					<button class="activeBtn btn" type="button" ng-click="payrollControllerScope.getRunPayroll(payrollControllerScope.runPayroll)" ng-disabled="!payrollControllerScope.runPayroll.payPeriod || payrollControllerScope.runPayroll.payPeriod == '' || !payrollControllerScope.runPayroll.payrollBatchId || payrollControllerScope.runPayroll.payrollBatchId == ''">Continue</button>
				</div>
				</div>



				<div class="table_data" ng-show="payrollControllerScope.isRunPayroll">

				<form class="form-horizontal formContainer employee_selectBox" >
					<div class="row" ng-if="!payrollControllerScope.runPayrollList.length == 0">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padd0">
					<div class="form-group row mob-pos-rel">
						<label class="control-label col-sm-12 col-md-6 col-xs-6 lineheight2pt6 ">Pay Month </label>
						<div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15 padding_top4">
							<span class="lineheight2pt6 font_weight600">{{payrollControllerScope.runPayroll.payPeriod}}</span>
						</div>
					</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padd0">
					<div class="form-group row mob-pos-rel">
						<label class="control-label col-sm-12 col-md-6 col-xs-6 lineheight2pt6 ">Pay Period </label>
						<div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15 padding_top4">
							<span class="lineheight2pt6 font_weight600">{{payrollControllerScope.payPeriodFrom | date}} - {{payrollControllerScope.payPeriodTo | date}}</span>
						</div>
					</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padd0">
					<div class="form-group row mob-pos-rel">
						<label class="control-label col-sm-12 col-md-6 col-xs-6 lineheight2pt6">Payroll Batch</label>
						<div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15 padding_top4">
	                        <span class="lineheight2pt6 font_weight600">{{payrollControllerScope.batchName}}</span>
	                    </div>
                    </div>
                    </div>
                    </div>
                   
                    </form>
					
					<table wt-responsive-table class="custom-responsive-table" ng-if="payrollControllerScope.runPayrollList.length > 0">
						<thead>
							<tr>
								<!-- <th></th> -->
								<th>Employee Id</th>
								<th>Employee Name</th>
								<th>Gross</th>
								<th>Earnings</th>
								<th>Deduction</th>
								<th>Tax</th>
								<th>Net</th>
								<th>Status</th>
								<!-- <th>Action</th> -->
							</tr>
							<!-- <tr>
								<th>
									<input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.empId"
									 ng-keyup="payrollControllerScope.searchMe('emp')" />
								</th>
								<th>
									<input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.name" ng-keyup="payrollControllerScope.searchMe('emp')"
									/>
								</th>
								<th>
									<input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.basicGrossPay"
									 ng-keyup="payrollControllerScope.searchMe('emp')" />
								</th>
								<th>
									<input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.earningMonth"
									 ng-keyup="payrollControllerScope.searchMe('emp')" />
								</th>
								<th>
									<input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.deductionMonth"
									 ng-keyup="payrollControllerScope.searchMe('emp')" />
								</th>
								<th>
									<input type="search" placeholder="Search Here" class="inputClass width90" ng-model="payrollControllerScope.search.netMonth"
									 ng-keyup="payrollControllerScope.searchMe('emp')" />
								</th>
								<th>
									<input type="search" placeholder="Search Here" hidden class="inputClass width90" ng-model="payrollControllerScope.search.netMonth"
									 ng-keyup="payrollControllerScope.searchMe('emp')" />
								</th>
							</tr> -->
						</thead>
						<tbody>

							<tr ng-repeat="employee in payrollControllerScope.employeeListlogEventFilter = (payrollControllerScope.runPayrollList | orderBy : '-id' |
									                                 filter: { 
									                                 	empId : payrollControllerScope.search.empId, 
									                                 	name : payrollControllerScope.search.name,
									                                 	deductionMonth : payrollControllerScope.search.deductionMonth, 
									                                 	netMonth : payrollControllerScope.search.netMonth, 
									                                    status : payrollControllerScope.search.status, 
									                                 	earningMonth : payrollControllerScope.search.earningMonth,                          basicGrossPay : payrollControllerScope.search.basicGrossPay
									                                 }|  
									                                limitTo : limitToShow : beginFrom) track by $index" class="backGreyColor">
								<!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->
									                <!-- <td class="run_payroll_checkbox"><input class="" type="checkbox" ng-model="employee.isChecked" ng-init="employee.isChecked = (employee.payrollStatus == 'n')"  ng-checked="employee.payrollStatus == 'd' || employee.payrollStatus == 'p'" ng-disabled ="employee.payrollStatus == 'p' || employee.payrollStatus == 'd'"  /><label></label></td> -->
								<td class="cursor_pointer font_weight600" data-toggle="modal" data-target="#payrollDetal"  data-backdrop="static" data-keyboard="false" ng-click="payrollControllerScope.getPayrollByEmpDate(employee.empId,payrollControllerScope.runPayroll.payPeriod)">{{employee.empId}}</td>
								<td class="">{{employee.name}}</td>
								<td class="text-right">{{employee.basicGrossPay | number:2}}</td>
								<td class="text-right">{{employee.earningMonth | number:2}}</td>
								<td class="text-right">{{employee.deductionMonth | number:2}}</td>
								<td class="text-right">{{employee.taxMonth | number:2}}</td>
								<td class="text-right">{{employee.netMonth | number:2}}</td>
								<td class="text-center"><span ng-if="employee.payrollStatus == 'n'" class="label_warning">New</span><span ng-if="employee.payrollStatus == 'd'" class="label_gray">Draft</span><span ng-if="employee.payrollStatus == 'p'" class="label_success">Processed</span><span ng-if="employee.payrollStatus == 'v'" class="label_danger">Void</span> </td>
								<!-- <td>
									<span ng-if="employee.status =='a'" class="activeBtn btn" ng-click="payrollControllerScope.editInCompensation(employee.empId)">Edit</span>
									<span ng-if="employee.status =='i'" class="label_danger">In-Active</span>
								</td> -->
							</tr>
						</tbody>
					</table>
					<p ng-if="(payrollControllerScope.runPayrollList |
									                                 filter: { 
									                                 	empId : payrollControllerScope.search.empId, 
									                                 	name : payrollControllerScope.search.name,
									                                 	deductionMonth : payrollControllerScope.search.deductionMonth, 
									                                 	netMonth : payrollControllerScope.search.netMonth, 
									                                    status : payrollControllerScope.search.status, 
									                                 	earningMonth : payrollControllerScope.search.earningMonth,                          basicGrossPay : payrollControllerScope.search.basicGrossPay
									                                 }).length == 0" class="text-center grey_text margin0">Payroll Details Not Available</p>
				</div>

				<div class="table_btn " ng-show="payrollControllerScope.isRunPayroll">
					<button ng-click="payrollControllerScope.showPrevNav()" ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.payrollList.length > 0"
					 ng-disabled="payrollControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':payrollControllerScope.buttonBeginFrom == 0}"
					 class="">Prev</button>

					<span ng-repeat="i in payrollControllerScope.payrollList | limitTo : payrollControllerScope.buttonLimitToShow : payrollControllerScope.buttonBeginFrom">
						<button ng-class="{ 'active' : i.isActiveClass }" ng-if="payrollControllerScope.buttonBeginFrom + $index < payrollControllerScope.payrollList.length / payrollControllerScope.buttonLimitToShow"
						 ng-click="payrollControllerScope.gotoPage($index * payrollControllerScope.buttonLimitToShow + payrollControllerScope.buttonBeginFrom * payrollControllerScope.buttonLimitToShow, payrollControllerScope.buttonBeginFrom + $index)">
							{{payrollControllerScope.buttonBeginFrom + $index + 1}}
						</button>
					</span>
					<button ng-click="payrollControllerScope.showNextNav()" ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.payrollList.length > 0"
					 ng-disabled="payrollControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':payrollControllerScope.isNextDisabled}">Next</button>
					 <span 
			             	ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.payrollList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < payrollControllerScope.payrollList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < payrollControllerScope.payrollList.length)">{{payrollControllerScope.payrollList.length}}</span> of {{payrollControllerScope.payrollList.length}}</span>
					 
				</div>
				<div class="form-group row mob-pos-rel text-right margin_top10" ng-if="payrollControllerScope.isRunPayroll && (payrollControllerScope.runPayrollList |
									                                 filter: { 
									                                 	empId : payrollControllerScope.search.empId, 
									                                 	name : payrollControllerScope.search.name,
									                                 	deductionMonth : payrollControllerScope.search.deductionMonth, 
									                                 	netMonth : payrollControllerScope.search.netMonth, 
									                                    status : payrollControllerScope.search.status, 
									                                 	earningMonth : payrollControllerScope.search.earningMonth, basicGrossPay : payrollControllerScope.search.basicGrossPay
									                                 }).length>0">
					<div class="formfooterbtns">
					<button class="defaultBtn btn" type="button" ng-click="payrollControllerScope.goBackToPyroll()">Decline</button>
					<button class="activeBtn btn" type="button" ng-click="payrollControllerScope.processPayroll()" ng-disabled="!payrollControllerScope.payrollStatus">Proceed</button>
					</div>
				</div>
			</form>
			
			</div>
			<div class="clearfix"></div>
			<div id="payrollDetal" class="modal fade emp_compen" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close white opacity1px" data-dismiss="modal"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                <h4 class="modal-title">Payroll Details</h4>
            </div>
                <div class="modal-body popup_height300">
                <div class="red-icon create-employee responsive_padding0 employee_placeholder back_white">
			
				<!-- <div class="row">
					<span class="cursor_pointer back_iconPosition"  ng-click="payrollControllerScope.gotoRunPayroll(payrollControllerScope.runPayroll.payrollBatchId)">
                        	<i class="fa fa-angle-left" aria-hidden="true"></i>
                        	<i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span>
				</div> -->
				<div class="row padd0">
					<div class="col-lg-6 col-xs-12 padd_left0 respadd0" >
						<div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Earnings / Allowances</span>
                                        </div>
                                            <div class="col-lg-12 padd0" >
                                                <div class="row">
                                                    <div class="" ng-if="payrollControllerScope.employeeCompensationEarningList[0].earningName!=null">
                                                        <ul class="padd0 left_text">
                                                        <li class="row" ng-if="employeeControllerScope.employee.workLocationCity !== ''">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Year To Date</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="earnings in payrollControllerScope.employeeCompensationEarningList">
                                                            <label class="col-xs-6 padd0">{{earnings.earningName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{earnings.monthly | number :2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{earnings.ytd | number :2}}</span>
                                                            </li>
                                                            <li class="row" ng-if="payrollControllerScope.bonusMonth">
                                                            <label class="col-xs-6 padd0">Bonus</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.bonusMonth | number :2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.bonusYear | number :2}}</span>
                                                            </li>
                                                         <li class="row" ng-if="employeeControllerScope.employee.workLocationCity !== ''">
                                                            <span class="col-xs-6 padd0 font_weight600">Total( A )</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.earningMonth | number :2}}</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.earningYear | number :2}}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p ng-if="payrollControllerScope.employeeCompensationEarningList[0].earningName==null" class="text-center grey_text margin0 padding_top10">
                                                    	Earnings not available
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="table_data margin_top15">
		    
						            	<table wt-responsive-table class="custom-responsive-table-employee back_grey margin0 border_table1px">
									        <thead>
									            <!-- <tr>
									            	<th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="payrollControllerScope.deleteEmployee()"></i>
									            	</th>
									               
									                
									            </tr> -->
									            
									        </thead>
									        <tbody ng-if="payrollControllerScope.employeeCompensationEarningList[0].earningName!=null">
									        	<tr >
									        		<td class="text-right responsive_width550 border_leftNone">Net Pay ( A - (B+C) )</td>
									        		<td class="responsive_width255 text-right font_weight600">{{ payrollControllerScope.leadListByEmp.netMonth | number:2 }}</td>
									        		<td class="text-right border_rightNone font_weight600">{{ payrollControllerScope.leadListByEmp.netYear | number:2 }}</td>
									        	</tr>
									        </tbody>
										</table>
		                        </div>
					</div>
					<div class="col-lg-6 col-xs-12 padd_right0">
						<div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Deductions</span>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="" ng-if="payrollControllerScope.employeeCompensationDeductionList[0].deductionName!=null">
                                                        <ul class="padd0 left_text">
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Year To Date</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="deductions in payrollControllerScope.employeeCompensationDeductionList">
                                                            <label class="col-xs-6 padd0">{{deductions.deductionName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{deductions.monthly | number:2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{deductions.ytd | number:2}}</span>
                                                            </li>

                                                            <li class="row" ng-if="payrollControllerScope.leadListByEmp.lossOfPayMonth > 0">
                                                            <label class="col-xs-6 padd0">Loss Of Pay</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.leadListByEmp.lossOfPayMonth | number:2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.leadListByEmp.lossOfPayYear | number:2}}</span>
                                                            </li>
                                                         
                                                       		 <li class="row" ng-if="employeeControllerScope.employee.workLocationCity !== ''">
                                                            <span class="col-xs-6 padd0 font_weight600">Total( B )</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.deductionMonth | number:2}}</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.deductionYear | number:2}}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p ng-if="payrollControllerScope.employeeCompensationDeductionList[0].deductionName==null" class="text-center grey_text margin0 padding_top10">
                                                    	Deductions not available
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="responsive_textCenter clear_both compensation_text">
                                            <span class="span_text capitalizeText">Taxes</span>
                                        </div>
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="" ng-if="payrollControllerScope.employeeCompensationTaxList[0].taxName!=null">
                                                        <ul class="padd0 left_text">
                                                        <li class="row" >
                                                            <label class="col-xs-6 padd0"></label>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Monthly</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_bottom ">Year To Date</p></span>
                                                            </li>
                                                           <li class="row" ng-repeat="tax in payrollControllerScope.employeeCompensationTaxList">
                                                            <label class="col-xs-6 padd0">{{tax.taxName}}</label>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{tax.monthly | number:2}}</span>
                                                            <span class="font_weight600 col-xs-3 padd0 wordBreak_all capitalizeText text-right"><i class="fa fa-inr" aria-hidden="true"></i>{{tax.ytd | number:2}}</span>
                                                            </li>
                                                         
                                                       		 <li class="row" ng-if="employeeControllerScope.employee.workLocationCity !== ''">
                                                            <span class="col-xs-6 padd0 font_weight600">Total( C )</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.taxMonth | number:2}}</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>{{payrollControllerScope.taxYear | number:2 }}</p></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p ng-if="payrollControllerScope.employeeCompensationTaxList[0].taxName==null" class="text-center grey_text margin0 padding_top10">
                                                    	Taxes not available
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <!-- <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="">
                                                    	 <ul class="padd0 left_text">
                                                    	 	<li class="row" ng-if="employeeControllerScope.employee.workLocationCity !== ''">
                                                            <span class="col-xs-6 padd0 font_weight600">Net Amount</span>
                                                            <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>20,0000</p></span>
                                                             <span class=" col-xs-3 padd_right0"><p class=" wordBreak_all capitalizeText text-right comp_border_top font_weight600"><i class="fa fa-inr" aria-hidden="true"></i>20,0000</p></span>
                                                            </li>
                                                    	 </ul>
                                                    </div>
                                                    </div>
                                                    </div> -->
					</div>
			
				</div>
		</div>
		</div>
		</div>
		</div>
		</div>
	</div>
</div>