<div class="loader_backdrop" ng-if="myCompensationControllerScope.spinner">
	<div class="loader loader_position"></div>
</div>
<div class="rightContainer">
	<div class="pageTitleParent">
		<div class="pageTitletextContainer paddLft15">
		<span class="cursor_pointer back_iconPosition" ng-if="payrollControllerScope.showBackPayroll" ng-click="payrollControllerScope.goToPayroll()">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span>
		<span class="">Payroll Details</span></div>
					<div class="innerdivContainer red-icon create-employee responsive_padding0 employee_placeholder">
					
                    <!-- <div class="row">
					<span class="cursor_pointer back_iconPosition"  ng-click="payrollControllerScope.goToPayroll()">
                        	<i class="fa fa-angle-left" aria-hidden="true"></i>
                        	<i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i>
                    </span>
					</div> -->
					<form class="form-horizontal formContainer employee_selectBox" ng-if="payrollControllerScope.runPayrollDetailList.length > 0">
					<!-- <div class="form-group row mob-pos-rel">
						<label class="control-label col-sm-12 col-md-6 lineheight2pt6 ">Pay Month </label>
						<div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15 padding_top4">
							<span class="lineheight2pt6 font_weight600">{{payrollControllerScope.month}}</span>
						</div>
					</div>
					<div class="form-group row mob-pos-rel">
						<label class="control-label col-sm-12 col-md-6 lineheight2pt6 ">Pay Period </label>
						<div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15 padding_top4">
							<span class="lineheight2pt6 font_weight600">{{payrollControllerScope.payPeriodFrom | date}} - {{payrollControllerScope.payPeriodTo | date}}</span>
						</div>
					</div>
					<div class="form-group row mob-pos-rel">
						<label class="control-label col-sm-12 col-md-6 lineheight2pt6">Payroll Batch</label>
						<div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15 padding_top4">
	                        <span class="lineheight2pt6 font_weight600">{{payrollControllerScope.batchName}}</span>
	                    </div>
                    </div> -->                    
                    <!-- <div class="form-group row mob-pos-rel">
						<label class="control-label col-sm-12 col-md-6 lineheight2pt6">Payroll Type</label>
						<div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15 padding_top4">
	                        <span class="lineheight2pt6 font_weight600">{{payrollControllerScope.payrolltype}}</span>
	                    </div>
                    </div> -->
                    <div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padd0">
					<div class="form-group row mob-pos-rel">
						<label class="control-label col-sm-12 col-md-6 lineheight2pt6 ">Pay Month </label>
						<div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15 padding_top4">
							<span class="lineheight2pt6 font_weight600">{{payrollControllerScope.month}}</span>
						</div>
					</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padd0">
					<div class="form-group row mob-pos-rel">
						<label class="control-label col-sm-12 col-md-6 lineheight2pt6 ">Pay Period </label>
						<div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15 padding_top4">
							<span class="lineheight2pt6 font_weight600">{{payrollControllerScope.payPeriodFrom | date}} - {{payrollControllerScope.payPeriodTo | date}}</span>
						</div>
					</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padd0">
					<div class="form-group row mob-pos-rel">
						<label class="control-label col-sm-12 col-md-6 lineheight2pt6">Payroll Batch</label>
						<div class="col-sm-12 col-md-6 pad-right-0 mob-pad-right-15 padding_top4">
	                        <span class="lineheight2pt6 font_weight600">{{payrollControllerScope.batchName}}</span>
	                    </div>
                    </div>
                    </div>
                    </div>
                    </form>
						<div class="table_data" ng-if="payrollControllerScope.runPayrollDetailList.length > 0">
							<table wt-responsive-table class="custom-responsive-table padding_table10">
								<thead>
									<tr>
										<th>Employee Id</th>
										<th>Employee Name</th>
										<th>Month</th>
										<th>Gross</th>
										<th>Earnings</th>
										<th>Deduction</th>
										<th>Net</th>
										<th>Status</th>
										<!-- <th ng-if="payrollControllerScope.runPayrollDetailList[0].status =='p'">Action</th> -->
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="employee in payrollControllerScope.runPayrollDetailList track by $index" class="backGreyColor">
										<td class="">{{employee.empId}}</td>
										<td class="">{{employee.name}}</td>
										<td class="text-center">{{employee.payrollMonth}}</td>
										<td class="text-right">{{employee.basicGrossPay | number:0}}.00</td>
										<td class="text-right">{{employee.earningMonth | number:0}}.00</td>
										<td class="text-right">{{employee.deductionMonth | number:0}}.00</td>
										<td class="text-right">{{employee.netMonth | number:0}}.00</td>
										<td class="text-center">
											<span ng-if="employee.status =='d'" class="label_gray">Draft</span>
											<span ng-if="employee.status =='p'" class="label_success">Processed</span>
										</td>
										<!-- <td class="text-center" ng-if="employee.status =='p'"><i class="fa fa-envelope" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Send Mail"></i><i class="fa fa-download padd_LR10" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Download"></i><i class="fa fa-eye" aria-hidden="true" data-toggle="modal" data-target="#viewPayslipModal" ></i></td> -->
									</tr>
								</tbody>
							</table>
						</div>
						<div ng-if="!payrollControllerScope.isDataAvailable">
                            <p class="text-center grey_text margin0 padding_top0">{{payrollControllerScope.dataMsg}}</p>
                        </div>
                        <div class="table_btn">
							<button ng-click="payrollControllerScope.showPrevNav()" ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.payrollList.length > 0"
							 ng-disabled="payrollControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':payrollControllerScope.buttonBeginFrom == 0}"
							 class="">Prev</button>

							<span ng-repeat="i in payrollControllerScope.payrollList | limitTo : payrollControllerScope.buttonLimitToShow : payrollControllerScope.buttonBeginFrom">
								<button ng-class="{ 'active' : i.isActiveClass }" ng-if="payrollControllerScope.buttonBeginFrom + $index < payrollControllerScope.payrollList.length / payrollControllerScope.buttonLimitToShow"
								 ng-click="payrollControllerScope.gotoPage($index * payrollControllerScope.buttonLimitToShow + payrollControllerScope.buttonBeginFrom * payrollControllerScope.buttonLimitToShow, payrollControllerScope.buttonBeginFrom + $index)">
									{{payrollControllerScope.buttonBeginFrom + $index + 1}}
								</button>
							</span>
							<button ng-click="payrollControllerScope.showNextNav()" ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.payrollList.length > 0"
							 ng-disabled="payrollControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':payrollControllerScope.isNextDisabled}">Next</button>
							 <span 
			             	ng-if="payrollControllerScope.isDataAvailable && payrollControllerScope.payrollList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < payrollControllerScope.payrollList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < payrollControllerScope.payrollList.length)">{{payrollControllerScope.payrollList.length}}</span> of {{payrollControllerScope.payrollList.length}}</span>
							 
						</div>
						<div class="form-group row mob-pos-rel text-right margin_top10" ng-if="payrollControllerScope.runPayrollDetailList.length > 0">
						<button class="defaultBtn btn" type="button" ng-click="payrollControllerScope.goToPayroll()" ng-if="payrollControllerScope.runPayrollDetailList[0].status != 'p'">Decline</button>
							<button class="activeBtn btn" type="button" ng-click="payrollControllerScope.submitPayroll()" ng-if="payrollControllerScope.runPayrollDetailList[0].status != 'p'">Submit For Process</button>
							<button class="activeBtn btn" type="button" ng-click="payrollControllerScope.gotoRunPayroll('r')" ng-if="payrollControllerScope.runPayrollDetailList[0].status == 'p'">Release Payslips</button>
						</div>
					</div>
				</div>

				<div id="viewPayslipModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close white opacity1px" data-dismiss="modal"  ng-click="employeeControllerScope.decline()"><i class="fa fa-times close_button" aria-hidden="true"></i></button>
                                            <h4 class="modal-title">Payroll</h4>
                                        </div>
                                        <div class="modal-body">
                                           	<div class="row padd0">
					<div class="col-lg-6 col-xs-12 padd0">
						<table class="table table-bordered">
							<caption class="text-center">
								<span class="text-center font_weight600">Earnings(Rs.)</span>
							</caption>
							<thead>
								<tr>
									<th>Description</th>
									<th>Monthly</th>
									<th>YTD</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="earning in payrollControllerScope.leadListByEmp.employeeCompensationEarningList">
									<td>{{earning.earningName}}</td>
									<td class="text-right">{{earning.monthly}}</td>
									<td class="text-right">{{earning.ytd}}</td>
								</tr>
								<tr>
									<td class="font_weight600">Total Earnings</td>
									<td class="font_weight600 text-right">{{payrollControllerScope.leadListByEmp.earningMonth}}</td>
									<td class="font_weight600 text-right">{{payrollControllerScope.leadListByEmp.earningYear}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-lg-6 col-xs-12 padd0">
						<table class="table table-bordered">
							<caption class="text-center">
								<span class="text-center font_weight600">Deduction(Rs.)</span>
							</caption>
							<thead>
								<tr>
									<th>Description</th>
									<th>Monthly</th>
									<th>YTD</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="deduction in payrollControllerScope.leadListByEmp.employeeCompensationDeductionList">
									<td>{{deduction.deductionName}}</td>
									<td class="text-right">{{deduction.monthly}}</td>
									<td class="text-right">{{deduction.ytd}}</td>
								</tr>
								<tr>
									<td class="font_weight600">Total Deduction</td>
									<td class="font_weight600 text-right">{{payrollControllerScope.leadListByEmp.deductionMonth}}</td>
									<td class="font_weight600 text-right">{{payrollControllerScope.leadListByEmp.deductionYear}}</td>
								</tr>
							</tbody>
						</table>
					</div>
			
				</div>
                                    </div>  </div>
                                </div>
                            </div> 
			</div>