<div class="loader_backdrop" ng-if="salesPolicyControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Sales Policies</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" data-toggle="modal" data-target="#salesPolicy"
												data-backdrop="static" data-keyboard="false" ng-click="salesPolicyControllerScope.openAddSalesPolicy()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Add New</span></a></li>
												<li role="presentation" ng-click="salesPolicyControllerScope.exportData()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_export.png" class="padding_right15 hover_imageHide" /><img src="images/i_export_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Export</span></a></li>
												<li role="presentation" g-click="salesPolicyControllerScope.openImportPage()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_import.png" class="padding_right15 hover_imageHide" /><img src="images/i_import_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Import</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <!-- <div class="width100">
                                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
											<span  class="outline0"
												data-toggle="modal" data-target="#salesPolicy"
												data-backdrop="static" data-keyboard="false">
												<button type="button" class="add_btn"
													ng-click="salesPolicyControllerScope.openAddSalesPolicy()">
													<i class="fa fa-plus" aria-hidden="true"></i> <span
														class="paddLeft5">Add New</span>
                                        		</button>
                                        	</span>
                                        </span>
                                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0 text-right">
                                        <button class="glyphicon glyphicon-export action_btn" ng-click="salesPolicyControllerScope.exportData()"></button>
                                        <button class="glyphicon glyphicon-import action_btn margin_left0 margin_right0" ng-click="salesPolicyControllerScope.openImportPage()"></button></span>
                                    </div> -->
                                    <div class="width100 ">
                                        <input type="text" ng-model="salesPolicyControllerScope.searchName" placeholder="Search Here" class=" width100 resp_fontSize">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="salesPolicyControllerScope.dataMsg != ''">
                            <p class="text-center grey_text padding15 padding_top0"> {{salesPolicyControllerScope.dataMsg}}</p>
                        </div>
                        <div id="list-wrapper" ng-if="salesPolicyControllerScope.salesPolicyList.length > 0">
                            <div class="padding_LR25 red-icon create-employee">
                                <div class="row backGreyColor" ng-repeat="salesPolicy in salesPolicyControllerScope.salesPolicyList | filter : { name: salesPolicyControllerScope.searchName } | orderBy : '-id'  ">
                                    <div class="input_section padd0">
                                        <div class="responsive_textCenter">
                                            <div class="row">
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 padd0 text-left lineHeight25">
                                                    <span class="outline0" data-toggle="modal" data-target="#salesPolicy" data-backdrop="static" data-keyboard="false">
													<span ng-click="salesPolicyControllerScope.gotoEditSalesPolicy(salesPolicy)" class="policy_text cursor_pointer break-word">{{salesPolicy.name}}</span>
                                                    </span>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padd0 text-center">
                                                    <ul class="margin0 padd0">
                                                        <li class="line_height24 padd0">
                                                            <span ng-if="salesPolicy.status=='a'" class="label_success">Active</span>
                                                            <span ng-if="salesPolicy.status=='i'" class="label_danger">In-Active</span>
                                                            <span class="pipe_text15">|</span>
                                                            <span class="cursorPointer" ng-click="salesPolicyControllerScope.changeStatus(salesPolicy)">Make
																<span ng-if="salesPolicy.status=='i'">Active</span>
                                                            <span ng-if="salesPolicy.status=='a'">In-Active</span>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
<div id="salesPolicy" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close white opacity1px" data-dismiss="modal"></button>
                <h4 class="modal-title">Sales Policy Details</h4>
            </div>
            <div class="modal-body">
                <form name="salesPolicyControllerScope.salesPolicyForm">
                    <div class="modal-body">
                        <textarea type="text" name="value" class="inputClass width100" placeholder="Policy&#42;" ng-model="salesPolicyControllerScope.salesPolicy.value" required></textarea>
                        <p ng-show="salesPolicyControllerScope.salesPolicyForm.value.$invalid && salesPolicyControllerScope.salesPolicyForm.value.$touched" class="reqStar">Kindly Enter Policy</p>
                    </div>
                    <div class="modal-footer padd0">
                        <button type="button" class="defaultBtn btn" data-dismiss="modal" ng-click="salesPolicyControllerScope.decline()">Decline</button>
                        <button type="button" ng-show="!salesPolicyControllerScope.isUpdate" ng-disabled="salesPolicyControllerScope.salesPolicyForm.$invalid" class="activeBtn btn" ng-click="salesPolicyControllerScope.addSalesPolicy()">Save</button>
                        <button type="button" ng-disabled="salesPolicyControllerScope.salesPolicyForm.$invalid" class="activeBtn btn" ng-show="salesPolicyControllerScope.isUpdate" ng-click="salesPolicyControllerScope.editSalesPolicy()">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>