<div class="loader_backdrop" ng-show="settlementControllerScope.spinner || settlementControllerScope.viewempspinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                     <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Settlements List</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		  <li role="presentation" ng-click="settlementControllerScope.exportData()">
                                    <a href="javascript:void(0)" class="menus_inline"><img src="images/i_export.png" class="padding_right15 hover_imageHide" /><img src="images/i_export_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Export</span></a>
                                </li>
                                 <li role="presentation" ng-click="settlementControllerScope.openImportPage()">
                                    <a href="javascript:void(0)" class="menus_inline"><img src="images/i_import.png" class="padding_right15 hover_imageHide" /><img src="images/i_import_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Import</span></a>
                                </li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row margin_minus10">
                                <div class="input_section">
                                   
                                    <div class="width100 mobile_viewShow">
                                        <input type="text" ng-model="settlementControllerScope.searchName" ng-keyup="settlementControllerScope.searchMe('emp',true)" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div> 
                                    
			                        <div ng-if="!settlementControllerScope.isDataAvailable">
			                            <p class="text-center grey_text margin0">{{settlementControllerScope.dataMsg}}</p>
			                        </div>
                                    <div class=" table_data">
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="settlementControllerScope.deleteEmployee()"></i>
									            	</th> --> 
									                <th>Employee Id</th>
									                <th>Employee Name</th>
									                <th>Designation</th>
									                <th>Company Email</th>
									                 <th>Mobile</th> 
									                <th>Employee Type</th> 
									                <th>Status</th>
									            </tr>
									          
									        </thead>
									        <tbody >
									        	
									            <tr class="backGreyColor">
									               <!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->    
									                 <td ng-click="settlementControllerScope.viewSettlement()" class="cursor_pointer">45</td>         
									                <td>sapta</td>
									                <td>sapta</td>
									                 <td>sapta</td>
									                <td class="text-center">35424</td>
									                <td>{{employee.emptypeName}}</td>
									                <td class="text-center"> <span class="label_success">Active</span>
                                                            <span ng-if="employee.status =='i'" class="label_danger">In-Active</span></td>
									            </tr>
									        </tbody>
										</table>
						            	<p ng-if="(settlementControllerScope.employeeList |  
                                                                     filter : settlementControllerScope.searchName | 
                                                                     filter: { emptypeName : settlementControllerScope.search.emptypeName, status : settlementControllerScope.search.status, personalContact : settlementControllerScope.search.personalContact, companyEmail : settlementControllerScope.search.compEmail, empId : settlementControllerScope.search.empId, name : settlementControllerScope.search.name, title : settlementControllerScope.search.title }).length == 0" class="text-center grey_text margin0">Employee Details Not Available</p>
		                        </div>
		                        <div class="table_btn" ng-if="(settlementControllerScope.employeeList |  
                                                                     filter : settlementControllerScope.searchName | 
                                                                     filter: { emptypeName : settlementControllerScope.search.emptypeName, status : settlementControllerScope.search.status, personalContact : settlementControllerScope.search.personalContact, companyEmail : settlementControllerScope.search.compEmail, empId : settlementControllerScope.search.empId, name : settlementControllerScope.search.name, title : settlementControllerScope.search.title }).length > 0">
		                        <!-- <spheresuitenavigation list-item="settlementControllerScope.employeeList" restrict-to="{{limitToShow}}"></spheresuitenavigation> -->
		                        <button ng-click="settlementControllerScope.showPrevNav()" 
		                        	ng-if="settlementControllerScope.isDataAvailable && settlementControllerScope.employeeList.length > 0" 
		                        	ng-disabled="settlementControllerScope.buttonBeginFrom == 0"
		                        	ng-class="{'cursor_notAllowed':settlementControllerScope.buttonBeginFrom == 0}" class="">Prev</button>
		                        	
		                        <span ng-repeat="i in settlementControllerScope.employeeList | limitTo : settlementControllerScope.buttonLimitToShow : settlementControllerScope.buttonBeginFrom">
		                        	 
		                        	<button ng-class="{ 'active' : i.isActiveClass }" 
		                        		ng-if="settlementControllerScope.buttonBeginFrom + $index < settlementControllerScope.employeeList.length / settlementControllerScope.buttonLimitToShow" 
		                        		ng-click="settlementControllerScope.gotoPage('emp',$index * settlementControllerScope.buttonLimitToShow + settlementControllerScope.buttonBeginFrom * settlementControllerScope.buttonLimitToShow, settlementControllerScope.buttonBeginFrom + $index)">
		                        		{{settlementControllerScope.buttonBeginFrom + $index + 1}}
		                        	</button>
		                        </span>
		                        <button ng-click="settlementControllerScope.showNextNav('emp')" 
		                        	ng-if="settlementControllerScope.isDataAvailable && settlementControllerScope.employeeList.length > 0" 
		                        	ng-disabled="settlementControllerScope.isNextDisabled"
		                        	ng-class="{'cursor_notAllowed':settlementControllerScope.isNextDisabled}">Next</button>
		                        	<span ng-if="settlementControllerScope.isDataAvailable && settlementControllerScope.employeeList.length > 0"  class="pull-right line_height34">
		                        		{{beginFrom + 1}} - 
		                        		<span ng-if="(limitToShow + beginFrom + 1) < settlementControllerScope.employeeList.length">{{limitToShow + beginFrom}}</span>
		                        		 <span ng-if="!((limitToShow + beginFrom + 1) < settlementControllerScope.employeeList.length)">
		                        		 	{{settlementControllerScope.employeeList.length}}
	                        		 	 </span> 
	                        		 	 of {{settlementControllerScope.employeeList.length}}
                        		 	</span>
		                        	</div>
		                        </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                         
                    </div>
                </div>
          