<div class="loader_backdrop" ng-show="payrollControllerScope.spinner || payrollControllerScope.getSpinner">
    <div class="loader loader_position"></div>
</div>

			<div class="row">
			<div class="rightContainer margin_bottom0">
                    <div class="pageTitleParent">
			 <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Support Information</span>
                        </div>
                   </div>
                        <div class="innerdivContainer emp_comp background_gray">
                        <div class="row">
			<div class="col-lg-6 col-xs-12 padd_left0">
                <div class=" border">
                    <div class="pageTitleParent">
                         <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span>Sales Support</span>
                        </div>
                        </div>
                        <div id="list-wrapper">
                            <div infinite-scroll="payrollControllerScope.addMoreAllowance()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1">
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                        <li class="row">
                                                                <label class="col-xs-6 padd0">Name</label><label class="col-xs-6 padd0 font_weight600">Ramesh</label></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">E-mail Id</label><label class="col-xs-6 padd0 font_weight600">pramesh@saptalabs.com</label></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Phone number</label><label class="col-xs-6 padd0 font_weight600">9876541230</label></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Comments</label><label class="col-xs-6 padd0 font_weight600">You are not allowed to use Gmail to send email in violation of the CAN-SPAM Act or other anti-spam laws;.</label></li>
                                                           	 </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                
                <div class="col-lg-6 col-xs-12 padd_right0">
                <div class="">
                    <div class="pageTitleParent border">
                         <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span>Help Desk</span>
                        </div>
                        </div>
                        <div id="list-wrapper">
                            <div infinite-scroll="payrollControllerScope.addMoreDeduction()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1">
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-12 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Name</label><label class="col-xs-6 padd0 font_weight600">Ramesh</label></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">E-mail Id</label><label class="col-xs-6 padd0 font_weight600">pramesh@saptalabs.com</label></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Phone number</label><label class="col-xs-6 padd0 font_weight600">9876543210</label></li>
                                                           <li class="row">
                                                                <label class="col-xs-6 padd0">Comments</label><label class="col-xs-6 padd0 font_weight600">You are not allowed to use Gmail to send email in violation of the CAN-SPAM Act or other anti-spam laws;.</label>
                                                            	</li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
				</div>
				</div>
				</div>
				</div>