
<div class="loader_backdrop" ng-if="reportControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>
                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer paddLft15 lineheight21">
                        <span class="cursor_pointer back_iconPosition" ng-click="reportControllerScope.goBackToReports()">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span>
                        <span>Tax Report</span></div>
                        <div class="innerdivContainer red-icon create-employee responsive_padding0 employee_placeholder">
                    		<p class="reqStar text-center" ng-if="reportControllerScope.msg && reportControllerScope.msg != ''">{{reportControllerScope.msg}}</p>
                            <form class="form-horizontal formContainer employee_selectBox" name="reportControllerScope.taxReportForm">
                             <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31">Financial Year<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="fyid" ng-model="reportControllerScope.taxreport.fyid" required ng-change="reportControllerScope.showMonth(reportControllerScope.taxreport.fyid)">
                                                <option value="">Financial Year</option>
                                                <option value="{{activefy}}"  ng-repeat="activefy in reportControllerScope.getActiveFinancialYearList">{{activefy.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31 margin_top10">Select Frequency<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top10">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="workLocation" ng-model="reportControllerScope.taxreport.frequency" required>
                                                <option value="">Select Frequency</option>
                                                <option value="M">Monthly</option>
                                                 <option value="Q">Querterly</option>
                                                  <option value="Y">Yearly</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel showPeriodYearly" ng-show="reportControllerScope.taxreport.frequency=='M'">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31 margin_top10">Select Period<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top10">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="monthly" ng-model="reportControllerScope.taxreport.monthly" required>
                                                <option value="">Select Period</option>
                                                <option value="{{months}}" ng-repeat="months in reportControllerScope.months">{{months}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel showPeriod" ng-show="reportControllerScope.taxreport.frequency=='Q'">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31 margin_top10">Select Period<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top10">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="quarterly" ng-model="reportControllerScope.taxreport.quarterly" required>
                                                <option value="">Select Period</option>
                                                <option value="q1">Q1</option>
                                                 <option value="q2">Q2</option>
                                                  <option value="q3">Q3</option>
                                                  <option value="q4">Q4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight31 margin_top10">Select Batch<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top10">
                                        <div class="customDropDown">
                                            <select class="select1 dropdown inputClass" name="payrollBatchId" ng-model="reportControllerScope.taxreport.payrollBatchId" required>
                                                <option value="">All</option>
                                                <option value={{batch.id}} ng-repeat="batch in reportControllerScope.batchActiveList  | orderBy:'name'">{{batch.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                    <div class="report_btn">
                                        <button class="activeBtn btn" type="button" ng-click="reportControllerScope.viewTaxReport()" >View Report</button>
                                    </div>
                               
                            </form>
                            <div class="" ng-if="reportControllerScope.taxReport">
                            <p ng-if="reportControllerScope.taxDetailsList.length == 0" class="text-center grey_text margin_top10">Tax Report Details Not Available</p>
                                <div ng-if="reportControllerScope.taxDetailsList.length > 0">
                            	<div class=" table_data">
                                        <table wt-responsive-table class="custom-responsive-table">
                                            <thead>
                                                <tr>
                                                     <th>Employee Name</th> 
                                                    <th ng-repeat = "taxType in reportControllerScope.taxList">{{taxType.displayName}}</th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                                
                                                <tr class="backGreyColor" ng-repeat = "empname in reportControllerScope.taxDetailsList">
                                                <td>{{empname.empName}}</td>
                                                   <td class="text-right" ng-repeat = "taxData in empname.employeeCompensationTaxList">{{taxData.amount | number:2}}</td>         
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                </div>
		                        <div class="table_btn" ng-if="(reportControllerScope.taxDetailsList |  
                                                                     filter : reportControllerScope.searchName | 
                                                                     filter: { emptypeName : reportControllerScope.search.emptypeName, status : reportControllerScope.search.status, personalContact : reportControllerScope.search.personalContact, companyEmail : reportControllerScope.search.compEmail, empId : reportControllerScope.search.empId, name : reportControllerScope.search.name, title : reportControllerScope.search.title }).length > 0">
		                        <!-- <spheresuitenavigation list-item="reportControllerScope.employeeList" restrict-to="{{limitToShow}}"></spheresuitenavigation> -->
		                        <button ng-click="reportControllerScope.showPrevNav()" 
		                        	ng-if="reportControllerScope.isDataAvailable && reportControllerScope.taxDetailsList.length > 0" 
		                        	ng-disabled="reportControllerScope.buttonBeginFrom == 0"
		                        	ng-class="{'cursor_notAllowed':reportControllerScope.buttonBeginFrom == 0}" class="">Prev</button>
		                        	
		                        <span ng-repeat="i in reportControllerScope.taxDetailsList | limitTo : reportControllerScope.buttonLimitToShow : reportControllerScope.buttonBeginFrom">
		                        	 
		                        	<button ng-class="{ 'active' : i.isActiveClass }" 
		                        		ng-if="reportControllerScope.buttonBeginFrom + $index < reportControllerScope.taxDetailsList.length / reportControllerScope.buttonLimitToShow" 
		                        		ng-click="reportControllerScope.gotoPage($index * reportControllerScope.buttonLimitToShow + reportControllerScope.buttonBeginFrom * reportControllerScope.buttonLimitToShow, reportControllerScope.buttonBeginFrom + $index)">
		                        		{{reportControllerScope.buttonBeginFrom + $index + 1}}
		                        	</button>
		                        </span>
		                        <button ng-click="reportControllerScope.showNextNav('emp')" 
		                        	ng-if="reportControllerScope.isDataAvailable && reportControllerScope.taxDetailsList.length > 0" 
		                        	ng-disabled="reportControllerScope.isNextDisabled"
		                        	ng-class="{'cursor_notAllowed':reportControllerScope.isNextDisabled}">Next</button>
		                        	<span ng-if="reportControllerScope.isDataAvailable && reportControllerScope.taxDetailsList.length > 0"  class="pull-right line_height34">
		                        		{{beginFrom + 1}} - 
		                        		<span ng-if="(limitToShow + beginFrom + 1) < reportControllerScope.taxDetailsList.length">{{limitToShow + beginFrom}}</span>
		                        		 <span ng-if="!((limitToShow + beginFrom + 1) < reportControllerScope.taxDetailsList.length)">
		                        		 	{{reportControllerScope.taxDetailsList.length}}
	                        		 	 </span> 
	                        		 	 of {{reportControllerScope.taxDetailsList.length}}
                        		 	</span>
		                        	</div>
                            
                            
                             <div class="form-group row mob-pos-rel text-right margin_top10" ng-if="reportControllerScope.taxDetailsList.length>0">
                    <div class="formfooterbtns">
                    <button class="activeBtn btn" type="button" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Download" ng-click="reportControllerScope.downloadTaxPDF()">Download Report</button>
                    </div>
                </div>
                </div></div>
                        </div>
                    </div>
                </div>
           