<div class="loader_backdrop" ng-show="salesPolicyControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer lineheight21">Sales Policies</div>
                        <div ng-if="salesPolicyControllerScope.dataMsg != ''">
                            <p class="text-center grey_text padding15 margin0">{{ salesPolicyControllerScope.dataMsg }}</p>
                        </div>
                        <div id="list-wrapper" ng-if="salesPolicyControllerScope.salesPolicyList.length > 0">
                           <div class="innerdivContainer red-icon create-employee border_bottom1" ng-repeat="salesPolicy in salesPolicyControllerScope.salesPolicyList | filter : salesPolicyControllerScope.searchName | orderBy : '-id' ">
                               <div class="row">
                                   <div class="input_section col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
                                       <div class="responsive_textCenter">
                                           <span class="policy_text cursor_default break-word"><span class="padd_right15">-</span>{{salesPolicy.name}}</span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            