<div class="loader_backdrop" ng-if="assignmentControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>


<div class="rightContainer">
	<div class="pageTitleParent">
	 <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Assignments List</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" ng-click="assignmentControllerScope.goToImportPage()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_import.png" class="padding_right15 hover_imageHide" /><img src="images/i_import_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Import</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
		
   		<div class="innerdivContainer red-icon create-employee">
       		<div class="row margin_minus10">
           		<div class="input_section">
               		<div class="width100 mobile_viewShow">
                   		<div class="customDropDown col-lg-6 col-md-6 col-sm-6 col-xs-12 padd0 responsive_select margin_top5">
	                       	<select name="leadType" id="select4" class="dropdown selectClass col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left " ng-model="assignmentControllerScope.projectType">
                               <option value="" selected="selected">Select Project Type</option>
                               <option value="" >All</option>
                               <option value="{{projectType.name}}" ng-repeat="projectType in assignmentControllerScope.projectTypeList | orderBy : 'name'">{{projectType.name}}</option>
                           </select>
	                   	</div>
               		</div>
	               	<div class="width100 mobile_viewShow">
	                   	<input type="text" ng-model="assignmentControllerScope.searchName" ng-keyup="assignmentControllerScope.searchMe(true)" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
	               	</div> 
			      	<div ng-if="!assignmentControllerScope.isDataAvailable">
			          	<p class="text-center grey_text margin0">{{assignmentControllerScope.dataMsg}}</p>
			      	</div>
               		<div class="table_data">
			      		<table wt-responsive-table class="custom-responsive-table">
			       			<thead>
					           	<tr>
						           	<!-- <th class="">
						           		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="assignmentControllerScope.deleteProject()"></i>
			           				</th> -->
					               	<th>Employee Name</th>
					               	<th>Project Name</th> 
					               	<th>Start Date</th>
					               	<th>End Date</th>
					               	<th>Status</th>
				           		</tr>
				           		<!-- <tr>
						           	<th class="width5Percent">
						           		<span class="table_mobile table_borderNone">
						           			<input type="checkbox" ng-model="assignmentControllerScope.isSelect" ng-change="assignmentControllerScope.toggleSelect(assignmentControllerScope.isSelect)"/><label></label>
						           		</span>
						           	</th> 
					               	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="assignmentControllerScope.search.projectName" ng-keyup="assignmentControllerScope.searchMe()" /></th>
					               	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="assignmentControllerScope.search.opportunityName" ng-keyup="assignmentControllerScope.searchMe()" /></th>
					               	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="assignmentControllerScope.search.source" ng-keyup="assignmentControllerScope.searchMe()" /></th> 
					               	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="assignmentControllerScope.search.projectDuration" ng-keyup="assignmentControllerScope.searchMe()" /></th>
					               	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="assignmentControllerScope.search.startDate" ng-keyup="assignmentControllerScope.searchMe()" /></th>
					               	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="assignmentControllerScope.search.enddate" ng-keyup="assignmentControllerScope.searchMe()" /></th>
					           	</tr> -->
					       	</thead>
					       	<tbody >
					           	<tr ng-repeat="assignment in assignmentControllerScope.projectListlogEventFilter = (assignmentControllerScope.getAssignmentList | orderBy : '-id' |  
					                                filter : assignmentControllerScope.searchName | 
					                                filter: { empName : assignmentControllerScope.search.empName, projectName : assignmentControllerScope.search.projectName, startDate : assignmentControllerScope.search.startDate, enddate : assignmentControllerScope.search.enddate, status : assignmentControllerScope.search.status }|  
					                               limitTo : limitToShow : beginFrom)" class="backGreyColor">
					               	<!-- <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
					               		<input type="checkbox" ng-model="project.isSelect"/><label></label></span>
					               	</td> -->              
					               	<td ng-click="assignmentControllerScope.gotoView(assignment)" class="cursor_pointer">{{assignment.empName}}</td>
					               	<td>{{assignment.projectName}}</td>
					               	<td class="text-center">{{assignment.startDate|  date:"MMM d, y"}}</td>
					               	<td class="text-center">{{assignment.enddate|  date:"MMM d, y"}}</td> 
					               	<td class="text-center">{{assignment.status}}</td>
					           	</tr>
					       	</tbody>
						</table>
        				<p ng-if="assignmentControllerScope.getAssignmentList.length == 0" class="text-center grey_text margin0">Assignment Details Not Available</p>
                	</div>
                	<div class="table_btn">
			             <button ng-click="assignmentControllerScope.showPrevNav()" 
			             	ng-if="assignmentControllerScope.isDataAvailable && assignmentControllerScope.getAssignmentList.length > 0" 
			             	ng-disabled="assignmentControllerScope.buttonBeginFrom == 0"
			             	ng-class="{'cursor_notAllowed':assignmentControllerScope.buttonBeginFrom == 0}" class="">Prev</button>
             	
             			<span ng-repeat="i in assignmentControllerScope.getAssignmentList | limitTo : assignmentControllerScope.buttonLimitToShow : assignmentControllerScope.buttonBeginFrom">
             	 
			             	<button ng-class="{ 'active' : i.isActiveClass }" 
			             		ng-if="assignmentControllerScope.buttonBeginFrom + $index < assignmentControllerScope.getAssignmentList.length / assignmentControllerScope.buttonLimitToShow" 
			             		ng-click="assignmentControllerScope.gotoPage($index * assignmentControllerScope.buttonLimitToShow + assignmentControllerScope.buttonBeginFrom * assignmentControllerScope.buttonLimitToShow, assignmentControllerScope.buttonBeginFrom + $index)">
			             		{{assignmentControllerScope.buttonBeginFrom + $index + 1}}
			             	</button>
			            </span>
			            <button ng-click="assignmentControllerScope.showNextNav()" 
			             	ng-if="assignmentControllerScope.isDataAvailable && assignmentControllerScope.getAssignmentList.length > 0" 
			             	ng-disabled="assignmentControllerScope.isNextDisabled"
			             	ng-class="{'cursor_notAllowed':assignmentControllerScope.isNextDisabled}">Next</button>
			             	<span 
	             				ng-if="assignmentControllerScope.isDataAvailable && assignmentControllerScope.getAssignmentList.length > 0" class="pull-right line_height34" >{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < assignmentControllerScope.getAssignmentList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < assignmentControllerScope.getAssignmentList.length)">{{assignmentControllerScope.getAssignmentList.length}}</span> of {{assignmentControllerScope.getAssignmentList.length}}</span>
     
             		</div>
             	</div>
			</div>
		</div>
	</div>
</div>





                <!-- <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer">Projects List</div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <div class="width100">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 padd0 responsive_select">
                                            <select name="contacttype" id="select4" class="dropdown selectClass col-lg-3 col-md-3 col-sm-8 col-xs-12" ng-model="assignmentControllerScope.projectType">
                                                <option value="" ng-if="!assignmentControllerScope.projectType && assignmentControllerScope.projectType != ''" selected="selected">Select Project Type</option>
                                                <option value="" >All</option>
                                                <option value="{{projectType.name}}" ng-repeat="projectType in assignmentControllerScope.projectTypeList | orderBy : 'name'">{{projectType.name}}</option>
                                            </select>
                                        </div>
                                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-4 padd0 text-right">
											<button class="glyphicon glyphicon-export action_btn"
												ng-click="assignmentControllerScope.exportData()"></button>

											<button
												class="glyphicon glyphicon-import action_btn margin_left0"></button>
										</span>
                                    </div>
                                    <div class="width100 ">
                                        <input type="text" name="" placeholder="Search Here" ng-model="assignmentControllerScope.searchName" class="margin_top20 width100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="assignmentControllerScope.dataMsg && assignmentControllerScope.dataMsg != ''">
                            <p class="text-center grey_text padding15 padding_top0">{{assignmentControllerScope.dataMsg }}</p>
                        </div>
                        <div id="list-wrapper">
                            <div infinite-scroll="assignmentControllerScope.addMoreItems()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1" ng-repeat="project in projectFilter = (assignmentControllerScope.projectList | orderBy : '-id' | filter:assignmentControllerScope.searchName | filter:  { projectTypeName : assignmentControllerScope.projectType} |  limitTo : assignmentControllerScope.limitToShow)">
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-1 padd0 responsive_textCenter  responsive_textCenter responsivemargin_top10">
                                                <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true"></i>
                                            </div>
                                            <div class="responsive_textCenter">
                                                <span class="anchor_text break-word capitalizeText" ng-click="assignmentControllerScope.gotoView(project.id)">{{project.projectName}}
												</span>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 col-sm-4 padd0">Opportunity Name</label><span class="font_weight600 col-xs-6  wordBreak_all capitalizeText">{{project.opportunityName}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 col-sm-4 padd0">Display Name</label><span class="font_weight600 col-xs-6  wordBreak_all capitalizeText">{{project.displayName}}</span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 col-sm-4 padd0 margin-bottom0">Projecty Duration</label><span class="font_weight600 col-xs-6 wordBreak_all">{{project.projectDuration}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                              <li class="row">
                                                                <label class="col-xs-6 col-sm-4 padd0">Start Date</label><span class="font_weight600 col-xs-6  wordBreak_all">{{project.startDate}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 col-sm-4 padd0">End Date</label><span class="font_weight600 col-xs-6  wordBreak_all">{{project.enddate}}</span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 col-sm-4 padd0 margin-bottom0">Comments</label><span class="font_weight600 col-xs-6  wordBreak_all">{{project.comment}}</span></li>
                                                            </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
