
                <div class="rightContainer">
                    <div class="pageTitleParent">
                     <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Proposals List</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" ng-click="proposalControllerScope.openImportPage()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_import.png" class="padding_right15 hover_imageHide" /><img src="images/i_import_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Import</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                      <!--   <div class="row pageTitletextContainer">
							<span class="col-lg-6 col-md-6 col-sm-6 col-xs-7 padd0">
                        		<div class="line_height30">Proposals List</div>
                        	</span>
							<span class="col-lg-6 col-md-6 col-sm-6 col-xs-5 padd0 text-right">
                                            <button class="glyphicon glyphicon-export action_btn" ng-click="proposalControllerScope.exportData()"></button>
                                            <button class="activeBtn btn margin_left0 margin_right0" ng-click="proposalControllerScope.openImportPage()">Import</button>
                                        </span>
						</div> -->
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row margin_minus10">
                                <div class="input_section">
                                    <div class="width100 mobile_viewShow">
                                        <div class="customDropDown col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top5 padd0 responsive_select">
                                            <select name="proposal" class="select1 dropdown selectClass col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left" ng-model="proposalControllerScope.propsalType">
                                                <option value="" ng-if="! proposalControllerScope.propsalType &&  proposalControllerScope.propsalType != ''" selected="selected">Select Opportunity Type</option>
                                                <option value="" >All</option>
                                                <option value="{{project.id}}" ng-repeat="project in proposalControllerScope.projectType | orderBy : 'name' ">{{project.name}}</option>
                                            </select>
                                        </div>
                                      
                                    </div>
                                    <div class="width100 mobile_viewShow">
                                        <input type="text" ng-model="proposalControllerScope.searchName" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div>
                                    <div class="loader_backdrop" ng-show="proposalControllerScope.spinner || proposalControllerScope.viewProposalspinner">
                                        <div class="loader loader_position"></div>
                                    </div>
                                    <div ng-if="!proposalControllerScope.isDataAvailable">
			                            <p class="text-center grey_text margin0">{{proposalControllerScope.dataMsg}}</p>
			                        </div>
			                        
			                        <div class=" table_data" ng-if="proposalControllerScope.isDataAvailable">
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="proposalControllerScope.deleteProposal()"></i>
									            	</th> -->
									            	<th>Name</th>
									                <th>Rate</th>
									                <th>Payment Terms</th>
									                <th>Quantity</th>
									               
									            </tr>
									            <!-- <tr>
									            	<th class="width5Percent"><span class="table_mobile table_borderNone">
									            		<input type="checkbox" ng-model="proposalControllerScope.isSelect" ng-change="proposalControllerScope.toggleSelect(proposalControllerScope.isSelect)"/><label></label>
									            	</span></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="proposalControllerScope.search.name" ng-keyup="proposalControllerScope.searchMe()" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="proposalControllerScope.search.currencyTypeName" ng-keyup="proposalControllerScope.searchMe()" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="proposalControllerScope.search.PaymentTermName" ng-keyup="proposalControllerScope.searchMe()" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="proposalControllerScope.search.quantity" ng-keyup="proposalControllerScope.searchMe()" /></th>
									               
									            </tr> -->
									        </thead>
									        <tbody >
									        	
									            <tr ng-repeat="proposal in logEventFilter = (proposalControllerScope.proposalList | orderBy : '-id' |  
                                 							filter : proposalControllerScope.searchName | 
									                                 filter: { name : proposalControllerScope.search.name, currencyTypeName : proposalControllerScope.search.currencyTypeName, PaymentTermName : proposalControllerScope.search.PaymentTermName, quantity : proposalControllerScope.search.quantity }|  
									                                limitTo : limitToShow : beginFrom) track by $index" class="backGreyColor">
									                <!-- <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="proposal.isSelect"/><label></label></span>
									                </td>  -->             
									                <td ng-click="proposalControllerScope.viewProposal(proposal.id)" class="cursor_pointer">{{proposal.name}}</td>
									                <td>{{proposal.currencyTypeName}}</td>
									                <td>{{proposal.PaymentTermName}}</td>
									                <td class="text-center">{{proposal.quantity}}</td> 
									            </tr>
									        </tbody>
										</table>
						            	<p ng-if="proposalControllerScope.proposalList.length == 0" class="text-center grey_text margin0">Proposal Details Not Available</p>
		                        </div>
		                        <div class="table_btn">
		                        <!-- <spheresuitenavigation list-item="proposalControllerScope.proposalList" restrict-to="{{limitToShow}}"></spheresuitenavigation> -->
		                        <button ng-click="proposalControllerScope.showPrevNav()" 
		                        	ng-if="proposalControllerScope.isDataAvailable && proposalControllerScope.proposalList.length > 0" 
		                        	ng-disabled="proposalControllerScope.buttonBeginFrom == 0"
		                        	ng-class="{'cursor_notAllowed':proposalControllerScope.buttonBeginFrom == 0}" class="">Prev</button>
		                        	
		                        <span ng-repeat="i in proposalControllerScope.proposalList | limitTo : proposalControllerScope.buttonLimitToShow : proposalControllerScope.buttonBeginFrom">
		                        	 
		                        	<button ng-class="{ 'active' : i.isActiveClass }" 
		                        		ng-if="proposalControllerScope.buttonBeginFrom + $index < proposalControllerScope.proposalList.length / proposalControllerScope.buttonLimitToShow" 
		                        		ng-click="proposalControllerScope.gotoPage($index * proposalControllerScope.buttonLimitToShow + proposalControllerScope.buttonBeginFrom * proposalControllerScope.buttonLimitToShow, proposalControllerScope.buttonBeginFrom + $index)">
		                        		{{proposalControllerScope.buttonBeginFrom + $index + 1}}
		                        	</button>
		                        </span>
		                        <button ng-click="proposalControllerScope.showNextNav()" 
		                        	ng-if="proposalControllerScope.isDataAvailable && proposalControllerScope.proposalList.length > 0" 
		                        	ng-disabled="proposalControllerScope.isNextDisabled"
		                        	ng-class="{'cursor_notAllowed':proposalControllerScope.isNextDisabled}">Next</button>
		                        	<span 
			             				ng-if="proposalControllerScope.isDataAvailable && proposalControllerScope.proposalList.length > 0" class="pull-right line_height34" >{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < proposalControllerScope.proposalList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < proposalControllerScope.proposalList.length)">{{proposalControllerScope.proposalList.length}}</span> of {{proposalControllerScope.proposalList.length}}</span>
		                        	</div>
                                </div>
                                
                            </div>
                        </div>
                       
                       <!--  <div id="list-wrapper">
                            <div infinite-scroll="proposalControllerScope.addMoreItems()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1" ng-repeat="proposal in logEventFilter = (proposalControllerScope.proposalList | orderBy : '-id' |  
                                 filter : proposalControllerScope.searchName | filter: { projectType : proposalControllerScope.propsalType} |  
                                limitTo : proposalControllerScope.limitToShow)" on-finish-render>
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-1 padd0 responsive_textCenter  responsive_textCenter responsivemargin_top10">
                                                <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true"></i>
                                            </div>
                                            <div class="responsive_textCenter">
                                                <span ng-click="proposalControllerScope.viewProposal(proposal.id)" class="anchor_text break-word capitalizeText">{{proposal.name}}</span>
                                                <span class="pipe_text" ng-if="proposal.projectName!=''">|</span>
                                                <span class="span_text cursor_default break-word capitalizeText">{{proposal.projectName}}</span>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0"> 
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Rate</label> <span class="font_weight600 col-xs-6  wordBreak_all">{{proposal.currencyTypeName}} {{proposal.rate}}</span>
                                                            </li>
                                                               <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0">Payment Terms</label> <span class="font_weight600 col-xs-6  wordBreak_all">{{proposal.PaymentTermName}}</span>
                                                            </li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0"> 
                                                              <li class="row">
                                                                <label class="col-xs-6 padd0">Quantity</label> <span class="font_weight600 col-xs-6  wordBreak_all capitalizeText">{{proposal.quantity}}</span>
                                                            </li>
                                                           
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div> -->
                    </div>
                </div>
           