<div class="loader_backdrop" ng-show="employeeControllerScope.spinner || employeeControllerScope.viewempspinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                     <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span>Tickets List</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		  <li role="presentation" data-backdrop="static" data-keyboard="false" data-target="#assignModal" data-toggle="modal">
                                    <a href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Assign Ticket</span></a>
                                </li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row margin_minus10">
                                <div class="input_section">
                                   <div class="notes_oddEvenBackground">
                                             <p class="margin0">{{ticketControllerScope.viewDataTicketList[0].message}}</p>
                                             <span class="font_weight600 wordBreak_all cursor_default">
                                                       		<p class="margin0">
                                                       			<a download="{{file.name}}" ng-href="{{file.file}}" target="_blank">
                                                       				<i class="fa fa-paperclip font_weight600"
																		aria-hidden="true"></i> {{ticketControllerScope.viewDataTicketList[0].attachments}}<br></a>
                                                       		</p>
                                                       	</span>
                                            <i>
                                             <p class="margin0">Department :{{ticketControllerScope.viewDataTicketList[0].Department}}</p>
                                             <p class="margin0">Priority : {{ticketControllerScope.viewDataTicketList[0].Priority}}</p>
                                            <p class="margin0"> Subject : {{ticketControllerScope.viewDataTicketList[0].Subject}}</p>
                                            <p class="margin0">RelatedService : {{ticketControllerScope.viewDataTicketList[0].relatedService}}</p>
											<p class="margin0 padding_top10 created_text capitalizeText">
												{{ticketControllerScope.viewDataTicketList[0].additionalComments}} <span class="pipe_text">|</span>{{ticketControllerScope.viewDataTicketList[0].LastUpdate}}
											</p>
										</i>
                                         </div>
		                        </div>
                                    
                                </div>
                            </div>
                        </div>
                       <div class="modal fade" id="assignModal" role="dialog" aria-labelledby="modalLabel">
                                                <div class="modal-dialog assign_select" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="ticketControllerScope.clearimage()">
                                                                <i class="fa fa-times close_button" aria-hidden="true"></i>
                                                            </button>
                                                            <h5 class="modal-title text-left">Assign Ticket</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group row mob-pos-rel margin_top5">
							                                    <label class="control-label col-sm-12 col-md-4  lineheight31 text-right">Select Employee</label>
							                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
							                                        <div class="customDropDown">
							                                            <select class="select1 dropdown inputClass width100" name="workLocation" ng-model="ticketControllerScope.employee.workLocation" required>
							                                                <option value="" >Select Employee</option>
							                                                <option value="" >Employee1</option>
							                                                <option value="" >Employee2</option>
							                                                <option value="" >Employee3</option>
							                                            </select>
							                                        </div>
							                                    </div>
							                                </div>
                                                            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="activeBtn btn margin_top5">Assign</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                    </div>
          