<div class="loader_backdrop" ng-show="settlementControllerScope.spinner || settlementControllerScope.viewempspinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                     <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Settlement List</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		  <li role="presentation" ng-click="settlementControllerScope.exportData()">
                                    <a href="javascript:void(0)" class="menus_inline"><img src="images/i_export.png" class="padding_right15 hover_imageHide" /><img src="images/i_export_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Export</span></a>
                                </li>
                                 <li role="presentation" ng-click="settlementControllerScope.openImportPage()">
                                    <a href="javascript:void(0)" class="menus_inline"><img src="images/i_import.png" class="padding_right15 hover_imageHide" /><img src="images/i_import_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Import</span></a>
                                </li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row margin_minus10">
                                <div class="input_section">
                                   
                                    <div class="width100 mobile_viewShow">
                                        <input type="text" ng-model="settlementControllerScope.searchName" ng-keyup="settlementControllerScope.searchMe('emp',true)" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div> 
                                    
			                        <div ng-if="!settlementControllerScope.isDataAvailable">
			                            <p class="text-center grey_text margin0">{{settlementControllerScope.dataMsg}}</p>
			                        </div>
                                    <div class=" table_data">
			                        	<table wt-responsive-table class="custom-responsive-table" >
						<thead>
							<tr>
								<!-- <th></th> -->
								<th>Employee Id</th>
								<th>Employee Name</th>
								<th>Gross</th>
								<th>Earnings</th>
								<th>Deduction</th>
								<th>Tax</th>
								<th>Net</th>
								<th>Status</th>
								<!-- <th>Action</th> -->
							</tr>
							
						</thead>
						<tbody>

							<tr class="backGreyColor">
								<!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->
									                <!-- <td class="run_payroll_checkbox"><input class="" type="checkbox" ng-model="employee.isChecked" ng-init="employee.isChecked = (employee.payrollStatus == 'n')"  ng-checked="employee.payrollStatus == 'd' || employee.payrollStatus == 'p'" ng-disabled ="employee.payrollStatus == 'p' || employee.payrollStatus == 'd'"  /><label></label></td> -->
								<td class="cursor_pointer font_weight600" >42</td>
								<td class="">sapta</td>
								<td class="text-right">1255</td>
								<td class="text-right">1255</td>
								<td class="text-right">1255</td>
								<td class="text-right">1255</td>
								<td class="text-right">1255</td>
								<td class="text-center"><span ng-if="employee.payrollStatus == 'n'" class="label_warning">New</span><span ng-if="employee.payrollStatus == 'd'" class="label_gray">Draft</span><span class="label_success">Processed</span><span ng-if="employee.payrollStatus == 'v'" class="label_danger">Void</span> </td>
								<!-- <td>
									<span ng-if="employee.status =='a'" class="activeBtn btn" ng-click="settlementControllerScope.editInCompensation(employee.empId)">Edit</span>
									<span ng-if="employee.status =='i'" class="label_danger">In-Active</span>
								</td> -->
							</tr>
						</tbody>
					</table>
					<p ng-if="(settlementControllerScope.runPayrollList |
									                                 filter: { 
									                                 	empId : settlementControllerScope.search.empId, 
									                                 	name : settlementControllerScope.search.name,
									                                 	deductionMonth : settlementControllerScope.search.deductionMonth, 
									                                 	netMonth : settlementControllerScope.search.netMonth, 
									                                    status : settlementControllerScope.search.status, 
									                                 	earningMonth : settlementControllerScope.search.earningMonth,                          basicGrossPay : settlementControllerScope.search.basicGrossPay
									                                 }).length == 0" class="text-center grey_text margin0">Payroll Details Not Available</p>
				</div>

				<div class="table_btn " ng-show="settlementControllerScope.isRunPayroll">
					<button ng-click="settlementControllerScope.showPrevNav()" ng-if="settlementControllerScope.isDataAvailable && settlementControllerScope.payrollList.length > 0"
					 ng-disabled="settlementControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':settlementControllerScope.buttonBeginFrom == 0}"
					 class="">Prev</button>

					<span ng-repeat="i in settlementControllerScope.payrollList | limitTo : settlementControllerScope.buttonLimitToShow : settlementControllerScope.buttonBeginFrom">
						<button ng-class="{ 'active' : i.isActiveClass }" ng-if="settlementControllerScope.buttonBeginFrom + $index < settlementControllerScope.payrollList.length / settlementControllerScope.buttonLimitToShow"
						 ng-click="settlementControllerScope.gotoPage($index * settlementControllerScope.buttonLimitToShow + settlementControllerScope.buttonBeginFrom * settlementControllerScope.buttonLimitToShow, settlementControllerScope.buttonBeginFrom + $index)">
							{{settlementControllerScope.buttonBeginFrom + $index + 1}}
						</button>
					</span>
					<button ng-click="settlementControllerScope.showNextNav()" ng-if="settlementControllerScope.isDataAvailable && settlementControllerScope.payrollList.length > 0"
					 ng-disabled="settlementControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':settlementControllerScope.isNextDisabled}">Next</button>
					 <span 
			             	ng-if="settlementControllerScope.isDataAvailable && settlementControllerScope.payrollList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < settlementControllerScope.payrollList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < settlementControllerScope.payrollList.length)">{{settlementControllerScope.payrollList.length}}</span> of {{settlementControllerScope.payrollList.length}}</span>
					 
				</div>
				<div class="form-group row mob-pos-rel text-right margin_top10" ng-if="settlementControllerScope.isRunPayroll && (settlementControllerScope.runPayrollList |
									                                 filter: { 
									                                 	empId : settlementControllerScope.search.empId, 
									                                 	name : settlementControllerScope.search.name,
									                                 	deductionMonth : settlementControllerScope.search.deductionMonth, 
									                                 	netMonth : settlementControllerScope.search.netMonth, 
									                                    status : settlementControllerScope.search.status, 
									                                 	earningMonth : settlementControllerScope.search.earningMonth, basicGrossPay : settlementControllerScope.search.basicGrossPay
									                                 }).length>0">
					<div class="formfooterbtns">
					<button class="defaultBtn btn" type="button" ng-click="settlementControllerScope.goBackToPyroll()">Decline</button>
					<button class="activeBtn btn" type="button" ng-click="settlementControllerScope.processPayroll()" ng-disabled="!settlementControllerScope.payrollStatus">Proceed</button>
					</div>
				</div>
		                        </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                         
                    </div>
                </div>
          