<div class="loader_backdrop" ng-show="hrRequestControllerScope.getSpinner || hrRequestControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="cursor_pointer back_iconPosition" ng-click="hrRequestControllerScope.gotoMyRequests()">
                        	<i class="fa fa-angle-left" aria-hidden="true"></i>
                        	<i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span>
                        <span class="lineheight21">HR Request</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		 <li role="presentation" ng-click="hrRequestControllerScope.toggleAcceptRequest()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_edit.png" class="padding_right15 hover_imageHide" /><img src="images/i_edit_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Edit</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee" ng-if="!hrRequestControllerScope.isAcceptRequest">
                            <div class="row">
                                <div class="input_section">
                                    <div class="col-lg-1 padd0 responsive_textCenter ">
                                        <i class="fa fa-user-circle-o img-60x60 img-views responsivemargin_top10" aria-hidden="true"></i>
                                    </div>
                                    <div class="responsive_textCenter margin_bottom10">
                                        <span class="anchor_text cursor_default">{{hrRequestControllerScope.hrRequest.typeName}}</span>
                                        <span class="pipe_text" ng-if="hrRequestControllerScope.hrRequest.status!=''">|</span>
                                        <span class="span_text capitalizeText color_white" ng-if="hrRequestControllerScope.hrRequest.status != ''">
                                        	<span ng-if="hrRequestControllerScope.hrRequest.status == 's'" class="label_warning">Submitted</span>
                                        	<span ng-if="hrRequestControllerScope.hrRequest.status == 'c'" class="label_success">Closed</span>
                                        	<span ng-if="hrRequestControllerScope.hrRequest.status == 'o'" class="label_blue">Re-Open</span>
                                        	<span ng-if="hrRequestControllerScope.hrRequest.status == 'r'" class="label_danger">Rejected</span>
                                        </span>
                                    </div>
                                    <div class="col-lg-11 padd0">
                                        <div class="row">
                                            <div class="">
                                                <ul class="padd0 left_text">
                                                    <li class="row">
                                                        <label class="col-xs-6 col-sm-4 padd0">Requested By</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{hrRequestControllerScope.hrRequest.createdBy}}</span></li>
                                                    <li class="row">
                                                        <label class="col-xs-6 col-sm-4 padd0">Requested On</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{hrRequestControllerScope.hrRequest.createdon}}</span></li>
                                                    <li class="row">
                                                        <label class="col-xs-6 col-sm-4 padd0">Requested Details</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{hrRequestControllerScope.hrRequest.desc}}</span></li>
                                                    <li class="row">
                                                        <label class="col-xs-6 col-sm-4 padd0">Comment</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{hrRequestControllerScope.hrRequest.comment}}</span></li>
                                                    <li class="row">
                                                        <label class="col-xs-6 col-sm-4 padd0">Updated By</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{hrRequestControllerScope.hrRequest.updatedBy}}</span></li>
                                                    <li class="row">
                                                        <label class="col-xs-6 col-sm-4 padd0">Updated On</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{hrRequestControllerScope.hrRequest.updatedon}}</span></li>
                                                    <li class="row">
                                                        <label class="col-xs-6 col-sm-4 padd0">Documents</label>
                                                            <span class="font_weight600 col-xs-6 padd0 wordBreak_all cursor_default">
                                                            <p ng-repeat="file in hrRequestControllerScope.fromEditFile">
                                                                <a download="{{file.name}}" ng-href="{{file.file}}" target="_blank">
                                                                    <i class="fa fa-paperclip font_weight600"
                                                                        aria-hidden="true"></i> {{file.name}}<br></a>
                                                            </p>
                                                        </span>
                                                        </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="innerdivContainer red-icon create-employee border_bottom1" ng-show="hrRequestControllerScope.isAcceptRequest">
                             	<form class="form-horizontal formContainer employee_selectBox" name="hrRequestControllerScope.requestForm">
                               		<div class="form-group row mob-pos-rel">
                                   		<label class="control-label col-sm-12 col-md-4  lineheight31">Status<span class="reqStar">*</span></label>
                                   		<div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                       		<div class="customDropDown">
	                                            <select class="select1 dropdown inputClass" name="status" ng-model="hrRequestControllerScope.hrRequest.status" required>
	                                                <option value="s" disabled>Submitted</option>
	                                                <option value="c" >Closed</option>
	                                                <option value="o" >Re-Open</option>
	                                                <option value="r" >Reject</option>
	                                            </select>
	                                        </div>
	                                    </div>
	                                </div>
                              		<div class="row">
                                		<div class="create-employee-inner">                                    
                                    		<div class="form-group row">
                                        		<label class="control-label col-sm-12 col-md-4  lineheight2pt6">Comment<span class="reqStar">*</span></label>
                                        		<div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            		<textarea name="comment" class="inputClass" ng-model="hrRequestControllerScope.hrRequest.comment" placeholder="Comment" required></textarea>
                                            		<p ng-if="hrRequestControllerScope.requestForm.comment.$invalid && hrRequestControllerScope.requestForm.comment.$touched" class="reqStar">Kindly Enter Comment</p>
                                        		</div>
                                    		</div>
                                		</div>
                            		</div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6"></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <label class="btn btn-default btn-file">
                                        <button class="activeBtn btn" type="button" ngf-select ng-model="hrRequestControllerScope.hrRequest.file" multiple>Add Files</button>
                                        </label>
                                            <!-- <label class="btn btn-default btn-file">
                                                <input type="file" id="fileInput" name="files" ng-model="hrRequestControllerScope.hrRequest.files"><span class="padd_right5"><i class="fa fa-paperclip" aria-hidden="true"></i></span> Add Files
                                              </label> -->
                                            <ul ng-if="hrRequestControllerScope.hrRequest.file && hrRequestControllerScope.hrRequest.file.length > 0">
                                        <li ng-repeat="f in hrRequestControllerScope.hrRequest.file" style="font: smaller">{{f.name}} {{f.$errorParam}} 
                                            <span class="progress" ng-show="f.progress >= 0">
                                            <div style="width: {{f.progress}}" ng-bind="f.progress + '%'"></div>
                                            </span>
                                        </li>
                                        <li ng-repeat="f in errFiles" style="font: smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
                                    </ul>
                                        </div>
                                    </div>
                                    <div class="formfooterbtns">
                                        <button class="defaultBtn btn" type="button" ng-click="hrRequestControllerScope.declineAccept()">Decline</button>
                                        <button class="activeBtn btn" type="button" ng-click="hrRequestControllerScope.editHrRequest()" ng-disabled="hrRequestControllerScope.requestForm.$invalid">Save</button>
                                    </div>
                            	</form>
                          	</div>
                    </div>
                </div>
           