<div class="loader_backdrop" ng-show="payrollControllerScope.viewempspinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                     <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                     
                            <span class="page_titlePosition">IT Savings Details</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" data-toggle="modal" data-target="#itsavings"><a href="javascript:void(0)" class="menus_inline"><img src="images/i_edit.png" class="padding_right15 hover_imageHide" /><img src="images/i_edit_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Edit</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                       
                        <div class="innerdivContainer red-icon create-employee responsive_panel">
                            <div class="row">
                                <div class="input_section">
                                   <!--  <div class="text-right col-lg-12 col-xs-12 col-md-12 col-sm-12 padd10">
                                        <button class="defaultBtn pull-left" type="button" ng-click="payrollControllerScope.goBackToEmpoyee()">Back To Employees</button>
                                        <button class="activeBtn" type="button" ng-click="payrollControllerScope.goToEditEmployee(payrollControllerScope.employee.id)">Edit</button>
                                        <span ng-if="payrollControllerScope.ifEdit"><button class="defaultBtn mob-width-48 decline_hide" ng-click="payrollControllerScope.decline()">Decline</button>
                                        <button class="activeBtn mob-width-48 decline_hide" ng-click="payrollControllerScope.editEmployee()">Update</button></span>
                                    </div> -->
                                    <div>
                                        
                                        
                                        <div class="col-lg-12 col-xs-12 padd0">
                                        
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                           <li class="row" ng-if="payrollControllerScope.employee.workLocationCity !== ''">
                                                            <label class="col-xs-6 padd0">Financial Year From</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.employee.workLocationCity}}</span></li>
                                                        <li class="row" ng-if="payrollControllerScope.employee.empId !== ''">
                                                            <label class="col-xs-6 padd0">Financial Year To</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{payrollControllerScope.employee.empId}}</span></li>
                                                        <li class="row" ng-if="payrollControllerScope.employee.firstName !== ''">
                                                            <label class="col-xs-6 padd0">Employee Name</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.employee.firstName}}</span></li>
                                                        <li class="row" ng-if="payrollControllerScope.employee.middleName !== ''">
                                                            <label class="col-xs-6 padd0">Saving Name</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.employee.middleName}}</span></li>
                                                       
                                                       
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                         <li class="row" ng-if="payrollControllerScope.employee.lastName !== ''">
                                                            <label class="col-xs-6 padd0">Section</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{payrollControllerScope.employee.lastName}}</span></li>
                                                            <li class="row" ng-if="payrollControllerScope.employee.personalContact !== ''">
                                                                <label class="col-xs-6 padd0">Max Limit</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{payrollControllerScope.employee.personalContact}}</span></li>
                                                            <li class="row" ng-if="payrollControllerScope.employee.primaryContact !== ''">
                                                                <label class="col-xs-6 padd0">Amount</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{payrollControllerScope.employee.primaryContact}}</span></li>
                                                            <li class="row" ng-if="payrollControllerScope.employee.companyEmail !== ''">
                                                                <label class="col-xs-6 padd0">Verified</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{payrollControllerScope.employee.companyEmail}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                
                                                            
                                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="itsavings" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="payrollControllerScope.declineAllowance()"><i class="fa fa-times close_button" aria-hidden="true" ></i></button>
                <h4 class="modal-title">My IT Savings</h4>
            </div>
            <form name="payrollControllerScope.allowanceForm">
                <div class="modal-body">
                <div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
                        <div moment-picker="payrollControllerScope.allowance.startDate"
                            format="MMM DD YYYY" start-view="day"
                            class=" margin_leftMinus9 ">
                            <input name="startDate"
                                ng-model="payrollControllerScope.allowance.startDate"
                                autoclose="true" keyboard="true" set-on-select="true"
                                class="inputClass cursor_pointer width100 shadow"
                                placeholder="Financial From" required> <i
                                class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
                        <div moment-picker="payrollControllerScope.allowance.enddate"
                            format="MMM DD YYYY" start-view="day"
                            class=" margin_leftMinus9" data-min-date="payrollControllerScope.allowance.startDate">
                            <input name="enddate"
                                ng-model="payrollControllerScope.allowance.enddate"
                                autoclose="true" keyboard="true" set-on-select="true"
                                class="inputClass cursor_pointer width100 shadow"
                                placeholder="Financial To"> <i
                                class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="customDropDown user_select100 margin_top5">
                            <select class="select1 dropdown inputClass width100" name="allowanceTypeId" ng-model="payrollControllerScope.allowance.allowanceTypeId"> 
                                <option value="" ng-if="!payrollControllerScope.allowance.allowanceTypeId || payrollControllerScope.allowance.allowanceTypeId == ''">Select Saving type*</option>
                        		<option value="{{allowance.id}}" ng-repeat="allowance in payrollControllerScope.allowanceTypeList" ng-if="allowance.status == 'a'">{{allowance.name}}</option>
                            </select>
                        </div>
                    </div>
                    <input type="text" name="name" class="inputClass width100" ng-model="payrollControllerScope.allowance.name" placeholder="Section" required/>
                    <p class="reqStar" ng-if="payrollControllerScope.allowanceForm.name.$invalid && payrollControllerScope.allowanceForm.name.$touched">Kindly Enter Valid Name</p>
                    <input type="text" name="displayName" class="inputClass width100" ng-model="payrollControllerScope.allowance.displayName" placeholder="Max Limit" required/>
                    <p class="reqStar" ng-if="payrollControllerScope.allowanceForm.displayName.$invalid && payrollControllerScope.allowanceForm.displayName.$touched">Kindly Enter Valid Display Name</p>

                    <input type="text" name="section" class="inputClass width100" ng-model="payrollControllerScope.allowance.section" placeholder="Amount*" />
                   
               
                    
                    <textarea name="notes" class="inputClass width100" ng-model="payrollControllerScope.allowance.notes" placeholder="Notes"></textarea>
                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-12 pad-right-0 mob-pad-right-15 padd0">
                                            <label class="btn btn-default btn-file">
                                              	<input type="file" id="fileInput" name="files" ng-model="hrRequestControllerScope.hrRequest.files" class="ng-pristine ng-valid ng-empty ng-touched"><span class="padd_right5"><i class="fa fa-paperclip" aria-hidden="true"></i></span> Add Files
                                              </label>
                                        </div>
                                    </div>
                </div>
                <div class="modal-footer">
                    <button class="defaultBtn" data-dismiss="modal" ng-click="payrollControllerScope.declineAllowance()">Decline</button>
                    <button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.addAllowance()"
                    	ng-disabled="payrollControllerScope.allowanceForm.$invalid"
                    	ng-if="!payrollControllerScope.isEdit">Save</button>
                    <button type="button" 
                    	class="activeBtn btn" 
                    	ng-click="payrollControllerScope.editAllowance()"
                    	ng-disabled="payrollControllerScope.allowanceForm.$invalid"
                    	ng-if="payrollControllerScope.isEdit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>          
            