<div class="loader_backdrop" ng-show="timeSheetControllerScope.spinner || timeSheetControllerScope.getSpinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer lineheight21">Timesheets</div>
                        <div class="innerdivContainer red-icon create-employee" ng-show="timeSheetControllerScope.timeSheetGetList.length > 0">
                            <div class="row">
                                <div class="input_section">
                                    <div class="width100 mobile_viewShow">
                                        <div class="customDropDown col-lg-6 col-md-6 col-sm-6 col-xs-12 padd10 responsive_select">
                                            <select name="status" class="select1  dropdown selectClass col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left" ng-model="timeSheetControllerScope.status">
                                                <option value="" selected="selected">Select Request Type</option>
                                                <option value="">All</option>
                                                <option value="a">Approved</option>
                                                <option value="d">Draft</option>
                                                <option value="r">Rejected</option>
                                                <option value="s">Submitted</option>
                                            </select>
                                        </div>
                                        <!-- <span class="col-lg-6 col-md-6 col-sm-6 col-xs-4 padd0 text-right">
                                        	<button class="glyphicon glyphicon-export action_btn" ng-click="timeSheetControllerScope.exportData()"></button>
                                        	<button class="glyphicon glyphicon-import action_btn margin_left0 margin_right0" ng-click="timeSheetControllerScope.openImportPage()"></button>
                                        </span> -->
                                    </div>
                                    <div class="width100 mobile_viewShow">
                                        <input type="text" ng-model="timeSheetControllerScope.search" ng-keyup="timeSheetControllerScope.checkEmptyList()" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div>
                                </div>
                            </div>
                        
                        <div ng-if="timeSheetControllerScope.msg && timeSheetControllerScope.msg != ''">
                            <p class="text-center grey_text padding15 padd10">{{timeSheetControllerScope.msg}}</p>
                        </div>
                        <div class=" table_data" ng-if="timeSheetControllerScope.timeSheetGetList.length > 0">
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="employeeControllerScope.deleteEmployee()"></i>
									            	</th> --> 
									                <th>Date</th>
									                <th>Total Hours</th>
									                <th >Monthly</th>
									                
									                <th>Status</th>
									            </tr>
									            <!-- <tr class="table_search">
									            	
									            	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.empId" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                  <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.name" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.title" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									               <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.compEmail" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.personalContact" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.personalContact" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									            </tr> -->
									        </thead>
									        <tbody >
									        	
									            <tr ng-repeat="timesheet in timeSheetControllerScope.timeSheetGetList | orderBy:'-id' | filter :  timeSheetControllerScope.search | filter: {status : timeSheetControllerScope.status} ">
									               <!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->    
									                 <td ng-click="timeSheetControllerScope.gotoView(timesheet.weekenddate, timesheet.empId, timesheet.name, timesheet.status, timesheet.total)" class="cursor_pointer">{{timesheet.weekenddate}}</td>         
									                <td >{{timesheet.total}}</td>
									                <td class="text-center">{{timesheetList.hours}}</td>
									                
									                <td class="text-center" ng-if="timesheet.status != ''"> <span ng-if="timesheet.status == 'd'" class="label_warning">Draft</span>
                                                	<span ng-if="timesheet.status == 's'" class="label_gray">Submitted</span>
                                                	<span ng-if="timesheet.status == 'a'" class="label_success">Approved</span>
                                                	<span ng-if="timesheet.status == 'o'" class="label_blue">Re-Open</span>
                                                	<span ng-if="timesheet.status == 'r'" class="label_danger">Rejected</span></td>
									            </tr>
									        </tbody>
										</table>
						            	
		                        </div>

                                <div class="table_btn" ng-if="timeSheetControllerScope.hrRequestList.length > 0">
                                    <button ng-click="timeSheetControllerScope.showPrevNav()" ng-if="timeSheetControllerScope.isDataAvailable && timeSheetControllerScope.hrRequestList.length > 0"
                                     ng-disabled="timeSheetControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':timeSheetControllerScope.buttonBeginFrom == 0}"
                                     class="">Prev</button>

                                    <span ng-repeat="i in timeSheetControllerScope.hrRequestList | limitTo : timeSheetControllerScope.buttonLimitToShow : timeSheetControllerScope.buttonBeginFrom">
                                        <button ng-class="{ 'active' : i.isActiveClass }" ng-if="timeSheetControllerScope.buttonBeginFrom + $index < timeSheetControllerScope.hrRequestList.length / timeSheetControllerScope.buttonLimitToShow"
                                         ng-click="timeSheetControllerScope.gotoPage($index * timeSheetControllerScope.buttonLimitToShow + timeSheetControllerScope.buttonBeginFrom * timeSheetControllerScope.buttonLimitToShow, timeSheetControllerScope.buttonBeginFrom + $index)">
                                            {{timeSheetControllerScope.buttonBeginFrom + $index + 1}}
                                        </button>
                                    </span>
                                    <button ng-click="timeSheetControllerScope.showNextNav()" ng-if="timeSheetControllerScope.isDataAvailable && timeSheetControllerScope.hrRequestList.length > 0"
                                     ng-disabled="timeSheetControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':timeSheetControllerScope.isNextDisabled}">Next</button>
                                     <span 
			             				ng-if="timeSheetControllerScope.isDataAvailable && timeSheetControllerScope.hrRequestList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < timeSheetControllerScope.hrRequestList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < timeSheetControllerScope.hrRequestList.length)">{{timeSheetControllerScope.hrRequestList.length}}</span> of {{timeSheetControllerScope.hrRequestList.length}}</span>
                                </div>
                        <!-- <div id="list-wrapper">
                            <div infinite-scroll="timeSheetControllerScope.addMoreItems()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1"  ng-repeat="timesheet in timeSheetControllerScope.timeSheetGetList | orderBy:'-id' | filter :  timeSheetControllerScope.search | filter: {status : timeSheetControllerScope.status} | limitTo : timeSheetControllerScope.limitToShow">
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-1 padd0 responsive_textCenter margin_bottom15  responsive_textCenter responsivemargin_top10">
                                                <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true"></i>
                                            </div>
                                            <div class="responsive_textCenter display_webkit">
                                                <span class="anchor_text break-word capitalizeText" 
                                                	ng-click="timeSheetControllerScope.gotoView(timesheet.weekenddate, timesheet.empId, timesheet.name, timesheet.status, timesheet.total)">{{timesheet.weekenddate}}</span>
                                                <span class="pipe_text" ng-if="timesheet.status != ''">|</span>
                                                <span class="span_text capitalizeText" ng-if="timesheet.status != ''">
                                                	<span ng-if="timesheet.status == 'd'" class="label_warning">Draft</span>
                                                	<span ng-if="timesheet.status == 's'" class="label_gray">Submitted</span>
                                                	<span ng-if="timesheet.status == 'a'" class="label_success">Approved</span>
                                                	<span ng-if="timesheet.status == 'o'" class="label_blue">Re-Open</span>
                                                	<span ng-if="timesheet.status == 'r'" class="label_danger">Rejected</span>
                                                </span>
                                            </div>
                                            <div class="col-lg-10 padd0">
                                            <div class="row">
                                            <div class="col-lg-6 padd0">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Total Hours</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{timesheet.total}}</span></li>
                                                            </ul>
                                                    </div>
                                            </div>
                                            <div class="col-lg-6 padd0" ng-repeat="timesheetList in timesheet.timeSheetList">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">{{timesheetList.typeName}}</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{timesheetList.hours}}</span></li>
                                                            </ul>
                                                    </div>
                                            </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        </div>
                    </div>
                </div>
           