<div class="loader_backdrop" ng-show="contactControllerScope.viewContactspinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        
                        <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="cursor_pointer back_iconPosition" ng-click="contactControllerScope.goToContacts()">
                        	<i class="fa fa-angle-left" aria-hidden="true"></i>
                        	<i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span>
                        	<span class="page_titlePosition">Contact Details</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" ng-click="contactControllerScope.goToEditContact(contactControllerScope.contact.id)"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_edit.png" class="padding_right15 hover_imageHide" /><img src="images/i_edit_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Edit</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                   
                                    <div class="col-lg-1 padd0 responsive_textCenter responsivemargin_top10">
                                        <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true"></i>
                                    </div>
                                    <div class="responsive_textCenter">
                                        <span class="anchor_text cursor_default break-word capitalizeText">{{contactControllerScope.contact.firstName}}
											{{contactControllerScope.contact.middleName}}
											{{contactControllerScope.contact.lastName}}</span> <span class="pipe_text" ng-if="contactControllerScope.contact.designation!=''">|</span>
                                        <span class="span_text capitalizeText">{{contactControllerScope.contact.designation}}</span>
                                    </div>
                                    <div class="col-lg-11 col-xs-12 padd0">
                                        <div class="row">
                                            <div class="">
                                                <ul class="padd0 left_text">
                                                    <li class="row" ng-if="contactControllerScope.contact.salutationName !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Salutation</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.salutationName}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.designation !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Designation</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText">{{contactControllerScope.contact.designation}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.leadTypeName !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Lead/Customer/Vendor</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText">{{contactControllerScope.contact.leadTypeName}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.firstName !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">First Name
                                                        </label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText">{{contactControllerScope.contact.firstName}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.middleName !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Middle Name
                                                        </label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText">{{contactControllerScope.contact.middleName}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.lastName !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Last Name
                                                        </label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText">{{contactControllerScope.contact.lastName}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.contactTypeName !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Contact Type
                                                        </label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText">{{contactControllerScope.contact.contactTypeName}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.mobile !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Mobile 1</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.mobile}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.mobile2 !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Mobile 2</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.mobile2}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.phone !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Phone 1</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.phone}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.phone1!== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Phone 2</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.phone1}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.phone2 !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Phone 3</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.phone2}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.phone3 !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Phone 4</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.phone3}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.primaryEmail !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Primary Email</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.primaryEmail}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.secondaryEmail !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Secondary Email</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.secondaryEmail}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.address1 !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Address 1</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.address1}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.address2 !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Address 2</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.address2}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.website !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Website</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.website}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.fax !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Fax</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.fax}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.requirement!== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Requirements
                                                        </label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.requirement}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.note !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Notes</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.note}}</span></li>
                                                    <li class="row" ng-if="contactControllerScope.contact.comment !== ''">
                                                        <label class="col-xs-6 col-sm-4 padd0">Comments</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contactControllerScope.contact.comment}}</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            