<div class="loader_backdrop" ng-if="hrPolicyControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer lineheight21">HR Policies</div>
                        <div ng-if="hrPolicyControllerScope.dataMsg != ''">
                              <p class="text-center grey_text padding15 margin0"> {{hrPolicyControllerScope.dataMsg }}</p>
                        </div>
                        <div id="list-wrapper" ng-if="hrPolicyControllerScope.hrPolicyList.length > 0">
                            <div class="innerdivContainer red-icon create-employee border_bottom1" ng-repeat="hrPolicy in hrPolicyControllerScope.hrPolicyList | filter : hrPolicyControllerScope.searchName | orderBy : '-id' ">
                                <div class="row">
                                    <div class="input_section col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
                                        <div class="">
                                            <span class="policy_text cursor_default break-word"><span class="padd_right15">-</span>{{hrPolicy.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           