<div class="loader_backdrop" ng-show="leaveManagementControllerScope.spinner || leaveManagementControllerScope.getSpinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                         <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Leave Requests</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_export.png" class="padding_right15 hover_imageHide" /><img src="images/i_export_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Export</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <!-- <div class="width100 mobile_viewShow">
                                        <div class="customDropDown col-lg-6 col-md-6 col-sm-6 col-xs-8 padd0 responsive_select">
                                            <select name="status" class="select1 dropdown selectClass col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left" ng-model="leaveManagementControllerScope.status">
                                                <option value="" selected="selected">Select Status</option>
                                                <option value="" >All</option>
                                                <option value="a" >Approved</option>
                                                <option value="p" >Pending</option>
                                                <option value="o" >Re-Open</option>
                                                <option value="r" >Rejected</option>
                                            </select>
                                        </div>
                                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-4 padd0 text-right">
                                        	<button class="glyphicon glyphicon-export action_btn" ng-click="leaveManagementControllerScope.exportData()"></button>
                                        </span>
                                    </div>
                                    <div class="width100 mobile_viewShow">
                                        <input type="text" ng-model="leaveManagementControllerScope.search" ng-keyup="leaveManagementControllerScope.checkEmptyList()" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div> -->
                                     <div class=" table_data" ng-if="leaveManagementControllerScope.leaveManagementList.length > 0">
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="employeeControllerScope.deleteEmployee()"></i>
									            	</th> --> 
									                <th>Request Type</th>
									                <th>Requested By</th>
									                <th>Requested On</th>
									                <th>From Date</th>
									                <th>To Date</th>
									                 <th>Leave Day</th> 
									                <th>Days</th>
									                <th>Request Details</th>
									                
									                <th>Status</th>
									            </tr>
									            <!-- <tr class="table_search">
									            	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.empId" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                  <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.name" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.title" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									               <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.compEmail" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.personalContact" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.emptypeName" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.emptypeName" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                 <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.emptypeName" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.emptypeName" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									            </tr> -->
									        </thead>
									        <tbody >
									        	
									            <tr ng-repeat="leave in leaveManagementControllerScope.leaveManagementList | orderBy:'-id' | filter :  leaveManagementControllerScope.search | filter: {status : leaveManagementControllerScope.status} | limitTo : limitToShow : beginFrom track by $index" class="backGreyColor">
									               <!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->    
									                 <td ng-click="leaveManagementControllerScope.goToView(leave.id)" class="cursor_pointer">{{leave.typeName}}</td>         
									                <td class="">{{leave.createdBy}}</td>
									                 <td class="text-center">{{leave.createdon}}</td>
									                 <td class="text-center">{{leave.fromDate}}</td>
									                 <td class="text-center">{{leave.toDate}}</td>
									                  <td class="text-center">{{leave.date}}</td>
									                  <td class="text-center">{{leave.leaveday}}</td>
									                <td class="">{{leave.desc}}</td>
									               
									                <td class="text-center"> <span ng-if="leave.status == 'p'" class="label_warning">Pending</span>
                                                	<span ng-if="leave.status == 'a'" class="label_success">Approved</span>
                                                	<span ng-if="leave.status == 'o'" class="label_blue">Re-Open</span>
                                                	<span ng-if="leave.status == 'r'" class="label_danger">Rejected</span></td>
									            </tr>
									        </tbody>
										</table>
						            	<p ng-if="(employeeControllerScope.employeeList |  
                                                                     filter : employeeControllerScope.searchName | 
                                                                     filter: { emptypeName : employeeControllerScope.search.emptypeName, status : employeeControllerScope.search.status, personalContact : employeeControllerScope.search.personalContact, companyEmail : employeeControllerScope.search.compEmail, empId : employeeControllerScope.search.empId, name : employeeControllerScope.search.name, title : employeeControllerScope.search.title }).length == 0" class="text-center grey_text margin0">Employee Details Not Available</p>
		                        </div>
                                <div class="table_btn" ng-if="leaveManagementControllerScope.leaveManagementList.length > 0">
                                    <button ng-click="leaveManagementControllerScope.showPrevNav()" ng-if="leaveManagementControllerScope.isDataAvailable && leaveManagementControllerScope.leaveManagementList.length > 0"
                                     ng-disabled="leaveManagementControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':leaveManagementControllerScope.buttonBeginFrom == 0}"
                                     class="">Prev</button>

                                    <span ng-repeat="i in leaveManagementControllerScope.leaveManagementList | limitTo : leaveManagementControllerScope.buttonLimitToShow : leaveManagementControllerScope.buttonBeginFrom">
                                        <button ng-class="{ 'active' : i.isActiveClass }" ng-if="leaveManagementControllerScope.buttonBeginFrom + $index < leaveManagementControllerScope.leaveManagementList.length / leaveManagementControllerScope.buttonLimitToShow"
                                         ng-click="leaveManagementControllerScope.gotoPage($index * leaveManagementControllerScope.buttonLimitToShow + leaveManagementControllerScope.buttonBeginFrom * leaveManagementControllerScope.buttonLimitToShow, leaveManagementControllerScope.buttonBeginFrom + $index)">
                                            {{leaveManagementControllerScope.buttonBeginFrom + $index + 1}}
                                        </button>
                                    </span>
                                    <button ng-click="leaveManagementControllerScope.showNextNav()" ng-if="leaveManagementControllerScope.isDataAvailable && leaveManagementControllerScope.leaveManagementList.length > 0"
                                     ng-disabled="leaveManagementControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':leaveManagementControllerScope.isNextDisabled}">Next</button>
                                     <span 
			             				ng-if="leaveManagementControllerScope.isDataAvailable && leaveManagementControllerScope.leaveManagementList.length > 0" class="pull-right line_height34" >{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < leaveManagementControllerScope.leaveManagementList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < leaveManagementControllerScope.leaveManagementList.length)">{{leaveManagementControllerScope.leaveManagementList.length}}</span> of {{leaveManagementControllerScope.leaveManagementList.length}}</span>
                                </div>
                                </div>
                            </div>
                             <div ng-if="!leaveManagementControllerScope.leaveManagementList.length > 0">
                            <p class="text-center grey_text margin0 padding_top0">{{leaveManagementControllerScope.msg}}</p>
                        </div>
                        </div>
                       
                        <!-- <div id="list-wrapper">
                            <div infinite-scroll="leaveManagementControllerScope.addMoreItems()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1" ng-repeat="leave in leaveManagementControllerScope.leaveManagementList | orderBy:'-id' | filter :  leaveManagementControllerScope.search | filter: {status : leaveManagementControllerScope.status} | limitTo : leaveManagementControllerScope.limitToShow">
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-1 padd0 responsive_textCenter margin_bottom15 responsive_textCenter responsivemargin_top10">
                                                <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true"></i>
                                            </div>
                                            <div class="responsive_textCenter display_webkit">
                                                <span class="anchor_text break-word capitalizeText" ng-click="leaveManagementControllerScope.goToView(leave.id)">{{leave.createdBy}}</span>
                                                <span class="pipe_text" ng-if="leave.status!=''">|</span>
                                                <span class="span_text capitalizeText color_white" ng-if="leave.status !=''">
                                                	<span ng-if="leave.status == 'p'" class="label_warning">Pending</span>
                                                	<span ng-if="leave.status == 'a'" class="label_success">Approved</span>
                                                	<span ng-if="leave.status == 'o'" class="label_blue">Re-Open</span>
                                                	<span ng-if="leave.status == 'r'" class="label_danger">Rejected</span>
                                                </span>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Type</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{leave.typeName}}</span></li>
                                                            <li class="row" ng-if="leave.fromDate != '' && leave.leaveday == 'Multiple'">
                                                                <label class="col-xs-6 padd0">From Date</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{leave.fromDate}}</span></li>
                                                            <li class="row" ng-if="leave.date != '' && leave.leaveday == 'Single'">
                                                                <label class="col-xs-6 padd0">Date</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{leave.date}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Request Details</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{leave.desc}}</span></li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Request On</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{leave.createdon}}</span></li>
                                                            <li class="row" ng-if="leave.toDate != '' && leave.leaveday == 'Multiple'">
                                                                <label class="col-xs-6 padd0">To Date</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{leave.toDate}}</span></li>
                                                            <li class="row" ng-if="leave.hours != ''">
                                                                <label class="col-xs-6 padd0">Hours</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{leave.hours}}</span></li>
                                                           	<li class="row">
                                                                <label class="col-xs-6 padd0">Leave Day</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{leave.leaveday}}</span></li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
           