<div class="loader_backdrop" ng-if="contactControllerScope.spinner || contactControllerScope.viewContactspinner">
    <div class="loader loader_position"></div>
</div>
<div class="rightContainer">
	<div class="pageTitleParent">
	<div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">Contacts List</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" ng-click="contactControllerScope.goToImportPage()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_import.png" class="padding_right15 hover_imageHide" /><img src="images/i_import_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Import</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
		<!-- <div class="row pageTitletextContainer">
			<span class="col-lg-6 col-md-6 col-sm-6 col-xs-7 padd0">
		   		<div class="line_height30">Contacts List</div>
		   	</span>
   			<span class="col-lg-6 col-md-6 col-sm-6 col-xs-5 text-right padd0">
                   <button class="glyphicon glyphicon-export action_btn" ng-click="contactControllerScope.exportData()"></button>
                   <button class="activeBtn btn margin_left0 margin_right0" ng-click="contactControllerScope.goToImportPage()">Import</button>
			</span>
   		</div> -->
   		<div class="innerdivContainer red-icon create-employee">
       		<div class="row margin_minus10">
           		<div class="input_section">
               		<div class="width100 mobile_viewShow">
                   		<div class="customDropDown col-lg-6 col-md-6 col-sm-6 col-xs-12 padd0 responsive_select margin_top5">
                       		<select name="contacttype" id="select4" class="dropdown selectClass col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left" ng-model="contactControllerScope.contacttype">
	                           	<option value="" selected="selected">Select Contact Type</option>
	                           	<option value="" >All</option>
	                           	<option value="{{contactType.id}}" ng-if="contactType.status == 'a'" ng-repeat="contactType in contactControllerScope.contactListType | orderBy : 'name'" ng-if="type.status == 'a'">{{contactType.name}}</option>
	                       	</select>
	                       	
	                   	</div>
               		</div>
	               	<div class="width100 mobile_viewShow">
	                   	<input type="text" ng-model="contactControllerScope.searchName" ng-keyup="contactControllerScope.searchMe(true)" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
	               	</div> 
			      	<div ng-if="!contactControllerScope.isDataAvailable">
			          	<p class="text-center grey_text margin0">{{contactControllerScope.dataMsg}}</p>
			      	</div>
               		<div class="table_data" ng-if="contactControllerScope.isDataAvailable">
			      		<table wt-responsive-table class="custom-responsive-table">
			       			<thead>
					           	<tr>
						           	<th class="">
						           	
						           		<span  class="outline0"
											data-toggle="modal"
											data-backdrop="static" 
											data-keyboard="false" ng-click="contactControllerScope.showDelete()">
						           				<i class="fa fa-trash-o cursor_pointer" aria-hidden="true"></i>
						           		</span>
			           				</th>
					               	<th>Contact Name</th>
					               	<th>Lead Name</th>
					               	<th>Designation</th>
					               	<th>Contact Type</th>
					               	<th>Mobile</th>
					                <th>Phone</th>
				           		</tr>
				           		<!-- <tr>
						           	<th class="width5Percent">
						           		<span class="table_mobile table_borderNone">
						           			<input type="checkbox" ng-model="contactControllerScope.isSelect" ng-change="contactControllerScope.toggleSelect(contactControllerScope.isSelect)"/><label></label>
						           		</span>
						           	</th>
					               	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="contactControllerScope.search.name" ng-keyup="contactControllerScope.searchMe()" /></th>
					               	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="contactControllerScope.search.leadTypeName" ng-keyup="contactControllerScope.searchMe()" /></th>
					               	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="contactControllerScope.search.designation" ng-keyup="contactControllerScope.searchMe()" /></th>
					               	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="contactControllerScope.search.contactTypeName" ng-keyup="contactControllerScope.searchMe()" /></th>
					               	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="contactControllerScope.search.mobile" ng-keyup="contactControllerScope.searchMe()" /></th>
					               	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="contactControllerScope.search.phone" ng-keyup="contactControllerScope.searchMe()" /></th>
					           	</tr> -->
					       	</thead>
					       	<tbody >
					           	<tr ng-repeat="contact in contactControllerScope.contactListlogEventFilter = (contactControllerScope.contactList | orderBy : '-id' |  
					                                filter : contactControllerScope.searchName | 
					                                filter: { name : contactControllerScope.search.name, designation : contactControllerScope.search.designation, contactTypeName : contactControllerScope.search.contactTypeName, mobile : contactControllerScope.search.mobile, phone : contactControllerScope.search.phone, leadTypeName : contactControllerScope.search.leadTypeName }|  
					                               limitTo : limitToShow : beginFrom)" class="backGreyColor">
					               	<td class="text-center padd_left0"><span class="table_mobile table_borderNone">
					               		<input type="checkbox" ng-model="contact.isSelect"/><label></label></span>
					               	</td>              
					               	<td ng-click="contactControllerScope.contactDetail(contact.id)" class="cursor_pointer font_weight600">{{contact.name}}</td>
					               	<td ng-click="contactControllerScope.leadDetail(contact.leadType
)" class="cursor_pointer">{{contact.leadTypeName}}</td>
					               	<td>{{contact.designation}}</td>
					               	<td>{{contact.contactTypeName}}</td>
					               	<td class="text-center">{{contact.mobile}}</td>
					               	<td class="text-center">{{contact.phone}}</td>
					           	</tr>
					       	</tbody>
						</table>
        				<p ng-if="contactControllerScope.contactList.length == 0" class="text-center grey_text margin0">Contact Details Not Available</p>
                	</div>
                	<div class="table_btn">
			             <button ng-click="contactControllerScope.showPrevNav()" 
			             	ng-if="contactControllerScope.isDataAvailable && contactControllerScope.contactList.length > 0" 
			             	ng-disabled="contactControllerScope.buttonBeginFrom == 0"
			             	ng-class="{'cursor_notAllowed':contactControllerScope.buttonBeginFrom == 0}" class="">Prev</button>
             	
             			<span ng-repeat="i in contactControllerScope.contactList | limitTo : contactControllerScope.buttonLimitToShow : contactControllerScope.buttonBeginFrom">
             	 
			             	<button ng-class="{ 'active' : i.isActiveClass }" 
			             		ng-if="contactControllerScope.buttonBeginFrom + $index < contactControllerScope.contactList.length / contactControllerScope.buttonLimitToShow" 
			             		ng-click="contactControllerScope.gotoPage($index * contactControllerScope.buttonLimitToShow + contactControllerScope.buttonBeginFrom * contactControllerScope.buttonLimitToShow, contactControllerScope.buttonBeginFrom + $index)">
			             		{{contactControllerScope.buttonBeginFrom + $index + 1}}
			             	</button>
			            </span>
			            <button ng-click="contactControllerScope.showNextNav()" 
			             	ng-if="contactControllerScope.isDataAvailable && contactControllerScope.contactList.length > 0" 
			             	ng-disabled="contactControllerScope.isNextDisabled"
			             	ng-class="{'cursor_notAllowed':contactControllerScope.isNextDisabled}">Next</button>
             		</div>
             	</div>
			</div>
		</div>
	</div>
</div>

<div id="confirmation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close white opacity1px" data-dismiss="modal" ng-if="!contactControllerScope.isCannotDelete"><i class="fa fa-times close_button" aria-hidden="true"></i></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
               <div class="modal-body">
                   <p ng-if="!contactControllerScope.isSingleRecordToDelete && !contactControllerScope.isCannotDelete">Contact can not be deleted, If it is associated with any other modules</p>
                   <p ng-if="contactControllerScope.isSingleRecordToDelete && !contactControllerScope.isCannotDelete">Are you sure, you want to delete?</p>
                   <p ng-if="contactControllerScope.isCannotDelete">Contact can not be deleted, It is associated with other module</p>
               </div>
               <div class="modal-footer">
                   <button type="button" class="defaultBtn btn" data-dismiss="modal" data-dismiss="modal" ng-if="!contactControllerScope.isCannotDelete">Decline</button>
                   <button type="button" class="activeBtn btn" ng-click="contactControllerScope.deleteContact()" ng-if="!contactControllerScope.isCannotDelete">Continue</button>
                   <button type="button" class="activeBtn btn"  ng-click="contactControllerScope.closeModal()" ng-if="contactControllerScope.isCannotDelete">Ok</button>
               </div>
        	</div>
        </div>
    </div>
</div> 
         
                <!-- <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer">Contacts List</div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <div class="width100">
                                        <div class="customDropDown col-lg-6 col-md-6 col-sm-6 col-xs-8 padd0 responsive_select">
                                            <select name="contacttype" id="select4" class="dropdown selectClass col-lg-3 col-md-3 col-sm-8 col-xs-12" ng-model="contactControllerScope.contacttype">
                                                <option value="" selected="selected">Select Contact Type</option>
                                                <option value="" >All</option>
                                                <option value="{{contactType.id}}" ng-if="contactType.status == 'a'" ng-repeat="contactType in contactControllerScope.contactListType | orderBy : 'name'" ng-if="type.status == 'a'">{{contactType.name}}</option>
                                            </select>
                                        </div>
                                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-4 padd0 text-right">
											<button class="glyphicon glyphicon-export action_btn" ng-click="contactControllerScope.exportData()"></button>
											<button class="glyphicon glyphicon-import action_btn margin_left0 margin_right0" ng-click="contactControllerScope.redirectToImportPage()"></button>
											
										</span>
                                    </div>
                                    <div class="width100 ">
                                        <input type="text" ng-model="contactControllerScope.searchName" placeholder="Search Here" class="margin_top20 width100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="contactControllerScope.dataMsg">
                            <p class="text-center grey_text padding15 padding_top0">{{contactControllerScope.dataMsg}}</p>
                        </div>
                        <div id="list-wrapper">
                            <div infinite-scroll="contactControllerScope.addMoreItems()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1" ng-repeat="contact in contactFilter = (contactControllerScope.contactList | orderBy : '-id' |  filter : contactControllerScope.searchName | filter: { contacttype : contactControllerScope.contacttype} |  limitTo : contactControllerScope.limitToShow)" on-finish-render>
                                    <div class="row">
                                        <div class="input_section" id="tableToExport">
                                            <div class="col-lg-1 padd0 responsive_textCenter  responsive_textCenter responsivemargin_top10">
                                                <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true"></i>
                                            </div>
                                            <div class="responsive_textCenter">
                                                <span class="anchor_text break-word capitalizeText" ng-click="contactControllerScope.contactDetail(contact.id)">
                                                	<span ng-if="contact.salutationName != ''">{{contact.salutationName}} </span>
                                                	{{contact.firstName}}
													{{contact.middleName}} 
													{{contact.lastName}}
												</span> 
												<span class="pipe_text" ng-if="contact.designation!=''">|</span> 
												<span class="span_text capitalizeText">{{contact.designation}}</span>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                           <li class="row">
                                                                <label class="col-xs-6 padd0">Contact Type</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all capitalizeText">{{contact.contactTypeName}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Mobile 1</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contact.mobile}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Mobile 2</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contact.mobile2}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Comments</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contact.comment}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Notes</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contact.note}}</span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Requirements</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contact.requirement}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Phone 1</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contact.phone}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Phone 2</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contact.phone1}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Phone 3</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contact.phone2}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Phone 4</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contact.phone3}}</span></li>
                                                            <li class="row padding-bottom0">
                                                                <label class="col-xs-6 padd0 margin-bottom0">Website</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{contact.website}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             -->