<div class="loader_backdrop" ng-show="employeeControllerScope.viewempspinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent" ng-repeat="compensation in  employeeControllerScope.employeeCompensation | orderBy : '-id' ">
                         
                         <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="cursor_pointer back_iconPosition" ng-click="employeeControllerScope.goBackToEmpoyeeCompensation()">
                        	<i class="fa fa-angle-left" aria-hidden="true"></i>
                        	<i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span>
                        	<span class="lineheight21">Employee CTC Details</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        		 <li role="presentation" data-toggle="modal" data-target="#employeeComp" data-backdrop="static" data-keyboard="false" ng-if="compensation.status == 'a'" ng-click="employeeControllerScope.editEmployeeCompensation(compensation,'ctc')" ><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_add.png" class="padding_right15 hover_imageHide" /><img src="images/i_add_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Appraisal</span></a></li>
								      <li role="presentation" data-toggle="modal" data-target="#employeeComp" data-backdrop="static" data-keyboard="false" ng-if="compensation.status == 'a'" ng-click="employeeControllerScope.editEmployeeCompensation(compensation, 'date')"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_edit.png" class="padding_right15 hover_imageHide" /><img src="images/i_edit_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Edit</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row" class="">
                                <div class="input_section">
                                    
                                    <div > 
                                          <div class="col-lg-12 col-xs-12 padd0 compensation_padd15" >
                                          
                                          <div class="responsive_textCenter display_webkit">
                                                <span class="span_text capitalizeText">{{compensation.name}}</span>
                                                <span class="pipe_text" ng-if="compensation.empctc!=''">|</span>
                                                <span class="span_text capitalizeText">{{compensation.empctc | number:2}}</span>
                                                  <span class="pipe_text" ng-if="compensation.status != ''">|</span>
                                                <span class="span_text capitalizeText"">
                                                	<span  ng-if="compensation.status == 'a'" class="label_success">Active</span>
                                                	<span ng-if="compensation.status == 'i'" class="label_danger">In-Active</span>
                                                </span>
                                               
                                            </div>
                                            
                                               <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                           <li class="row">
                                                            <label class="col-xs-6 padd0">Start Date</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{compensation.startDate}}</span></li>
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">End Date</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{compensation.enddate}}</span></li>
                                                             <li class="row">
                                                            <label class="col-xs-6 padd0">Payroll Batch</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{compensation.payrollBatchName}}</span></li>
                                                         </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                        <li class="row">
                                                            <label class="col-xs-6 padd0">Updated By</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{compensation.updatedBy}}</li>
                                                             <li class="row"><label class="col-xs-6 padd0">Updated On</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{compensation.updatedon}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                              	<div class="col-lg-2 padd0">
			                                     <!--   <span  class="col-lg-6 outline0 padd0" data-toggle="modal" data-target="#employeeComp" data-backdrop="static" data-keyboard="false">
															<button type="button" class="defaultBtn btn" ng-if="compensation.status == 'a'" ng-click="employeeControllerScope.editEmployeeCompensation(compensation,'ctc')" >Appraisal</button>
			                                        </span>
			                                       <span  class="col-lg-6 outline0 padd0" data-toggle="modal" data-target="#employeeComp" data-backdrop="static" data-keyboard="false">data-target="#employeeComp"
															<button type="button" class="activeBtn btn" ng-if="compensation.status == 'a'" ng-click="employeeControllerScope.editEmployeeCompensation(compensation, 'date')" >Edit</button>
			                                        </span>
                                         		</div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                              <div id="employeeComp" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close white opacity1px" data-dismiss="modal"><i class="fa fa-times close_button" aria-hidden="true" ng-click="employeeControllerScope.declineCompensation()"></i></button>
                                            <h4 class="modal-title">Employee Compensation</h4>
                                        </div>
                                        <div class="modal-body">
                                        <div class="red-icon create-employee"> 
                                            <form class="form-horizontal formContainer" name="employeeControllerScope.compensationForm">
                                              <div class="form-group row mob-pos-rel add_compensation">
                                                <div class="col-sm-12 col-md-12 col-lg-12 pad-right-0 mob-pad-right-15">
                                                  <div class="customDropDown read_only">
                                                  <input type="text" name="empctc" class="inputClass width100" placeholder="CTC&#42;" ng-pattern="/^[0-9\ ]*$/" ng-model="employeeControllerScope.compensation.name"  readonly/>
                                                 
                                            </div>
                                               </div>
                                                 <div class="col-sm-12 col-md-12 pad-right-0 mob-pad-right-15 read_only">
                                                    <input type="text" name="empctc" class="inputClass width100" placeholder="CTC&#42;" ng-pattern="/^[0-9\ ]*$/" ng-model="employeeControllerScope.compensation.empctc" ng-readonly="employeeControllerScope.isDisabled" required/>
                                                    <p ng-show="employeeControllerScope.compensationForm.empctc.$error.pattern || employeeControllerScope.compensationTypeForm.empctc.$invalid && employeeControllerScope.compensationForm.empctc.$touched" class="reqStar">Invalid Number Formet</p>
                                                </div>
                                               
                                                <div class="col-sm-12 col-md-12 pad-right-0 mob-pad-right-15 position_relative">
                                                	<div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
								<div moment-picker="employeeControllerScope.compensation.startDate"
									format="{{employeeControllerScope.format}}" start-view="day"
									class=" margin_leftMinus9 ">
									 <input name="startDate"
										ng-model="employeeControllerScope.compensation.startDate"
										autoclose="true" keyboard="true" set-on-select="true"
										class="inputClass cursor_pointer width100 shadow"
										placeholder="Start Date*" required>
										<i
										class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
										aria-hidden="true"></i>
								</div>
							</div> 
								<div class="col-xs-12 col-sm-12 padd0 pos-rel responsive_marginTop5">
								<div moment-picker="employeeControllerScope.compensation.enddate" data-min-date="employeeControllerScope.compensation.startDate"
									format="{{employeeControllerScope.format}}" start-view="day"
									class=" margin_leftMinus9">
									 <input name="enddate"
										ng-model="employeeControllerScope.compensation.enddate"
										autoclose="true" keyboard="true" set-on-select="true"
										class="inputClass cursor_pointer width100 shadow"
										placeholder="End Date" >
										<i
										class="fa fa-calendar from_calender sales-calen cursor_pointer leave_iconAlign responsive_right0"
										aria-hidden="true"></i>
								</div>
							</div> 
							 <div class="col-sm-12 col-md-12 col-lg-12 pad-right-0 mob-pad-right-15 padd0">
                                                  <div class="customDropDown">
                                                <select class="select1 dropdown inputClass width100 stateoptions" name="payrollBatchId" ng-model="employeeControllerScope.compensation.payrollBatchId" required>
                                                    <option value="" ng-if="!employeeControllerScope.compensation.payrollBatchId || employeeControllerScope.compensation.payrollBatchId == ''">Select Payroll Batch*</option>
                                                    <option value="{{batch.id}}" ng-repeat="batch in employeeControllerScope.batchActiveList  | orderBy:'firstName'">{{batch.name}}</option>
                                                </select>
                                            </div>
                                               </div>
							</div>
							</div>   <div class="modal-footer">
                                                    <button type="button" class="defaultBtn btn" data-dismiss="modal" ng-click="employeeControllerScope.declineCompensation()">Decline</button>
                                                    
                                                 <button type="button" class="activeBtn btn"  ng-click="employeeControllerScope.updateCompensationCtc(employeeControllerScope.compensation)" ng-if="!employeeControllerScope.isDisabled">Update</button>
                                                 <button type="button" class="activeBtn btn"  ng-click="employeeControllerScope.updateCompensationDate(employeeControllerScope.compensation)" ng-if="employeeControllerScope.isDisabled">Update</button>
                                                 
                                                    </div>
                                            </form>
                                            </div>
                                        </div>
                                         
                                    </div>
                                </div>
                            </div>  
                    </div>
                </div>
                </div>
           