<div class="loader_backdrop" ng-show="hrRequestControllerScope.spinner || hrRequestControllerScope.getSpinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                         <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span class="lineheight21">My Requests</span>
                        </div>
                        <!-- <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" ng-click="hrRequestControllerScope.exportData()"><a role="menuitem" tabindex="-1" href="javascript:void(0)">Export Requests</a></li>
							      </ul>
                        		
                        	</div>
                        </div> -->
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <div class="width100 mobile_viewShow">
                                        <div class="customDropDown col-lg-6 col-md-6 col-sm-6 col-xs-12 padd0 responsive_select">
                                            <select name="type" class="select1 dropdown selectClass col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left" ng-model="hrRequestControllerScope.status">
                                                <option value="" selected="selected">Select Status</option>
                                                <option value="" >All</option>
	                                                <option value="c" >Closed</option>
	                                                <option value="s" >Submitted</option>
	                                                <option value="o" >Re-Open</option>
	                                                <option value="r" >Reject</option>
                                            </select>
                                        </div>
                                       
                                    </div>
                                    <div class="width100 mobile_viewShow">
                                        <input type="text" ng-model="hrRequestControllerScope.search" ng-keyup="hrRequestControllerScope.checkEmptyList()"  placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div>
                                     <div ng-if="hrRequestControllerScope.msg != ''">
                            <p class="text-center grey_text margin0 padding_top0">{{hrRequestControllerScope.msg}}</p>
                        </div>
                        <div class=" table_data" ng-if="hrRequestControllerScope.hrRequestList.length > 0">
			                        	<table wt-responsive-table class="custom-responsive-table">
									        <thead>
									            <tr>
									            	<!-- <th class="">
									            		<i class="fa fa-trash-o cursor_pointer" aria-hidden="true" ng-click="employeeControllerScope.deleteEmployee()"></i>
									            	</th> --> 
									                <th>Request Type</th>
									                <th>Requested By</th>
									                <th>Requested On</th>
									                <th>Request Details</th>
									                <th>Comments</th>
									                <th>Status</th>
									            </tr>
									            <!-- <tr class="table_search">
									            	
									            	<th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.empId" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                  <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.name" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.title" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									               <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.compEmail" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.personalContact" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									                <th><input type="search" placeholder="Search Here" class="inputClass width90" ng-model="employeeControllerScope.search.personalContact" ng-keyup="employeeControllerScope.searchMe('emp')" /></th>
									            </tr> -->
									        </thead>
									        <tbody >
									        	
									            <tr ng-repeat="request in hrRequestControllerScope.hrRequestList | filter :  hrRequestControllerScope.search | filter: {status : hrRequestControllerScope.status} | limitTo : limitToShow : beginFrom track by $index" class="backGreyColor">
									               <!--  <td class="text-center padd_left0"><span class="table_mobile table_borderNone">
									                	<input type="checkbox" ng-model="employee.isSelect"/><label></label></span>
									                </td>  -->    
									                 <td ng-click="hrRequestControllerScope.gotoViewRequest(request.id)" class="cursor_pointer">{{request.typeName}}</td>         
									                <td >{{request.createdBy}}</td>
									                <td class="text-center">{{request.createdon}}</td>
									                <td>{{request.desc}}</td>
									                <td class="">{{request.comment}}</td>
									                <td class="text-center"> <span ng-if="request.status == 's'" class="label_warning">Submitted</span>
		                                        	<span ng-if="request.status == 'c'" class="label_success">Closed</span>
		                                        	<span ng-if="request.status == 'o'" class="label_blue">Re-Open</span>
		                                        	<span ng-if="request.status == 'r'" class="label_danger">Rejected</span></td>
									            </tr>
									        </tbody>
										</table>
						            	<p ng-if="(employeeControllerScope.employeeList |  
                                                                     filter : employeeControllerScope.searchName | 
                                                                     filter: { emptypeName : employeeControllerScope.search.emptypeName, status : employeeControllerScope.search.status, personalContact : employeeControllerScope.search.personalContact, companyEmail : employeeControllerScope.search.compEmail, empId : employeeControllerScope.search.empId, name : employeeControllerScope.search.name, title : employeeControllerScope.search.title }).length == 0" class="text-center grey_text margin0">Employee Details Not Available</p>
		                        </div>

                                <div class="table_btn" ng-if="hrRequestControllerScope.hrRequestList.length > 0">
                                    <button ng-click="hrRequestControllerScope.showPrevNav()" ng-if="hrRequestControllerScope.isDataAvailable && hrRequestControllerScope.hrRequestList.length > 0"
                                     ng-disabled="hrRequestControllerScope.buttonBeginFrom == 0" ng-class="{'cursor_notAllowed':hrRequestControllerScope.buttonBeginFrom == 0}"
                                     class="">Prev</button>

                                    <span ng-repeat="i in hrRequestControllerScope.hrRequestList | limitTo : hrRequestControllerScope.buttonLimitToShow : hrRequestControllerScope.buttonBeginFrom">
                                        <button ng-class="{ 'active' : i.isActiveClass }" ng-if="hrRequestControllerScope.buttonBeginFrom + $index < hrRequestControllerScope.hrRequestList.length / hrRequestControllerScope.buttonLimitToShow"
                                         ng-click="hrRequestControllerScope.gotoPage($index * hrRequestControllerScope.buttonLimitToShow + hrRequestControllerScope.buttonBeginFrom * hrRequestControllerScope.buttonLimitToShow, hrRequestControllerScope.buttonBeginFrom + $index)">
                                            {{hrRequestControllerScope.buttonBeginFrom + $index + 1}}
                                        </button>
                                    </span>
                                    <button ng-click="hrRequestControllerScope.showNextNav()" ng-if="hrRequestControllerScope.isDataAvailable && hrRequestControllerScope.hrRequestList.length > 0"
                                     ng-disabled="hrRequestControllerScope.isNextDisabled" ng-class="{'cursor_notAllowed':hrRequestControllerScope.isNextDisabled}">Next</button>
                                     <span 
			             				ng-if="hrRequestControllerScope.isDataAvailable && hrRequestControllerScope.hrRequestList.length > 0"  class="pull-right line_height34">{{beginFrom + 1}} - <span ng-if="(limitToShow + beginFrom + 1) < hrRequestControllerScope.hrRequestList.length">{{limitToShow + beginFrom}}</span> <span ng-if="!((limitToShow + beginFrom + 1) < hrRequestControllerScope.hrRequestList.length)">{{hrRequestControllerScope.hrRequestList.length}}</span> of {{hrRequestControllerScope.hrRequestList.length}}</span>
                                </div>


                                </div>
                            </div>
                        </div>
                       
                        <!-- <div id="list-wrapper" ng-if="hrRequestControllerScope.msg == ''">
                            <div infinite-scroll="hrRequestControllerScope.addMoreItems()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1" ng-repeat="request in hrRequestControllerScope.hrRequestList | orderBy:'-id' | filter :  hrRequestControllerScope.search | filter: {status : hrRequestControllerScope.status} | limitTo : hrRequestControllerScope.limitToShow">
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-1 padd0 responsive_textCenter  margin_bottom15 responsive_textCenter responsivemargin_top10">
                                                <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true"></i>
                                            </div>
                                            <div class="responsive_textCenter display_webkit">
                                                <span class="anchor_text break-word capitalizeText" ng-click="hrRequestControllerScope.gotoViewRequest(request.id)">{{request.typeName}}</span>
                                                <span class="pipe_text" ng-if="request.status!=''">|</span>
                                                <span class="span_text capitalizeText color_white" ng-if="request.status!=''">
		                                        	<span ng-if="request.status == 's'" class="label_warning">Submitted</span>
		                                        	<span ng-if="request.status == 'c'" class="label_success">Closed</span>
		                                        	<span ng-if="request.status == 'o'" class="label_blue">Re-Open</span>
		                                        	<span ng-if="request.status == 'r'" class="label_danger">Rejected</span>
                                                </span>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Request By</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{request.createdBy}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Request Details</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{request.desc}}</span></li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Request On</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{request.createdon}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Comment</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{request.comment}}</span></li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
           