<!-- <div class="loader_backdrop" ng-show="payrollControllerScope.spinner || payrollControllerScope.getSpinner">
    <div class="loader loader_position"></div>
</div> -->

			<div class="row">
			<div class="rightContainer margin_bottom0">
                    <div class="pageTitleParent">
			 <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0">
                        <span>View Ticket</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" ng-click="ticketControllerScope.showReply()"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_edit.png" class="padding_right15 hover_imageHide" /><img src="images/i_edit_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Reply</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                   </div>
                        <div class="innerdivContainer emp_comp">
       
		  <div class="clearfix"></div>
                <div class="">
                    <div class="pageTitleParent">
                         
                        <!-- <div ng-if="payrollControllerScope.allowanceMsg &&  payrollControllerScope.allowanceMsg != ''">
                            <p class="text-center grey_text padding15 padding_top10 margin0">{{payrollControllerScope.allowanceMsg}}</p>
                        </div> -->
                        <div id="list-wrapper">
                            <div>
                            	<div class="red-icon create-employee" ng-show="ticketControllerScope.isReply">
                                    <div class="row">
                                        <div class="input_section">
                                        	<div class="row ticket_padd15">
						                       <div class="form-group row margin_top5">
			                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6 text-right">Name</label>
			                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
			                                            <input type="text" name="firstName" class="inputClass" ng-pattern="/^[a-zA-Z\ ]*$/" ng-model="ticketControllerScope.employee.firstName" placeholder="Name" required />
			                                            <p ng-show="ticketControllerScope.employeeForm.firstName.$error.pattern && ticketControllerScope.employeeForm.firstName.$invalid && ticketControllerScope.employeeForm.firstName.$touched" class="reqStar">Kindly Enter Name</p>
			                                        </div>
			                                    </div>
			                                    <div class="form-group row margin_top5">
			                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6 text-right">Email</label>
			                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
			                                            <input type="text" name="firstName" class="inputClass" ng-pattern="/^[a-zA-Z\ ]*$/" ng-model="ticketControllerScope.employee.Email" placeholder="Email" required />
			                                            <p ng-show="ticketControllerScope.employeeForm.firstName.$error.pattern && ticketControllerScope.employeeForm.firstName.$invalid && ticketControllerScope.employeeForm.firstName.$touched" class="reqStar">Kindly Enter Email</p>
			                                        </div>
			                                    </div>
			                                    <div class="form-group row mob-pos-rel margin_top5 assigned_ticket">
				                                    <label class="control-label col-sm-12 col-md-4  lineheight31 text-right">Ticket Status</label>
				                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
				                                        <div class="customDropDown">
				                                            <select class="select1 dropdown inputClass" name="workLocation" ng-model="ticketControllerScope.employee.workLocation" required>
				                                                <option value="" >Select Ticket Status</option>
				                                                <option value="" >Open</option>
				                                                <option value="" >Close</option>
				                                                <option value="" >Re-open</option>
				                                            </select>
				                                        </div>
				                                    </div>
				                                </div>
			                                    <div class="form-group row">
			                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6 text-right">Message</label>
			                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
			                                            <textarea name="additionalComments" class="inputClass" ng-model="ticketControllerScope.employee.Message" placeholder="Message"></textarea>
			                                        </div>
			                                    </div>
			                                    <div class="form-group row">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6 text-right">
                                    	Attachment
                                        </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <button data-backdrop="static" data-keyboard="false" type="button" class="activeBtn btn margin_top5 " data-target="#modal" data-toggle="modal">
                                                Add </button> 
                                                </div></div>
                                            <div class="modal fade" id="modal" role="dialog" aria-labelledby="modalLabel" tabindex="-1">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close white opacity1px" data-dismiss="modal" ng-click="ticketControllerScope.clearimage()">
                                                                <i class="fa fa-times close_button" aria-hidden="true"></i>
                                                            </button>
                                                            <h5 class="modal-title text-left">Upload</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="text-left">Select file:
                                                            	<label class="btn btn-default btn-file">
                                                                	<input type="file" id="fileInput" /> Add File
                                                                </label>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="activeBtn btn margin_top5" ng-click="ticketControllerScope.clearimage()">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                             <div class="formfooterbtns">
                                        <button class="defaultBtn btn" type="button" ng-click="ticketControllerScope.decline()">Decline</button>
                                        <button class="activeBtn btn" type="button" data-backdrop="static" data-keyboard="false" data-target="#submitModal" data-toggle="modal">Submit</button>
                                    </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="">
                                         <div class="notes_oddEvenBackground">
                                             <p class="margin0">{{ticketControllerScope.viewDataTicketList[0].message}}</p>
                                             <span class="font_weight600 wordBreak_all cursor_default">
                                                       		<p class="margin0">
                                                       			<a download="{{file.name}}" ng-href="{{file.file}}" target="_blank">
                                                       				<i class="fa fa-paperclip font_weight600"
																		aria-hidden="true"></i> {{ticketControllerScope.viewDataTicketList[0].attachments}}<br></a>
                                                       		</p>
                                                       	</span>
                                            <i>
                                             <p class="margin0">Department :{{ticketControllerScope.viewDataTicketList[0].Department}}</p>
                                             <p class="margin0">Priority : {{ticketControllerScope.viewDataTicketList[0].Priority}}</p>
                                            <p class="margin0"> Subject : {{ticketControllerScope.viewDataTicketList[0].Subject}}</p>
                                            <p class="margin0">RelatedService : {{ticketControllerScope.viewDataTicketList[0].relatedService}}</p>
											<p class="margin0 padding_top10 created_text capitalizeText">
												{{ticketControllerScope.viewDataTicketList[0].additionalComments}} <span class="pipe_text">|</span>{{ticketControllerScope.viewDataTicketList[0].LastUpdate}}
											</p>
										</i>
                                         </div>
                                         <!-- <p class="modelText clearBoth" ng-if="!leadControllerScope.noteList || leadControllerScope.noteList.length == 0">Notes Not Available</p> -->
                                     </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                