<div class="loader_backdrop" ng-show="assignmentControllerScope.viewempspinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                       
                        <div class="pageTitletextContainer row">
                        <div class="col-lg-6 col-xs-6 padd0 line_height21">
                      <span class="cursor_pointer back_iconPosition" ng-click="assignmentControllerScope.goBackToAssignments()">
                        	<i class="fa fa-angle-left" aria-hidden="true"></i>
                        	<i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span>
                        	<span class="">Assignment Details</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 padd0 text-right">
                        	<div class="dropdown header_dropdown">
                        		<span class="dropdown-toggle cursor_pointer" id="menu1">
                        		<i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                        		 <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
								      <li role="presentation" ng-click="assignmentControllerScope.gotoEditAssignment(assignmentControllerScope.getAssignmentList[0])"><a role="menuitem" tabindex="-1" href="javascript:void(0)" class="menus_inline"><img src="images/i_edit.png" class="padding_right15 hover_imageHide" /><img src="images/i_edit_active.png" class="padding_right15 hover_imageShow display_none" /><span class="right_menus line_height24">Edit</span></a></li>
							      </ul>
                        		
                        	</div>
                        </div>
                        </div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <div>
                                        <div class="col-lg-1 col-xs-12 col-md-12 col-sm-12 padd0 responsive_textCenter resMargin12 ">
                                            <img ng-src="{{assignmentControllerScope.employee.photo}}" class="responsivemargin_top10 img-60x60" ng-if="assignmentControllerScope.employee.photo">
                                            <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true" ng-if="!assignmentControllerScope.employee.photo"></i>
                                        </div>
                                        
                                        <div class="col-lg-11 col-xs-12 padd0">
                                        <div class="responsive_textCenter ">
                                            <span class="anchor_text cursor_default break-word capitalizeText">{{assignmentControllerScope.getAssignmentList[0].projectName}}<span>
                                            <!-- <span class="pipe_text" ng-if="assignmentControllerScope.employee.title!=''">|</span>
                                            <span class="span_text capitalizeText"></span> -->
                                        </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                           <li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].empName || assignmentControllerScope.getAssignmentList[0].empName!=''">
                                                            <label class="col-xs-6 padd0">Employee Name</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{assignmentControllerScope.getAssignmentList[0].empName}}</span></li>
                                                        <li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].projectType || assignmentControllerScope.getAssignmentList[0].projectType!=''">
                                                            <label class="col-xs-6 padd0">Project Type</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{assignmentControllerScope.getAssignmentList[0].projectType}}</span></li>
                                                        <li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].cutomerName || assignmentControllerScope.getAssignmentList[0].cutomerName!=''">
                                                            <label class="col-xs-6 padd0">Customers</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{assignmentControllerScope.getAssignmentList[0].cutomerName}}</span></li>
                                                        <li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].opportunityName || assignmentControllerScope.getAssignmentList[0].opportunityName!=''">
                                                            <label class="col-xs-6 padd0">Opportunities</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{assignmentControllerScope.getAssignmentList[0].opportunityName}}</span></li>
                                                        <li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].startDate || assignmentControllerScope.getAssignmentList[0].startDate!=''">
                                                            <label class="col-xs-6 padd0">Start Date</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{assignmentControllerScope.getAssignmentList[0].startDate | date:'MMM d, y'}}</span></li>
                                                        <li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].enddate || assignmentControllerScope.getAssignmentList[0].enddate!=''">
                                                            <label class="col-xs-6 padd0">End Date</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{assignmentControllerScope.getAssignmentList[0].enddate | date:'MMM d, y'}}</span></li>
                                                        
                                                       
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                            <li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].ordernumber || assignmentControllerScope.getAssignmentList[0].ordernumber!=''">
                                                            <label class="col-xs-6 padd0">Po / Wo</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{assignmentControllerScope.getAssignmentList[0].ordernumber}}</span></li>
                                                       	<li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].amount || assignmentControllerScope.getAssignmentList[0].amount !=''">
                                                            <label class="col-xs-6 padd0">Amount</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all capitalizeText">{{assignmentControllerScope.getAssignmentList[0].amount}}</span></li>
                                                        <li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].PaymentTermName || assignmentControllerScope.getAssignmentList[0].PaymentTermName!=''">
                                                            <label class="col-xs-6 padd0">Payment Terms</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{assignmentControllerScope.getAssignmentList[0].PaymentTermName}}</li>
                                                            <li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].status || assignmentControllerScope.getAssignmentList[0].status!=''">
                                                            <label class="col-xs-6 padd0">Status</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{assignmentControllerScope.getAssignmentList[0].status}}</li>
                                                            <li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].comment || assignmentControllerScope.getAssignmentList[0].comment!=''">
                                                            <label class="col-xs-6 padd0">Comments</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{assignmentControllerScope.getAssignmentList[0].comment}}</li>
                                                           <li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].updatedBy || assignmentControllerScope.getAssignmentList[0].updatedBy!=''">
                                                            <label class="col-xs-6 padd0">Updated By</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{assignmentControllerScope.getAssignmentList[0].updatedBy}}</li>
                                                           <li class="row" ng-if="assignmentControllerScope.getAssignmentList[0].updatedon || assignmentControllerScope.getAssignmentList[0].updatedon!=''">
                                                            <label class="col-xs-6 padd0">Updated On</label><span class="font_weight600 col-xs-5 padd0 wordBreak_all">{{assignmentControllerScope.getAssignmentList[0].updatedon}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            