@media (min-width:1081px) and (max-width:1200px) {
    .tranfer_leadCalendar {
        top: 11px;
        position: absolute;
        right: 230px;
    }
}

@media (min-width:767px) and (max-width:1080px) {
	.leadCalAlign {
    position: absolute;
    right: 1%;
    top: 0px;
}
.leadTimeAlign {
    position: absolute;
    right: 1%;
    top: 1px;
}
.resRightPadding0{
	padding-right:0 !important; 
}
.reswidth100{
	width:100% !important; 
}  
    .tranfer_leadCalendar {
        top: 11px;
        position: absolute;
        right: 219px;
    }
    .mob-pos-abs {
        position: absolute
    }
    .mob-pos-rel {
        position: relative
    }
    .select-button {
        top: 36px;
        right: 50px
    }
    .select-button.calen {
        border: 0!important
    }
    .create-employee .select-button {
        right: 16px
    }

    .create-employee .last-child-button .select-button {
        right: 40px;
        top: 0;
        border: 0!important
    }
    .view-employee .select-button {
        border: 0!important;
        top: 23px;
        right: 37px
    }
    .select-button.plusIcon,
    .select-button.minusIcon {
        border: none !important;
        top: -1px;
        right: 40px;
    }
    .select-button.minusIcon {
        right: 26px;
    }
    .create-employee .last-child-button .select-button button.btn.addIcon {
        padding: 4px 10px!important
    }
    .switch-field label {
        width: 48%
    }
    .mob-top-0 {
        top: 0
    }
    .flex-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        border: 1px solid #ccc;
    }
    /* .form-horizontal .control-label {
        text-align: left !important;
        font-weight: 700!important
    } */
    .create-project .select-button.calen {
        right: 0
    }
    .mob-width-48 {
        width: 48%;
        margin: 2px 0
    }
    .headerLeftContainer {
        width: 80%
    }
    .red-icon ul.dropdown-menu {
        width: 72%;
        margin-top: 12px;
    }
    .pageTitletextContainer {
        font-size: 12px;
    }
    .resp_fontSize {
        font-size: 12px;
    }
    .height77 {
        height: 72px;
    }
    .height62 {
        height: 62px;
    }
    .respadd11 {
        padding: 11px 0;
        font-weight: 100;
    }
    .height110 {
        height: 110px;
    }
    .anchor_text {
        color: #00254d !important;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none !important;
        padding: 10px 0 !important;
        line-height: 36px;
    }
    .clearBoth{
       clear: both;
    }
    
.responsive_padding0 {
        padding: 0 !important;
    }
    
.right12 {
    right: 0px;
}
.from_calender {
    padding: 2px 7px 0;
}
.errorMsgSales {
    margin: 29% 23%;
}
.errorMsg {
    margin: 29.7% 30%;
}
.marginRight15 {
    margin-right: 0px;
}

.respMargin{
	margin-top: 10px;
}
.myinfoPadd15{
	padding:0px 0px !important;
}
.myinfoPadd10{
	padding:0px 0px !important;
}
}

@media (min-width:992px) and (max-width:1200px) {
	.right180 {
    right: 130px !important;
}
	.leadCalAlign {
    position: absolute;
    right: 1%;
    top: 0px;
}
.lineeff {
    background-color: #ccc;
    bottom: -2px;
    height: 1px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 85%;
}
.leadTimeAlign {
    position: absolute;
    right: 1%;
    top: 1px;
}
.resRightPadding0{
	padding-right:0 !important; 
}
.reswidth100{
	width:100% !important; 
}  
    .responsive_margin15 {
        margin-top: 15px !Important;
    }

    .company_dropdown .select2-container {
        width: 100% !important;
    }
    .switch-field label {
        width: 38%;
    }
    .select-button.calen,
    .view-employee .select-button {
        top: 0
    }
    .select-button.plusIcon,
    .select-button.minusIcon {
        right: -10px !important;
    }
    .select-button.minusIcon {
        right: -24px !important;
    }
    .open>.dropdown-menu {
        margin: 12px 16px;
    }

    .medium_width100 {
        width: 100%;
    }
    .red-icon ul.dropdown-menu {
        width: 62%;
    }
    .pull-right {
        left: -2px !important;
        position: relative;
    }
    .pageTitletextContainer {
        font-size: 12px;
    }
    .resp_fontSize {
        font-size: 11px;
    }
    .create-employee .select-button {
        right: 230px;
        top: 5px;
    }
    .create-employee .select-button .right57 {
    right: 10px !important;
}
    .responsive_textCenter {
        text-align: center;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 34px !important;
        font-weight: 100;
        font-size: 11px;
    }
    .height77 {
        height: 73px;
    }
    .height62 {
        height: 62px;
    }
    .respadd11 {
        padding: 11px 0;
        font-weight: 100;
    }
    .height110 {
        height: 110px;
    }
    .clearBoth{
       clear: both;
    }
    
.responsive_padding0 {
        padding: 0 !important;
    }
 
.right12 {
    right: 0px;
}
.from_calender {
    padding: 2px 7px 0;
}
.errorMsgSales {
    margin: 29% 0%;
}
.errorMsg {
    margin: 26.7% 0%;
}
.marginRight15 {
    margin-right: 0px;
}

.marginTop4 {
    margin-top: 9px;
}

.respMargin{
	margin-top: 10px;
}
.formfooterbtns {
    float: right;
    margin: 25px 15px 25px 0;
}
.myinfoPadd15{
	padding:0px 0px !important;
}
.myinfoPadd10{
	padding:0px 0px !important;
}
.resmarginTop10{
	margin-top:10px !important;
}
}

@media (min-width:768px) and (max-width:991px) {
	.login_contentPage {
    background: #fff !important;
    width: 630px;
    margin: 19% auto;
}
	.responsive_textLeft{
		text-align:left !important;
	}
	.right180 {
    right: 15px;
}
	.margin_top65 {
    margin-top: 0px;
}

	.animateGroup {
    position: relative;
    margin-bottom: 20px;
}
.lineeff {
    background-color: #ccc;
    bottom: -2px;
    height: 1px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
	.right215 {
    right: 20px !important;
}
	.padd_bottom25{
	padding:0 0 15px 0 !important;
}
	.responsive_displayInline{
		    display: inline-flex;
	}
	.companyResponsive_padding0{
	padding:0px !important;
	}
	.proposal_inputWidth{
		    width: 87% !important;
    padding: 10px !important;
    position: relative;
    top: 2px;
	}
	
	.leadCalAlign {
    position: absolute;
    right: 1%;
    top: 0px;
}
.leadTimeAlign {
    position: absolute;
    right: 1%;
    top: 1px;
}
.resRightPadding0{
	padding-right:0 !important; 
}
.reswidth100{
	width:100% !important; 
}  
	.mail_p {
    width: 75%;
    margin: 10px auto;
}
	.dashboardimg_responsivePadd:nth-child(2){
		padding-right:0px !important;
	}
    .margin_top15 {
        margin-top: 0px !important;
    }
    .height430 {
        height: 430px !important
    }
    .dashboard_responsivePadd {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-bottom: 15px !important;
    }
    .tranfer_leadCalendar {
        top: 52px;
        position: absolute;
        right: 120px;
    }
    .dropdown-toggle .fa-angle-right {
        position: absolute;
        right: 30px;
        top: 20px;
    }
    .company_dropdown .select2-container {
        width: 100% !important;
    }
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left !important;
    }
    .create-employee .select-button {
        right: 10px !important;
        top: 44px;
    }
    .switch-field label {
        width: 37%;
    }
    .open>.dropdown-menu {
        margin: 12px 16px;
    }
    .medium_width100 {
        width: 100%;
    }
    .width60 {
        width: 59px !important;
        transition: all 1s ease-in-out;
    }
    .inputClass {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        color: #777 !important;
        box-shadow: unset;
    }
    .select2-container {
        width: 100% !important;
    }
    .pageTitletextContainer {
        font-size: 12px;
        padding: 10px 15px;
    }
    .resp_fontSize {
        font-size: 11px;
    }
    .responsive_textCenter {
        text-align: center;
    }
    .innerdivContainer {
        padding: 15px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #777 !important;
        line-height: 34px !important;
        font-weight: 100;
        font-size: 11px !important;
        ;
    }
    .height77 {
        height: 73px;
    }
    .height62 {
        height: 62px;
    }
    .respadd11 {
        padding: 11px 0;
        font-weight: 100;
    }
    .height110 {
        height: 110px;
    }

    .anchor_text {
        color: #00254d !important;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none !important;
        padding: 10px 0 !important;
        line-height: 36px;
    }
    .clearBoth{
       clear: both;
    }
    
.responsive_padding0 {
        padding: 0 !important;
    }
  
.right12 {
    right: -58px;
}
.from_calender {
    padding: 2px 7px 0;
}
.errorMsgSales {
    margin: 19% 0;
}
.errorMsgCalender {
    position: absolute;
    text-align: center;
    z-index: 111;
    margin: 15.6% 0;
    width: 100%;
}
.errorMsg {
    margin: 15.6% 0;
}
.marginRight15 {
    margin-right: 0px;
}

.marginTop4 {
    margin-top: 9px;
}

.respMargin{
	margin-top: 10px;
}
.addProposal_width25 {
    width: 50%;
}
.proposal_width50 {
    width: 50% !important;
}
.formfooterbtns {
    float: right;
    margin: 25px 15px 25px 0;
}
.myinfoPadd15{
	padding:0px 0px !important;
}
.myinfoPadd10{
	padding:0px 0px !important;
}
.dashboard_paddLeft0{
	margin-bottom:15px;
}
.dashboard_margin15{
	margin-bottom:0px !important;
}
.company_imgHeight220{
		height:auto;
	}
	.img_margin30{
	margin: 0;
}
	.countryCode_width100{
	width:100% !important;
}
.font_size45 {
    font-size: 25px !important;
}
.config_fld li {
    display: inline-block!important;
    padding-left: 36px;
}
.create-employee .last-child-button .select-button button.btn.addIcon {
    padding: 47px 10px!important;
}
}

@media (min-width:320px) and (max-width:767px) {
	.responsive_logoSize{
	width: 220px !important;
	}
	.timesheet_btn {
    margin: 69px 89px;
    background: #00254d;
    padding: 30px;
    border-radius: 50%;
    border: none;
}
	.info_marginTop10{
		margin-top:10px;
	}
	.dashboardline_height25 p {
    line-height: 25px !important;
    padding: 5px 0;
    margin-bottom: 15px;
}
	.responsive_payslip100 .select2-container {
    	width: 100% !important;
	}
	.padd_left8{
	padding-left:8px !important;
	}
	.responsive_textLeft{
		text-align:left !important;
	}
	 .pull-right {
        left: -2px !important;
        position: relative;
    }
	.padd_right0 {
    padding-right: 15px !important;
}
	.res_paddleft0{
	padding-left: 0 !important;
	}
.responsive_paddLR15{
	padding:0 15px;
}
	.custom-responsive-table input .responsive_margin0{
	margin:0px !important;}
.timesheet_responsiveSelect{
	    margin-top: -6px !important;
    padding: 2px !important;
}
	.create-employee .responsive_top30{
		top:30px !important;
		}
	.lineheight2pt6 {
    	line-height: 2.2;
	}
	.leftImg_logo {
    text-align: center;
    height: 79px;
	}
	.responsive_marginTB20{
	margin:20px 0px !important;
	}
	.responsive_paddRL15{
	padding:0px 15px !important;}
	.padd_RL30{
	padding:0px !important;
	}
	.assigned_ticket .select2-container {
    width: 100% !important;
}
	.attandence_table .attendance_sheet.green_checkbox [type=checkbox]:checked+label::after, .attandence_table .attendance_sheet.green_checkbox [type=checkbox]:not(:checked)+label::after {
    position: absolute;
    top: 6px;
    left: 2px;
    width: 2em;
    height: 2em;
    font-size: 16px;
    line-height: .8;
    color: #00a65a;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.attandence_table .attendance_sheet.orange_checkbox [type=checkbox]:checked+label::after, .attandence_table .attendance_sheet.orange_checkbox [type=checkbox]:not(:checked)+label::after {
    position: absolute;
    top: 6px;
    left: 2px;
    width: 2em;
    height: 2em;
    font-size: 16px;
    line-height: .8;
    color: #f39c12;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.attandence_table .attendance_sheet.red_checkbox [type=checkbox]:checked+label::after, .attandence_table .attendance_sheet.red_checkbox [type=checkbox]:not(:checked)+label::after {
    position: absolute;
    top: 6px;
    left: 2px;
    width: 2em;
    height: 2em;
    font-size: 16px;
    line-height: .8;
    color: #dd4b39;
    -webkit-transition: all .2s;
    transition: all .2s;
}
	.right180 {
    right: 10px;
    top: 0px;
}
	.responsive_marginTop10{
		margin-top:10px;
	}
	.emp_comp .nav-tabs li{
		width:100%;
	}
	.height53 {
    height: 85px;
}
	.mail_section {
    width: 100%;
    margin: 40px auto;
    background: #fff;
    padding: 20px 0px 50px;
}
	.right57 {
    right: 10px !important;
}
	
	.border_right1px{
	border:none;
	}
	.login_conentSection {
    margin: 30px auto;
    /* margin-top: 30px; */
    width: 320px;
}
.animateGroup {
    position: relative;
    margin-bottom: 20px;
}
.login_contentPage {
   background: #fff !important;
    width: auto;
    margin: 20px auto;
}
	.right215 {
    right: 7px !important;
    top: 1px;
}
	.responsive_imgHide .img-responsive{
		max-width:initial !important;
	}
	.custom-responsive-table-employee tbody tr td:first-child {
    width: 50%;
    border-left: none;
}
.custom-responsive-table-employee tbody tr td:first-child {
    width: initial;
    border-left: none;
}
.custom-responsive-table-employee tbody tr td {
    width: initial;
}
.custom-responsive-table-employee .backGreyColor:nth-child(odd) {
    padding: 5px 0px;
}
	.transfer_laedSelect100 .select2-container {
    width: 100% !important;
}
	.padd_bottom25{
	padding:0 0 15px 0 !important;
}
	.table_mobile [type=checkbox]:checked+label::after, .table_mobile [type=checkbox]:not(:checked)+label::after{
		left:4px;
	}
	.responsive_width550{
	width:100%;
	padding-right:40px !important;
	font-weight:bold;
}
.responsive_width255{
	width:100%;
}
	.pageTitletextContainer {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
	}
	.padd_LR25{
	padding:0 15px !important;
	}
	.mobile_viewShow{
	display:block;
	}
	.mobile_viewShow .select2-container {
    	width: 100% !important;
	}
	.custom-responsive-table .backGreyColor:nth-child(odd) {
    padding: 0px;
}
	.custom-responsive-table .backGreyColor:nth-child(even) {
    padding: 0px;
}
	.jrt thead tr {
    position: absolute;
    top: auto !important;
    left: 5% !important;
}
.jrt td:before {
    top: 8px !important;
    left: 6px !important;
}
	.holiday_icon {
    right: 7px;
    top: 13px;
    position: absolute;
    color: #00254d;
}
	.responsive_marginTop5{
	margin-top:5px;}
	.responsive_paddingLft0{
	padding:0px !important;}
	.responsive_dashboardRight6{
	right:0% !important;
}
	.width62{
	width:0px !important;
	}
	.countryCode_width100{
	width:100% !important;
}
	.img_margin30{
	margin: 0;
}
	.company_imgHeight220{
		height:auto;
	}
	.responsive_displayInline{
		    display: inline-flex;
	}
	.companyResponsive_padding0{
	padding:0px !important;
	}
	.lead_responsivePadd{
	padding:0px 15px !important;
	margin-bottom:15px !important;
	}
	.respwidth50p {
	width: 50%;
	}
	.res-margin-bottom15{
	margin-bottom:15px;
	}
	.res-padding-bottom10{
		padding-bottom:10px !important;
	}
	.res-padding-top0{
		padding-top:0px !important;
	}
	.proposal_inputWidth{
		width:87% !important;
		    padding: 7px !important;
    position: relative;
    top: -3px;
	}
	.innerdivContainer {
    padding: 15px;
}
	.bill_selectBox .select2-container {
    width: 100% !important;
}
.opportunoty_selectBox .select2-container {
    width: 100% !important;
}
.proposal_selectBox .select2-container {
    width: 100% !important;
}
.lead_selectBox .select2-container {
    width: 100% !important;
}
.employee_selectBox .select2-container {
    width: 100% !important;
}
.contact_selectBox .select2-container {
    width: 100% !important;
}
	.addProposal_width25 {
    width: 50%;
}
.proposal_width50 {
    width: 50% !important;
}
	 .panel-title {
    width:103%;
}
	.leadCalAlign {
    position: absolute;
    right: 1%;
    top: 0px;
}
.leadTimeAlign {
    position: absolute;
    right: 1%;
    top: 1px;
}
.resRightPadding0{
	padding-right:0 !important; 
}
.reswidth100{
	width:100% !important; 
}  
	.inbox_paddLeft0 {
    padding-left: 15px !important;
}
	.info_margin15{
	margin-right:0px;}
	.mail_p {
    width: 85%;
    margin: 10px auto;
	}
	.dashboardimg_responsivePadd:nth-child(2){
		padding-right:0px !important;
	}
	
    /* .margin_top15 {
        margin-top: 0px !important;
    } */
    .mob-dashboard .flex-child {
        margin: 0px 5px 20px;
    }
    .responsive_textRight {
        text-align: right;
    }
    .dashboard_responsivePadd {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-bottom: 15px !important;
    }
    .responsive_width60 {
        width: 60px !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #777;
        line-height: 34px !important;
        font-size: 11px;
    }
    .responsive_margin10 {
        margin-top: 10px !important;
    }
    .lead_calenderDate {

        top: 32px !important;
    }
    .responsivemargin_top10 {
        margin-top: 10px !important;
    }
    .SELECTIMG1 {
        width: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #333;
        font: 400 12px "Open Sans", sans-serif;
        background: url(../images/down-arrow.jpg) no-repeat right;
        padding-left: 5px;
        margin: 6px 0
    }
    .linkedText {
        color: #ee1610
    }
    .activeText:before,
    .linkedText:before {
        content: '';
        position: absolute;
        height: 0;
        background: 0 0;
        bottom: 0
    }

    .resp_menus {
        display: block!important
    }
    .deskTopView {
        display: none
    }
    .leftMenuParent {
        z-index: 999;
        height: 100%
    }
    .leftImg_logo {
        border: 0;
        width: auto
    }
    .headerLog {
        width: 20px
    }
    .reps_margin_btm {
        margin-bottom: 30px
    }
    .respadd0 {
        padding: 0 !important; 
    }
    .configmenu {
        margin: 5px;
        background: 0 0
    }
    .configmenu ul {
        width: 100%;
        border: 1px #000 #999;
        text-align: center;
        display: grid
    }
    .configmenu ul li {
        z-index: 100;
        width: 100%
    }
    .configmenu ul li:not(.init) {
        float: left;
        display: none;
        background: #f1f2f3
    }
    .configmenu ul li:not(.init):hover,
    ul li.selected:not(.init) {
        background: #f1f2f3
    }
    .configmenu li.init {
        cursor: pointer;
        border: 1px solid #ddd
    }
    .configmenu li {
        text-align: center;
    }
    .configmenu ul li:not(.init):hover {
        background: #ee1618;
        color: #fff
    }
    .dropDownIcon {
        color: #ee1618;
        z-index: 99;
        top: 13px;
        position: absolute;
        float: right;
        text-align: right;
        left: 95%
    }
    .resLeftText {
        text-align: left
    }
    .configmenu a#submit {
        z-index: 1
    }
    .reslineheight0 {
        line-height: 0
    }
    .reslineheight2pt6 {
        line-height: 2.6
    }
    .inputClass {
        padding: 7px;
        width: 100%;
        font-size: 11px !important;
        color: #777 !important;
    }
    input.break {
        word-wrap: break-word;
        word-break: break-all;
        height: 80px
    }
    .mob-pad-right-15 {
        padding-right: 15px
    }
    .mob-pos-abs {
        position: absolute
    }
    .mob-pos-rel {
        position: relative
    }
    .select-button {
        top: 26px;
        right: 50px
    }
    .select-button.project-calen {
        right: 18px
    }
    .view-bill .select-button {
        right: 54px
    }
    .create-employee .select-button,
    .red-icon ul.dropdown-menu {
        right: 8px;
        top: 40px;
    }
    .create-employee .last-child-button .select-button {
        border: 0!important
    }
    .select-button.calen {
        border: 0!important
    }

    .formfooterbtns {
        display: block;
        margin: 20px 15px;
    }
    .detailoperationSection {
        padding: 10px 12px
    }
    .mob-dashboard {
        margin-top: 15px!important
    }
    .mob-dashboard .paddleft {
        padding-left: 15px
    }
    .mob-top-0 {
        top: 0
    }
    .flex-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        border: 1px solid #ccc;
    }
   
    .mob-dashboard .flex-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 98%;
        flex: 0 0 98%
    }
    .roles-page .panel-body {
        padding: 0!important
    }
    .mob-pad-0 {
        padding: 0
    }
    .role-name {
        float: right;
        width: 50%;
        padding: 0
    }

    .dropdown-menu thead tr:last-child th {
        padding: 5px 0
    }
    .switch-field label {
        width: 48%
    }
    .dropdown .glyphicon-th {
        margin: 25px 5px 25px 0px !important;
    }
    .mob-no-mar {
        margin: 0!important
    }
    .todo-container {
        padding-right: 15px!important
    }
    .open>.dropdown-menu {
        margin: 12px 9px;
    }
    .form-horizontal .control-label {
        text-align: left;
        font-size: 11px;
    }
    .mob-width-48 {
        width: 48%;
        /*  margin: 2px 0 */
    }
    .select-button.plusIcon {
        top: -1px;
        right: 56px;
        border: none !important;
    }
    .select-button.plusIcon button {
        border: 1px solid #ee1610;
        padding: none !important;
    }
    .customDropDown.status.width50p {
        width: 100%;
    }
    .select-button.minusIcon {
        right: 40px;
        top: 0px;
        border: none !important;
    }
    .select-button.plusIcon button {
        border: none !important;
    }
    .responsive_textCenter {
        text-align: center;
    }
    .open>.dropdown-menu {
        margin: 12px 16px;
    }
    .responsive_hide {
        display: none;
        width: 0px !important;
    }
    .red-icon ul.dropdown-menu {
        width: auto;
    }
    .sales_targetSelectBox .select2-container {
        width: 100% !important;
    }
    .pageTitletextContainer {
        font-size: 11px;
    }
    .resp_fontSize {
        font-size: 11px;
    }
    .resp_css {
        font-size: 12px;
    }
    .resp_font15 {
        font-size: 11px !important;
    }
    .formContainer {
        font-size: 14px;
    }
    
    .select-button {
        top: 37px;
        right: 50px;
    }
    .red-icon .btn.addIcon {
        padding: 3px 14px!important;
    }
    .height77 {
        height: 73px;
    }
    .height62 {
        height: 62px;
    }
    .respadd11 {
        padding: 11px 0;
        font-weight: 100;
    }
    .height110 {
        height: 110px;
    }
    .header_iconBorder {
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
    }
    
    .anchor_text {
        color: #00254d !important;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none !important;
        padding: 10px 0 !important;
    }
    .tranfer_leadCalendar {
        top: 46px;
        position: absolute;
        right: 0;
    }
    .responsive_padding0 {
        padding: 0 !important;
    }
    .height300 {
        height: 100%;
        border: 1px solid #ccc;
    }
    .clearBoth{
       clear: both;
    }
    span.margin_top15.total-sales {
    margin-top: 15px !important;
    text-align: center;
    font-size: 10px;
}
    .sales-date{
        line-height: 30px;
	    padding-bottom: 10px;
    }
    .sales-calen{
        vertical-align: middle;
    }
    .marginTop7{
     margin-top: 7px;
    }
    .role-dash-div {
    border-bottom: none !important;
}

.right12 {
    right: 0px;
}
.from_calender {
    padding: 2px 7px 0;
}
.errorMsgSales {
    margin: 15% 0%;
    position: absolute;
    text-align: center;
    z-index: 111;
}
.errorMsg {
    margin: 19% 0%;
    position: absolute;
    text-align: center;
    z-index: 111;
}
.marginRight15 {
    margin-right: 0px;
}
.errorMsgCalender {
    position: absolute;
    text-align: center;
    z-index: 111;
    margin: 19% 0;
    width: 100%;
}
.dashboard_width72 {
    width: 60% !important;
    background: transparent;
}
.marginTop4 {
    margin-top: 10px;
}

.respMargin{
	margin-top: 10px;
}
.pageTitleParent {
    background-color: #fff;
    margin-bottom: 15px;
}
.right_arrowPosition {
    top: 21px;
}
.inbox_textBack {
    background: #eee;
    margin: 10px 10px;
    word-break: break-all;
    padding: 10px;
    text-align: justify;
    position: relative;
    bottom: 10px;
}
input[type=email] {
    width:100%;
}
.myinfoPadd15{
	padding:0px 0px !important;
}
.myinfoPadd10{
	padding:0px 0px !important;
}
.calendar_email input[type=email] {
    width: 50% !important;
}
.owl-prev {
    position: absolute;
    left: -12px;
    top: 40px;
}
.owl-next{
    position: absolute;
    right: -12px;
    top: 40px;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 2px;
    padding: 4px 0px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.dashboard_paddLeft0{
	padding:0px !important;
	margin-bottom:15px;
}
.carousel-control .glyphicon-chevron-left{
    margin-left: -10px !important;
}
.carousel-control .glyphicon-chevron-right{
    margin-right: -5px !important;
}
.responsive_panel .panel-title {
    font-size: 12px !important;
    width: 103% !important;
}
.lineeff {
    background-color: #ccc;
    bottom: -2px;
    height: 1px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 70%;
}
}

@media (min-width:320px) and (max-width:480px) {
	.lineeff {
    background-color: #ccc;
    bottom: -2px;
    height: 1px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

	
	.responsive_select .select2-container {
    width: 100% !important;
}
	.proposal_inputWidth {
    width: 80% !important;
    padding: 7px !important;
    position: relative;
    top: -3px;
}
	.mailBox_icon{
	text-align: center;
    color: #00254d;
    font-size: 50px !important;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    width: 150px;
}
	
	.dashboard_right6 {
    right: 10% !important;
}
	.leadCalAlign {
    position: absolute;
    right: 1%;
    top: 0px;
}
.leadTimeAlign {
    position: absolute;
    right: 1%;
    top: 1px;
}
.resRightPadding0{
	padding-right:0 !important; 
}
.reswidth100{
	width:100% !important; 
}  
	
    .xdsoft_datetimepicker {
            left: 58px !important;
    width: auto;
    top: 385px;
    }
    .responsive_padd5 {
        padding: 5px 0 !important;
    }
    .lead_margin20 {
        margin: 15px;
        position: relative;
    }
    .cc_text {
        position: absolute;
        right: 35px;
        font-size: 11px;
        color: #00254d;
        padding: 0 10px;
        font-weight: 600;
    }
    .bcc_text {
        position: absolute;
        font-size: 11px;
        color: #00254d;
        padding: 0 10px;
        font-weight: 600;
    }
    .subject_text {
        position: absolute;
        top: 57px;
        font-size: 11px;
        font-weight: 300;
    }
    .from_text {
        position: absolute;
        top: 31px;
        font-size: 11px;
        font-weight: 300;
    }
    .to_text {
        position: absolute;
        top: 6px;
        font-size: 11px;
        font-weight: 300;
    }
    .lead_borderBottom1 {
        border-color: transparent !important;
        border-bottom: 1px solid #ccc !important;
        padding: 5px 0px 5px 0px !important;
    }
    .margin_leftMinus9 {
        margin-left: 0px;
    }
    .padd9 {
        padding: 0 15px !important;
    }
    .responsivemargin_top10 {
        margin-top: 10px;
    }

    .configdatasectionparent {
        padding: 20px 5px
    }
    
    .btn {
        padding: 5px 4px!important
    }
    .activeBtn,
    .defaultBtn {
        padding: 5px 10px!important
    }
    .searchSection {
        display: table;
        width: 100%
    }
    .searchSectionLeft {
        width: 100%;
        position: relative
    }
    .pagination>li>a {
        font-size: 10px;
        padding: 6px 9px
    }
    /* .pageTitleParent {
            margin: 15px 10px;
    } */
    .srchBtn {
        padding: 6px;
        width: 116px
    }

    .card-body {
        padding: 10px 0
    }
    .mobpadding10px {
        padding: 10px
    }
    .mobpaddingTopBtm10px {
        padding: 10px 0
    }
    .mrg10px {
        margin: 10px!important
    }
    .flex-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
    .mob-no-mar {
        margin: 0!important
    }
    .customDropDown label {
        line-height: 1.5
    }
    .responsive_textCenter {
        text-align: center;
    }
    /*  .input_section ul li {
            font-size: 9px;
            font-family: 'Poppins', sans-serif;
            color: #525252;
            padding: 10px 0;
       
    }
    .left_text li {
        font-size: 9px !important;
        font-family: 'Poppins', sans-serif;
        color: #525252;
        padding: 10px 0 !important;
    } */
    .mrgTop5 {
        margin-top: 9px;
    }

    .span_text {
        color: #333 !important;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        word-wrap:break-word;
    }
    .right_text li {
        font-size: 10px !important;
        font-family: 'Poppins', sans-serif;
        color: #525252;
        padding: 5px 0;
    }
    .responsive_displayNone {
        display: none;
    }
    .open>.dropdown-menu {
        margin: 5px 16px;
    }
    .configmenu1 li {
        font-size: 10px;
    }
    .font_weight600 {
        font-weight: 600;
    }
    .paddLft15 {
        padding-left: 15px;
    }
    .btn {
        padding: 5px 5px !important;
    }
    .red-icon ul.dropdown-menu {
        width: auto;
    }
    .pageTitletextContainer {
        font-size: 12px;
    }
    .resp_fontSize {
        font-size: 11px;
    }
    .resp_css {
        font-size: 11px;
        margin-top: 10px;
    }
    .resp_font15 {
        font-size: 15px !important;
    }
    .formContainer {
        font-size: 11px;
    }
    .lead_calenderDate {

        top: 28px !important;
    }
    .select-button {
        top: 26px;
        right: 50px;
    }
    .create-employee .select-button {
        right: 8px;
        top: 30px !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #777;
        line-height: 34px !important;
    }
    input[type=text] {
        font-size: 11px;
    }
    .userspan_text {
        font-size: 10px;
    }

    .height77 {
        height: calc(21vh - 31px);
    }
    .height62 {
        height: 62px;
    }
    .respadd11 {
        padding: 11px 0;
        font-weight: 100;
    }
    .height110 {
        height: 110px;
    }
    .attachment_icons {
        margin-top: -16px;
    }
    .tab_btns {
        margin: 30px 0;
        text-align: right;
    }
    .modelText {
        text-align: center;
    }
    .clearBoth{
       clear: both;
    }
    .panel-title {
    font-size: 12px !important;
}
.responsive_panel .panel-title {
    font-size: 12px !important;
    width: 103% !important;
}

.padd20 {
    padding: 0px;
}
.resp_width{
	width:52% !important;
}
/* .resp_align{
	position:relative;
	left:22%;
} */

.respmarginRight{
	    margin-right: 3px;
}
.right_arrowPosition {
    top: 23px;
}

.padding14 {
    padding: 9px;
}
.width50{
	width:45%;
}
.nav-tabs .emailIconColor {
    color: #00254d !important;
    margin-left: -6px;
}
.paddRght{
	padding-right: 0px !important;
}
.respMargin{
	margin-top: 10px;
}
.respPadding{
	padding:92px;
}

.right12 {
    right: 0px;
}
.from_calender {
    padding: 2px 7px 0;
}


.marginRight15 {
    margin-right: 0px;
}

.dashboard_width72 {
    width: 60% !important;
    background: transparent;
}
.img-views {
    font-size: 60px !important;
    color: #cbcbcb;
    margin-right: 0;
}
.resMargin12{
	margin-top: 12px;
}
/* .respPadding75{
	padding: 75px 0;
} */
.xdsoft_datetimepicker .xdsoft_timepicker{
	width:169px !important;
}
.resMarginTop5{
	margin-top:5px;
}
 .select2-container--default .select2-selection--single .select2-selection__rendered {
    word-wrap: break-word;
    word-break: break-word;
    height: 50px;
    width: 250px;
}
.compensation_select .select2-container--default .select2-selection--single .select2-selection__rendered {
    word-wrap: break-word;
    word-break: break-word;
    height: 50px;
    width: 100%;
}
.lead_dropdown .select2-container--default .select2-selection--single .select2-selection__rendered{
	height:auto !important;
}
.employee_selectBox .select2-selection--single .select2-selection__rendered {
    word-wrap: break-word;
    word-break: break-word;
    height: 50px;
    width: 250px;
}
.lead_selectBox .select2-selection--single .select2-selection__rendered {
    word-wrap: break-word;
    word-break: break-word;
    height: 50px;
    width: 250px;
}
.opportunoty_selectBox .select2-selection--single .select2-selection__rendered {
    word-wrap: break-word;
    word-break: break-word;
    height: 50px;
    width: 250px;
}
.proposal_selectBox .select2-selection--single .select2-selection__rendered {
    word-wrap: break-word;
    word-break: break-word;
    height: 50px;
    width: 250px;
}
.bill_selectBox .select2-selection--single .select2-selection__rendered {
    word-wrap: break-word;
    word-break: break-word;
    height: 50px;
    width: 250px;
} 
.myinfoPadd15{
	padding:0px 0px !important;
}
.myinfoPadd10{
	padding:0px 0px !important;
}
.comapny_countryCode {
    display: block;
}
}
